{% comment %}

  TODO: Rewrite. Use form_builder.

{% endcomment %}

{% assign errors = form_object.object.errors[field_name] %}
{% assign required_fields = form_object.required_fields %}

{%- if errors == blank -%}
  {% assign form_field_name = form_name | append: '.' | append: field_name %}
  {% assign errors = form_object.object.errors[form_field_name] %}
{%- endif -%}

{% if required_fields contains field_name or required == true %}
  {% assign is_required = true %}
{% else %}
  {% assign is_required = false %}
{% endif %}

{% capture label_hint %}{% if hint != blank %} <small>({{ hint }})</small>{% endif %}{% endcapture %}

{% if label == blank %}
{% assign field_label = '' | append: field_name | humanize | capitalize | append: label_hint %}
{% else %}
{% assign field_label = '' | append: label | append: label_hint %}
{% endif %}

{% capture input_classes %}
  form-control {% if errors != blank %}form-control-danger{% endif %}
{% endcapture %}

{% assign value = form_object.object[field_name] %}
{% if value == blank and default_value != blank %}
  {% assign value = default_value %}
{% endif %}

<div
     class="form-group {% if errors != blank %} has-danger{% endif %}{% if is_required %} required{% endif %}"
  {% for data_attribute in data_attributes %}
    {{ data_attribute }}
  {% endfor %}
  >
  {% if label != false %}
    {% label @field_name, label: @field_label, class: 'form-label', form: @form_name %}
  {% endif %}

  {% input_field @field_name, collection: @input_collection, include_blank: false,
  field_name: @field_name, form: @form_name, class: @input_classes,
  multiple: @multiple, disabled: @disabled, data-placeholder: @placeholder,
  required: @is_required, label_method: @label_method, value: @value %}

  {% if errors != blank %}
    <div class="form-control-feedback">
      {% input_field_error @field_name, class: 'text-danger' %}
    </div>
  {% endif %}
</div>
