{% assign errors = form_object.object.errors[field_name] %}
{%- if errors == blank -%}
  {% assign form_field_name = form_name | append: '.' | append: field_name %}
  {% assign errors = form_object.object.errors[form_field_name] %}
{%- endif -%}

{% capture input_classes %}
  form-control {% if errors != blank %}form-control-danger{% endif %}
{% endcapture %}

{% assign required_fields = form_object.required_fields %}

{% if required_fields contains field_name or required == true %}
  {% assign is_required = true %}
{% else %}
  {% assign is_required = false %}
{% endif %}

{%- capture label_hint -%}{% if hint != blank %} <small>({{ hint }})</small>{%- endif -%}{%- endcapture -%}

{%- if label == blank -%}
  {%- assign field_label = '' | append: field_name | humanize | capitalize | append: label_hint -%}
{%- else -%}
  {%- assign field_label = '' | append: label | append: label_hint -%}
{%- endif -%}

{% capture type %}{% if as_type == 'text' %}text{% elsif as_type == 'email' %}email{% elsif as_type == 'password' %}password{% elsif as_type == 'integer' %}integer{% elsif as_type == 'float' %}float{% else %}string{% endif %}{% endcapture %}

{% assign value = form_object.object[field_name] %}

{% if value == blank and form_name %}
  {% assign value = form_object.object[form_name][field_name] %}
{% endif %}

{% if value == blank and default_value != blank %}
  {% assign value = default_value %}
{% endif %}
<div
  class="{% if errors != blank %} has-danger{% endif %}{% if is_required %} required{% endif %}"
  {% for data_attribute in data_attributes %}
    {{ data_attribute }}
  {% endfor %}
  >

  {% if label != false %}
    {% label @field_name, form: @form_name, required: @is_required, label: @field_label, class: 'form-label' %}
  {% endif %}

  {% input_field @field_name, form: @form_name, as: @type, class: @input_classes, value: @value, pattern: @pattern, data-geolocation: @geolocation, placeholder: @placeholder, data-mask: @mask, required: @is_required, min: @min, max: @max, step: @step, disabled: @disabled %}

  {% if errors != blank %}
    <div class="form-control-feedback">
      {% input_field_error @field_name, class: 'text-danger', form: @form_name %}
    </div>
  {% endif %}
</div>
