---
converter: markdown
metadata:
  title: admin_asset_delete, fixes
  description: June 15, 2020
  skip_contribute_button: true
  last_edit: false
slug: release-notes/15-JUNE-2020
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* added `admin_asset_delete` mutation which deletes physical file from the storage

<h4 class="release-note release-note__fixed">FIXED</h4>

* deprecated unnecessary filters - asset_path, fetch, nl2br
* instance edit via Partner Portal API
