---
converter: markdown
metadata:
  title: WIP - upgrade liquid, fixes
  description: June 29, 2020
  skip_contribute_button: true
  last_edit: false
slug: release-notes/29-JUNE-2020
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* [Work In Progress] upgrade liquid engine to support function like syntax, add new built-in tags and filters

<h4 class="release-note release-note__fixed">FIXED</h4>

* fix rendering Page with method DELETE submitting via `form` tag
