---
converter: markdown
metadata:
  title: WIP - Liquid engine upgrade, fixes
  description: June 29, 2020
  skip_contribute_button: true
  last_edit: false
slug: release-notes/29-JUNE-2020
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* [Work in progress] upgrade Liquid engine to support functions like syntax, add new built-in tags and filters

<h4 class="release-note release-note__fixed">FIXED</h4>

* fix rendering a Page with the DELETE method submitting via the `form` tag
