---
converter: markdown
metadata:
  title: More filters, performance improvements and fixes
  description: March 14, 2022
  skip_contribute_button: true
  last_edit: false
slug: release-notes/14-MAR-2022
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* Added [decrypt](/api-reference/liquid/platformos-filters#decrypt) filter
* Added [to_xml](/api-reference/liquid/platformos-filters) filter

<h4 class="release-note release-note__fixed">FIXED</h4>

* Related_records fix sort for join on property as array

<h4 class="release-note release-note__improved">IMPROVED</h4>

* Make admin translation update work like upsert. Translation update mutation will create translation if it did not exist before. If it did, it will update the value.
* Performance: Improve index refresh