---
converter: markdown
metadata:
  title: Performance improvements for legacy import models, filters and fixes
  description: March 28, 2022
  skip_contribute_button: true
  last_edit: false
slug: release-notes/28-MAR-2022
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* Removed extra attributes for sent notifications
* `lt`, `gt`, `lte`, and `gte` filters for ids

<h4 class="release-note release-note__fixed">FIXED</h4>

* Fixed problematic parsing of headers in some cases

<h4 class="release-note release-note__improved">IMPROVED</h4>

* Speed up legacy import models
* Preserve instance view path case on update
* Speed up sync for custom attributes
* Skip converting props on `text` to `string` change
