---
converter: markdown
metadata:
  title: How-To Guides
  description: Step-by-step tutorials for advanced users.
slug: how-to
searchable: true
converter: ''
---

<p>Follow our step-by-step tutorials for advanced users.</p>

<div class="container">
  <div class="row">
    <a href="/how-to/user-uploads/uploading-files-directly-amazons3-using-html-form" class="content__box">
      <div class="row">
        <div class="col">
          <h4>User Uploads</h4>
          <p>Explore tutorials related to handling user uploaded files.</p>
        </div>
      </div>
    </a>

    <a href="/how-to/blog/installing-blog-module" class="content__box">
      <div class="row">
        <div class="col">
          <h4>Blog</h4>
          <p>Follow these tutorials to build a blog on Platform OS using the Blog Module.</p>
        </div>
      </div>
    </a>

    <a href="/how-to/seo/creating-seo-friendly-urls" class="content__box">
      <div class="row">
        <div class="col">
          <h4>SEO</h4>
          <p>Explore our guides for search engine optimization on Platform OS.</p>
        </div>
      </div>
    </a>

    <a href="/how-to/amp/using-static-amp-template" class="content__box">
      <div class="row">
        <div class="col">
          <h4>AMP</h4>
          <p>Follow these tutorials to build Accelerated Mobile Pages on Platform OS.</p>
        </div>
      </div>
    </a>

    <a href="/how-to/apis/creating-items-from-external-api-call" class="content__box">
      <div class="row">
        <div class="col">
          <h4>APIs</h4>
          <p>Find tutorials related to our own or third-party APIs.</p>
        </div>
      </div>
    </a>

    <a href="/how-to/integrations/integrating-slack-api-call-notifications" class="content__box">
      <div class="row">
        <div class="col">
          <h4>Integrations</h4>
          <p>Browse tutorials for third-party integrations.</p>
        </div>
      </div>
    </a>

    <a href="/how-to/qa/testing" class="content__box">
      <div class="row">
        <div class="col">
          <h4>QA</h4>
          <p>Learn about best practices for quality assurance.</p>
        </div>
      </div>
    </a>

  </div>
</div>
