---
converter: markdown
metadata:
  title: New filters, fixes
  description: September 6, 2021
  skip_contribute_button: true
  last_edit: false
slug: release-notes/6-SEP-2021
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* added `not` filters for int, float in GraphQL
* added `parse_csv_rc` filter
* added `hashdiff` filter
* allow to clean activity feeds based on record id

<h4 class="release-note release-note__fixed">FIXED</h4>

* fixed issue with Twilio wrong phone number error message
* fixed filtering records by related records joined by array of ids



