{% for item in data %}
  {% assign name = item.name %}
  {% assign input_fields = item.input_fields %}

  <h2>{{ item.name }}</h2>

  <h4>Input fields</h4>
  <table class="table table-sm">
    <thead>
      <tr>
        <th class="w-25">Name</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for i in input_fields %}
        <tr>
          <td>{{ i.name }}</td>
          <td>{% if i.type %}{{ i.type.name }}{% endif %}</td>
          <td>{% if i.description %}{{ i.description }}{% endif %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endfor %}