---
converter: markdown
metadata:
  title: redirect_to tag, fixes
  description: August 03, 2020
  skip_contribute_button: true
  last_edit: false
slug: release-notes/03-AUGUST-2020
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* `redirect_to` - a new tag to do server-side redirection via liquid

<h4 class="release-note release-note__fixed">FIXED</h4>

* fix `value_in` for array property
* error handling when Email uses non existent layout
* indexing geojson user property
* `pos-cli pull` includes now asset manifest, which then can be imported via `pos-cli deploy`
* `pos-cli import` will not return an error when empty zip is provided as an argument
