---
converter: markdown
metadata:
  title: function_rc (and return_rc) and hash_assign tags
  description: August 10, 2020
  skip_contribute_button: true
  last_edit: false
slug: release-notes/10-AUGUST-2020
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* [function_rc](/api-reference/liquid/platformos-tags#function_rc) - a new tag to make it easy to store a "result" of a partial in a variable; `rc` stands for release candidate as this is experimental feature and eventually tags will be renamed to `function` and `return`
* [hash_assign](/api-reference/liquid/platformos-tags#hash_assign) - a new tag to make it easy to extend Hash object - syntax sugar for [add_hash_key](/api-reference/liquid/platformos-filters#add_hash_key-aliases-assign_to_hash_key) filter

<h4 class="release-note release-note__improved">IMPROVED</h4>

* remove confusing low level details from multiple error messages
