---
converter: markdown
metadata:
  title: improvements to existing tags
  description: August 17, 2020
  skip_contribute_button: true
  last_edit: false
slug: release-notes/17-AUGUST-2020
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__improved">IMPROVED</h4>

* allow liquid inside [graphql](/api-reference/liquid/platformos-tags#graphql) tag
* better edge case error handling when trying to use property in Form which does not exist
* allow dash in variable name in [export](/api-reference/liquid/platformos-tags#export) tag
* add `context` variable to liquid exec, accessible via pos-cli gui serve
* allow filters chaining in [print](/api-reference/liquid/platformos-tags#print) tag
* allow filters chaining in [return_rc](/api-reference/liquid/platformos-tags#return_rc) tag
