---
converter: markdown
metadata:
  title: improvements
  description: August 17, 2020
  skip_contribute_button: true
  last_edit: false
slug: release-notes/17-AUGUST-2020
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__improved">IMPROVED</h4>

* do not automatically add `layouts/` prefix when using `admin_layout_*` mutations, as it is not required anymore
* allow Users with the right permission to "Undelete" users in Partner Portal

