---
converter: markdown
metadata:
  title: Added response_headers to form, deleted_at
  description: May 17, 2021
  skip_contribute_button: true
  last_edit: false
slug: release-notes/17-MAY-2021
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* Added `response_headers` to `form`— visit our documentation topic on [Response Headers](https://documentation.platformos.com/developer-guide/pages/response-headers) - we are planning to add more examples to this topic
* Better error handling when trying to use the `session` tag in a context without session (like background job)
* Added `deleted_at` to the export files and allowed to import it

<h4 class="release-note release-note__fixed">FIXED</h4>

* Fixed sorting `records` when `keyword` is used

