---
converter: markdown
metadata:
  title: New tags and flags, unbranded timeout error pages
  description: May 3, 2021
  skip_contribute_button: true
  last_edit: false
slug: release-notes/03-MAY-2021
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* `pos-cli data clean` will now also remove constants
* added GraphQL queries and mutations to generate and verify OTP for two factor authentication, and also render QR code to be consumed for apps like Authy, Google Authenticator

<h4 class="release-note release-note__fixed">FIXED</h4>

* fixed routing when new flag `slug_exact_match` was enabled to properly prioritize routes with mandatory vs optional arguments

