---
converter: markdown
metadata:
  title: Added t_escape filter, property_object to PropertiesInterface
  description: May 31, 2021
  skip_contribute_button: true
  last_edit: false
slug: release-notes/31-MAY-2021
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* added `t_escape` filter
* added possibility to remove X-Frame-Options header
* added `property_object` to PropertiesInterface in GraphQL



