---
converter: markdown
metadata:
  title: sort and limit for related_models, fixes
  description: October 05, 2020
  skip_contribute_button: true
  last_edit: false
slug: release-notes/05-OCTOBER-2020
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__improved">IMPROVED</h4>

* added sort and limit to related_models
* allow to set `dynamic_cache` property via admin_page_* mutations
* render custom 404 even for unknown format

<h4 class="release-note release-note__fixed">FIXED</h4>

* attachments appearing in email header
* race condition issue which could affect `customizations`/`people` query results
* edge case scenario with `too long` error appearing in logs
