---
converter: markdown
metadata:
  title: Fixed GraphQL in a loop, error handling improvements
  description: October 26, 2020
  skip_contribute_button: true
  last_edit: false
slug: release-notes/26-OCTOBER-2020
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__fixed">FIXED</h4>

* issue with invoking different GraphQL queries within a loop
* edge case scenario when sign up with the same email exception is not gracefully handled
* gracefully handle scenario when array operators are used against properties with `null` values
