---
converter: markdown
metadata:
  title: Setting Up a User's Partner Permissions
  description: This guide will help you give Partner permissions to users of the Partner Portal.
slug: tutorials/partner-portal/setting-up-users-partner-permissions
searchable: true
---
This guide will help you give Partner permissions to users of the Partner Portal. Permissions include:

* Being allowed to create new Partners
* Having read or write access to different Partners

## Requirements
To be able to set up Partner permissions for users on the Partner Portal, you have to have access to the Partner Portal, and the users you would like to give permissions to.

* [Accessing the Partner Portal](/get-started/accessing-partner-portal)
* [Inviting a New User to the Partner Portal](/tutorials/partner-portal/inviting-new-user-to-partner-portal)

## Steps

Setting up Partner permissions is a two-step process:

<div data-autosteps></div>

### Step 1: Grant permission to create new Partner

Log in to the [Partner Portal](https://partners.platform-os.com). In the [list of users](https://partners.platform-os.com/users), select the user by clicking on its email address.

On the user's information page, click on `Manage permissions`, then select the `Manage Partners` tab. If the user doesn't have permission to create new Partners, you can grant permission by clicking on `Grant` under `Grant permission to create new Partners`.

If the user has permission to create new Partners, you can revoke this permission, by clicking on `Revoke` under `Revoke permission to create new Partners`.

### Step 2: Grant permissions to access Partners

To grant permissions to access Partners, select access level (`Read` or `Write`) to the Partner Portal:
* `Read`: The user can see the Partner, but can't modify it.
* `Write`: The user can see and modify the Partner.

Select the Partners you would like to give the user access to by checking their checkboxes in the drop-down menu.

Once you've selected the permissions, click on `Submit`.

You can check the user's permissions anytime under `This user has access to following partners` on the `Partners` tab of the user's information page.

{% include "alert/note", content: "Granting permissions to Partners and Instances are completely separate: If you grant permissions to a Partner, the user won't automatically get access to the Partner's Instances. You have to set this up separately as explained in the tutorial linked below." %}

## Next steps
Congratulations! You have set up a user's Partner permissions on the Partner Portal. Now, you may want to set up Instance permissions.

* [Setting Up a User's Instance Permissions](/tutorials/partner-portal/setting-up-users-instance-permissions)

{% include 'shared/questions_section' %}

