---
converter: markdown
metadata:
  title: New Liquid filter strip_liquid, fixes and improvements
  description: August 3, 2022
  skip_contribute_button: true
  last_edit: false
slug: release-notes/03-AUGUST-2022
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* You can now set `file_size` when you create an asset via GraphQL
* New Liquid filter `strip_liquid` - will remove all Liquid tags from text
* Allow to filter pages by `redirect_to` in GraphQL query
* From now deploys will wait until migrations finish
* Promote Liquid tags/filters to stable versions: `to_xml`, `context`, `try`, `parse_csv`
* Prevent from creating too many backgroud jobs within background jobs

<h4 class="release-note release-note__fixed">FIXED</h4>

* Fix websockets rooms isolation
* Fixes timeouts on data clean command

<h4 class="release-note release-note__improved">IMPROVEMENT</h4>

* Improved documents() GraphQL query to search by exact name
