---
converter: markdown
metadata:
  title: Use Cases
  description: Explore how to implement real-life use cases.
slug: use-cases
searchable: true
---

Use cases collect information about features/types of sites that the community is most interested in to show you the big picture and give you entry points to get started.


<div class="container">
  <div class="row">
    <a href="/use-cases/building-blog" class="content__box col-12 mw-100">
      <div class="row">
        <div class="col">
          <h4>Building a Blog on Platform OS</h4>
          <p>Learn how to build a blog using the Platform OS Blog Module. </p>
        </div>
      </div>
    </a>
  </div>
</div>
