---
slug: api-reference/partner-portal/api
searchable: true
metadata:
  title: Partner Portal API
  description: This documentation will help you manage your instances programmatically using Partner Portal API.
  contributors: false
---

<p>{{ page.metadata.description }}</p>

{% assign url = context.params.source | default: 'https://partners.platform-os.com/doc.json' %}

<div data-remote-docs-content="portal" data-remote-docs-url="{{ url }}"></div>
