---
converter: markdown
metadata:
  title: Disable automatic cascade delete, fixes
  description: November 02, 2020
  skip_contribute_button: true
  last_edit: false
slug: release-notes/02-NOVEMBER-2020
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__improved">IMPROVED</h4>

* do not automatically cascade destroy children models when destroying User

<h4 class="release-note release-note__fixed">FIXED</h4>

* fix issue with displaying layout when dynamic cache was enabled for Page
* fix issue with accessing layout metadata when using background tag in the Page
* handling wrong credentials for sending emails
* handling scenario when multiple deprecated imports were run in parallel/operations were invoked while running import
* session_create_field mutation will take immediate effect instead of after Page reload
