---
converter: markdown
metadata:
  title: fixes
  description: November 09, 2020
  skip_contribute_button: true
  last_edit: false
slug: release-notes/09-NOVEMBER-2020
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__fixed">FIXED</h4>

* fixed casting ids in the old importer
* better handling of the exception when trying to move non-existing asset
* fixed ordering when a property contains null values (nulls will be last)
* fixed passing `false` value to the`log` tag
