---
converter: markdown
metadata:
  title: Improvements and fixes
  description: November 23, 2020
  skip_contribute_button: true
  last_edit: false
slug: release-notes/23-NOVEMBER-2020
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__improved">IMPROVED</h4>

* description for GraphQL PropertyFilterInput
* possibility to sort `admin_pages` via `content_updated_at` property
* deleted models will return correct `model_schema_name` instead of "DELETED" (unless model_schema is also deleted)

<h4 class="release-note release-note__fixed">FIXED</h4>

* empty model_schema yml is no longer skipped during export/deploy

