---
converter: markdown
metadata:
  title: Improvements and fixes
  description: November 30, 2020
  skip_contribute_button: true
  last_edit: false
slug: release-notes/30-NOVEMBER-2020
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* possibility to add `app/config.yml` to configure feature flags per Instance for backwards compatiblity. Currently the only supported config is `escape_output_instead_of_sanitize` which takes no effect, as the new feature will be deployed separately.
* new [digest](/api-reference/liquid/platformos-filters#digest) filter

<h4 class="release-note release-note__improved">IMPROVED</h4>

* upgrade liquid enigne to the newest version (mainly performance optimizations)
* do not cache Page by default when creating a new Page via `admin_page_create` mutation

<h4 class="release-note release-note__fixed">FIXED</h4>

* gracefully handle invalid bcrypt hash instead of raising 503
* issue with importing users when invoking multiple instance copy
* gracefully handle socket error when using api call notifications
* gracefully handle invalid recipient when using email notifications
