*.swp
*.swo
.sass-cache
.eslintcache
node_modules
.DS_Store
.ruby-version
.ruby-gemset
.marketplace-kit
tmp/
output/
.yardoc
scripts/.yardoc
marketplace_builder/assets/*.css
marketplace_builder/assets/*.js
