*.sw*
.sass-cache
.eslintcache
node_modules/
.DS_Store
.ruby-version
.ruby-gemset
.marketplace-kit
tmp/
output/
.vscode/
marketplace_builder/assets/*.css
marketplace_builder/assets/*.js
marketplace_builder/assets/*.map
