*.sw*
.eslintcache
node_modules/
.DS_Store
.marketplace-kit
.pos
.env
tmp/
output/
.vscode/
app/assets/*
!app/assets/images/
!app/assets/fonts/
!app/assets/vendor/
.lighthouseci/


modules/graphql/public/views/pages/**/*.html
