---
converter: markdown
metadata:
  title: Setting Up a Site on Our Platform
  description: This guide will help you set up a site on our platform.
slug: get-started/setup/setting-up-site
searchable: true
---

This guide will help you set up a site on our platform.

## Requirements

You can set up and configure your site through the Partner Portal, so you have to have access to it. If you don't have a registered Partner account, follow this tutorial:

* [Accessing Our Partner Portal](/get-started/setup/accessing-partner-portal)

## Steps

Setting up a site through the Partner Portal is a two-step process:

1.  Create a new Instance
2.  Set a password for the Instance

### Step 1: Create a new Instance

Log in to our [Partner Portal](http://portal.apps.near-me.com). In the menu on the left, click on `Create` and select `Instance`. 

{% include 'alert/note', content: 'Think of Instances as sites. To learn more about the concepts behind Platform OS and our Partner Portal, go to <a href="/how-platformos-works/platformos-components">Platform OS Components</a>.' %}

Add a Name, select a Partner the Instance will belong to, and select an endpoint. Endpoints for staging sites have a "staging-" prefix.

Click on the `Create` button. We create the Instance, and once it's done, send you an email with further instructions.

### Step 2: Set a password for the Instance

In the email you received, click on the link of your newly created Instance. You see your Instance, click on the `Log In` button.

To set your password for the Instance, click on the `Reset your password` link. Enter your email, and click on the `Reset Password` button. Follow the instructions we send you in email to set your password.

## Next steps

Congratulations! You have created an Instance that you can deploy to.

* [Deploying and Syncing Changes](/get-started/setup/deploying-syncing-changes)

{% include 'shared/questions_section' %}
