main {
  padding: 20px;

  @include bp($desktop-view-bp) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.article-a {
  max-width: 52em;

  body.no-sidebar & {
    margin-left: auto;
    margin-right: auto;
  }

  img {
    display: block;
    max-width: 100%;
    margin: 20px 0;
  }
}
