.mastfoot {
  border-top: 1px solid #ccc;
  padding: 15px 20px;
  margin-bottom: 0;
  font-size: 13px;

  @include bp($desktop-view-bp) {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
  }


  .sep {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.current-version {
  font-weight: bold;
  margin-right: 10px;
}
