.masthead {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: #333;
  padding: 0;
  z-index: 1;
}

body {
  padding-top: 90px;
}

.branding {
  padding: 10px 20px;

  a, img {
    display: block;
  }

  img {
    width: 100%;
    max-width: 125px;
    transform: scale(2.5);
  }
}

.navigation-toggler {
  position: absolute;
  right: 20px;
  top: 10px;
  border: 1px solid #666;
  padding: 5px 10px;
  color: #ccc;
  background: transparent;
}

.nav-main {
  background: #666;
  padding: 0 20px;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;

    // When guides are added, change this to space-between
    justify-content: left;
  }

  li {
    display: inline-block;
    line-height: 40px;
    font-size: 14px;

    //When guides are added, remove this value
    margin-right: 20px;
  }

  a {
    display: block;
    position: relative;
    text-decoration: none;
    color: #fff;
  }

  .selected a::after {
    position: absolute;
    left: 50%;
    bottom: 0;
    content: "";
    transform: translateX(-50%);
    border: 6px solid transparent;
    border-top: none;
    border-bottom-color: #fff;
  }
}

@include bp($desktop-view-bp) {
  body {
    padding-top: $topbar-height;
  }

  .navigation-toggler {
    display: none;
  }

  .masthead {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: $topbar-height;
    z-index: 20;
    display: flex;
    align-items: center;
  }

  .branding {
    @include clear;

    width: $sidebar-width;
    margin-bottom: 0;

    a {
      float: left;
    }

    img {
      max-height: 30px;
    }
  }

  .nav-main {
    height: $topbar-height;
    background: none;

    ul {
      display: block;
    }

    li {
      line-height: $topbar-height;
      font-size: 16px;
      margin-right: 30px;
    }
  }
}


@import "sidenav";
