.masthead {
  background: #fafafa;
  padding: 20px;
  margin-bottom: 0;
}

.nav-main {
  ul {
    list-style: none;
    padding: 0;
  }

  ul ul {
    margin: 0;
  }

  li {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover, &:focus, &:active {
      text-decoration: underline;
    }
  }

  li li li {
    padding-left: 20px;
    font-size: 13px;
  }

  > ul > li {
    margin-bottom: 20px;

    > a {
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .selected > a {
    font-weight: bold;
    color: #c33;
  }
}
