/* SKIP LINKS
------------------------------------------- */
.skip-links {
  position: absolute;
  top: 0;
  left: -10001px;
  list-style: none;
  margin: 0;
  padding: 0;

  a:focus, a:active {
    display: block;
    position: fixed;
    right: 20px;
    top: 10px;
    z-index: 10001;
    width: 300px;
    padding: 0;
    background: #000;
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
  }
}
