/* SKIP LINKS
------------------------------------------- */
.skip-links {
  position: absolute;
  top: 0;
  left: -10001px;
  list-style: none;
  margin: 0;
  padding: 0;

  a:focus, a:active {
    display: block;
    position: absolute;
    left: 10351px;
    top: 10px;
    z-index: 10001;
    width: 310px;
    padding: 0;
    background: #5d7d2e;
    color: #fff;
    font-size: 1.1em;
    text-align: center;
  }
}
