---
slug: community/contributors
searchable: false
metadata:
  title: Our Contributors
  description: Contributors of the platformOS documentation.
  questions: false
---

{%- graphql api = 'api_call', template: 'get_all_contributors_from_github' -%}
{%- assign response = api.api_call_send.response.body | to_hash -%}
{%- assign authors = response | default: "[]" | reverse | map: "author" -%}

<div id="contributors-page">
  <span><strong>Thank you to all our contributors!</strong><p></p><p>The platformOS Documentation is open-source, and we are grateful for all contributions: provide feedback on a topic through the feedback block, open or comment on a ticket on GitHub, or edit content and send a pull request. See our <a href="/community/contributor-guide" target="_blank">Contributor Guide</a> to learn more about the different ways you can contribute.</p></span>
  <ul>
  {% for author in authors %}
    <li>
      {% comment %}
        Github uses round robin to choose CDN. This causes N different SSL handshakes. Breaks browsers cache (SIC).
      {% endcomment %}
      {% assign avatar_url = "https://avatars0.githubusercontent.com/u/" | append: author.id | append: "?v=4&s=120" %}
      <img src="{{avatar_url}}" alt="{{author.login}} avatar" width="120" height="120" class="contributor-avatar"/>
      <span class="contributor-name"><a href="{{author.html_url}}">{{author.login}}</a></span>
    </li>
  {% endfor %}
  </ul>
</div>

<em>Contributors displayed here have sent commits to our GitHub repository. The list is ordered by number of commits starting from the contributor with the most commits.</em>
