.breadcrumbs {
  color: $blue;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 20px;
}

.breadcrumbs ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
}

.breadcrumbs li:first-child a {
  text-decoration: underline;
}

.breadcrumbs li.current a {
  color: $grey;
}

.breadcrumbs a {
  text-decoration: none;
  transition: color .2s;
}

.breadcrumbs a:hover {
  color: $green;
}

.breadcrumbs .fa {
  margin-left: 6px;
  margin-right: 4px;
  font-size: .75rem;
}
