code {
  color: #07a;
  padding: 0.2em 0.4em;
  background-color: #f5f2f0;
  font-size: 0.95em;
}

pre code {
  padding: 0;
}

pre[class*="language-"] + pre[class*="language-"] {
  margin-top: -1.5em;
}


/* line-numbers plugin for prismjs - https://prismjs.com/plugins/line-numbers/ */

pre[class*="language-"].line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
	position: relative;
	white-space: inherit;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em; /* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
	border-right: 1px solid #999;
	user-select: none;
}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}
