.contributors {
  margin-top: -1em;
  margin-bottom: 1.5em;
  font-size: .9em;
  line-height: 21px;

  img {
    border-radius: 50%;
  }

  a {
    margin-left: .5rem;
  }

  span {
    margin-left: .35rem;
    margin-right: 2rem;
  }
}
