.contributors {
  margin-top: -20px;
  margin-bottom: 20px;
  font-size: 13px;
  white-space: nowrap;
  line-height: 21px;

  img {
    border-radius: 50%;
  }

  a {
    margin-left: .5rem;
  }

  span {
    margin-left: .35rem;
    margin-right: 2rem;
  }
}
