.contributors {
  margin-top: -1em;
  margin-bottom: 1.5em;
  font-size: 13px;
  white-space: nowrap;
  line-height: 21px;
  min-height: 21px;
  will-change: contents;

  img {
    border-radius: 50%;
  }

  a {
    margin-left: .35rem;
    width: 20px;
  }

  p {
    margin-right: 2rem;
  }
}
