.contributors {
  margin-top: -20px;
  margin-bottom: 20px;
  font-size: 13px;

  img {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
}
