.content__box {
  margin-bottom: 2em;
  padding: 1.5em;

  @include media-breakpoint-up(xs) {
    width: 100%;
  }

  @include media-breakpoint-up(md) {
    max-width: calc(50% - 1em);
    margin-right: 2em;
    &:nth-child(even) {
      margin-right: 0;
    }
  }

  box-shadow: 2px 1px 9px rgba(0, 0, 0, 0.1);
}

a.content__box {
  text-decoration: none;
  color: #000;
  &:hover {
    color: $blue;
  }
}
