.alert-tutorial, .alert-concept {
  img {
    box-shadow: none;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.alert-concept {
  padding-left: 0;
  margin-bottom: 0;
}

.alert-concept:last-of-type {
  margin-bottom: 2em;
}
