.feedback-form {
  border: 1px solid $blue-ll;

  textarea, input {
    width: 100%;
    border: 1px solid $grey-l;
    padding: 10px;
  }

  textarea {
    height: 100px;
  }

  label {
    width: 100%;
  }

  input[type="submit"] {
    background-color: $blue;
    color: $blue-l;
    margin-top: 32px;
  }

  a {
    text-decoration: none;
  }

  .feedback-main {
    background-color: $blue-l;
    padding: 30px;
    color: $blue;

    svg {
      width: 60px;
      height: 60px;
      margin-right: 10px;

      &.github {
        width: 30px;
        height: 30px;
      }
    }

    input:checked ~ .feedback-smile, .feedback-smile:hover {
      circle, path {
        fill: $mint;
      }
    }

    input:checked ~ .feedback-weird, .feedback-weird:hover {
      circle, path {
        fill: $black;
      }
    }

    input:checked ~ .feedback-sad, .feedback-sad:hover {
      circle, path {
        fill: $red;
      }
    }

    svg {
      cursor: pointer;

      circle, path {
        fill: $blue;
      }
    }
  }
}
