.top-nav {
  margin-left: auto;
  nav {
    font-weight: 400;
    ul {
      display: flex;
    }
    a {
      text-decoration: none;
      transition: color .2s;
      &:hover {
        color: $green;
      }
    }
    .current a {
      color: $blue;
      text-decoration: underline;
    }
  }
}
