/* ------------------------------------------------------------ *\
	Pagination
\* ------------------------------------------------------------ */

.pagination {
    display: inline-block;
}

.page-item {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    list-style-type: none;
}
