.search-form {
  position: relative;
  margin-bottom: 35px;
}

.search-form .search__field {
  border: 0;
  outline: 0;
  border-bottom: 1px solid #e1e1e1;
  width: 100%;
  font-weight: 300;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  padding-right: 25px;
  transition: border .2s;
}

.search-form .search__field:focus {
  border-bottom: 1px solid $base;
}

.search-form .search__field::placeholder {
  font-size: 0;
}

.search-form .search__btn {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 0;
  border: 0;
  background-color: transparent;
  color: $grey;
}

.search-form label {
  display: block;
}
