.sidebar-menu {
  padding-left: 0;

  & > li > a {
    font-weight: 500;
  }

  & > li > ul {
    padding-left: 0;
  }

  ul {
    list-style-type: none;
  }

  .last-level-nested.active a {
    color: $green !important;
  }

  & > li:last-child {
    border-bottom: 0;
  }

  li a {
    text-decoration: none;
    display: block;
    transition: color 0.2s;
    color: $black;
    font-size: 0.92rem;
    padding: 0.3rem 0;

    &:hover {
      color: $green;
    }
  }

  & > li > a {
    padding: 1rem 0;
  }
}

.sidebar-menu > li {
  border-bottom: 1px solid rgb(225, 225, 225);
  > a {
    position: relative;
  }

  > a:after {
    @extend .fa;
    content: '\f054';

    position: absolute;
    right: 0;
    transform: translateY(50%);
    font-size: 0.75rem;
  }

  &.active > a:after {
    content: '\f078';
  }
}

.sidebar-menu .has-submenu .has-submenu .sub-menu {
  position: relative;
  li a {
    color: #6f6f6f;
    &:hover {
      text-decoration: underline;
    }
  }
}

.sidebar-menu .has-submenu .has-submenu .sub-menu:before {
  content: '';
  position: absolute;
  left: 0;
  top: 6px;
  width: 1px;
  background: #e1e1e1;
  height: calc(100% - 10px);
}

.sidebar-menu .has-submenu .has-submenu:last-child {
  margin-bottom: 1em;
}

/* Speed up some transitions */
.metismenu .collapsing {
  transition-duration: 0.2s;
}

.metismenu .has-arrow::after {
  transition: all 0.2s ease-out;
}
