.subscribe {
  width: 407px;
  margin-top: -3px;
  border-radius: 3px;
  position: relative;
  font-family: $hn;
}

.subscribe .subscribe__btn {
  position: absolute;
  top: 0;
  right: -1px;
  background: $blue;
  color: #fff;
  border: 0;
  height: 100%;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 96px;
  transition: background .2s, color .2s;
}

.subscribe .subscribe__btn:hover {
  background: #cce4fe;
  color: $blue;
}

.subscribe .subscribe__field {
  border: 1px solid #e1e1e1;
  height: 40px;
  width: 100%;
  padding: 10px 115px 10px 19px;
  color: $grey;
  transition: border .2s;
  border-radius: 3px;
}

.subscribe .subscribe__field:focus {
  border-color: $blue;
}
