[data-autotoc] {
  padding: 1.5em;
  float: right;
  max-width: 275px;
  font-size: 0.9em;
  margin-left: 1em;
  margin-bottom: 1em;
  line-height: 1.2em;
  background-color: #f7fbfd;

  a {
    text-decoration: none;
    color: rgba(2, 119, 189, 0.75);
  }

  ul {
      padding-left: 0;
      margin-bottom: 0;
    li {
      list-style-type: none;
      margin-bottom: .75em;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
