.content__toc {
  border: 1px solid #bbb;
  padding: 1.5em;
  float: right;
  max-width: 300px;
  font-size: 0.9em;
  margin-left: 1em;

  .heading-h3 {
    padding-left: 1em;
  }

  .heading-h3, .heading-h2 {
    margin-bottom: .25em;
    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    text-decoration: none;
  }

  ul {
      padding-left: 0;
      margin-bottom: 0;
    li {
      list-style-type: none;
    }
  }
}
