---
converter: markdown
metadata:
  title: Identity provider - Google OAuth
  description: This guide will help you configure and integrate with Google OAuth.
slug: tutorials/identity-providers/google-oauth
---
This guide will help you configure and integrate with Google OAuth.

## Requirements
To follow the steps in this tutorial, you should be familiar with Users and Identity Providers. This guide builds on previous tutorials in the **Tutorials: Identity Providers** section.

* [Users](/tutorials/users/users)

### Step 1: Setup OAuth 2.0 in Google

Follow <a href="https://support.google.com/googleapi/answer/6158849?hl=en" target="_blank">tutorial</a>

* In Google on `Consent Screen` set  `Authorized domains` to your instance domain ex. `example.com`
* In Google when creating credentials, set `Authorized redirect url` to `https://<YOUR_DOMAIN>/auth/google/callback`


### Step 2: Configure Partner Portal -> Social Integrations

Copy `Client ID` as `Google Key` and `Client Secret` as `Google Secret`.

### Step 3: Use /auth/google on your Instance

For example, you can add a link to the "Log In / Sign Up" Liquid page that points to `/auth/google`.
