---
converter: markdown
metadata:
  title: Creating a Property for All Users
  description: This guide will help you create a property for all Users of your platformOS site.
slug: developer-guide/users/creating-user-property
---

This guide will help you create a property for all Users of your platformOS site.

## Requirements

To follow the steps in this tutorial, you should be familiar with the required directory structure for your codebase, and understand the concept of users.

* [Codebase](/developer-guide/platformos-workflow/codebase)
* [Users](/developer-guide/users/users)

## Steps

Creating a property for all Users is a one-step process:

<div data-autosteps></div>

### Step 1: Create yml file

Create the `user.yml` file in the `app` directory with the properties you want the user to have. For example, assuming you want to store a phone number:

```yaml
properties:
  - name: phone_number
    type: string
```

#### Note on default.yml vs user.yml 

**default.yml**

Another approach could be to create `default.yml`: a UserProfileSchema with the name “default” placed in user_profile_schemas directory. In a form you should then do the following: 

```yaml
resource: User
fields:
  profiles:
    default: 
      properties:
        my_property:
```

In GraphQL you need to fetch values via profiles. 

**user.yml**

`user.yml` is placed in `app` and it behaves like adding a property directly to user:

```yaml
resource: User
fields:
  properties:
    my_property:
```

So in GraphQL you fetch it also directly from user (same as with models, no need to go through the extra step of using a user profile).

**Conclusion**

At the end of the day, both of these approaches work and both have advantages and disadvantages. `user.yml` is easier to use, but it lacks namespace and you can’t add user properties via module. 

## Next steps
Congratulations! You have created a property for all Users. Now you can learn how to namespace user properties using UserProfiles:

* [Creating a User Profile](/developer-guide/users/creating-user-profile)
