---
converter: markdown
metadata:
  title: "[DEPRECATED] Creating a Property for All Users"
  description: This guide will help you create a property for all Users of your platformOS site.
---

{%- capture content -%}This article series promote UserProfiles and Forms, which are deprecated. We decided to reduce the learning curve by promoting explicit implementation via Liuid, Pages and GraphQL, instead of a built-in features, which add magic into the mix and hence increase the learning curve and makes debugging harder. Please refer to our [Get Started](/get-started) to read up-to date articles, including [User Authentication](/get-started/build-your-first-app/user-authentication){%- endcapture -%}{%- render 'alert/deprecated', content: content -%}

This guide will help you create a property for all Users of your platformOS site.

## Requirements

To follow the steps in this tutorial, you should be familiar with the required directory structure for your codebase, and understand the concept of users.

* [Directory Structure](/developer-guide/platformos-workflow/directory-structure)
* [Users](/developer-guide/users/users)

## Steps

Creating a property for all Users is a one-step process:

<div data-autosteps></div>

### Step 1: Create yml file

Create the `user.yml` file in the `app` directory with the properties you want the user to have. For example, assuming you want to store a phone number:

```yaml
properties:
  - name: phone_number
    type: string
```

## Next steps
Congratulations! You have created a property for all Users. Now you can learn how to namespace user properties using UserProfiles:

* [Creating a User Profile](/developer-guide/users/creating-user-profile)
