---
converter: markdown
metadata:
  title: Accessing the Partner Portal
  description: This guide will help you get access and log in to the Partner Portal, where you can create, manage and configure Instances (sites), and create and manage the permissions of other Partners.
slug: get-started/accessing-partner-portal
searchable: true
---

This guide will help you get access and log in to the [Partner Portal](/how-platformos-works/platformos-workflow/partner-portal), where you can create, manage and configure Instances (sites), and create and manage the permissions of other Partners.

## Steps

Accessing the Partner Portal is a three-step process:

<div data-autosteps></div>

### Step 1: Get access to the Partner Portal

Send us an email, or call us to register an account for you on the Partner Portal.

* Email: [support@platform-os.com](mailto:support@platform-os.com)
* Call: [+1-888-998-3375](tel:+18889983375)

You can also get access to the Partner Portal if a registered Partner creates an account for you.

Once registered, you will get an email invitation. Click on the `Accept invitation` link to activate your account.

Clicking on the link redirects you to a page where you can set your password.

### Step 2: Set a password

Enter a password in the `Password` field.
Repeat your password in the `Password confirmation` field.
Click on the `Set my password` button.

If the two passwords you entered match, you are logged in to the Partner Portal.

### Step 3: Subsequent logins

When you return to the [Partner Portal](https://partners.platformos.com/), click on the `Log in` button.

On the [Login page](https://partners.platformos.com/users/sign_in) enter your email and password, and click on the `Log in` button.

You are now logged in to the Partner Portal.

## Next steps

Congratulations! You can now access the Partner Portal. Go on and create your first site:

* [Setting Up a Site on Our Platform](/get-started/setting-up-site)
