---
converter: markdown
metadata:
  title: Creating the Codebase
  description: This guide will help you create the codebase using the Marketplace Kit.
slug: get-started/creating-codebase
searchable: true
---

This guide will help you create the codebase using the Marketplace Kit.

In order to correctly communicate with the platformOS engine and API, your codebase should be organized into a specific directory structure. The root directory of your project should contain the `app` directory.

{% capture content %}
This guide explains how to create your codebase using the Marketplace Kit. Alternatively, you can create your directory structure by <a href="/tutorials/partner-portal/downloading-codebase-instance">Downloading the Codebase of an Instance</a> you created or have access to.
{% endcapture %}
{% include 'alert/tip', content: content %}

## Requirements

You can create the codebase using the Marketplace Kit, so you have to have it installed on your computer. This functionality is available from version 1.0.6, so make sure you update your Marketplace Kit to the latest version.

* [Installing the Marketplace Kit](/get-started/installing-marketplace-kit)
* [Updating the Marketplace Kit](/get-started/updating-marketplace-kit)

## Steps

Creating the codebase with the Marketplace Kit is a two-step process:

<div data-autosteps></div>

### Step 1: Create the directory structure

To create the codebase, enter:

<pre class="command-line" data-user="user" data-host="host"><code class="language-bash">
marketplace-kit init
</code></pre>

Marketplace Kit downloads the directory structure in a zip file, and extracts it into the current directory.

### Step 2: Explore your directory structure

Once you've downloaded the codebase, locate and explore it &ndash; this is how the directories and code of your platformOS Instances should be organized.

To learn more about the required directories and files, check out our detailed description of the [platformOS Codebase](/how-platformos-works/platformos-workflow/codebase).

## Next steps

Congratulations! You have created the codebase for your Instance using the Marketplace Kit. You can now deploy and sync changes to your Instance.

* [Deploying and Syncing Changes](/get-started/deploying-syncing-changes)
