---
converter: markdown
metadata:
  title: Creating the Codebase
  description: This guide will help you create the codebase using the pos-cli.
slug: get-started/creating-codebase
searchable: true
---

This guide will help you create the codebase using the pos-cli.

In order to correctly communicate with the platformOS engine and API, your codebase should be organized into a specific directory structure. The root directory of your project should contain the `app` directory.

{% include 'alert/tip', content: 'This guide explains how to create your codebase using the pos-cli. Alternatively, you can create your directory structure by <a href="/tutorials/partner-portal/instances/downloading-codebase-instance">Downloading the Codebase of an Instance</a> you created or have access to.' %}

## Requirements

You can create the codebase using the pos-cli, so you have to have it installed on your computer. This functionality is available from version 1.0.6, so make sure you update your pos-cli to the latest version.

* [Installing the pos-cli](/get-started/installing-pos-cli)
* [Updating the pos-cli](/get-started/updating-pos-cli)

## Steps

Creating the codebase with the pos-cli is a two-step process:

<div data-autosteps></div>

### Step 1: Create the directory structure

`pos-cli init` downloads the directory structure in a zip file, and extracts it into the current directory. This means the best way to start is to create a directory for your projects and a directory for your project inside of it.

Example directory structure before `pos-cli init`:

```shell
projects
└── my-first-app
```

To create the codebase inside the current directory, enter:

<pre class="command-line" data-user="user" data-host="host"><code class="language-bash">
pos-cli init
</code></pre>

If the directory is empty, the command shows a success message:

```shell
my-first-app|⇒ pos-cli init
[11:35:06] Directory structure sucessfully created.
```

If it is not empty, it will require your confirmation by adding the `--force` flag. Be aware that it will override your files if they conflict.

```shell
my-first-app|⇒ pos-cli init
[11:36:10] Cloning failed. Reason: destination directory is not empty, aborting. Use options.force to override
```

```shell
my-first-app|⇒ pos-cli init --force
[11:36:43] Directory structure sucessfully created.
```

### Step 2: Explore your directory structure

Once you've downloaded the codebase, locate and explore it &ndash; this is how the directories and code of your platformOS Instances should be organized.

To learn more about the required directories and files, check out our detailed description of the [platformOS Codebase](/how-platformos-works/platformos-workflow/codebase).

## Next steps

Congratulations! You have created the codebase for your Instance using the pos-cli. You can now deploy and sync changes to your Instance.

* [Deploying and Syncing Changes](/get-started/deploying-syncing-changes)
