---
converter: markdown
metadata:
  title: Deploying and Syncing Changes
  description: This guide will help you deploy and sync changes you make in your codebase to your Instance.
slug: get-started/deploying-syncing-changes
searchable: true
---

This guide will help you deploy and sync changes you make in your codebase to your Instance. To demonstrate the process, you'll make a small change on your home page, and deploy it to your Instance.

## Requirements

In order to deploy and sync changes to your Instance, you will need an Instance set up on the Partner Portal, and the pos-cli installed on your computer. You will also need to have the codebase for your Instance organized into the required directory structure.

* [Setting Up a Site on Our Platform](/get-started/setting-up-site)
* [Installing the pos-cli](/get-started/installing-pos-cli)
* [Creating the Codebase](/get-started/creating-codebase)

## Steps

Deploying and syncing changes is a four-step process:

<div data-autosteps></div>


### Step 1: Authenticate environments

{% include 'alert/note', content: 'Make sure you remember your **Partner Portal** account email and password — you will need them to authenticate your environments.' %}

Now, you have to specify which Instance will be which environment. For example, you set up one Instance for staging, and another one for production. This information is stored in a config file.

Regardless of what your Instance is called, after you specify it as `staging`, you can refer to it as `staging` in all commands where applicable, and you won't have to use the Instance name or the URL of the Instance again.

To add your environment to the config file, run the `env add` command, and authenticate with your **Partner Portal** credentials.

{% include 'alert/note', content: 'Run all commands discussed in this tutorial in the project root directory, i.e. one level above the `app` directory.' %}

<pre class="command-line" data-user="user" data-host="host"><code class="language-bash">
pos-cli env add [environment] --email [your email] --url [your Instance URL]
</code></pre>

{% include 'alert/tip', content: 'You can copy this command pre-filled with your email and Instance URL from your Instance page on the Partner Portal.' %}

Example:

<pre class="command-line" data-user="user" data-host="host"><code class="language-bash">
pos-cli env add staging --email myemail@example.com --url https://example.com
</code></pre>

A message _"Environment [your Instance URL] as staging has been added successfully."_ is displayed.


### Step 2: Deploy your code

To deploy all of your code, run the `deploy` command:

<pre class="command-line" data-user="user" data-host="host"><code class="language-bash">
pos-cli deploy [environment]
</code></pre>

Example:

<pre class="command-line" data-user="user" data-host="host"><code class="language-bash">
pos-cli deploy staging
</code></pre>

A progress indicator shows that the deployment is in progress, and once it finishes, a _"Deploy succeeded after [time]"_ is displayed.

We recommend to first deploy to staging, test, and only then trigger a deployment to production. In practice, deploy creates a zip file that contains all your files, and sends it to the API. It is then processed in the background. We store each zip file, so that you can roll back in case something goes wrong.

{% include 'alert/note', content: 'Learn more about our recommendations for version control and deployment on platformOS in the <a href="/how-platformos-works/platformos-workflow/development-workflow">Development Workflow</a> topic.' %}

Your webpage should be now deployed to your instance. You can verify that by going to it's URL address.

### Step 3: Change something in your codebase

Locate the `home.html.liquid` file in your codebase (`app/views/pages/home.html.liquid`).

```liquid
{% raw %}
---
layout_name: 1col
---

<h1>This is home page.</h1>
{% endraw %}
```

Open it in a code editor of your choice (we recommend [Visual Studio Code](https://code.visualstudio.com/) because it's free and has many helpful extensions), and add some text. Don't edit the lines between `---`:

```liquid
{% raw %}
---
layout_name: 1col
---

<h1>This is home page.</h1>
<p>Hello, World!</p>
{% endraw %}
```

Save your changes and deploy your code.

<pre class="command-line" data-user="user" data-host="host"><code class="language-bash">
  pos-cli deploy staging
</code></pre>

After you have deployed your Instance, refresh your site in your browser. The home page has changed to include the text you added.

### Step 4: Syncing your changes

To immediately push changes in your codebase to the environment, run the `sync` command:

<pre class="command-line" data-user="user" data-host="host"><code class="language-bash">
pos-cli sync [environment]
</code></pre>

Example:

<pre class="command-line" data-user="user" data-host="host"><code class="language-bash">
pos-cli sync staging
</code></pre>

Using the sync command feels like working on localhost. It is recommended to use sync only for staging environments, as pushing changes immediately to production can be dangerous. Please note, that unlike deploy, this command will not delete resources when you delete the file.

Now remove text you have added in Step 3 and look for confirmation that sync command shows.

```shell
[16:14:35] Synchronizing changes to: https://example.com/
[16:14:46] [Sync] Synced: views/pages/home.html.liquid
```

After seeing this confirmation, refresh your site in your browser.

## Next steps

Congratulations! You can deploy and sync your codebase to your Instance. Now, you can delve into learning more about development on platformOS.

* [Pages](/tutorials/pages/pages)
