---
converter: markdown
metadata:
  title: Installing Node.js on a Mac
  description: This guide will help you install Node.js on a Mac.
slug: get-started/installing-nodejs-mac
searchable: true
---

This guide will help you install Node.js on a Mac.
You will need NPM (Node.js Package Manager) to install the platformOS pos-cli, that allows you to easily deploy your configuration files and assets to our platform, and communicate with the platformOS API. NPM is distributed with Node.js: when you install Node.js, you automatically get NPM installed on your computer.

## Steps

Installing Node.js on a Mac is a two-step process:

<div data-autosteps></div>

### Step 1: Install Node.js

Go to [nodejs.org](https://nodejs.org/en/). When visiting the page from a Mac, you will see download links for MacOS. Select the LTS (Long Term Support) version. The Current version has the latest features, but may be more prone to changes and bugs than the LTS version.

When the download has finished, locate the downloaded file in Finder and double-click on it. Go through the installation steps as instructed by the installer.

When installation is complete, Node.js is ready to be used.

### Step 2: Check if Node.js is installed

To check if Node.js and NPM are installed, enter:

* `node -v` in Terminal to see the version of Node.js installed
* `npm -v` in Terminal to see the version of NPM installed

The version number of Node.js/NPM will be displayed.

To upgrade to the latest version of Node.js, repeat this process with the latest installation file from nodejs.org. 

## Next steps

Congratulations! You have installed NPM on your Mac. Now you can install the platformOS pos-cli.

* [Installing the pos-cli](/get-started/installing-pos-cli)
