---
converter: markdown
metadata:
  title: Installing the pos-cli
  description: This guide will help you install the platformOS pos-cli, that allows you to easily deploy your configuration files and assets to our platform, and communicate with the platformOS API.
slug: get-started/installing-pos-cli
searchable: true
---

This guide will help you install the platformOS pos-cli, that allows you to easily deploy your configuration files and assets to our platform, and communicate with the platformOS API.

{% include 'alert/tip', content: 'The <a href="/how-platformos-works/platformos-workflow/pos-cli">pos-cli</a> provides a wide range of features beyond initializing your codebase, including syncing and deployment, auditing, data export and import, migrations, logging, and a GUI.' %}

## Requirements

To install the pos-cli, you need NPM (Node.js Package Manager). See our tutorials for installing Node.js on Mac or Windows:

* [Installing Node.js on a Mac](/get-started/installing-nodejs-mac)
* [Installing Node.js on Windows](/get-started/installing-nodejs-windows)

## Steps

Installing the pos-cli is a two-step process:

<div data-autosteps></div>

### Step 1: Install the pos-cli using NPM

Start your command-line tool (e.g. Terminal on a Mac, or Git Bash on Windows), and enter:

<pre class="command-line" data-user="user" data-host="host"><code class="language-bash">
npm install -g @platformos/pos-cli
</code></pre>

If your Node.js is installed for all users you might need to use `sudo` to install NPM packages globally:

<pre class="command-line" data-user="user" data-host="host"><code class="language-bash">
sudo npm install -g @platformos/pos-cli
</code></pre>

You can follow the installation process in your command-line (something similar to this will be displayed during installation):

<pre class="command-line" data-output="1-50" data-user="user" data-host="host"><code class="language-bash">
/usr/local/bin/pos-cli -> /usr/local/lib/node_modules/@platformos/pos-cli/bin/pos-cli.js
/usr/local/bin/pos-cli-audit -> /usr/local/lib/node_modules/@platformos/pos-cli/bin/pos-cli-audit.js
/usr/local/bin/pos-cli-deploy -> /usr/local/lib/node_modules/@platformos/pos-cli/bin/pos-cli-deploy.js
/usr/local/bin/pos-cli-env -> /usr/local/lib/node_modules/@platformos/pos-cli/bin/pos-cli-env.js
/usr/local/bin/pos-cli-env-add -> /usr/local/lib/node_modules/@platformos/pos-cli/bin/pos-cli-env-add.js
/usr/local/bin/pos-cli-env-list -> /usr/local/lib/node_modules/@platformos/pos-cli/bin/pos-cli-env-list.js
/usr/local/bin/pos-cli-gui -> /usr/local/lib/node_modules/@platformos/pos-cli/bin/pos-cli-gui.js
/usr/local/bin/pos-cli-gui-serve -> /usr/local/lib/node_modules/@platformos/pos-cli/bin/pos-cli-gui-serve.js
/usr/local/bin/pos-cli-init -> /usr/local/lib/node_modules/@platformos/pos-cli/bin/pos-cli-init.js
/usr/local/bin/pos-cli-logs -> /usr/local/lib/node_modules/@platformos/pos-cli/bin/pos-cli-logs.js
/usr/local/bin/pos-cli-push -> /usr/local/lib/node_modules/@platformos/pos-cli/bin/pos-cli-push.js
/usr/local/bin/pos-cli-migrations -> /usr/local/lib/node_modules/@platformos/pos-cli/bin/pos-cli-migrations.js
/usr/local/bin/pos-cli-archive -> /usr/local/lib/node_modules/@platformos/pos-cli/bin/pos-cli-archive.js
/usr/local/bin/pos-cli-modules -> /usr/local/lib/node_modules/@platformos/pos-cli/bin/pos-cli-modules.js
/usr/local/bin/pos-cli-server -> /usr/local/lib/node_modules/@platformos/pos-cli/bin/pos-cli-server.js
/usr/local/bin/pos-cli-sync -> /usr/local/lib/node_modules/@platformos/pos-cli/bin/pos-cli-sync.js
/usr/local/bin/pos-cli-watch -> /usr/local/lib/node_modules/@platformos/pos-cli/bin/pos-cli-watch.js

+ @platformos/pos-cli@3.0.1
added 28 packages and updated 3 packages in 5.227s
</code></pre>

### Step 2: Test the pos-cli

Use the following command to test the pos-cli:

<pre class="command-line" data-user="user" data-host="host"><code class="language-bash">
pos-cli -v
</code></pre>

If the pos-cli has been installed correctly, running this command displays the version of your pos-cli. If the pos-cli hasn't been installed, running this command gives a `command not found` error.

## Next steps

Congratulations! You have installed the pos-cli. You can now create your codebase.

* [Creating the Codebase](/get-started/creating-codebase)
