---
converter: markdown
metadata:
  title: Setting Up a Site on Our Platform
  description: This guide will help you set up a site on our platform.
slug: get-started/setting-up-site
---

This guide will help you set up a site on our platform.

## Requirements

You can set up and configure your site through the Partner Portal, so you have to have access to it. If you don't have a registered Partner account, follow this tutorial:

* [Accessing the Partner Portal](/get-started/accessing-partner-portal)

## Steps

Setting up a site through the Partner Portal is a two-step process:

<div data-autosteps></div>

### Step 1: Create a new Instance

Log in to our [Partner Portal](https://partners.platformos.com). In the menu on the left, click on `Create` and select `Instance`. Fill in the form.

{% include 'alert/note', content: 'Think of Instances as sites. To learn more about the concepts behind platformOS and the Partner Portal, go to <a href="/how-platformos-works/about-platform-os">our How platformOS Works section</a>.' %}

* Name: Enter a name for your Instance.
* Partner: Select a Partner the Instance will belong to.
* Endpoint: Select an endpoint (staging or production). Endpoints for staging sites have a "staging-" prefix.
* Billing Plan: Select a Billing Plan for the Instance.

Click on the `Create` button. A "_We're preparing your Instance. Check your email in a few minutes._" message is displayed.

### Step 2: Get confirmation email

We create the Instance, and once it's done, you receive an email with a link to your Instance and other useful information.

## Next steps

Congratulations! You have created an Instance. Now make sure you have NPM installed on your system.

* [Installing Node.js on a Mac](/get-started/installing-nodejs-mac)
* [Installing Node.js on Windows](/get-started/installing-nodejs-windows)
