.content__main {
  font-size: 16px;

  p {
    margin-bottom: 1em;
  }

  ul,
  ol {
    margin-bottom: 1em;
    padding-left: 1em;
  }

  li {
    margin-bottom: 0.25em;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-top: 1.75em;
    margin-bottom: 0.75em;
    word-break: break-word;
    color: #4a4a4a;
    &:first-child {
      margin-top: 0;
    }
  }

  h1 {
    color: #21457A;
  }

  h3 {
    &.margin-bottom-md {
      margin-bottom: 26px;
    }
  }

  h4 {
    word-break: break-all;
  }

  img {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 1em;
  }

  a {
    color: #2173c4;

    &:hover {
      text-decoration: none;
    }
  }

  .anchorjs-link::after {
    color: #2173c4;
  }
}

.content__autosteps {
  list-style-type: none;
  padding-left: 0;
}

/* TABLE OF CONTENT */
.content__aside {
  padding: 18px;
  background-color: #f4f7f9;

  h4 {
    margin-bottom: 1.5em;
  }

  ul {
    list-style-type: none;
    padding-left: 3px;

    a {
      text-decoration: none;

      &:hover {
        color: #2173c4;
      }
    }
  }

  li + li {
    margin-top: 0.5em;
  }
}