main p {
  @apply mb-4;
}

main ul,
main ol {
  @apply pl-4 mb-4;
}

main ul li,
main ol li {
  @apply mb-2;
}

main h2 {
  @apply text-2xl font-normal;
  scroll-margin-top: 95px;
}

main h3 {
  @apply text-xl font-medium;
  scroll-margin-top: 95px;
}

main h4 {
  @apply text-lg;
}

main h5 {
  @apply text-base font-medium;
}

main h2,
main h3,
main h4,
main h5 {
  @apply block mt-6 mb-3 text-body;
}

main h2:first-child,
main h3:first-child,
main h4:first-child,
main h5:first-child {
  @apply mt-0;
}

main img {
  @apply inline-block mb-4;
}

main a {
  @apply text-pos-darkblue;
}

main a:hover {
  @apply no-underline;
}

main .anchorjs-link::after {
  @apply text-pos-darkblue;
}
