.header {
  .header__inner {
    padding: 25px 0;
  }

  .header__links {
    list-style-type: none;
    align-items: baseline;
    color: #4a4a4a;

    svg {
      display: inline-block;
      vertical-align: middle;
      width: 185px;
      height: auto;
    }

    a {
      text-decoration: none;
      display: inline-block;
    }

    li {
      padding: 5px 0;
      & + li {
        border-left: 1px solid #d8d8d8;
        margin-left: 22px;
        padding-left: 23px;
      }
    }
  }
}

.nav-header {
  ul {
    a {
      text-decoration: none;
      letter-spacing: 0.04em;
      transition: color 0.2s;
    }

    a.active {
      color: #2173c4;
    }

    li {
      & + li {
        margin-left: 50px;
      }
    }
  }
}


@media only screen and (max-width: 600px) {
  .header__inner {
    flex-wrap: wrap;
  }

  .nav-header ul {
    flex-wrap: wrap;

    li {
      display: block;
      width: 100%;
      flex-basis: 100%;
    }

    li a {
      font-weight: 400;
    }

    li + li {
      margin-left: 0;
    }
  }
}
