---
converter: markdown
metadata:
  title: fixing related module, silently failing deploy
  description: September 02, 2019
  skip_contribute_button: true
slug: release-notes/02-SEPTEMBER-2019
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__fixed">FIXED</h4>

* **related model not respecting name** when used in has one mode
* **duplicating modules prefix** when updating layou via admin_layout GraphQL
* **deploy silently failing** and returning success message

## pos-cli changes

`pos-cli` changelog is [kept separately](https://github.com/mdyd-dev/pos-cli/blob/master/CHANGELOG.md).
