---
converter: markdown
metadata:
  title: Improvements and fixes
  description: November 04, 2019
  contributors: false
  skip_contribute_button: true
slug: release-notes/04-NOVEMBER-2019
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* fetch `images` without having to go through `models` via GraphQL

<h4 class="release-note release-note__improved">IMPROVED</h4>

* add user sorting and filtering by name, first_name, last_name
* allow to update `direct_url` via `custom_image_update` mutation
* deprecate `name` in favor of `model_schema_name` for `models` query
* improved error handling for validation errors in `translations` to include path to the physical file and proper error message
* make property_array smart enough to handle more scenarios instead of throwing 500 error

<h4 class="release-note release-note__fixed">FIXED</h4>

* properly decode path in `direct_url` before saving
* ignore filter arguments with nil values
* be able to submit private form using `submit_form`
* 500 error while accessing properties with restricted name in background jobs
* 500 error when trying to access `body` of API Call response which timed out
* url path validator throws 500 if value is nil
* 500 error when recaptcha is misconfigured

## pos-cli changes

`pos-cli` changelog is [kept separately](https://github.com/mdyd-dev/pos-cli/blob/master/CHANGELOG.md).
