---
converter: markdown
metadata:
  title: Headers in context.headers, customizations to models renaming, bugfixes
  description: August 05, 2019
  contributors: false
  skip_contribute_button: false
slug: release-notes/05-AUGUST-2019
searchable: true
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* **allow user to access their custom request headers via `context.headers`**

<h4 class="release-note release-note__improved">IMPROVED</h4>

* **replaced `customizations` with `models` in examples**
* **clean up output of `form` variable when custom_image/custom_attachment is provided**

<h4 class="release-note release-note__fixed">FIXED</h4>

* **filtering data by empty values** - `users` and `models` endpoints will properly filter items with values that are empty. For example:
  ```graphql
  models(
    per_page: 20,
    filter: {
      properties: [{ name: "warning", value: "" }]
     }
   ) { ... }
  ```
* **removed articles about CustomAddress** - there is a better way now via `models` - https://documentation.platformos.com/tutorials/models/using-geojson-format-geolocation
* **exception in data import** is no longer raised when item with given external id does not exist
* **500 error when trying to include partial without a name** - {% raw %}`{% include '' %}`{% endraw %} will render user friendly error
* **gracefully handle exception in jwt_decode filter**
* **gracefully handle empty string provided to parse_json filter/tag**
