---
converter: markdown
metadata:
  title: New welcome page, improvements and bug fixes
  description: October 07, 2019
  contributors: false
  skip_contribute_button: true
slug: release-notes/07-OCTOBER-2019
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* New Welcome page (displayed after creating an Instance)
* GraphQL returns error codes as well, not only messages
* Possibility to tag Instances
* Possibility to download invoice in the Partner Portal as PDF

<h4 class="release-note release-note__improved">IMPROVED</h4>

* `parse_json` tag properly handles HTML entities now
* DNS UI/UX improvements on the Partner Portal
* do not enforce http protocol in `redirect_to`
* server will return error when trying to remove a module that does not exist

<h4 class="release-note release-note__fixed">FIXED</h4>
* Remove duplicate entries in module list


## pos-cli changes

`pos-cli` changelog is [kept separately](https://github.com/mdyd-dev/pos-cli/blob/master/CHANGELOG.md).
