---
converter: markdown
metadata:
  title: improvements to validation, spam_protection
  description: October 14, 2019
  contributors: false
  skip_contribute_button: true
slug: release-notes/14-OCTOBER-2019
searchable: true
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__improved">IMPROVED</h4>

* `spam_protection` tag implementation
* custom error pages (404 etc.) can now use other format than HTML
* validation of parameters passed to Form via GraphQL mutation

<h4 class="release-note release-note__fixed">FIXED</h4>

* {% raw %}{% form html-class='' %}{% endform %}{% endraw %} will render form with blank class

## pos-cli changes

`pos-cli` changelog is [kept separately](https://github.com/mdyd-dev/pos-cli/blob/master/CHANGELOG.md).
