---
converter: markdown
metadata:
  title: Performance improvements, fixes, GraphQL improvements
  description: December 16, 2019
  contributors: false
  skip_contribute_button: true
slug: release-notes/16-DECEMBER-2019
---

<h4 class="release-note release-note__new">NEW</h4>

* value_int, value_float and value_boolean for JSONB property resolver, which is used for example in metadata in admin_* mutations

<h4 class="release-note release-note__improved">IMPROVED</h4>

* Page slug uniqueness validation will generate warning instead of error which prevents deploy
* Performance of related_models filtering

## pos-cli changes

`pos-cli` changelog is [kept separately](https://github.com/mdyd-dev/pos-cli/blob/master/CHANGELOG.md).
