---
converter: markdown
metadata:
  title: GraphQL property_int and property_float, bug fixes
  description: September 16, 2019
  contributors: false
  skip_contribute_button: true
slug: release-notes/16-SEPTEMBER-2019
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* GraphQL property_int and property_float fields to get property in the desired type, not only as a string

<h4 class="release-note release-note__improved">IMPROVED</h4>

* it is now possible to set the type of upload in the GraphQL presign mutation to avoid unnecessary processing for attachments
* added content-length validation to direct S3 upload

<h4 class="release-note release-note__fixed">FIXED</h4>

* issue with user_session_destroy mutation
* list of migrations to include also deleted/processed migrations
* error handling when data import contain duplicated records (for example users with the same slug or email)


## pos-cli changes

`pos-cli` changelog is [kept separately](https://github.com/mdyd-dev/pos-cli/blob/master/CHANGELOG.md).
