---
converter: markdown
metadata:
  title: Assets accessible via relative path, authorization tokens for pos-cli per instance
  description: August 19, 2019
  contributors: false
  skip_contribute_button: true
slug: release-notes/19-AUGUST-2019
searchable: true
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* **assets accessible via relative path** - all assets located in `assets` directory can be now accessed via `https://your-domain.com/assets/`

<h4 class="release-note release-note__improved">IMPROVED</h4>

* **`authentications`** property for user create/update mutations
* authorization tokens for pos-cli are now per instance instead of global

<h4 class="release-note release-note__fixed">FIXED</h4>

* **`property_array`** argument in mutation accepts now empty arrays instead of ignoring it

## pos-cli changes

`pos-cli` changelog is [kept separately](https://github.com/mdyd-dev/pos-cli/blob/master/CHANGELOG.md).
