---
converter: markdown
metadata:
  title: bug fixes
  description: October 21, 2019
  contributors: false
  skip_contribute_button: true
slug: release-notes/21-OCTOBER-2019
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__fixed">FIXED</h4>

* sorting by numeric property for DB GraphQL queries
* remapping relations in import/export when there are 2 identical relations
* edge case 500 error when using versions in image_presign_url

## pos-cli changes

`pos-cli` changelog is [kept separately](https://github.com/mdyd-dev/pos-cli/blob/master/CHANGELOG.md).
