---
converter: markdown
metadata:
  title: JWT authentication, migrations handling improvements, relative assets improvements
  description: August 26, 2019
  contributors: false
  skip_contribute_button: true
slug: release-notes/26-AUGUST-2019
searchable: true
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* **JWT authentication** - `User` has a new field `jwt_token` which can be then passed as an argument to the new `jwt_decode_and_set_session` mutation.

{% include 'alert/tutorial', content: 'Learn more: [Authenticating a User with a JWT Token](/tutorials/users/authenticating-user-with-jwt-token)' %}

<h4 class="release-note release-note__improved">IMPROVED</h4>

* **`relative assets improvements`** - proper cache headers, no cookies
* **`migrations handling`** - user-friendly error messages

<h4 class="release-note release-note__fixed">FIXED</h4>

* **`user.yml properties`** fixed uniqueness validation
* **`updating user's Authentications`** via GraphQL mutations
* timeouts, which were affecting some instances during data import even for a small sample

## pos-cli changes

`pos-cli` changelog is [kept separately](https://github.com/mdyd-dev/pos-cli/blob/master/CHANGELOG.md).
