---
converter: markdown
metadata:
  title: Performance improvements, configurable HTTP status, handling types better in GraphQL
  description: September 30, 2019
  contributors: false
  skip_contribute_button: true
slug: release-notes/30-SEPTEMBER-2019
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* allow to specify the type of the property in update mutations using new fields like `property_float`, `property_boolean` etc.
* set http response for Page via Liquid tag `response_status`

<h4 class="release-note release-note__improved">IMPROVED</h4>

* database connection pooling and code performance
* do not prematurely filter legacy `params` to make it compatible with `context.params`
* performance of data import
* new DNS/SSL UI improvements based on feedback

## pos-cli changes

`pos-cli` changelog is [kept separately](https://github.com/mdyd-dev/pos-cli/blob/master/CHANGELOG.md).
