---
layout_name: empty
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="preload" href="{{ 'fonts/Gotham-Medium.woff2' | asset_url }}" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="{{ 'fonts/Gotham-Book.woff2' | asset_url }}" as="font" type="font/woff2" crossorigin="anonymous">

  {% include 'layouts/head/favicon' %}

  <link type="text/css" rel="stylesheet" href="{{ 'app.css' | asset_url" /> }}
  <link type="text/css" rel="stylesheet" href="{{ 'modules/graphql/code.css' | asset_url }}" />
  <title><% title %> | platformOS Documentation</title>
</head>
<body class="antialiased bg-pos-page-bg">
  <nav>
    <%> nav %>
  </nav>

  {% raw %}
  <main><%> main %></main>
  {% endraw %}

  <script src="{{ 'modules/graphql/focus-active.js' | asset_url }}"></script>
  <script src="{{ 'modules/graphql/filter-types.js' | asset_url }}"></script>
  <script src="{{ 'modules/graphql/toggle-navigation.js' | asset_url }}"></script>
  <script src="{{ 'modules/graphql/line-link.js' | asset_url }}"></script>
</body>
