---
layout: empty
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% include 'layouts/head/favicon' %}

  {% render 'css/fonts' %}
  {% render 'css/app' %}
  {% include 'css/graphql' %}
  <title><% title %> | platformOS Documentation</title>
</head>

<body class="flex antialiased bg-pos-page-bg">
  <%> nav %>
  <%> main %>
  <script>
    {% include 'js/graphql.js' %}
  </script>
</body>
