---
layout: empty
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% include 'layouts/head/favicon' %}

  <link type="text/css" rel="stylesheet" href="{{ 'app.css' | asset_url }}" />
  <link type="text/css" rel="stylesheet" href="{{ 'graphql.css' | asset_url }}" />
  <title><% title %> | platformOS Documentation</title>
</head>

<body class="flex antialiased bg-pos-page-bg">
  <%> nav %>
  <%> main %>
  <script src="{{ 'graphql.js' | asset_url }}"></script>
</body>
