<main class="w-full">
  <div class="p-12">
    <%#type%>
      <p class="mb-0 text-lg font-light"><%type.kind%></p>
    <%/type%>
    <h1 class="text-5xl font-medium leading-relaxed text-black"><%title%></h1>
    <div class="text-lg font-light"><%{description}%></div>
  </div>

  {% raw %}
  <div class="p-12 bg-white">
    <%#documents%>
      <section>
        <h2 id="<%#slug%><%title%><%/slug%>" class="mt-10 text-2xl font-medium">
          <a href="#<%#slug%><%title%><%/slug%>" class="no-underline">#</a>
          <%title%>
        </h2>

        <%{description}%>
      </section>
    <%/documents%>
  </div>
  {% endraw %}
</main>
