<%!
 Only navs varaible is defined:
 @example:
    title: String,
    description: String,
    sections: [
        {
            title: String,
            description: String
        }

        -- MORE SECTIONS --
    ]
%>

<%#type%><p class=""><%type.kind%></p><%/type%>
<h1 class=""><%title%></h1>
<div class=""><%{description}%></div>



<%#documents%>
<section>
  <h2 id="<%#slug%><%title%><%/slug%>" class="">
      <a href="#<%#slug%><%title%><%/slug%>">
          <i class="">#</i>
      </a>
      <%title%>
  </h2>
  <%{description}%>
</section>
<%/documents%>
