<main class="w-full">
  <div class="p-12 bg-no-repeat"
    style="background-size: 250% 250%; background-position-x: 0%; background-image: url({{ 'images/svg/header-bg.svg' | asset_url }});"
  >
    <%#type%>
      <p class="text-lg font-light mb-0"><%type.kind%></p>
    <%/type%>
    <h1 class="text-5xl text-black font-medium leading-relaxed"><%title%></h1>
    <div class="text-lg font-light"><%{description}%></div>
  </div>

  {% raw %}
  <div class="bg-white p-12">
    <%#documents%>
      <section>
        <h2 id="<%#slug%><%title%><%/slug%>" class="text-2xl font-medium mt-10">
          <a href="#<%#slug%><%title%><%/slug%>" class="no-underline">#</a>
          <%title%>
        </h2>

        <%{description}%>
      </section>
    <%/documents%>
  </div>
  {% endraw %}
</main>
