<aside class="relative flex-shrink-0 min-h-screen bg-white shadow-lg w-84">

  <a href="/" class="block my-8 text-center no-underline">
    <span class="screen-reader-text">Home</span>
    {% include 'svg/logo', height: 37 %}
  </a>

    <div class="flex items-center px-4 py-3 mx-6 my-8 text-pos-search">
      <input
        id="type-search"
        type="text"
        placeholder="Search a type"
        autofocus="autofocus"
        class="p-2 px-3 m-0 text-lg bg-center bg-no-repeat text-pos-search focus:text-body focus:border-pos-search"
        style="background-position-x: calc(100% - 10px); background-image: url('data:image/svg+xml,%3Csvg fill=&quot;none&quot; height=&quot;30&quot; viewBox=&quot;0 0 26 26&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot;%3E%3Cg stroke=&quot;%23767676&quot; stroke-linecap=&quot;round&quot; stroke-linejoin=&quot;round&quot; stroke-width=&quot;1.5&quot;%3E%3Cpath clip-rule=&quot;evenodd&quot; d=&quot;m15.5403 19.8028c4.0948-1.7402 6.0035-6.4704 4.2632-10.56518-1.7402-4.09476-6.4704-6.00348-10.56513-4.26325-4.09476 1.74023-6.00348 6.47043-4.26325 10.56513 1.74023 4.0948 6.47038 6.0035 10.56518 4.2633z&quot; fill-rule=&quot;evenodd&quot; /%3E%3Cpath d=&quot;m18.0853 18.0844 6.248 6.2489&quot; /%3E%3C/g%3E%3C/svg%3E');" />
    </div>

  <nav>
    <%#navigations%>
    <h4 class="mb-2 ml-6 text-lg font-light uppercase"><%title%></h4>

    <ul class="p-0 m-0 list-none">
      <%#items%>
      <li>
        <a href="<%{href}%>" <%#isActive%>class="text-pos-darkblue bg-pos-page-bg"<%/isActive%>><%text%></a>
      </li>
      <%/items%>
    </ul>
    <%/navigations%>
  </nav>
</aside>