<%#navigations%>

<h4><%title%></h4>
<ul>
    <%#items%>
    <li <%#isActive%>class=""<%/isActive%> title="<% text %>">
        <a href="<%{href}%>" class="">
            <%text%>
        </a>
    </li>
    <%/items%>
</ul>
<%/navigations%>