---
converter: markdown
metadata:
  title: How PlatformOS Works
  description: Get familiar with the key concepts behind PlatformOS, learn about how it works, and what it can do for your project.
slug: how-platformos-works
searchable: true
converter: ''
---

<p>Get familiar with the key concepts behind PlatformOS, learn about how it works, and what it can do for your project.</p>

{% comment %}
<div class="container">
  <div class="row">

    <a href="/how-platformos-works/about-platform-os" class="content__box">
      <div class="row">
        <div class="col">
          <h4>About PlatformOS</h4>
          <p>Learn about our approach and the main features of PlatformOS.</p>
        </div>
      </div>
    </a>

    <a href="/how-platformos-works/platformos-components" class="content__box">
      <div class="row">
        <div class="col">
          <h4>PlatformOS Components</h4>
          <p>See what you'll need and how the different components work together.</p>
        </div>
      </div>
    </a>

    <a href="/how-platformos-works/technologies" class="content__box">
      <div class="row">
        <div class="col">
          <h4>Technologies</h4>
          <p>Explore the technologies we built on: YAML, Liquid, GraphQL, Node.js.</p>
        </div>
      </div>
    </a>

    <a href="/how-platformos-works/basic-concepts" class="content__box">
      <div class="row">
        <div class="col">
          <h4>Basic Concepts</h4>
          <p>Get familiar with pages, partials, layouts, and other essentials.</p>
        </div>
      </div>
    </a>

    <a href="/how-platformos-works/glossary" class="content__box col-12 mw-100">
      <div class="row">
        <div class="col">
          <h4>Glossary</h4>
          <p>Alphabetical list of PlatformOS-related terms.</p>
        </div>
      </div>
    </a>

  </div>
</div>
{% endcomment %}