---
converter: markdown
metadata:
  title: Reference
  description: A detailed overview of PlatformOS-specific solutions with examples.
slug: reference
searchable: true
converter: ''
---

<p>See detailed reference documentation for PlatformOS-specific solutions with examples.</p>

<div class="container">
  <div class="row">
    <a href="/tutorials/custom-attributes/custom-attributes" class="content__box">
      <div class="row">
        <div class="col">
          <h4>Custom Attributes</h4>
          <p>Learn about Custom Attributes, used to build custom forms and gather input from the user.</p>
        </div>
      </div>
    </a>

    <a href="/tutorials/custom-model-types/custom-model-types" class="content__box">
      <div class="row">
        <div class="col">
          <h4>Custom Model Types</h4>
          <p>Explore information related to Custom Model Types, like configuration properties or Form Configurations.</p>
        </div>
      </div>
    </a>

    <a href="/tutorials/form-configurations/form-configurations" class="content__box">
      <div class="row">
        <div class="col">
          <h4>Form Configurations</h4>
          <p>Delve into Form Configurations, and see examples of validation, flasj messages, and default payload.</p>
        </div>
      </div>
    </a>

    <a href="/tutorials/search/keyword-match-type" class="content__box">
      <div class="row">
        <div class="col">
          <h4>Search</h4>
          <p>Learn about implementing search in PlatformOS.</p>
        </div>
      </div>
    </a>

    <a href="/tutorials/pages/redirects" class="content__box">
      <div class="row">
        <div class="col">
          <h4>Redirects</h4>
          <p>See examples for page redirects.</p>
        </div>
      </div>
    </a>

    <a href="/tutorials/translations/translations" class="content__box">
      <div class="row">
        <div class="col">
          <h4>Translations</h4>
          <p>Learn about translations in PlatformOS.</p>
        </div>
      </div>
    </a>
  </div>
</div>
