---
converter: markdown
metadata:
  title:  Remote_records improvement and fixes
  description: October 11, 2023
  skip_contribute_button: true
  last_edit: false
slug: release-notes/11-OCT-2023
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__improved">IMPROVED</h4>

* Allow to use built-in external_id column in remote_records
* Add value_not and value_not_in arguments to documents_rc query

<h4 class="release-note release-note__improved">FIXES</h4>

* Avoid false positives for missing property_type in a GraphQL query
* Ensure either feed_id or deprecated feed_name is provided to streams GraphQL query