<div>
  <h3>Constructor Details</h3>
  <% if @ctor.namespace != object %>
    <p>
      This class inherits a constructor from <%= linkify @ctor, @ctor.namespace.path %>
    </p>
  <% else %>
    <%= yieldall :object => @ctor, :index => 0 %>
  <% end %>
</div>
