---
converter: markdown
metadata:
  title: Accessing Authenticated User Data
  description: This guide will help you access information of authenticated users.
slug: tutorials/users/accessing-authenticated-user-data
searchable: true
---

This guide will help you access information of authenticated users.

## Requirements

To follow the steps in this tutorial, you should be familiar with the required directory structure for your codebase, and understand the concepts of pages and users, and GraphQL. To have information stored of authenticated users that you can access, make sure you have followed the previous tutorials in the Get Started/Users section.

* [Codebase](/how-platformos-works/platformos-workflow)
* [Pages](/tutorials/pages/pages)
* [Users](/tutorials/users/users)
* [GraphQL](/api-reference/graphql)

## Steps

Accessing authenticated user data is a two-step process:

<div data-autosteps></div>

### Step 1: Create GraphQL query

#### app/graph_queries/current_user.graphql

```graphql
{
  current_user {
    id
    slug
    first_name
    email
    developer_profile: profile(profile_type: "developer") {
      id
    }
    client_profile: profile(profile_type: "client") {
      id
    }
  }
}
```

### Step 2: Fetch information from GraphQL file

On any given page (including layout itself, but be careful with adding queries to the layout), you can add this liquid tag:

```liquid
{% raw %}
{% graphql g = 'current_user' %}
{% endraw %}
```

This tag fetches information defined in the GraphQL file for the currently logged in user and stores it in a variable named `g`. The returned data is a standard hash, so you can even display it via {% raw %}{{ g }}{% endraw %}.

## Next steps
Congratulations! You know how to access information of authenticated users. Now you can learn about sending an Email Notification to a newly signed up user:

* [Creating an Email Notification](/tutorials/notifications/creating-email-notification)
