---
converter: markdown
metadata:
  title: Creating a Property for All Users
  description: This guide will help you create a property for all Users of your platformOS site.
slug: tutorials/users/creating-user-property
searchable: true
---

This guide will help you create a property for all Users of your platformOS site.

## Requirements

To follow the steps in this tutorial, you should be familiar with the required directory structure for your codebase, and understand the concept of users.

* [Codebase](/how-platformos-works/platformos-workflow/codebase)
* [Users](/tutorials/users/users)

## Steps

Creating a property for all Users is a one-step process:

<div data-autosteps></div>

### Step 1: Create yml file

Create the `user.yml` file in the `app` directory with the properties you want the user to have. For example, assuming you want to store a phone number:

```yaml
properties:
  - name: phone_number
    type: string
```

## Next steps
Congratulations! You have created a property for all Users. Now you can learn how to namespace user properties using UserProfiles:

* [Creating a User Profile](/tutorials/users/creating-user-profile)
