---
converter: markdown
metadata:
  title: About platformOS
  description: What is platformOS? An overview of the main characteristics and features.
slug: developer-guide/about-platform-os
---

platformOS is a **model-based application development platform**. Aimed at frontend developers and site builders, it provides for a flexible and limitless API-driven development approach while automating the whole DevOps infrastructure.

platformOS is a **platform as a service** (PaaS) that enables you to create and host anything from small websites to large enterprise applications and even entire SaaS products.

## platformOS is

<table class="table table-borderless">
  <tr>
    <td><b>Decoupled</b><br><br>Use frontend code to build custom workflows, B2B, and P2P solutions that interact with any 3rd party API.</td>
    <td><b>Scalable</b><br><br>Build on load balanced SSL server infrastructure running worldwide on <a href="https://docs.aws.amazon.com" target="_blank" rel="noopener external">AWS</a> (Amazon Web Services) servers.</td>
    <td><b>Secure</b><br><br>Use our Secure Data Centers with added layers of security, and cater to country-specific security or legal requirements.</td>
  </tr>
  <tr>
    <td><b>Fast</b><br><br>Use Liquid templating and natively <a href="https://amp.dev" target="_blank" rel="noopener external">AMP</a>-ready GraphQL data calls on a platform tuned for performance, regardless of your application's size.</td>
    <td><b>Extensible</b><br><br>Integrate your sites with virtually any 3rd party system that provides API access, or build your own APIs in platformOS.</td>
    <td><b>SEO-friendly</b><br><br>Build on <a href="https://aws.amazon.com/elasticsearch-service" target="_blank" rel="noopener external">AWS Elastic Search</a> and maximize the benefits of local search using our custom model.</td>
  </tr>
</table>
