{% assign slugTitleized = context.params.slug | titleize %}

<div class="breadcrumbs">
  <ul class="flex flex-wrap sm:flex-nowrap">
    <li class="flex items-center">
      <a href="/">Documentation</a>
      <svg width="8" height="8"><use xlink:href="#arrow-right"></use></svg>
    </li>

    <li class="flex items-center">
      <a href="/{{ category.slug | default: context.params.slug }}">{{ category.name | default: category.default_name | default: slugTitleized }}</a>

      {% if context.params.slug2 %}
        <svg width="8" height="8"><use xlink:href="#arrow-right"></use></svg>
      {% endif %}
    </li>

    {% if context.params.slug2 %}
      <li class="flex items-center">
        <a href="#">{{ context.page.metadata.title | default: "This Page" }}</a>
      </li>
    {% endif %}
  </ul>
</div>