{% assign slugTitleized = context.params.slug | titleize %}

<div class="w-full px-4 my-4 breadcrumbs sm:px-0">
  <ul class="flex flex-wrap justify-end list-none sm:flex-no-wrap">
    <li class="flex items-center">
      <a href="/" class="no-underline text-pos-darkblue hover:text-pos-blue hover:underline">Documentation</a>
    </li>

    <li>
      <svg class="mx-2" width="11" height="11"><title>Right arrow icon</title><use xlink:href="#arrow-right"></use></svg>
    </li>

    <li class="flex items-center">
      <a class="no-underline text-pos-darkblue hover:text-pos-blue hover:underline"
      href="/{{ category.slug | default: context.params.slug }}">
        {{ category.name | default: category.default_name | default: slugTitleized }}
      </a>
    </li>

    {% if context.params.slug2 %}
      <li>
        <svg class="mx-2" width="11" height="11"><title>Right arrow icon</title><use xlink:href="#arrow-right"></use></svg>
      </li>

      <li class="flex items-center">
        <a class="no-underline" href="#">{{ context.page.metadata.title | default: "This Page" }}</a>
      </li>
    {% endif %}
  </ul>
</div>