{% capture callout_questions %}
  <h2 class="text-2xl">Questions?</h2>

  <p class="my-8 text-lg">We are always happy to help with any questions you may have.</p>

  <a href="/contact" class="btn btn-primary">contact us</a>
{% endcapture %}

<div class="py-10 text-center bg-white bg-no-repeat bg-contain sm:py-20" style="background-position: center 100%; background-image: url({{ 'images/svg/callout-bg.svg' | asset_url }})">
  <div class="container">
    {% if context.page.metadata.questions == false %}
      {% yield "callout_content" %}
    {% else %}
      {{ callout_questions }}
    {% endif %}
  </div>
</div>
