---
metadata:
  title: Platform OS Documentation
slug: /
layout_name: home
---
<p class="leadin">Platform OS allows you to create custom Marketplaces, Multi-Vendor eCommerce sites, Collaborative Consumption and Peer to Peer Communities.</p>

<p>Documentation on our project is still very much a work in progress and is due to change at any time. A lot of it is missing, a lot of needs technical and editorial review, but for the sake of transparency in our process and getting feedback from the community, we will be releasing it as it's being written.</p>
<p>We've split it into three separate sections:</p>

<div class="home-sections-a" id="navigation">
  <article class="getting-started">
    <h2><a href="/getting-started">Getting Started</a></h2>
    <p>Tutorial describing how to set up your first marketplace from scratch, how to set up user profiles, transactables and checkout process.</p>
  </article>

  <article class="reference">
    <h2><a href="/reference">Reference</a></h2>
    <p>List of all APIs, liquid filters, GraphQL schema, object properties etc.  </p>
  </article>

  <article class="guides">
    <h2><a href="/guides">Guides</a></h2>
    <p>A list of assorted how-to articles and guides on setting up certain features or building functionality that is non-essential for the platform.</p>
  </article>
</div>
