---
converter: markdown
metadata:
  title: New GraphQL endpoint, fixes and improvements
  description: January 25, 2023
  skip_contribute_button: true
  last_edit: false
slug: release-notes/25-JAN-2023
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* GraphQL: new endpoint for bulk create multiple records

<h4 class="release-note release-note__fixed">FIXED</h4>

* GraphQL: fix filtering and sorting by deleted_at at the same time
* Liquid: make theme render work in background

<h4 class="release-note release-note__improved">IMPROVED</h4>

* For websockets, Do not broadcast if the "receive" partial returns false
* Liquid: Improve hash_assign, allow variables in key definition:
`hash_assign test2[ interesting_array[1] ][ interesting_hash["great"] ] = "bobby"`
* Liquid: improve docs for hash_sort
* GraphQL: Allow to select properties in `properties()` field
* Liquid: markdown - render headers with anchors
