---
converter: markdown
metadata:
  title: Update liquid, remote records, fixes and improvements
  description: June 13, 2022
  skip_contribute_button: true
  last_edit: false
slug: release-notes/13-JUNE-2022
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* Update liquid
* Index of liquid filters
* Primary remote records
* Asset size and content type


<h4 class="release-note release-note__fixed">FIXED</h4>

* Catch unknown currency error
* Fix ambiguity for join
* Fix for multiple custom attributes with the same name
* Fix user otps index

<h4 class="release-note release-note__fixed">IMPROVMENT</h4>

* Asset file size content type graph improvements
