---
converter: markdown
metadata:
  title: Liquid in theme search paths, fixes
  description: June 24, 2022
  skip_contribute_button: true
  last_edit: false
slug: release-notes/24-JUNE-2022
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* Allow liquid in theme search paths

<h4 class="release-note release-note__fixed">FIXED</h4>

* GraphQL: `admin_versions` filter only supported changes
* GraphQL: speed up `records_update_all`
* File size and content type for nondirect uploads
* Catch parse json error in background tag


