---
converter: markdown
metadata:
  title: Assigning a Billing Plan to an Instance
  description: This guide will help you assign Billing Plans to your clients' Instances.
slug: tutorials/partner-portal-billing-plans/assigning-billing-plan-instance
searchable: true
---

This guide will help you assign Billing Plans to your clients' Instances. In platformOS terms, your clients are your SubPartners, so you'll assign Billing Plans to your SubPartner's Instances.

## Requirements
To follow the steps in this tutorial, you have to have at least one Billing Plan created.

* [Creating a Billing Plan](/tutorials/partner-portal-billing-plans/creating-billing-plan)

## Steps

Assigning a Billing Plan to an Instance is a two-step process:

<div data-autosteps></div>

### Step 1: Locate SubPartner Instances

In the menu on the left, click on `Partners`, and select your own Partner. The information page of the Partner is displayed.
Here you have some information about Instances — your own and your SubPartners'.

Under "SubPartners Instances", click on the link to the Instances. A table of Instances is displayed — these are Instances that your SubPartner has created. Check the row for each Instance and make sure to update all "Unbilled" Instances.

### Step 2: Assign Billing Plan

To assign a Billing Plan to Instances that don't have one assigned yet, click the `Change` button next to the Billing Plan. Production plans are only available to production Instances, while staging plans are only available to staging Instances. From the drop-down, select the Billing Plan you'd like to assign, and click on `Change Billing Plan`.

An "[Instance name] Billing Plan was successfully updated" message is displayed, and you can see in the table that the Billing Plan has changed.
