---
converter: markdown
metadata:
  title: Unpublishing an Instance
  description: This guide will help you unpublish an Instance.
slug: tutorials/partner-portal-instances/unpublishing-instance
searchable: true
---

This guide will help you unpublish an Instance. If you unpublish an Instance:

* it won't be accessible via any URL;
* but as it's reserving resources, it will still be billable (the cost plan may change).

You can republish an unpublished Instance.

## Requirements
To follow the steps in this tutorial, you should be able to log in to the Partner Portal, and have an Instance you created or have access to.

* [Accessing the Partner Portal](/get-started/accessing-partner-portal)
* [Setting Up a Site on Our Platform](/get-started/setting-up-site)

## Steps

Unpublishing an Instance is a two-step process:

<div data-autosteps></div>

### Step 1: Locate Instance

In the menu on the left, click on `Instances`, and select the Instance you would like to unpublish. The information page of the Instance is displayed.

You can find more information on how to locate an Instance in our [Finding Instances](/tutorials/partner-portal-instances/finding-instances) tutorial.

### Step 2: Unpublish Instance

On the information page of the Instance, click on `Danger Zone`. Go to the "Unpublish Instance" section, and click on `Unpublish [Instance name]`. A security question is displayed, click on `OK`. You see a system message: "We're processing your request. Please refresh the page in a few minutes."

When you refresh your Instance, you can see that its status is set to `Unpublished`. If you click on its URL, you can see that the Instance is not accessible.

### Step 3: Republish Instance (optional)

To republish an unpublished Instance, go to the Instance's `Danger Zone`, and click on `Republish [Instance name]` in the "Unpublish Instance" section. A security question is displayed, click on `OK`. You see a system message: "We're processing your request. Please refresh the page in a few minutes."

When you refresh your Instance, you can see that its status is set to `Active`. If you click on its URL, you can see that the Instance is accessible again.

## Next steps
Congratulations! You know how to unpublish an Instance. Now you can learn about deleting an Instance:

* [Deleting an Instance](/tutorials/partner-portal-instances/deleting-instance)
