---
converter: markdown
metadata:
  title: Open AI Embeddings, QRcode filters and multiple fixes
  description: September 4, 2023
  skip_contribute_button: true
  last_edit: false
slug: release-notes/4-SEP-2023
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* Open AI Embeddings ( [Embeddings](https://platform.openai.com/docs/guides/embeddings) ) ( [Example](https://github.com/mdyd-dev/platformos-documentation/pull/1639) )
* Add QRcode filter: Adds a new url_to_qrcode_svg filter
* Add hmtl_to_text filter
* Options for presigning: Allow to specify file-size and content-type server side for presign url
* Liquid: add RSA algorithm to encrypt/decrypt filters

<h4 class="release-note release-note__improved">IMPROVED</h4>

* Default for yield tag
* WebSocket, make all params available on subcribe
* GraphQL job retry
* Allow records.csv and users.csv to be inside a directory instead of silently skiping them during pos-cli data import
* Add pagination info for background_jobs