---
converter: markdown
metadata:
  title: Error handling improvements
  description: February 10, 2020
  skip_contribute_button: true
slug: release-notes/10-FEBRUARY-2020
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* pos-cli 4.2.5-beta version has been released with direct assets upload on sync
* pos-cli 4.2.4 version has been released with improved logging

<h4 class="release-note release-note__improved">IMPROVED</h4>

* Performance improvements in finding pages
* Better error handling on `jwt_encode` filter
* Better error handling on wrong MIME types
* Added warning about missing recaptcha key
* Added image and attachment validators to property form
* Gracefully handle restricted property name in admin_* mutations

<h4 class="release-note release-note__fixed">FIXED</h4>

* Fix resolving related models relationships with integer and string property
* Fixed `pos-cli deploy` command with `-d` option for direct assets upload
