---
converter: markdown
metadata:
  title: Export/import 2.0 internals, error handling improvements
  description: February 24, 2020
  skip_contribute_button: true
slug: release-notes/24-FEBRUARY-2020
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* export/import internals to be used by the new Instance copy feature coming soon

<h4 class="release-note release-note__fixed">FIXED</h4>

* Fix edge case when including invalid partial was causing 500 error
* Regression issues detected on staging
