---
converter: markdown
metadata:
  title: ElasticSearch Views, Application Server Updates, fixes
  description: February 14, 2022
  skip_contribute_button: true
  last_edit: false
slug: release-notes/14-FEB-2022
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* GraphQL: add `admin_sent_notifications`
* Added [array_prepend(/api-reference/liquid/platformos-filters#array_prepend-aliases-prepend_to_array) filter
* Liquid: add [response_headers](/api-reference/liquid/platformos-tags#response_headers) tag
* ElasticSearch Views: added the possibility to support Documents with user-defined mappings as a replacement for the deprecated Customizations and People

<h4 class="release-note release-note__fixed">FIXED</h4>

* Fixed Websockets: `current_user` scope
* Fixed presigned URL inconsistencies
* Fixed issue with default attributes for `UpdatePageInputType`
* Fixes for issues using old style physical file path for graph queries

<h4 class="release-note release-note__improved">IMPROVED</h4>

* Liquid: `to_csv` escape values
* Raise syntax error if incorrect object access