---
converter: markdown
metadata:
  title: ElasticSearch Views, Application Server Updates, fixes
  description: February 14, 2022
  skip_contribute_button: true
  last_edit: false
slug: release-notes/14-FEB-2022
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* Graphql: add `admin_sent_notifications`
* Convert data for users and boolean
* upgrade Application Server
* Handle data nil scenario
* Liquid: `to_csv` escape values
* Fixes for issues using old style physical file path for graph queries
* Raise syntax error if incorrect object access
* ElasticSearch Views: added the possibility to support Documents with user-defined mappings as a replacement for the deprecated Customizations and People
* Prepend to array filter
* Liquid: add `response_headers` tag
* Update omniauth

<h4 class="release-note release-note__fixed">FIXED</h4>

* Fixed Websockets: `current_user` scope
* Fixed issue with admin pages graphql
* Fixed presigned URL inconsistencies
* Fixed Liquid: `to_csv` escape values
* Fixed issue with default attributes for UpdatePageInputType
