---
converter: markdown
metadata:
  title: Filters and performance improvements, fixes
  description: February 25, 2022
  skip_contribute_button: true
  last_edit: false
slug: release-notes/25-FEB-2022
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* Added `is_parsable_date` filter
* API call: allow to set timeouts
* Removed logging for slow queries in applications


<h4 class="release-note release-note__fixed">FIXED</h4>

* Protection against self reference in filters
* Fix for hash assign in background jobs failing

<h4 class="release-note release-note__improved">IMPROVED</h4>

* Improved performance for `related_records`
* Improved performance for syncing schema files