<footer class="footer footer--shape" style="background-image: url({{ 'images/layout/wave@2x.png' | asset_url }});">
	<div class="container">
		<div class="footer__actions">
			<div class="row">
				<div class="col-md-4">
					<a href="/">
						<img src="{{ 'images/svg/logo.svg' | asset_url }}" alt="platformOS Logo" width="200">
					</a>
				</div>

				<div class="col-md-3">
					<nav class="nav-footer nav-footer--padding-left">
						<ul>
							<li>
								<a href="#">Blog</a>
							</li>

							<li>
								<a href="#">Contact</a>
							</li>
						</ul>
					</nav>
				</div>

				<div class="col-md-3">
					<nav class="nav-footer">
						<ul>
							<li>
								<a href="#">How platformOS Works</a>
							</li>

							<li>
								<a href="#">Quickstart Guide</a>
							</li>

							<li>
								<a href="#">Contributor Guide</a>
							</li>
						</ul>
					</nav>
				</div>

				<div class="col-md-2">
					<nav class="nav-footer nav-footer--padding-left">
						<ul>
							<li>
								<a href="#">Help</a>
							</li>

							<li>
								<a href="#">Roadmap</a>
							</li>

							<li>
								<a href="#">Release Notes</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>

		<div class="copyright">
			<div class="row">
				<div class="col-md-6">
					<ul>
						<li>
							Copyright &copy; platformOS 2019
						</li>

						<li>
							<a href="#">
								  Terms &amp; Conditions
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
