---
converter: markdown
metadata:
  title: Creating Items from an External API Call
  description: This guide will help you create items from an external API call. The example shows the steps of creating a Model from existing data through an API call to our service.
slug: tutorials/apis/creating-items-from-external-api-call
searchable: true
---

This guide will help you create items from an external API call. The example shows the steps of creating a Model from existing data through an API call to our service.

## Requirements
This is an advanced tutorial. To follow it, you should be familiar with basic platformOS concepts, HTML, Liquid, APIs and Forms, and the topics in the Get Started section.

* [How platformOS Works](/how-platformos-works)
* [Get Started](/get-started)
* [APIs and Forms](/tutorials/forms/form-configurations)
* [Building a Contact Form with Models](/tutorials/models/building-contact-form-with-model)

## Steps

Creating items from an external API call is a four-step process:

<div data-autosteps></div>

### Step 1: Create Model Schema

Create the following Model Schema:

#### model_schemas/flowers.yml

```yaml
name: flower
properties:
- name: name
  type: string
- name: creator_id
  type: integer
```

### Step 2: Create Form

Define what data you expect, and required validations:

#### forms/import_flowers.liquid

```yaml
---
name: import_flowers
resource: flower
fields:
  properties:
    name:
      validation:
        presence: true
    creator_id:
      validation:
        presence: true
resource_owner: anyone
---
```

### Step 3: Generate API token

Generate API token from instance admin [Settings -> API Keys -> Generate new API Key].

### Step 4: Create curl command

Here is an example POST request you need to send. You need to set:

* the token in the header
* data payload in a JSON format

<pre class="command-line" data-output="2-50" data-user="user" data-host="host"><code class="language-bash">
curl https://example.platform-os.com/api/user/models
  -H "Authorization: Token token=[YOUR API TOKEN]"
  -H 'Content-Type: application/json'
  --data '{"form": { "properties_attributes: {"name": "Red flowers", "creator_id":"1" }}, "form_name": "import_flowers", "parent_object_class":"CustomModelType","parent_object_id":"flower"}'
</code></pre>


