<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.cookie.min.js"></script>
<script src="/js/jquery.navgoco.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/anchor.min.js"></script>
{% if page.datatable == true %} <script type="text/javascript" src="/js/jquery.dataTables.min.js"></script> {% endif %}
<script src="/js/toc.js"></script>
<script src="/js/customscripts.js"></script>

<script>
  $(function() {
    // Initialize navgoco with default options
    $("#mysidebar").navgoco({
      caretHtml: '',
      accordion: true,
      openClass: 'active', // open
      save: false, // leave false or nav highlighting doesn't work right
      cookie: {
        name: 'navgoco',
        expires: false,
        path: '/'
      },
      slide: {
        duration: 400,
        easing: 'swing'
      }
    });

    // Tooltips
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>

{% if page.datatable == true %}
  <script>
    $(function(){
      $('div.datatable-begin').nextUntil('div.datatable-end', 'table').addClass('display');
      $('table.display').DataTable({
        paging: true,
        stateSave: true,
        searching: true
      });
     });
  </script>
{% endif %}
