<footer>
	<div class="row">
    {% if site.prose_pages_path %}
      <div class="col-md-6">
				<a target="_blank" href="{{ site.prose_pages_path }}" class="btn btn-default githubEditButton" title="{{ page.url }}"><i class="fa fa-github fa-lg"></i> Edit this page</a>
      </div>
		{% endif %}

    <div class="{% if site.prose_pages_path %}col-md-6{% else %}col-md-12{% endif %} footer">
      &copy; {{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved. <br />
    </div>

  </div>
</footer>
