<ul>
  <li>
    <a href="{{ include.section.url }}">{{ include.section.title }}</a>
    {% if include.section.children %}
      <ul>
        {% for child in include.section.children %}
          <li{% if page.url contains child.url %} class="selected"{% endif %}>
            <a href="{{ child.url }}">{{ child.title }}</a>

            {% if child.children %}
              <ul>
                {% for grandchild in child.children %}
                  <li{% if page.url contains grandchild.url %} class="selected"{% endif %}><a href="{{ grandchild.url }}">{{ grandchild.title }}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </li>
</ul>
