<header class="masthead">
  <div class="branding">
    <a href="/"><img src="/assets/images/marketplace-platform-logo.svg" alt="{{ site.site_title }}" width="125" height="33"></a>
  </div>

  <nav class="nav-main" id="navigation">
    <h2 class="struct-label">Navigation</h2>
    <ul>
      {% for entry in site.data.navigation %}
        <li>
          <a href="{{ entry.url }}">{{ entry.title }}</a>
          {% if entry.children %}
            <ul>
              {% for child in entry.children %}
                <li{% if page.url contains child.url %} class="selected"{% endif %}>
                  <a href="{{ child.url }}">{{ child.title }}</a>

                  {% if child.children %}
                    <ul>
                      {% for grandchild in child.children %}
                        <li{% if page.url contains grandchild.url %} class="selected"{% endif %}><a href="{{ grandchild.url }}">{{ grandchild.title }}</a></li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>
