<select class="navigation-select">
  {% for entry in site.data.navigation %}
    <option value="{{ entry.url }}"{% if page.url == entry.url %} selected{% endif %}>{{ entry.title }}</option>

    {% if entry.children %}
      {% for child in entry.children %}
        <option value="{{ child.url }}"{% if page.url == child.url %} selected{% endif %}>&nbsp;&nbsp;{{ child.title }}</option>
        {% if child.children %}
          {% for grandchild in child.children %}
            <option value="{{ grandchild.url }}"{% if page.url == grandchild.url %} selected{% endif %}>&nbsp;&nbsp;&nbsp;&nbsp;{{ grandchild.title }}</option>
          {% endfor %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
</select>
