<select class="navigation-select">
  <option value="{{ include.section.url }}"{% if page.url == include.section.url %} selected{% endif %}>{{ include.section.title }}</option>

  {% if include.section.children %}
    {% for child in include.section.children %}
      <option value="{{ child.url }}"{% if page.url == child.url %} selected{% endif %}>&nbsp;&nbsp;{{ child.title }}</option>
      {% if child.children %}
        {% for grandchild in child.children %}
          <option value="{{ grandchild.url }}"{% if page.url == grandchild.url %} selected{% endif %}>&nbsp;&nbsp;&nbsp;&nbsp;{{ grandchild.title }}</option>
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endif %}
</select>
