---
converter: markdown
metadata:
  title: Configuring a Test Email
  description: This guide will help you configure a test email for your Instance through the Partner Portal.
slug: developer-guide/partner-portal/instances/configuring-test-email
---

This guide will help you configure a test email for your Instance through the Partner Portal. The test email is the email address that the system sends notifications to. On staging environments you can use the test email to test notifications you set up (e.g. when [Creating an Email Notification](/developer-guide/notifications/creating-email-notification) for a newly signed up user).

## Requirements
To follow the steps in this tutorial, you should be able to log in to the Partner Portal, and have an Instance you created or have access to.

* [Register on the Partner Portal](/get-started/hello-world/register-partner-portal)
* [Create an Instance](/get-started/hello-world/create-instance)

## Steps

Configuring a test email through the Partner Portal is a two-step process:

<div data-autosteps></div>

### Step 1: Set up test email for the Instance

On the Partner Portal, go to _Instances_, select your Instance, and click on _Update configuration_. The system automatically adds the email you used to create your Instance to your configuration file as
`"test_email"`. You can find it among `attributes`.

```json
 "test_email": "test@example.com",
```

If you see that the test email hasn't been added  `"test_email": null,`, then switch to Edit mode by clicking on `Switch to Edit Mode`. Add your email address and click on `Update Instance configuration`.

### Step 2: Add multiple test emails

It is recommended to use email aliases, e.g. `Your.Instance@example.com` instead of using multiple test emails. However, if you'd like to add multiple test emails, just separate them with a `,` like this:

```json
"test_email": "test@example.com,test2@example.com",
```

## Next steps
Congratulations! You have configured a test email for your Instance. Now you can learn more about notifications:

* [Notifications](/developer-guide/notifications/notifications)
