---
converter: markdown
metadata:
  title: Copying an Instance 
  description: This guide will help you copy everything from an Instance to another Instance.
---

This guide will help you copy everything from an Instance to another Instance. The Instance Copy feature copies everything including private folders (modules or app), modules, and all assets (no matter the location, file type, or size). 

## Requirements
To follow the steps in this tutorial, you should be able to log in to the Partner Portal, and have two Instances you created or have access to.

* [Register on the Partner Portal](/get-started/hello-world/register-partner-portal)
* [Create an Instance](/get-started/hello-world/create-instance)

## Steps

<div data-autosteps></div>

### Step 1: Copy Instance

Locate the Instance you want to copy over and click on `Copies`. Here you can find a list of previous copy processes and their statuses. 

Click on `Copy from` and select the Instance you'd like to copy. If copying the Instance is not possible (for example, because a module it includes is not available anymore) you will get an error message. 

### Step 2: Check the copied Instance
Refresh the Instance Copy page to check the status of the copying process.  Once it's `done`, check the URL of your Instance: the Instance you specified has been copied over your previous Instance. 

 


