---
converter: markdown
metadata:
  title: Copying an Instance 
  description: This guide will help you copy everything from an Instance to another Instance.
---

This guide will help you copy everything from an Instance to another Instance. 

The Instance Copy feature copies: 

* private folders (modules or app), modules, and all assets (no matter the location, file type, or size)
* all data in Records (including pages) for everything including assets, S3 uploads / property uploads

{% include "alert/important", content: "Copying a module with the Instance Copy feature will automatically copy all billing costs associated with the copied module." %}

**Object ID rules**

Each object in platformOS is identified with a unique ID and a related object type. Most of the time, these are hidden under the hood. They become instrumental when building CMS solutions, where objects like pages or partials are created dynamically.

IDs for different object types behave differently during Instance Copy.

The following object types **WILL** retain their ID and have the same ID on the original and the copied Instance:

* User
* Record
* User Profile
* Authentication
* CustomAddress (deprecated)
* CustomAttachment (deprecated)
* CustomImage (deprecated) 

The following object types **WILL NOT** retain their IDs and have a different ID on the original and the copied Instance:

* activities
* API call notifications
* constants
* assets
* pages
* forms
* partials
* layouts
* Authorization Policies
* background jobs
* email and SMS notifications
* GraphQL

You might use the Instance Copy feature, for example, for working, building, experiementing on staging and when the Instance is ready you can migrate it to production. Or you can take a backup of your production Instance and restore it on your staging environment for debugging purposes. 

## Requirements
To follow the steps in this tutorial, you should be able to log in to the Partner Portal, and have two Instances you created or have access to.

* [Register on the Partner Portal](/get-started/hello-world/hello-world#prerequisite-register-on-the-partner-portal)
* [Create an Instance](/get-started/hello-world/hello-world#step-1-create-an-instance)

## Steps

<div data-autosteps></div>

### Step 1: Copy Instance

Locate the Instance you want to copy over and click on `Copies`. Here you can find a list of previous copy processes and their statuses. 

Click on `Copy from` and select the Instance you'd like to copy. If copying the Instance is not possible (for example, because a module it includes is not available anymore) you will get an error message. 

### Step 2: Check the copied Instance
Refresh the Instance Copy page to check the status of the copying process.  Once it's `done`, check the URL of your Instance: the Instance you specified has been copied over your previous Instance. 

 


