---
converter: markdown
metadata:
  title: Deleting an Instance
  description: This guide will help you delete an Instance.
---

This guide will help you delete an Instance. If you delete an Instance:

* it won't be visible in the Partner Portal;
* it won't be accessible via any URL;
* Instance data, like users and Customization will NOT be deleted, but won't be accessible in any way;
* it will not be billable.

{% include 'alert/warning', content: 'Be careful with deleting an Instance. A deleted Instance can only be partially recovered, and only by our customer support. You might want to consider <a href="/developer-guide/partner-portal/instances/unpublishing-instance">Unpublishing an Instance</a> instead.' %}

## Requirements
To follow the steps in this tutorial, you should be able to log in to the Partner Portal, and have an Instance you created or have access to.

* [Register on the Partner Portal](/get-started/hello-world/hello-world#prerequisite-register-on-the-partner-portal)
* [Create an Instance](/get-started/hello-world/hello-world#step-1-create-an-instance)

## Steps

Deleting an Instance is a two-step process:

<div data-autosteps></div>

### Step 1: Locate Instance

In the menu on the left, click on `Instances`, and select the Instance you would like to delete. The information page of the Instance is displayed.

You can find more information on how to locate an Instance in our [Finding Instances](/developer-guide/partner-portal/instances/finding-instances) tutorial.

### Step 2: Delete Instance

On the information page of the Instance, click on `Danger Zone`. Go to the "Delete Instance" section, and click on `Delete [Instance name]`. A security question is displayed, click on `OK`. A system message is displayed: "We're processing your request. Please refresh the page in a few minutes."

When you refresh your Instance, its information page is not there anymore, as the Instance has been deleted. A "Not authorized" message is displayed.

## Next steps
Congratulations! You know how to delete an Instance. Now you can learn about setting up a production domain:

* [Setting Up a Production Domain](/developer-guide/partner-portal/domains/setting-up-production-domain)
