---
converter: markdown
metadata:
  title: Finding Instances
  description: This guide will help you find an Instance on the Partner Portal.
---

This guide will help you find an Instance on the Partner Portal.

The guide shows two ways to find Instances:

* Default: Search for an Instance using the Search field.
* Inactive Instances: Sometimes you won't be able to find an Instance a few minutes after creating it. It happens when an Instance had been successfully created but failed to be registered in the Partner Portal. These are called Inactive Instances.

## Requirements
To follow the steps in this tutorial, you should be able to log in to the Partner Portal, and have an Instance you created or have access to.

* [Register on the Partner Portal](/get-started/hello-world/register-partner-portal)
* [Create an Instance](/get-started/hello-world/create-instance)

## Steps

Finding an Instance is a two-step process:

<div data-autosteps></div>

### Step 1: Search for Instance

In the menu on the left, click on `Instances`. A list of all Instances you have access to is displayed. In the Search field on the top right, start typing the string you are looking for. The search checks the string you typed in:

* The name of the Instance
* Partner the Instance belongs to
* URL
* Endpoint
* Domain

The list of Instances changes dynamically to show the Instances that contain the string you typed.

### Step 2: Check Inactive Instances (optional)

Instances belong to Partners, so in the menu on the left, click on `Partners`, and from the list of Partners, click on the `Instances` link of the Partner the Instance belongs to. A list of all Instances the Partner has access to is displayed.

If you can't find the Instance you are looking for in the list, click on `Inactive Instances`. A list of Inactive Instances is displayed showing the status of each Instance (e.g. `Scheduled to activate` or `Fresh`).

If you found the Instance in the Inactive Instances list, you can try to activate it by clicking on the `Retry` button. A message saying `We're retrying to prepare your Instance. Check your email in a few minutes.` is displayed. In a few minutes, switch to `Active Instances` to verify that the prepared Instance is there.

## Next steps
Congratulations! You know how to find an Instance. Now you can learn about updating an Instance:

* [Updating an Instance](/developer-guide/partner-portal/instances/updating-instance)
