<div><!--
<h1>
  Class: AddressForm
  
  
  
</h1>
-->

  <table>
    <thead>
      <tr>
        <th>Parameter</th>
        <th>Type</th>
        <th>Description</th>
        <th>Required</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      
        
<tr>
  <td>
    address
  </td>
  <td>
    String
  </td>
  <td>
    Formatted full address for the address object
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        
<tr>
  <td>
    address_components
  </td>
  <td>
    Array[Hash[String => String]]
  </td>
  <td>
    array of components for the address
  keys are mostly long_name (e.g. California), short name (e.g. CA)
  and types (e.g. administrative_area_level_1, political)
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        
<tr>
  <td>
    city
  </td>
  <td>
    String
  </td>
  <td>
    city name for the address object
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        
<tr>
  <td>
    country
  </td>
  <td>
    String
  </td>
  <td>
    country name for the address object
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        
<tr>
  <td>
    formatted_address
  </td>
  <td>
    String
  </td>
  <td>
    formatted full address for the address object
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        
<tr>
  <td>
    iso_country_code
  </td>
  <td>
    String
  </td>
  <td>
    ISO country code
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        
<tr>
  <td>
    latitude
  </td>
  <td>
    Float
  </td>
  <td>
    latitude for the address object
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        
<tr>
  <td>
    longitude
  </td>
  <td>
    Float
  </td>
  <td>
    longitude for the address object
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        
<tr>
  <td>
    postcode
  </td>
  <td>
    String
  </td>
  <td>
    postcode for the address object
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        
<tr>
  <td>
    raw_address
  </td>
  <td>
    Boolean
  </td>
  <td>
    tell if we should take address form postcode, city, street etc
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        
<tr>
  <td>
    should_check_address
  </td>
  <td>
    Boolean
  </td>
  <td>
    Whether the system should check for the presence of an accurate address including postcode, city, state, street
  </td>
  <td>
    Optional
  </td>
  <td>
    virtual property
    
  </td>
</tr>

      
        
<tr>
  <td>
    state
  </td>
  <td>
    String
  </td>
  <td>
    state name for the address object
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        
<tr>
  <td>
    street
  </td>
  <td>
    String
  </td>
  <td>
    street name for the address object
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        
<tr>
  <td>
    suburb
  </td>
  <td>
    String
  </td>
  <td>
    suburb name for the address object
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
    </tbody>
  </table>

</div>
