<div><!--
<h1>
  Class: OrderForm
  
  
  
</h1>
-->

  <table>
    <thead>
      <tr>
        <th>Parameter</th>
        <th>Type</th>
        <th>Description</th>
        <th>Required</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      
        
<tr>
  <td>
    order_items
  </td>
  <td>
    Array<OrderItemForm>
  </td>
  <td>
    
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        
<tr>
  <td>
    payment
  </td>
  <td>
    PaymentForm
  </td>
  <td>
    
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        
<tr>
  <td>
    payment_subscription
  </td>
  <td>
    PaymentSubscriptionForm
  </td>
  <td>
    
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        
<tr>
  <td>
    reservations
  </td>
  <td>
    Array<ReservationForm>
  </td>
  <td>
    
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
    </tbody>
  </table>

</div>
