<div><!--
<h1>
  Class: OrderForm
  
  
  
</h1>
-->

  <table>
    <thead>
      <tr>
        <th>Parameter</th>
        <th>Type</th>
        <th>Description</th>
        <th>Required</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      
        <tr>
  <td>
    order_items
  </td>
  <td>
    Array[OrderItemForm]
  </td>
  <td>
    array of {OrderItemForm} encapsulating the order items for this order
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        <tr>
  <td>
    payment
  </td>
  <td>
    PaymentForm
  </td>
  <td>
    {PaymentForm} encapsulating the Payment for this order
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        <tr>
  <td>
    payment_subscription
  </td>
  <td>
    PaymentSubscriptionForm
  </td>
  <td>
    {PaymentSubscriptionForm} encapsulating the PaymentSubscription
  for this order
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        <tr>
  <td>
    properties
  </td>
  <td>
    PropertiesForm
  </td>
  <td>
    
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        <tr>
  <td>
    reservations
  </td>
  <td>
    Array[ReservationForm]
  </td>
  <td>
    reservation forms for actual reservations associated with this form
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
    </tbody>
  </table>

</div>
