<div id="content"><!--
<h1>
  Class: SessionForm
  
  
  
</h1>
-->

  <table>
    <thead>
      <tr>
        <th>Parameter</th>
        <th>Type</th>
        <th>Description</th>
        <th>Required</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      
        
<tr>
  <td>
    email
  </td>
  <td>
    String
  </td>
  <td>
    User's email address
  </td>
  <td>
    Required
  </td>
  <td>
    
    
  </td>
</tr>

      
        
<tr>
  <td>
    password
  </td>
  <td>
    String
  </td>
  <td>
    User password
  </td>
  <td>
    Required
  </td>
  <td>
    
    
  </td>
</tr>

      
    </tbody>
  </table>

</div>
