<div><!--
<h1>
  Class: TransactableForm
  
  
  
</h1>
-->

  <table>
    <thead>
      <tr>
        <th>Parameter</th>
        <th>Type</th>
        <th>Description</th>
        <th>Required</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      
        <tr>
  <td>
    creator_id
  </td>
  <td>
    Int
  </td>
  <td>
    User that created transactable
  </td>
  <td>
    Required
  </td>
  <td>
    In html format it is taken from current_user
    
  </td>
</tr>

      
        <tr>
  <td>
    currency
  </td>
  <td>
    String
  </td>
  <td>
    Currency used for this Transactable's pricings, ex. USD CAD. Default: USD
  </td>
  <td>
    Required
  </td>
  <td>
    Currency in ISO format
    
  </td>
</tr>

      
        <tr>
  <td>
    custom_addresses
  </td>
  <td>
    CustomAddressesForm
  </td>
  <td>
    Custom addresses for this resource
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        <tr>
  <td>
    custom_attachments
  </td>
  <td>
    CustomAttachmentsForm
  </td>
  <td>
    Custom attachments for this resource, such as pdf, doc
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        <tr>
  <td>
    custom_images
  </td>
  <td>
    CustomImagesForm
  </td>
  <td>
    Custom images for this resource
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        <tr>
  <td>
    customizations
  </td>
  <td>
    CustomizationsForm
  </td>
  <td>
    Customizations for this resource
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        <tr>
  <td>
    description
  </td>
  <td>
    String
  </td>
  <td>
    Longer description of the transactable
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        <tr>
  <td>
    enabled
  </td>
  <td>
    Boolean
  </td>
  <td>
    Whether the Transactable is enabled
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        <tr>
  <td>
    location
  </td>
  <td>
    LocationForm
  </td>
  <td>
    
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        <tr>
  <td>
    name
  </td>
  <td>
    String
  </td>
  <td>
    Name of the transactable
  </td>
  <td>
    Optional
  </td>
  <td>
    Will be used to generate slug
    
  </td>
</tr>

      
        <tr>
  <td>
    properties
  </td>
  <td>
    PropertiesForm
  </td>
  <td>
    
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        <tr>
  <td>
    transactable_type
  </td>
  <td>
    TransactableType
  </td>
  <td>
    TransactableType to which this Transactable belongs
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
    </tbody>
  </table>

</div>
