<div><!--
<h1>
  Class: UserForm
  
  
  
</h1>
-->

  <table>
    <thead>
      <tr>
        <th>Parameter</th>
        <th>Type</th>
        <th>Description</th>
        <th>Required</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      
        <tr>
  <td>
    accept_emails
  </td>
  <td>
    Boolean
  </td>
  <td>
    Whether the user accepts emails from the platform
  </td>
  <td>
    Optional
  </td>
  <td>
    
    true
  </td>
</tr>

      
        <tr>
  <td>
    companies
  </td>
  <td>
    Array[CompanyForm]
  </td>
  <td>
    Form for updating a user's companies
  </td>
  <td>
    Optional
  </td>
  <td>
    
    true
  </td>
</tr>

      
        <tr>
  <td>
    current_address
  </td>
  <td>
    AddressForm
  </td>
  <td>
    Form for updating a user's address
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        <tr>
  <td>
    email
  </td>
  <td>
    String
  </td>
  <td>
    User's email address
  </td>
  <td>
    Required
  </td>
  <td>
    Default validation for presence, uniqueness, email format
    
  </td>
</tr>

      
        <tr>
  <td>
    external_id
  </td>
  <td>
    String
  </td>
  <td>
    custom external ID for the user, example in a third party database
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        <tr>
  <td>
    featured
  </td>
  <td>
    Boolean
  </td>
  <td>
    Whether the user is featured
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        <tr>
  <td>
    first_name
  </td>
  <td>
    String
  </td>
  <td>
    User's first name
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        <tr>
  <td>
    id
  </td>
  <td>
    Integer
  </td>
  <td>
    id of the user
  </td>
  <td>
    Optional
  </td>
  <td>
    Readonly
    
  </td>
</tr>

      
        <tr>
  <td>
    last_name
  </td>
  <td>
    String
  </td>
  <td>
    User's last name
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        <tr>
  <td>
    middle_name
  </td>
  <td>
    String
  </td>
  <td>
    User's middle name
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        <tr>
  <td>
    name
  </td>
  <td>
    String
  </td>
  <td>
    Name of the user
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        <tr>
  <td>
    password
  </td>
  <td>
    String
  </td>
  <td>
    password for the user
  </td>
  <td>
    Optional
  </td>
  <td>
    Default validation minimum 6 chars
    
  </td>
</tr>

      
        <tr>
  <td>
    profiles
  </td>
  <td>
    UserProfilesForm
  </td>
  <td>
    Form for updating profiles for this user
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        <tr>
  <td>
    public_profile
  </td>
  <td>
    Boolean
  </td>
  <td>
    whether the profile has been marked as public
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        <tr>
  <td>
    sms_notifications_enabled
  </td>
  <td>
    Boolean
  </td>
  <td>
    Whether the user has sms notifications enabled
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        <tr>
  <td>
    tag_list
  </td>
  <td>
    Array[String]
  </td>
  <td>
    List of tags for this user
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        <tr>
  <td>
    transactables
  </td>
  <td>
    TransactablesForm
  </td>
  <td>
    Form for updating a user's transactable(s)
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
    </tbody>
  </table>

</div>
