button.btn, a.btn {
  @apply inline-block px-3 py-2 text-sm font-medium leading-normal text-center no-underline uppercase align-middle rounded appearance-none cursor-pointer;
}

button.btn--block, a.btn--block {
  @apply block px-0;
}

button.btn-primary, a.btn-primary {
  @apply text-white uppercase border bg-pos-darkblue border-pos-darkblue;
}

button.btn-primary:hover, a.btn-primary:hover {
  @apply text-white shadow-sm bg-pos-blue border-pos-blue;
}

button.btn-outline-primary, a.btn-outline-primary {
  @apply border text-pos-darkblue border-pos-darkblue;
}

button.btn-outline-primary:hover, a.btn-outline-primary:hover {
  @apply text-pos-blue border-pos-blue;
}
