button.btn, a.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  appearance: none;
  border-radius: 3px;

  font-size: 14px;
  padding: 11px 15px;
  line-height: 1.5;
  text-transform: uppercase;

  &--block {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }

  &-primary {
    background-color: #2173C4;
    border: 1px solid rgba(33, 115, 196, 1);
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    &:hover {
      box-shadow: 0 4px 6px -1px rgba(33, 115, 196, 0.1), 0 2px 4px -1px rgba(33, 115, 196, 0.06);
    }
  }

  &-outline-primary {
    font-weight: 500;
    color: rgba(33, 115, 196, 1);
    border: 1px solid rgba(33, 115, 196, 1);
    &:hover {
      color: darken(rgba(33, 115, 196, 1), 15);
      border-color: darken(rgba(33, 115, 196, 1), 15);
    }
  }
}
