/* ------------------------------------------------------------ *\
	Copyright
\* ------------------------------------------------------------ */

.copyright {
  border-top: 1px solid #ebebeb;
  padding: 16px 4px 20px 9px;
  letter-spacing: 0.04em;

  .credits {
    letter-spacing: -0.04em;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style-type: none;
    display: flex;
    font-size: 12px;

    li {
      & + li {
        &:before {
          content: "|";
          display: inline-block;
          margin: 0 11px 0 14px;
        }
      }
    }
  }
}
