.anchorjs-link {
  @apply opacity-0 block text-pos-blue absolute;
  width: 1em;
  height: 1em;
  margin-left: -1em;
  padding-right: .5em;
}

.anchorjs-element:hover .anchorjs-link {
  @apply opacity-75;
}

.anchorjs-link:hover {
  @apply opacity-100 text-pos-darkblue;
}
