.permalink {
  @apply opacity-0 block text-pos-blue absolute;
  width: 1em;
  height: 1em;
  margin-left: -1em;
  padding-right: .5em;
  margin-top: -2px;
}

h2:hover > .permalink,
h3:hover > .permalink {
  @apply opacity-75;
}

.permalink:hover {
  @apply opacity-100 text-pos-darkblue;
}
