.feedback-main svg[class*="feedback-"] {
  @apply opacity-75;
}

.feedback-main input:checked ~ .feedback-smile, .feedback-main .feedback-smile:hover {
  @apply opacity-100;
  color: #71dbaf;
}

.feedback-main input:checked ~ .feedback-weird, .feedback-main .feedback-weird:hover {
  @apply opacity-100;
  color: #4A4A4A;
}

.feedback-main input:checked ~ .feedback-sad, .feedback-main .feedback-sad:hover {
  @apply opacity-100;
  color: #fe6161;
}
