.feedback-main {
  svg[class*="feedback-"] {
    @apply opacity-75;
  }

  input:checked ~ .feedback-smile, .feedback-smile:hover {
    @apply opacity-100;
    color: #71dbaf;
  }

  input:checked ~ .feedback-weird, .feedback-weird:hover {
    @apply opacity-100;
    color: #4A4A4A;
  }

  input:checked ~ .feedback-sad, .feedback-sad:hover {
    @apply opacity-100;
    color: #fe6161;
  }
}
