.options {
  .option {
    border: 1px solid #ebebeb;
    text-decoration: none;

    &:hover {
      border-color: rgba(0, 0, 0, 0.3);
      h4 {
        color: #2173c4;
      }
    }

    .option__image {
      flex: 0 0 80px;
      text-align: left;
    }

    .option__content {
      p {
        font-size: 14px;
        color: rgb(74, 74, 74);
      }

      h4 {
        margin-bottom: 17px;
        a {
          text-decoration: none;
          color: #141414;
        }
      }
    }
  }
}
