.section-links {
  padding: 35px 0 70px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.02em;

  h3 {
    margin-bottom: 20px;
    color: #141414;
  }

  .section__link {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: #2173c4;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.04em;
    margin-top: 23px;
  }
}

@screen md {
  .section-with-border:before {
    content: '';
    position: absolute;
    display: block;
    left: -5rem;
    width: 1px;
    top: 10px;
    bottom: 10px;
    background-color: rgba(74, 74, 74, 0.15);
  }
}

.section-search {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
