table {
  @apply w-full mb-4;
}

table th,
table td {
  @apply p-3 align-top border-t border-pos-divider;
}

table thead th {
  @apply align-bottom border-b-2 text-left border-pos-divider;
}

table tbody + tbody {
  @apply border-t-2 border-pos-divider
}

table + p {
  @apply pt-5;
}

.table-sm th,
.table-sm td {
  @apply p-2 text-sm;
}

.table-bordered {
  @apply border border-pos-divider;
}

.table-bordered th,
.table-bordered td {
  @apply border border-pos-divider;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
  @apply border-0;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-responsive {
  @apply block w-full overflow-x-auto;
  -webkit-overflow-scrolling: touch;
}

.table-responsive > .table-bordered {
  @apply border-none;
}
