---
name: create_contact_request_form
resource: contact_request
resource_owner: anyone
spam_protection:
  recaptcha_v3:
    action: contact
    minimum_score: 0.7
fields:
  properties:
    email:
      validation: { presence: true }
    message:
      validation: { presence: true }
email_notifications:
  - new_contact_request
redirect_to: /contact
flash_notice: Thank you for your request. We will contact you shortly.
---
{% form html-class: 'contact-form' %}
  {% spam_protection "recaptcha_v3", action: "contact" %}
  {% assign f = form.fields.properties %}
  {% include 'forms/errors' %}

  {% include 'forms/input', field: f.email, type: 'email', placeholder: 'Your contact email', label: false %}
  {% include 'forms/textarea', type: 'text', field: f.message %}

  <button class="btn btn-primary">Send</button>
{% endform %}
