---
converter: markdown
metadata:
  title: WebSockets broadcast mutation and performance improvements!
  description: May 26, 2023
  skip_contribute_button: true
  last_edit: false
slug: release-notes/26-MAY-2023
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* WebSockets broadcast mutation ( [channel_send_message](https://documentation.platformos.com/api-reference/graphql/web-sockets/mutations/channel-send-message) )

<h4 class="release-note release-note__improved">IMPROVED</h4>

* Do not run unnecessary count or select based on graphQL (performance)
* Use value instead of value in if in one element (performance)
* Filter pages by authorization policies
* Better route matching for local endpoints, including named parameters allowed
* Sanitize filter allow tel and sms links
* Allow custom html attributes for hCaptcha to enable other hCaptcha features



