---
converter: markdown
metadata:
  title: Improved log tag, bug fixes
  description: January 20, 2020
  skip_contribute_button: true
slug: release-notes/20-JANUARY-2020
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__improved">IMPROVED</h4>

* added useful debugging information to the [log](/api-reference/liquid/platformos-tags#log) tag, like Page slug, partial path, logged in user id etc.
* made sort deterministic by always sorting by id as extra parameter
* performance of some GraphQL queries/mutations

<h4 class="release-note release-note__fixed">FIXED</h4>

* names of old resources were causing issues when used as model schema name for form submissions and export
* updating import/export mapping for foreign keys stored directly as user property
