---
slug: tutorials/qa/installing-testcafe
metadata:
  title: Installing TestCafe 
  description: This guide will help you install TestCafe for automated end-to-end web testing. 
searchable: true
converter: markdown
---

This guide will help you install TestCafe for automated end-to-end web testing.  

## Requirements
To follow the steps in this tutorial, you need NPM (Node.js Package Manager), that you have already installed to install and update the Marketplace Kit. You should also be familiar with TestCafe:

* [TestCafe](/tutorials/qa/testcafe)

## Steps
Installing TestCafe is a two-step process:

<div data-autosteps></div>

### Step 1: Install TestCafe

Enter the following in your command line to install TestCafe:

<pre class="command-line" data-output="2-4" data-user="user" data-host="host"><code class="language-bash">
npm install -g testcafe
</code></pre>

You can follow the installation process in your command line (something similar to this will be displayed after the process has ended): 

<pre class="command-line" data-output="2-4" data-user="user" data-host="host"><code class="language-bash">
/usr/local/bin/testcafe -> /usr/local/lib/node_modules/testcafe/bin/testcafe-with-v8-flag-filter.js
+ testcafe@1.0.1
added 322 packages from 239 contributors in 18.038s
</code></pre>

### Step 2: Test and run TestCafe

Use the following command to test if you've installed TestCafe successfully:

<pre class="command-line" data-output="2-4" data-user="user" data-host="host"><code class="language-bash">
testcafe -v
</code></pre>

If TestCafe has been installed correctly, running this command displays the version number. If it hasn't been installed, running this command gives a `command not found` error. 

After installed, you can run TestCafe from a command line by using the `testcafe` command. See a list of available commands and options [here](https://devexpress.github.io/testcafe/documentation/using-testcafe/command-line-interface.html). 

## Next steps
Congratulations! You have installed TestCafe. Now you can write your first test:

* [Writing a TestCafe Test](/tutorials/qa/writing-testcafe-test)

{% include 'shared/questions_section' %}
