<div class="callout">
  <div class="container">
    <h2>
      How can we help?
    </h2>

    <p>
      Search our docs, join our Slack channel, or get in touch with us. We are always happy to help with any questions you have.
    </p>

    <div class="callout__actions">
      <a href="#" class="btn btn-primary btn-md">
        read more
      </a>
    </div>
  </div>
</div>
</div>
