<footer class="footer">
	<div class="container">
		<div class="footer__actions">
			<div class="row">
				<div class="col-md-4">
					<a href="/">
						<img src="{{ 'images/svg/logo.svg' | asset_url }}" alt="platformOS Logo" width="200">
					</a>
				</div>

				<div class="col-md-3">
					<nav class="nav-footer">
						<ul>
							<li>
								<a href="https://www.platformos.com/blog">Blog</a>
							</li>

							<li>
								<a href="/contact">Contact</a>
							</li>
						</ul>
					</nav>
				</div>

				<div class="col-md-3">
					<nav class="nav-footer">
						<ul>
							<li>
								<a href="/how-platformos-works">How platformOS Works</a>
							</li>

							<li>
								<a href="/get-started">Get Started</a>
							</li>

							<li>
								<a href="/contributor-guide">Contributor Guide</a>
							</li>
						</ul>
					</nav>
				</div>

				<div class="col-md-2">
					<nav class="nav-footer">
						<ul>
							{% comment %} <li>
								<a href="/help">Help</a>
							</li> {% endcomment %}

							<li>
								<a href="/roadmap">Roadmap</a>
							</li>

							<li>
								<a href="/release-notes">Release Notes</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>

		<div class="copyright">
			<div class="row">
				<div class="col-md-6">
					<ul>
						<li>Copyright &copy; platformOS 2019</li>
						<li>
							<a href="/terms-and-conditions">Terms &amp; Conditions</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
