<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>platformOS Documentation site</title>

  <link rel="shortcut icon" type="image/x-icon" href="{{ 'images/favicon.ico' | asset_url }}">
	<link rel="stylesheet" type="text/css" href="{{ 'redesign.css' | asset_url }}" />
</head>
