<div class="callout callout--padding-sm callout--border-top">
  <div class="container">
    <h2>Questions?</h2>

    <p>We are always happy to help with any questions you may have. Check out help page or contact us.</p>

    <div class="callout__actions">
      {% comment %} <a href="#" class="btn btn-md btn-outline-primary">help page</a> {% endcomment %}

      <a href="/contact" class="btn btn-primary btn-md">contact us</a>
    </div>
  </div>
</div>
