---
converter: markdown
metadata:
  title: array_delete_at and array_delete filters, fixes and improvements
  description: March 14, 2023
  skip_contribute_button: true
  last_edit: false
slug: release-notes/14-MAR-2023
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* Allows to place liquid partials in app/lib directory instead of app/views/partials
* array_delete_at and array_delete filters

<h4 class="release-note release-note__fixed">FIXED</h4>

* Liquid: try tag - fix syntax check
* Fix parsing of attributes when special characters in main value
* Fix for raw tag not closed updated liquid gems

<h4 class="release-note release-note__improved">IMPROVED</h4>

* Hash assign for function tag
* from mdyd-dev/objects-count-for-admin-tables
* Liquid background tag new syntax with partial (
* Liquid background tag new syntax with partial (
* from mdyd-dev/hash-assign-for-function-tag
* To CSV filter changes and tests