---
converter: markdown
metadata:
  title: data_exports query, fixes
  description: September 02, 2020
  skip_contribute_button: true
  last_edit: false
slug: release-notes/02-SEPTEMBER-2020
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* new GraphQL query `data_exports`, which displays data exports scheduled by `pos-cli export` or `data_export` mutation

<h4 class="release-note release-note__improved">IMPROVED</h4>

* Increased timeout for Api Calls to return response for background jobs based on the job priority

<h4 class="release-note release-note__fixed">FIXED</h4>

* correctly render pages with `.` in slug instead of rendering Unknown Format error
* `delete_asset` mutation does not raise error when trying to delete asset which was already deleted
* removed argument containing typo `presign_upload_urls` mutation
* removed legacy page `/debug`
