---
converter: markdown
metadata:
  title: property_upload improvements
  description: September 21, 2020
  skip_contribute_button: true
  last_edit: false
slug: release-notes/14-SEPTEMBER-2020
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__improved">IMPROVED</h4>

* error handling for `select` and `reject` filters when invalid input is provided
* allow fraction minutes as `delay` argument for the `background` tag
* allow scenario when property_upload with versions is used for both image and non-image files
* add `digest` argument to `compute_hmac` filter

<h4 class="release-note release-note__fixed">FIXED</h4>

* Instance Copy with property_upload files
