---
converter: markdown
metadata:
  title: Improvements for handling invalid values
  description: September 28, 2020
  skip_contribute_button: true
  last_edit: false
slug: release-notes/28-SEPTEMBER-2020
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__improved">IMPROVED</h4>

* error handling for invalid value for property of type `upload`
* error handling for invalid value for properety of type `array`
* error handling for invalid values provided to admin_form_* mutations

<h4 class="release-note release-note__fixed">FIXED</h4>

* issue with fetching `updated_at` for ThirdPartyIntegration queries
* error when `null` value was provided as input for updating UserProfile properties instead of an array of hashes

