<!doctype html>
<html lang="en">
  {% include 'layouts/head' %}
  <body>
    {% include 'layouts/header' %}

    <main class="main">
      <div class="container">
        <div class="row">
          <aside class="sidebar col-4 col-xs-12">
            {% include 'layouts/sidebar' %}
          </aside>

          <section class="content col-8 col-xs-12">
            {% include 'layouts/content' %}
          </section>
        </div>
      </div>
    </main>

    {% include 'layouts/footer' %}
    {% include 'layouts/javascripts' %}
  </body>
</html>
