<!doctype html>
<html lang="en">
  {% include 'layouts/head' %}
  <body class="{{ context.page.metadata.body_css_class}}">
    {% include 'layouts/header' %}

    <main class="main">
      {%- include 'layouts/flash-messages', flash: context.flash -%}
      <div class="container">
        <div class="row">
          {% if context.page.metadata.hide_sidebar != true %}
            <aside class="sidebar col-12 col-md-4">
              {% include 'layouts/sidebar' %}
            </aside>
            <section class="content col-12 col-md-8">
          {% else %}
            <section class="content col-12 col-md-12">
          {% endif %}
          {% include 'layouts/content' %}
          {% if page.metadata.exclude_feedback == blank %}
            {% include 'shared/feedback' %}
          {% endif %}
          </section>
        </div>
      </div>
    </main>

    {% include 'layouts/footer' %}
    {% include 'layouts/javascripts' %}
  </body>
</html>
