<!doctype html>
<html lang="en">
  {% include 'layouts/head' %}
  <body>
    {% include 'layouts/header' %}

      <main class="main">
        <div class="container">
          <div class="shell">
            {% include 'layouts/sidebar' %}
            <div class="content">
              {% include 'layouts/breadcrumbs' %}

              <h1>{{ page.metadata.title }}</h1>

              <section class="section">
                {{ content_for_layout }}
              </section>
            </div>
          </div>
        </div>
      </div>

      {% include 'layouts/footer' %}
    </main>

    <script type="text/javascript">
      /* Set output.publicPath on runtime, to avoid hardcoding paths in env's or views */
      window.__cdnUrl = function() { return "{{ '' | asset_url }}" };
    </script>

    {% include 'layouts/javascripts' %}

  </body>
</html>
