<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'layouts/redesign/home-head' %}
</head>
<body>
	<div class="wrapper">
    {% include 'layouts/redesign/header' %}

		<div class="main main--mt">
      <div class="section-search">
				<div class="container">
					<div class="form-search form-search--alt">
						<form action="/search" method="get">
							<div class="form__controls">
								<input type="text" name="search" class="form-control" placeholder="Search documentation…" />

								<button type="button" class="form-btn">
                  <svg width="24" height="24"><use xlink:href="#search"></use></svg>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>

      <div class="container">
        <div class="content">
          <div class="breadcrumbs">
            {% comment %}
              TODO: Generate
            {% endcomment %}
            {% comment %} <ul>
              <li>
                <a href="/">Documentation</a>
                <svg width="8" height="8"><use xlink:href="#arrow-right"></use></svg>
              </li>

              <li>
                <a href="/{{ context.exports.category.slug }}">How platformOS Works</a>
                <svg width="8" height="8"><use xlink:href="#arrow-right"></use></svg>
              </li>

              <li>
                <a href="#">Sample of Innerpage</a>
              </li>
            </ul> {% endcomment %}
          </div>

          <div class="content__main">
            <h1>{{ context.page.metadata.title }}</h1>

            {{ content_for_layout }}
          </div>
        </div>
      </div>
    </div>

    {% include 'layouts/redesign/questions' %}
    {% include 'layouts/redesign/footer' %}
	</div>
  {% include 'svg/icons/sprite' %}
</body>
</html>
