{%- include 'layouts/redesign/category-helpers' -%}
<!DOCTYPE html>
<html lang="en">
{% include 'layouts/redesign/home-head' %}

<body>
	<div class="wrapper">
    {% include 'layouts/redesign/header' %}

		<div class="main main--mt">
      <div class="section-search">
				<div class="container">
					<div class="form-search form-search--alt">
						<form action="/search" method="get">
							<div class="form__controls">
								<input type="text" name="search" class="form-control" placeholder="Search documentation…" />

								<button type="button" class="form-btn">
									{% include 'svg/icons/search', width: '24px' %}
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>

      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <div class="sidebar">
							<div class="sidebar__title">
                {% capture icon_path %}svg/categories/{{ context.exports.nav.category_slug }}{% endcapture %}
                {% include icon_path, width: '32px', height: '32px' %}
								<h4>{{ context.exports.nav.category_name }}</h4>
							</div>

              {% include 'layouts/two-columns/nav' %}
						</div>
          </div>

          <div class="col-sm-9 content">
            <div class="breadcrumbs">
              <ul>
                <li>
                  <a href="/">Documentation</a>
                </li>

                <li>
                  <a href="/{{ context.exports.nav.category_slug }}">How platformOS Works</a>
                </li>

                <li>
                  <a href="#">Sample of Innerpage</a>
                </li>
              </ul>
            </div>

            <div class="content__main">
              {{ content_for_layout }}
            </div>
          </div>

        </div>
      </div>
    </div>

    {% include 'layouts/redesign/questions' %}
    {% include 'layouts/redesign/footer' %}
	</div>
</body>
</html>
