<footer class="footer">
  <div class="container">
    <div class="footer__actions">
      <div class="row">
        <div class="col-md-4">
          <a href="https://uktcawards.com/winners-2019/" target="_blank" rel="noopener">
            <img src="{{ 'images/ISTC.png' | asset_url }}" alt="ISTC logo" width="120" />
          </a>
        </div>

        <div class="col-md-3">
          <nav class="nav-footer">
            <h4>Documentation</h4>
            <ul>
              <li>
                <a href="/how-platformos-works">How platformOS Works</a>
              </li>
              <li>
                <a href="/get-started">Get Started</a>
              </li>
              <li>
                <a href="/tutorials">Tutorials</a>
              </li>
              <li>
                <a href="/api-reference">API Reference</a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="col-md-3">
          <nav class="nav-footer">
            <h4>Learn More</h4>
            <ul>
              <li>
                <a href="/best-practices">Best Practices</a>
              </li>
              <li>
                <a href="/use-cases">Use Cases</a>
              </li>
              <li>
                <a href="https://www.platformos.com/blog">
                  Blog
                  <svg width="13" height="13"><use xlink:href="#external-link"></use></svg>
                </a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="col-md-2">
          <nav class="nav-footer">
            <h4>Community</h4>
            <ul>
              <li>
                <a href="/release-notes">Release Notes</a>
              </li>
              <li>
                <a href="https://www.platformos.com/blog/blog/category/Status-Report">
                  Status Reports
                  <svg width="13" height="13"><use xlink:href="#external-link"></use></svg>
                </a>
              </li>
              <li>
                <a href="/roadmap">Roadmap</a>
              </li>
              <li>
                <a href="/community/contributor-guide">Contributor Guide</a>
              </li>
              <li>
                <a href="/contact">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <div class="copyright">
      <div class="row">
        <div class="col-md-6">
          <ul>
            <li>Copyright &copy; platformOS 2019</li>
            <li>
              <a href="/license">License and Attributions</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
