<footer class="container py-10">
  <div class="sm:flex w-fit mx-auto">
    <div class="mb-6 sm:w-64 md:pl-10">
      <h3 class="mb-3 sm:text-lg font-bold">Documentation</h3>
      <ul class="list-none">
        <li>
          <a href="/get-started" class="inline-block py-2 no-underline md:py-1 sm:leading-normal hover:text-pos-blue">
            Get Started
          </a>
        </li>
        <li>
          <a href="/developer-guide"
            class="inline-block py-2 no-underline md:py-1 sm:leading-normal hover:text-pos-blue">
            Developer Guide
          </a>
        </li>
        <li>
          <a href="/api-reference" class="inline-block py-2 no-underline md:py-1 sm:leading-normal hover:text-pos-blue">
            API Reference
          </a>
        </li>
        <li>
          <a href="/best-practices"
            class="inline-block py-2 no-underline md:py-1 sm:leading-normal hover:text-pos-blue">
            Best Practices
          </a>
        </li>
        <li>
          <a href="/use-cases" class="inline-block py-2 no-underline md:py-1 sm:leading-normal hover:text-pos-blue">
            Use Cases
          </a>
        </li>
      </ul>
    </div>

    <div class="mb-6 sm:w-64 md:pl-10 md:border-l border-pos-divider">
      <h3 class="mb-3 sm:text-lg font-bold">Updates</h3>
      <ul class="list-none">
        <li>
          <a href="/release-notes" class="inline-block py-2 no-underline md:py-1 sm:leading-normal hover:text-pos-blue">
            Release Notes
          </a>
        </li>
        <li>
          <a href="https://www.platformos.com/blog/categories/status-report" target="_blank"
            class="inline-block py-2 no-underline md:py-1 sm:leading-normal hover:text-pos-blue">
            Status Reports
            <svg width="13" height="13">
              <use xlink:href="#external-link"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="/roadmap" class="inline-block py-2 no-underline md:py-1 sm:leading-normal hover:text-pos-blue">
            Roadmap
          </a>
        </li>
        <li>
          <a href="https://www.platformos.com/blog" target="_blank"
            class="inline-block py-2 no-underline md:py-1 sm:leading-normal hover:text-pos-blue">
            platformOS Blog
            <svg width="13" height="13">
              <use xlink:href="#external-link"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="mb-6 sm:w-64 md:pl-10 md:border-l border-pos-divider">
      <h3 class="mb-3 sm:text-lg font-bold">Discover</h3>
      <ul class="list-none">
        <li>
          <a href="https://www.platformos.com" target="_blank"
            class="inline-block py-2 no-underline md:py-1 sm:leading-normal hover:text-pos-blue">
            platformOS.com
            <svg width="13" height="13">
              <use xlink:href="#external-link"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://partners.platformos.com" target="_blank"
            class="inline-block py-2 no-underline md:py-1 sm:leading-normal hover:text-pos-blue">
            pOS Partner Portal
            <svg width="13" height="13">
              <use xlink:href="#external-link"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://community.platformos.com/"
            class="inline-block py-2 no-underline md:py-1 sm:leading-normal hover:text-pos-blue">
            pOS Community
            <svg width="13" height="13">
              <use xlink:href="#external-link"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="pt-3 mt-8 border-t border-pos-divider flex">
    <ul class="list-none sm:flex">
      <li class="mr-8">
      <li class="mr-2">
        <a href="https://www.platformos.com/" target="_blank"
          class="inline-block py-2 no-underline md:py-1 sm:leading-normal hover:text-pos-blue">
          Copyright &copy; platformOS {{ 'today' | strftime: '%Y' }}
        </a>
      </li>
      <li>
        <a href="/license" class="inline-block py-2 no-underline md:py-1 sm:leading-normal hover:text-pos-blue">
          License
        </a>
      </li>
      <li>
        <a href="/disclaimer" class="inline-block py-2 no-underline md:py-1 sm:leading-normal hover:text-pos-blue">
          Disclaimer
        </a>
      </li>
    </ul>

    <div class="ml-auto w-64 text-xs">
      <a class="no-underline flex items-center pl-2" target="_blank"
        rel="noopener" href="https://www.websitecarbon.com/website/documentation-platformos-com/">
        <span class="border-t border-b border-l rounded-l border-carbon-brand px-2 py-0.5 text-body">0.09g of CO<sub>2</sub>/view</span>
        <span class="border-t border-b border-r rounded-r border-carbon-text font-bold px-2 py-0.5 bg-carbon-text text-white">Website Carbon</span>
      </a>
      <p class="w-full text-center mt-1 text-xs text-body">Cleaner than 95% of pages tested</p>
    </div>
  </div>
</footer>
