<footer class="container py-10">
  <div class="sm:flex">
    <div class="mb-6 sm:w-1/4">
      <a href="https://uktcawards.com/winners-2019/" target="_blank" rel="noopener">
        <img src="{{ 'images/ISTC.png' | asset_url }}" alt="ISTC logo" width="120" height="107" loading="lazy" />
      </a>
    </div>

    <div class="mb-6 sm:w-1/4 md:pl-10 md:border-l border-pos-divider">
      <h3 class="mb-3 sm:text-base">Documentation</h3>
      <ul class="list-none">
        <li>
          <a href="/get-started" class="inline-block py-2 no-underline md:py-1 sm:leading-normal hover:text-pos-blue">
            Get Started
          </a>
        </li>
        <li>
          <a href="/developer-guide" class="inline-block py-2 no-underline md:py-1 sm:leading-normal hover:text-pos-blue">
            Developer Guide
          </a>
        </li>
        <li>
          <a href="/api-reference" class="inline-block py-2 no-underline md:py-1 sm:leading-normal hover:text-pos-blue">
            API Reference
          </a>
        </li>
        <li>
          <a href="/best-practices" class="inline-block py-2 no-underline md:py-1 sm:leading-normal hover:text-pos-blue">
            Best Practices
          </a>
        </li>
        <li>
          <a href="/use-cases" class="inline-block py-2 no-underline md:py-1 sm:leading-normal hover:text-pos-blue">
            Use Cases
          </a>
        </li>
      </ul>
    </div>

    <div class="mb-6 sm:w-1/4 md:pl-10 md:border-l border-pos-divider">
      <h3 class="mb-3 sm:text-base">Updates</h3>
      <ul class="list-none">
        <li>
          <a href="/release-notes"
            class="inline-block py-2 no-underline md:py-1 sm:leading-normal hover:text-pos-blue">
            Release Notes
          </a>
        </li>
        <li>
          <a href="https://www.platformos.com/blog/categories/status-report" target="_blank"
            class="inline-block py-2 no-underline md:py-1 sm:leading-normal hover:text-pos-blue">
            Status Reports
            <svg width="13" height="13"><use xlink:href="#external-link"></use></svg>
          </a>
        </li>
        <li>
          <a href="/roadmap"
            class="inline-block py-2 no-underline md:py-1 sm:leading-normal hover:text-pos-blue">
            Roadmap
          </a>
        </li>
        <li>
          <a href="https://www.platformos.com/blog" target="_blank"
            class="inline-block py-2 no-underline md:py-1 sm:leading-normal hover:text-pos-blue">
            platformOS Blog
            <svg width="13" height="13"><use xlink:href="#external-link"></use></svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="mb-6 sm:w-1/4 md:pl-10 md:border-l border-pos-divider">
      <h3 class="mb-3 sm:text-base">Discover</h3>
      <ul class="list-none">
        <li>
          <a href="https://www.platformos.com" target="_blank"
            class="inline-block py-2 no-underline md:py-1 sm:leading-normal hover:text-pos-blue">
            platformOS.com
            <svg width="13" height="13"><use xlink:href="#external-link"></use></svg>
          </a>
        </li>
        <li>
          <a href="https://partners.platformos.com" target="_blank"
            class="inline-block py-2 no-underline md:py-1 sm:leading-normal hover:text-pos-blue">
            pOS Partner Portal
            <svg width="13" height="13"><use xlink:href="#external-link"></use></svg>
          </a>
        </li>
        <li>
          <a href="https://community.platformos.com/"
            class="inline-block py-2 no-underline md:py-1 sm:leading-normal hover:text-pos-blue">
            pOS Community
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="pt-3 mt-8 border-t border-pos-divider">
    <ul class="list-none sm:flex">
      <li class="mr-8">
        <a href="https://www.platformos.com/" target="_blank"
          class="inline-block py-2 no-underline md:py-1 sm:leading-normal hover:text-pos-blue">
          Copyright &copy; platformOS 2021
        </a>
      </li>
      <li>
        <a href="/license"
          class="inline-block py-2 no-underline md:py-1 sm:leading-normal hover:text-pos-blue">
          License
        </a>
      </li>
    </ul>
  </div>
</footer>
