<footer class="container py-10">
  <div class="sm:flex">
    <div class="sm:w-1/4 mb-6">
      <a href="https://uktcawards.com/winners-2019/" target="_blank" rel="noopener">
        <img src="{{ 'images/ISTC.png' | asset_url }}" alt="ISTC logo" width="120" loading="lazy" />
      </a>
    </div>

    <div class="sm:w-1/4 mb-6 md:pl-10 md:border-l border-pos-divider">
      <h4 class="mb-3">Documentation</h4>
      <ul class="list-none">
        <li>
          <a href="/get-started" class="inline-block text-base py-1 sm:text-sm hover:text-pos-blue no-underline">
            Get Started
          </a>
        </li>
        <li>
          <a href="/developer-guide" class="inline-block text-base py-1 sm:text-sm hover:text-pos-blue no-underline">
            Developer Guide
          </a>
        </li>
        <li>
          <a href="/api-reference" class="inline-block text-base py-1 sm:text-sm hover:text-pos-blue no-underline">
            API Reference
          </a>
        </li>
        <li>
          <a href="/best-practices" class="inline-block text-base py-1 sm:text-sm hover:text-pos-blue no-underline">
            Best Practices
          </a>
        </li>
        <li>
          <a href="/use-cases" class="inline-block text-base py-1 sm:text-sm hover:text-pos-blue no-underline">
            Use Cases
          </a>
        </li>
      </ul>
    </div>

    <div class="sm:w-1/4 mb-6 md:pl-10 md:border-l border-pos-divider">
      <h4 class="mb-3">Updates</h4>
      <ul class="list-none">
        <li>
          <a href="/release-notes"
            class="inline-block text-base py-1 sm:text-sm  hover:text-pos-blue no-underline">
            Release Notes
          </a>
        </li>
        <li>
          <a href="https://www.platformos.com/blog/categories/status-report" target="_blank"
            class="inline-block text-base py-1 sm:text-sm  hover:text-pos-blue no-underline">
            Status Reports
            <svg width="13" height="13"><use xlink:href="#external-link"></use></svg>
          </a>
        </li>
        <li>
          <a href="/roadmap"
            class="inline-block text-base py-1 sm:text-sm  hover:text-pos-blue no-underline">
            Roadmap
          </a>
        </li>
        <li>
          <a href="https://www.platformos.com/blog" target="_blank"
            class="inline-block text-base py-1 sm:text-sm  hover:text-pos-blue no-underline">
            platformOS Blog
            <svg width="13" height="13"><use xlink:href="#external-link"></use></svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="sm:w-1/4 mb-6 md:pl-10 md:border-l border-pos-divider">
      <h4 class="mb-3">Discover</h4>
      <ul class="list-none">
        <li>
          <a href="https://www.platformos.com" target="_blank"
            class="inline-block text-base py-1 sm:text-sm hover:text-pos-blue no-underline">
            platformOS.com
            <svg width="13" height="13"><use xlink:href="#external-link"></use></svg>
          </a>
        </li>
        <li>
          <a href="https://partners.platformos.com" target="_blank"
            class="inline-block text-base py-1 sm:text-sm hover:text-pos-blue no-underline">
            pOS Partner Portal
            <svg width="13" height="13"><use xlink:href="#external-link"></use></svg>
          </a>
        </li>
        <li>
          <a href="/community"
            class="inline-block text-base py-1 sm:text-sm hover:text-pos-blue no-underline">
            pOS Community
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="pt-3 mt-8 border-t border-pos-divider">
    <ul class="sm:flex list-none">
      <li class="mr-8">
        <a href="https://www.platformos.com/" target="_blank"
          class="inline-block text-base py-1 sm:text-sm no-underline">
          Copyright &copy; platformOS 2020
        </a>
      </li>
      <li>
        <a href="/license"
          class="inline-block text-base py-1 sm:text-sm no-underline">
          License and Attributions
        </a>
      </li>
    </ul>
  </div>
</footer>
