{%- assign cp = context.headers.REQUEST_URI -%}

<header class="relative top-0 z-10 bg-white shadow-md md:sticky">
  <div class="container flex flex-wrap items-center justify-between py-6 sm:flex-no-wrap">
    <a href="/" class="inline-block m-auto no-underline sm:m-0">
      <span class="screen-reader-text">Home</span>
      {% include 'svg/logo', height: 37 %}
    </a>

    <nav class="mt-4 font-medium md:mt-0">
      <ul class="flex flex-wrap items-center list-none">
        <li class="w-full text-center sm:w-auto sm:text-left">
          <a href="/get-started"
            class="{% if cp contains '/get-started' %}text-pos-blue{% endif %} no-underline text-lg hover:text-pos-blue leading-loose py-1 sm:py-0 sm:text-sm">
            Get Started
          </a>
        </li>
        <li class="w-full text-center sm:w-auto sm:text-left sm:ml-5 md:ml-10">
          <a href="/developer-guide"
            class="{% if cp contains '/developer-guide' %}text-pos-blue{% endif %} no-underline text-lg hover:text-pos-blue leading-loose py-1 sm:py-0 sm:text-sm">
            Developer Guide
          </a>
        </li>
        <li class="w-full text-center sm:w-auto sm:text-left sm:ml-5 md:ml-10">
          <a href="/api-reference"
            class="{% if cp contains '/api-reference' %}text-pos-blue{% endif %} no-underline text-lg hover:text-pos-blue leading-loose py-1 sm:py-0 sm:text-sm">
            API Reference
          </a>
        </li>
        <li class="w-full text-center sm:w-auto sm:text-left sm:ml-5 md:ml-10">
          <a href="/best-practices"
            class="{% if cp contains '/best-practices' %}text-pos-blue{% endif %} no-underline text-lg hover:text-pos-blue leading-loose py-1 sm:py-0 sm:text-sm">
            Best Practices
          </a>
        </li>
        <li class="w-full text-center sm:w-auto sm:text-left sm:ml-5 md:ml-10">
          <a href="/use-cases"
            class="{% if cp contains '/use-cases' %}text-pos-blue{% endif %} no-underline text-lg hover:text-pos-blue leading-loose py-1 sm:py-0 sm:text-sm">
            Use Cases
          </a>
        </li>

        <li class="w-full mt-4 text-center sm:w-auto sm:text-left sm:ml-5 md:ml-10 md:mt-0">
          <a href="/try-now"
            class="btn btn-primary">
            TRY NOW
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
