{%- assign cp = context.headers.REQUEST_URI -%}

<header class="header">
	<div class="container">
		<div class="header__inner">
			<ul class="header__links">
				<li>
					<a href="/">
            <img src="{{ 'images/svg/logo.svg' | asset_url }}" alt="platformOS Logo" width="185">
          </a>
				</li>

				<li>
					<a href="/">Docs</a>
				</li>
			</ul>

			<div class="header__actions">
				<nav class="nav-header">
					<ul>
						<li>
							<a href="/how-platformos-works" class="{% if cp contains '/how-platformos-works' %}active{% endif %}">How platformOS Works</a>
						</li>

						<li>
							<a href="/get-started" class="{% if cp contains '/get-started' %}active{% endif %}">Get Started</a>
						</li>

						<li>
							<a href="/tutorials" class="{% if cp contains '/tutorials' %}active{% endif %}">Tutorials</a>
						</li>

						<li>
							<a href="/api-reference" class="{% if cp contains '/api-reference' %}active{% endif %}">API Reference</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
