{%- assign cp = context.headers.REQUEST_URI -%}

<header class="header">
  <div class="container">
    <div class="header__inner">
      <ul class="header__links">
        <li>
          <a href="/">
            <span class="screen-reader-text">Home</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 514 72.7"><defs/><path d="M397 13.4l-4 3.8-4.4-3.8h-9.3l-5.1 6-6-6v39.8h11.9V25.8h5.3l1.6 2.9v24.5h11.8l-1.2-1.4 1.3 1.4V28.7l1.8-2.9h3.6l1.6 2.9v24.5H418V22.5l-9.3-9H397zM128 14h-8.5l-6 5.7-6-5.7v53h12V53.3l-.2-.2.2.2h17l10.5-9.1V24.9l-10.5-11h-8.4zm8.2 23.3l-4.3 4h-12.4V26H132l4.3 4.7v6.7zm96.3.9V27.8h12.7V16h-12.7l-6-6.6-6.2-5.8v40.6l12 8.9h15V41.4h-9.8l-5-3.3zm-31.4-23.5h-17.2l-10.6 8.9v18.9l10.6 10.7H201l6.1-5.6 6 5.6V26.4l-6-5.7zm0 26.8h-12.5l-4.4-4.6v-6.6l4.4-4H201v15.2zm141-27l-6 6.2-6-6.2v38.7h12v-27h12.6l7.5 7.7V20.6l-7.8-6.2-12.2.1zM253.4 10v43.3h12.1V38.8h12.7V27.1h-12.7V16.7l5-4h9.8V1h-15l-12 9zm-93.7-2.3l-6-6.6v52.1h12.1v-39l-6-6.5zm135.5 6.9l-11 9v19l11 10.7h18L324 42.4v-19l-11-9h-18zm17.6 22.3l-4.5 4.6h-8.3l-4.5-4.6v-6.6l4.5-4h8.3l4.5 4v6.6zM436.4.8L425.2 11v31.2l11.2 10.4h18.2l11.2-10.4V11.1L454.6.8h-18.2zm17.8 26v9.6l-4.2 6h-9l-4.2-6V17l4.3-6h8.8l4.3 6v9.6zm49.9-4.9l-.4-.3.1.3h-.2l.1-.3h-15.6l-3.2-3v-4l3.2-3.5h10l6.3 5.4 9.6-5.3L502.7.8h-18.1l-11.3 10.4V24l10.3 7.8H498.2l4.2 3v4l-4.3 3.6h-8.9l-6.3-5.5-9.6 5.4 11.3 10.4h18.2L514 42.3V29.5l-9.9-7.6z"/><path fill="#3cd52e" d="M14.2 0h7.3L10 11.7 14.2 0z"/><path fill="#d70036" d="M6 30.8L0 20h5.9z"/><path fill="#ea1d76" d="M5.9 20H18L6 30.8 6 20z"/><path fill="#ff8300" d="M17.6 40.3L18 20 6 30.8l11.6 9.5z"/><path fill="#ffce00" d="M32 30.2L17.5 40.3 18 20l14 10.2z"/><path fill="#3cd52e" d="M41 16.9L18 20l14 10.2L41 17z"/><path fill="#d70036" d="M35.7 0l-9.3 11.4L41 17 35.7 0z"/><path fill="#3e8ede" d="M57.5 0H35.8L41 16.9 57.6 0z"/><path fill="#ea1d76" d="M18 20l23-3.2-14.6-5.4L18 20z"/><path fill="#1d4f90" d="M61.7 16.9H41L57.6 0l4 16.9z"/><path fill="#47a141" d="M51.3 35.6L32 30.2 41 17l10.3 18.7z"/><path fill="#005744" d="M61.7 16.9L51.3 35.5 41 16.8h20.7z"/><path fill="#47a141" d="M69 30.2l-17.7 5.4 10.4-18.8 7.2 13.4z"/><path fill="#3cd52e" d="M65.7 41.2l-14.4-5.6L69 30.2l-3.2 11z"/><path fill="#3e8ede" d="M57.5 0l16 13-11.8 3.8L57.6 0z"/><path fill="#00953a" d="M61.7 16.9L73.5 13 69 30.2 61.7 17z"/><path fill="#005744" d="M69 30.2l16.2 3-19.5 8 3.2-11z"/><path fill="none" d="M69 30.2l4.5-17.1-4.6 17.1z"/><path fill="#47a141" d="M85.2 33.3l.2 15.4-19.7-7.5 19.5-8z"/><path fill="#1d4f90" d="M65.7 41.2l19.7 7.5-14.9 2.5-4.8-10z"/><path fill="#3cd52e" d="M85.4 48.7l-7.6 16.9-7.2-14.4 14.8-2.5z"/><path fill="#3e8ede" d="M70.5 51.2l7.3 14.4-11-6.2 3.8-8.2z"/><path fill="#1d4f90" d="M77.8 65.6l-11 7.1V59.4l11 6.2z"/><path fill="#3e8ede" d="M66.8 59.5v13.2l-5.4-8.6 5.4-4.6z"/><path fill="#1d4f90" d="M66.9 72.7H52.3l9.1-8.6 5.5 8.6z"/><path fill="#d70036" d="M61.4 64.1l-9 8.6 1.5-8.6h7.5z"/><path fill="#ea1d76" d="M54 64.1l-1.7 8.6-7-8.6H54z"/><path fill="#d70036" d="M54 64.1h-8.7l5.1-6 3.5 6z"/><path fill="#ff8300" d="M45.3 64.1V52.8l5.1 5.3-5 6z"/><path fill="#3cd52e" d="M73.5 13l11.7 20.3-16.3-3L73.5 13z"/><path fill="#47a141" d="M54 53.1l-1.2-5.8 8.6 4-7.5 1.8z"/><path fill="#3cd52e" d="M45.3 52.8l8.6.3-1.1-5.8-7.5 5.5z"/><path fill="#ffce00" d="M50.4 58.1l3.5-5-8.6-.3 5.1 5.3z"/><path fill="#47a141" d="M20 7.5l6.4 4-.3-7.8-6 3.8z"/><path fill="#3cd52e" d="M20 7.5l6.1-3.8L21.5 0 20 7.5z"/><path fill="#00953a" d="M10 11.7L21.5 0 20 7.5l-10 4.2z"/><path fill="#005744" d="M26.4 11.4L20 7.5l-3 4h9.4z"/><path fill="#47a141" d="M10 11.7l10-4.2-3 4-7 .1z"/><path fill="#ff8300" d="M5.9 20l11.2-8.4 1 8.4H5.8z"/><path fill="#d70036" d="M17 11.6l1 8.4 8.4-8.6-9.3.2z"/><path fill="#ffce00" d="M5.9 20l4-8.3 7.2-.1L5.9 20z"/><path fill="#47a141" d="M33.1 40.3l-3.5 6h10.1l-6.6-6z"/><path fill="#3cd52e" d="M25.6 40.3l4 6 3.5-6h-7.5z"/><path fill="#005744" d="M32 30.2l1.1 10 18.2-4.6L32 30.2z"/><path fill="#00953a" d="M39.7 46.3l11.6-10.7-18.2 4.7 6.6 6z"/></svg>
          </a>
        </li>

        <li>
          <a href="/">Docs</a>
        </li>
      </ul>

      <div class="header__actions">
        <nav class="nav-header">
          <ul>
            <li>
              <a href="/how-platformos-works" class="{% if cp contains '/how-platformos-works' %}active{% endif %}">How platformOS Works</a>
            </li>

            <li>
              <a href="/get-started" class="{% if cp contains '/get-started' %}active{% endif %}">Get Started</a>
            </li>

            <li>
              <a href="/tutorials" class="{% if cp contains '/tutorials' %}active{% endif %}">Tutorials</a>
            </li>

            <li>
              <a href="/api-reference" class="{% if cp contains '/api-reference' %}active{% endif %}">API Reference</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
