{% if context.exports.category.name %}
  {%- assign current_path = context.headers.REQUEST_URI -%}
  {%- capture nav_links_path %}shared/nav/{{ context.exports.category.slug }}{% endcapture %}

  <nav>
    <ul class="text-sm list-none">
      {%- include nav_links_path, cp: current_path -%}
    </ul>
  </nav>
{% endif %}