<p>
  <a href="{{ 'images/use-cases/e-commerce/data-model.png' | asset_url }}" target="_blank">
    <img src="{{ 'images/use-cases/e-commerce/data-model.png' | asset_url }}" alt="Data model graph">
  </a>
</p>
