{% if context.exports.category.name %}

{%- capture nav_links_path %}shared/nav/links/{{ context.exports.category.slug }}{% endcapture %}

<nav class="nav-sidebar">
  <ul>
    {%- include nav_links_path -%}
  </ul>
</nav>

{% endif %}