---
converter: markdown
metadata:
  title: Using a Static AMP Template
  description: This guide will help you use a static template (downloaded from the Internet as a zip file) on your platformOS site.
---

This guide will help you use a static template (downloaded from the Internet as a zip file) on your platformOS site.
The template featured in this tutorial is an [Accelerated Mobile Page (AMP)](https://amp.dev/about/how-amp-works), so this tutorial can be used as the first step to building AMP pages on platformOS.

## Requirements
This is an advanced tutorial. To follow it, you should be familiar with basic platformOS concepts, technologies, and the topics in the Get Started section, especially pages, layouts, and assets.

* [Pages](/developer-guide/pages/pages)
* [Layouts](/developer-guide/pages/layouts)
* [Assets](/developer-guide/assets/assets)

## Steps

Using a static theme is a three-step process:

<div data-autosteps></div>

### Step 1: Download template
Download an AMP template from the Internet, e.g. from [AMP Start](https://www.ampstart.com/templates). This tutorial refers to the [Blog Template](https://www.ampstart.com/archive/blog.zip).

Unzip the template. Template files are organized into directories: `css` (page style), `img` (all images), and `template` (HTML AMP template).

### Step 2: Put downloaded template into codebase
Copy all of the downloaded and unzipped directories and files into your `assets` directory, for example:

<pre class="command-line" data-user="user" data-host="host"><code class="language-bash">
cp -r ~/Downloads/blog/* app/assets
</code></pre>

{% include 'alert/note', content: 'Consider compressing images. Images in templates are rarely optimized, so by optimizing them, you can accelerate your pages even more.' %}

### Step 3: Sync and check
Sync or deploy your Instance. Use the `asset_url` filter to list them and check that the files have been uploaded to our CDN.

Copy the URL of a file on the CDN and paste it into your browser to check it's there and working. If you load the HTML file from the CDN, the (AMP) page is displayed.

## Next steps

Congratulations! You can now use a static theme on your platformOS Instance. To fully adapt it to platformOS, convert the HTML to pages, layouts, and partials:

* [Converting AMP HTML Pages to Layouts and Pages](/best-practices/amp/converting-amp-html-layouts-pages)
