/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	appearance: none;

	&--block {
		display: block;
		padding-left: 0;
		padding-right: 0;
	}

	&-primary {
		background-color: #2173C4; 
		text-transform: uppercase; 
		font-weight: 500; 
	}

	&-md {
		font-size: 12px; 
		padding: 10px 15px 9px; 
		text-transform: uppercase; 
	}

	&-outline-primary {
		font-weight: 500; 
		color: #2173C4; 
		border-color: #2173C4;
	}
}
