/* ------------------------------------------------------------ *\
	Code
\* ------------------------------------------------------------ */

.code {
	.code__title {
		margin-bottom: 25px; 

		span {
			display: inline-block; 
			font-weight: 500; 
			color: #0077AA; 
			background-color: #ebebeb; 
			padding: 0 3px; 
			letter-spacing: .03em; 
		}
	}

	.code__block {
		background-color: #F4F7F9; 
		border-radius: 2px;
		overflow-style: scrollbar; 
	}
}