/* ------------------------------------------------------------ *\
	Component
\* ------------------------------------------------------------ */

.component {
	font-size: 16px; 
	letter-spacing: .01em; 
	line-height: 1.55; 

	a {
		color: #2173C4; 
	}

	& + .component {
		margin-top: 40px; 
	}

	h2 {
		margin-bottom: 27px;
		color: #141414;  
	}

	h3 {
		margin-bottom: 40px; 
		color: #141414; 

		&.margin-bottom-md {
			margin-bottom: 26px; 
		}
	}

	h4 {
		margin-bottom: 18px; 
		color: #141414; 
	}

	.row {
		& + .row {
			padding-top: 26px; 
		}
	}

	.component__video {
		padding: 18px 0 10px; 
	}

	.component__meta {
		letter-spacing: .04em; 
		margin-bottom: 20px; 
		font-size: 14px; 

		ul {
			padding-left: 13px; 
			display: flex; 

			li {
				margin-right: 6px; 

				& + li {
					margin-left: 8px; 
					margin-right: 0; 
				}
			}
		}
	}
}