/* ------------------------------------------------------------ *\
	Content
\* ------------------------------------------------------------ */

.content {

	.content__aside {
		background-color: #F4F7F9; 
		margin-left: 32px; 
		margin-top: 18px; 
		padding: 34px 18px 30px; 

		h4 {
			letter-spacing: .02em; 
			margin-bottom: 21px; 
		}

		ul {
			list-style-type: none; 
			padding-left: 3px; 

			a {
				text-decoration: none; 
				transition: color .2s;

				&:hover {
					color: #2173C4; 
				}
			}

			li {
				& + li {
					margin-top: 11px; 
				}
			}
		}
	}

	.content__main {
		padding-left: 36px; 
		padding-bottom: 50px; 
	}
}
