/* ------------------------------------------------------------ *\
	Copyright
\* ------------------------------------------------------------ */

.copyright {
	border-top: 1px solid #EBEBEB; 
	padding: 16px 4px 20px 9px ; 
	letter-spacing: .04em; 

	.credits {
		letter-spacing: -.04em; 
	}

	a {
		text-decoration: none; 
	}

	ul {
		list-style-type: none; 
		display: flex; 
		font-size: 12px; 

		li {
			& + li {
				&:before {
					content: '|'; 
					display: inline-block; 
					margin: 0 11px 0 14px; 
				}
			}
		}
	}
}