/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer {
  margin-top: -173px;
  padding: 125px 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;

  .footer-logo {
    margin-top: 11px;
    margin-left: 8px;
  }

  .footer__actions {
    padding-bottom: 45px;
  }
}
