/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.ico-search {
  width: 23px;
  height: 23px;

  &.ico-sm {
    width: 14px;
    height: 14px;
  }
}

.ico-lamp {
  width: 15px;
  height: 17px;
}

.ico-success {
  width: 16px;
  height: 16px;
}

.ico-info {
  width: 16px;
  height: 16px;
}

.ico-warning {
  width: 16px;
  height: 14px;
}

.ico-alert {
  width: 16px;
  height: 16px;
}

.bad,
.neutral,
.good {
  width: 60px;
  height: 60px;
}

.github {
  width: 30px;
  height: 29px;
}
