/* ------------------------------------------------------------ *\
	Option
\* ------------------------------------------------------------ */

.options {
	.row {
		margin: 0 -8px; 
	}

	[class^="col"] {
		padding: 0 8px; 
		margin-top: 49px; 
	}
	.option {
		border: 1px solid #EBEBEB;
		padding: 41px 10px 61px; 
		display: flex; 
		height: 100%; 

		&.border-radius {
			border-radius: 4px;
		}

		.option__image {
			flex: 0 0 87px;
			text-align: center; 
		}

		.option__content {
			h4 {
				margin-bottom: 17px; 

				a {
					text-decoration: none; 
					color: #141414; 
				}
			}
		}
	}
}