/* ------------------------------------------------------------ *\
	Section Options
\* ------------------------------------------------------------ */

.section-options {
  padding: 13px 0 30px;
}

/* ------------------------------------------------------------ *\
	Section Links
\* ------------------------------------------------------------ */

.section-links {
  padding: 35px 0 116px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.02em;

  [class^='col'] {
    padding: 0 80px;
    & + [class^='col'] {
      &:before {
        content: '';
        position: absolute;
        left: 0;
        width: 1px;
        top: 10px;
        bottom: 10px;
        background-color: rgba(74, 74, 74, 0.15);
      }
    }
  }

  h3 {
    margin-bottom: 20px;
    color: #141414;
  }

  .section__link {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: #2173c4;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.04em;
    margin-top: 23px;
  }
}

/* ------------------------------------------------------------ *\
	Section Search
\* ------------------------------------------------------------ */

.section-search {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
