/* ------------------------------------------------------------ *\
	Sidebar
\* ------------------------------------------------------------ */

.sidebar {
	background-color: #F4F7F9; 
	position: relative; 
	z-index: 2; 
	margin-right: -15px; 
	padding-top: 73px; 
	padding-right: 30px; 
	padding-left: 44px; 
	height: 100%; 
	border-right: 1px solid #ebebeb;

	&:before {
		content: ''; 
		position: absolute; 
		top: 0; 
		right: 0; 
		bottom: 0; 
		width: 50vw; 
		background-color: inherit; 
		z-index: -1; 
	}

	.sidebar__title {
		position: relative; 
		border-bottom: 1px solid #ebebeb; 
		margin-bottom: 15px; 

		i {
			position: absolute; 
			top: -1px; 
			left: -42px; 
		}

		h4 {
			letter-spacing: .03em; 
			margin-bottom: 18px; 

		}
	}
}
