---
converter: markdown
metadata:
  title: Translation set and translation unset, fixes and improvements 
  description: April 11, 2022
  skip_contribute_button: true
  last_edit: false
slug: release-notes/11-APR-2022
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* Translation set and translation unset

<h4 class="release-note release-note__fixed">FIXED</h4>

* Fixes for `record_update_all`
* Strip white spaces from `redirect_to`

<h4 class="release-note release-note__improved">IMPROVED</h4>

* Accept price options as strings