---
metadata:
  title: Get Started
  description: Follow these step-by-step tutorials, and learn to set up, configure, and build your platformOS site.
slug: get-started
searchable: true
converter: ''
---

<p>Welcome to the "Hello World" of platformOS!</p>

<p>These step-by-step tutorials will get you set up and ready to develop your site on platformOS. After you get access to the Partner Portal, following and finishing the tutorials in this section should take less than half an hour.</p>

<p>Each step includes tips for learning more: recommendations for further reading, links to our glossary and to in-depth explanations of concepts you might not be familiar with.</p>

{% comment %}
<div class="container">
  <div class="row">
    <a href="/get-started/quickstart-guide" class="content__box col-12 mw-100">
      <div class="row">
        <div class="col">
          <h4>Quickstart Guide</h4>
          <p>This guide will get you set up and ready to develop your site on platformOS. After you get access to the Partner Portal, following and finishing the steps in this guide should take less than half an hour.
            <br/>Each step includes tips for learning more: recommendations for further reading, links to our glossary and to in-depth explanations of concepts you might not be familiar with.
          </p>
        </div>
      </div>
    </a>
  </div>

  <div class="row">
    <a href="/get-started/accessing-partner-portal" class="content__box">
      <div class="row">
        <div class="col">
          <h4>Setup</h4>
          <p>Get access to the Partner Portal, install necessary components, and deploy the first changes to your site.</p>
        </div>
      </div>
    </a>

    <a href="/tutorials/pages/pages" class="content__box">
      <div class="row">
        <div class="col">
          <h4>Pages</h4>
          <p>Create and use pages, layouts, and static assets.</p>
        </div>
      </div>
    </a>

    <a href="/tutorials/users/users" class="content__box">
      <div class="row">
        <div class="col">
          <h4>Users</h4>
          <p>Create and use User Profiles, sign-up forms, and user operations like sign-in, log out, or password reset.</p>
        </div>
      </div>
    </a>

    <a href="/tutorials/notifications/notifications" class="content__box">
      <div class="row">
        <div class="col">
          <h4>Notifications</h4>
          <p>Create and use email, SMS, and API call notifications.</p>
        </div>
      </div>
    </a>

    <a href="/tutorials/transactables/transactables" class="content__box">
      <div class="row">
        <div class="col">
          <h4>Transactables</h4>
          <p>Create, display, edit, and remove Transactables.</p>
        </div>
      </div>
    </a>

    <a href="/tutorials/authorization-policy/authorization-policy" class="content__box">
      <div class="row">
        <div class="col">
          <h4>Authorization Policy</h4>
          <p>Add Authorization Policies, associate them with Form Configurations and pages, and handle violated Authorization Policies.</p>
        </div>
      </div>
    </a>

    <a href="/tutorials/search/search" class="content__box">
      <div class="row">
        <div class="col">
          <h4>Search</h4>
          <p>Learn how to create a search query.</p>
        </div>
      </div>
    </a>

    <a href="/tutorials/customizations/building-contact-form-with-customization" class="content__box">
      <div class="row">
        <div class="col">
          <h4>Customizations</h4>
          <p>Understand the process of building a contact form backed up with Customization.</p>
        </div>
      </div>
    </a>

    <a href="/tutorials/partner-portal/inviting-new-user-to-partner-portal" class="content__box col-12 mw-100">
      <div class="row">
        <div class="col">
          <h4>Partner Portal</h4>
          <p>Learn how to use all features of the Partner Portal.</p>
        </div>
      </div>
    </a>

  </div>
</div>
{% endcomment %}
