---
slug: help
metadata:
  title: "Need Help?"
  hide_sidebar: true
  exclude_feedback: true
---
<section class='help'>
  <div class="row">
    <div class="col-12">
      <form action="/search" class="search-form" method="get" role="search">
        <label>
          <span class="screen-reader-text hidden">Search for:</span>
          <input type="search" name="query" value="{{ context.params.query }}"class="search__field">
        </label>
        <button type="submit" value="Search" class="search__btn">
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 col-md-6 col-lg-3">
      <a class='btn help-btn' href="/get-started/quickstart-guide">How can I install platformOS?</a>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <a class='btn help-btn' href="/how-platformos-works/technologies">What do I need to get started?</a>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <a class='btn help-btn' href="/get-started/accessing-partner-portal">How can I become a Partner?</a>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <a class='btn help-btn' href="/community/how-to-contribute">How can I contribute?</a>
    </div>
  </div>
</section>
<div class="row mt-5 mb-5">
  <div class="col-12 col-lg-5 offset-lg-1">
    <a class='btn info-btn' href="/contact">
      <h3>Send Us a Message</h3>
      <span>Haven't found the answer you were looking for? Send us a message and we will help you.
    </a>
  </div>
  <div class="col-12 col-lg-5">
    <a class='btn info-btn' href="https://slack.com">
      <h3>
        Join Us on Slack
      </h3>
      <span>Our Partners are welocome to join our Slack channel. Hang out with our developers, and be the first to learn about new features, fixes, and best practices.</span>
    </a>
  </div>
</div>
