---
slug: /
searchable: false
converter: ''
layout_name: empty
dynamic_cache:
  expire: 600
  layout: true
---
<!DOCTYPE html>
<html lang="en">
{% include 'layouts/head' %}

<body>
	<div class="wrapper">
    {% include 'layouts/header' %}

		<div class="main">
			<div class="intro" style="background-image: url({{ 'images/svg/background.svg' | asset_url }});">
				<div class="container">
					<div class="row">
						<div class="col-md-8 offset-md-2">
							<div class="intro__content">
								<h1>Documentation</h1>

								<p>Examples, tutorials, and APIs to help you start building on platformOS</p>

								<div class="form-search">
									<form action="/search" method="get">
										<label class="form__controls" for="query">
                      <span class="screen-reader-text">Search in documentation</span>
											<input type="text" name="query" id="query" class="form-control" placeholder="Search documentation…" />

											<button class="form-btn">
                        <span class="screen-reader-text">Search</span>
                        <svg width="32" height="32"><use xlink:href="#search"></use></svg>
											</button>
										</label>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="section-options">
				<div class="container">
					<div class="options">
						<div class="row justify-content-center">
							<div class="col-md-4">
								<a href="/how-platformos-works" class="option">
									<div class="option__image">
										{% include 'svg/how-platformos-works', width: '48px' %}
									</div>

									<div class="option__content">
										<h4>How PlatformOS Works</h4>
										<p>Get familiar with the key concepts behind platformOS, learn about how it works, and what it can do for your project.</p>
									</div>
								</a>
							</div>

							<div class="col-md-4">
								<a href="/get-started" class="option">
									<div class="option__image">
										{% include 'svg/get-started', width: '48px' %}
									</div>

									<div class="option__content">
										<h4> Get Started </h4>
										<p> The "Hello World" of platformOS. Follow step-by-step tutorials to set up your environment and deploy your first site. </p>
									</div>
                </a>
              </div>

							<div class="col-md-4">
								<a href="/tutorials" class="option">
									<div class="option__image">
										{% include 'svg/tutorials', width: '48px' %}
									</div>

									<div class="option__content">
										<h4> Tutorials </h4>
										<p>Learn how to implement a wide variety of features by following these step-by-step tutorials.</p>
									</div>
								</a>
							</div>

							<div class="col-md-4">
								<a href="/api-reference" class="option">
									<div class="option__image">
										{% include 'svg/api-reference', width: '48px' %}
									</div>

									<div class="option__content">
										<h4>API Reference</h4>
										<p>Consult our comprehensive documentation for the platformOS API including GraphQL API reference, and Liquid filters.</p>
									</div>
								</a>
							</div>

							<div class="col-md-4">
								<a href="/use-cases" class="option">
									<div class="option__image">
										{% include 'svg/use-cases', width: '48px' %}
									</div>

									<div class="option__content">
										<h4>Use Cases</h4>
										<p>Explore how to implement real-life use cases.</p>
									</div>
								</a>
							</div>

							<div class="col-md-4">
								<a href="/community/how-to-contribute" class="option">
									<div class="option__image">
										{% include 'svg/contributor-guide', width: '48px' %}
									</div>

									<div class="option__content">
										<h4>Contributor Guide</h4>
										<p>We value your feedback, and appreciate any improvement suggestions or extensions.</p>
									</div>
                </a>
              </div>

						</div>
					</div>
				</div>
			</div>

			<div class="section-links">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-md-6">
							<h3>Roadmap</h3>
							<p>This section contains information about features we are implementing or planning to implement.</p>

							<a href="/roadmap" class="section__link">
								find out roadmap
                <svg width="10" height="11"><use xlink:href="#arrow-right"></use></svg>
							</a>
						</div>

						<div class="col-md-6">
							<h3>Latest Release Notes</h3>
							<p>Our release notes tell you about new features, improvements, and fixes in platformOS.</p>

							<a href="/release-notes" class="section__link">
								find out new release notes
                <svg width="10" height="11"><use xlink:href="#arrow-right"></use></svg>
							</a>
						</div>
					</div>
				</div>
			</div>

    {% include 'layouts/questions' %}
    {% include 'layouts/footer' %}
	</div>
  {% include 'svg/icons/sprite' %}
</body>
</html>
