---
slug: /
searchable: false
converter: ''
layout_name: empty
static_cache:
  expire: 0
---
<!DOCTYPE html>
<html lang="en">
  {% include 'layouts/home/head' %}
<body>
	<div class="wrapper">
    {% include 'layouts/home/header' %}

		<div class="main">
			<div class="intro" style="background-image: url({{ 'images/layout/background@2x.png' | asset_url }});">
				<div class="container">
					<div class="row">
						<div class="col-md-8 offset-md-2">
							<div class="intro__content">
								<h1>Documentation</h1>

								<p>Examples, tutorials, and APIs to help you start building on platformOS</p>

								<div class="form-search">
									<form action="/search" method="get">
										<div class="form__controls">
											<input type="text" name="search" class="form-control" placeholder="Search documentation…" />

											<button class="form-btn">
												{% include 'svg/search', width: '32px' %}
											</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="section-options">
				<div class="container">
					<div class="options">
						<div class="row justify-content-center">
							<div class="col-md-4">
								<a href="/how-platformos-works" class="option border-radius">
									<div class="option__image">
										{% include 'svg/how-platformos-work', width: '48px' %}
									</div>

									<div class="option__content">
										<h4>How PlatformOS Works</h4>
										<p>Get familiar with the key concepts behind platformOS, learn about how it works, and what it can do for your project.</p>
									</div>
								</a>
							</div>

							<div class="col-md-4">
								<a href="/get-started" class="option border-radius">
									<div class="option__image">
										{% include 'svg/get-started', width: '48px' %}
									</div>

									<div class="option__content">
										<h4> Get Started </h4>
										<p> The "Hello World" of platformOS. Follow step-by-step tutorials to set up your environment and deploy your first site. </p>
									</div>
                </a>
              </div>

							<div class="col-md-4">
								<a href="/tutorials" class="option">
									<div class="option__image">
										{% include 'svg/tutorials', width: '48px' %}
									</div>

									<div class="option__content">
										<h4> Tutorials </h4>
										<p>Learn how to implement a wide variety of features by following these step-by-step tutorials.</p>
									</div>
								</a>
							</div>

							<div class="col-md-4">
								<a href="/apis" class="option">
									<div class="option__image">
										{% include 'svg/apis', width: '48px' %}
									</div>

									<div class="option__content">
										<h4>APIs</h4>
										<p>Consult our comprehensive documentation for the platformOS API including GraphQL API reference, and Liquid filters.</p>
									</div>
								</a>
							</div>

							<div class="col-md-4">
								<a href="/use-cases" class="option">
									<div class="option__image">
										{% include 'svg/use-cases', width: '48px' %}
									</div>

									<div class="option__content">
										<h4>Use Cases</h4>
										<p>Explore how to implement real-life use cases.</p>
									</div>
								</a>
							</div>

							<div class="col-md-4">
								<a href="/contributor-guide" class="option">
									<div class="option__image">
										{% include 'svg/contributor-guide', width: '48px' %}
									</div>

									<div class="option__content">
										<h4>Contributor Guide</h4>
										<p>We value your feedback, and appreciate any improvement suggestions or extensions.</p>
									</div>
                </a>
              </div>

						</div>
					</div>
				</div>
			</div>

			<div class="section-links">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-md-6">
							<h3>Roadmap</h3>
							<p>This section contains information about features we are implementing or planning to implement.</p>

							<a href="/roadmap" class="section__link">
								find out roadmap
                {% include 'svg/arrow-right', height: '11px' %}
							</a>
						</div>

						<div class="col-md-6">
							<h3>Latest Release Notes</h3>
							<p>Our release notes tell you about new features, improvements, and fixes in platformOS.</p>

							<a href="/release-notes" class="section__link">
								find out new release notes
                {% include 'svg/arrow-right', height: '11px' %}
							</a>
						</div>
					</div>
				</div>
			</div>

    {% include 'layouts/home/callout' %}


    {% include 'layouts/home/footer' %}
	</div>
</body>
</html>
