---
converter: markdown
metadata:
  title: How platformOS Works
  description: Get familiar with the key concepts behind platformOS, learn about how it works, and what it can do for your project.
slug: how-platformos-works
searchable: true
converter: ''
---

<p>The topics in this section provide essential background information on the basic concepts behind platformOS, the workflow and tools you need, and the technologies you should be familiar with.</p>

{% include "alert/concept", content: "<a href='/how-platformos-works/about-platform-os'>About platformOS</a>: Explore what platformOS is, who it is for, and what benefits it brings to your project." %}
{% include "alert/concept", content: "<a href='/how-platformos-works/platformos-workflow/setup'>platformOS Workflow</a>: Learn about the workflow, the tools you'll need, and the directories and files in your codebase. " %}
{% include 'alert/concept', content: '<a href="/how-platformos-works/technologies">Technologies</a>: Besides standard web technologies like HTML, CSS, and JavaScript, platformOS uses a couple of languages that you need to be familiar with to build a site on our platform.' %}
{% include 'alert/concept', content: '<a href="/how-platformos-works/glossary">Glossary</a>: A collection of platformOS-specific terms with links to learn more.' %}
