---
converter: markdown
metadata:
  title: How platformOS Works
  description: Get familiar with the key concepts behind platformOS, learn about how it works, and what it can do for your project.
slug: how-platformos-works
searchable: true
converter: ''
---

<p>The topics in this section provide essential background information on the basic concepts behind platformOS, the workflow and tools you need, and the technologies you should be familiar with.</p> 

{% include "alert/concept", content: "<a href='/how-platformos-works/about-platformos'>About platformOS</a>: Explore what platformOS is, who it is for, and what benefits it brings to your project." %}
{% include "alert/concept", content: "<a href='/how-platformos-works/platformos-workflow'>platformOS Workflow</a>: Learn about the workflow and tools you'll need for developing a site on platformOS." %}
{% include 'alert/concept', content: '<a href="/how-platformos-works/technologies">Technologies</a>: Besides standard web technologies like HTML, CSS, and JavaScript, platformOS uses a couple of languages that you need to be familiar with to build a site on our platform.' %}
{% include 'alert/concept', content: '<a href="/how-platformos-works/basic-building-blocks">Basic Building Blocks</a>: Detailed descriptions of different building blocks of a platformOS site, like pages, layouts, partials, authorization, forms, models, and user management.' %}
{% include 'alert/concept', content: '<a href="/how-platformos-works/platformos-workflow">Glossary</a>: A collection of platformOS-specific terms with links to learn more.' %}

