---
name: create_contact_request_form
resource: Customization
resource_owner: anyone
configuration:
  properties:
    name:
      validation: { presence: true }
    email:
      validation: { presence: true }
    message:
      validation: { presence: true }
    topic:
      validation:
        presence: true
        inclusion:
          in:
            - Documentation
            - Community
            - Product
            - Pricing
    company:
      validation: { presence: true }
email_notifications:
  - new_contact_request
flash_notice: Thank you for your request. We will contact you shortly.
---
  {% form html-class: 'contact-form' %}
    {% fields_for properties %}
        {% include 'forms/shared/errors-notification' %}

        <div class="row mb-3">
          <div class="col-6">
            {% include 'forms/inputs/text', field_name: 'email', form_name: 'properties', placeholder: 'Email', label: false %}
          </div>

          <div class="col-6">
            {% include 'forms/inputs/text', field_name: 'name', form_name: 'properties', placeholder: 'Name', label: false %}
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-6">
            {% assign topics = '-- Select Topic --|Documentation|Community|Product|Pricing' | split: "|" %}
            {% include 'forms/inputs/select2', field_name: 'topic', form_name: 'properties', input_collection: topics, label: false, placeholder: "Please Select" %}
          </div>

          <div class="col-6">
            {% include 'forms/inputs/text', field_name: 'company', form_name: 'properties', placeholder: "Company", label: false %}
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-12">
            {% include 'forms/inputs/text', type: 'text', field_name: 'message', form_name: 'properties' %}
          </div>
        </div>
    {% endfields_for %}

    <button class="btn btn-primary float-right">Send</button>
  {% endform %}

