---
converter: markdown
metadata:
  title:  Default Best Practices Config and remote_records improvements
  description: November 28, 2023
  skip_contribute_button: true
  last_edit: false
slug: release-notes/28-NOV-23
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__improved">IMPROVED</h4>

* Default best practices <i>CONFIG</i> for new Instances
* Report specific error messges for <i>Remote Records</i>

