<p>
  To play with live example create developer account at
  <a href="https://nearme-example.staging-oregon.near-me.com" target="_blank">https://nearme-example.staging-oregon.near-me.com</a> and go to
  <a href="https://nearme-example.staging-oregon.near-me.com/update_profile" target="_blank">update_profile</a> page.
</p>

<p>
  <a href="https://github.com/mdyd-dev/marketplace-nearme-example" target="_blank">Source code</a> can be found at GitHub.
</p>
