---
converter: markdown
metadata:
  title: Creating an Email Notification
  description: This guide will help you create an email notification to send a welcome email to a newly signed up user.
slug: get-started/notifications/creating-email-notification
searchable: true
---

This guide will help you create an email notification to send a welcome email to a newly signed up user.

## Requirements
To follow the steps in this tutorial, you should understand the concept of notifications. You'll also use the sign up form you created in a previous tutorial.

* [Notifications](/get-started/notifications/notifications)
* [Creating a Sign Up Form](/get-started/users/creating-sign-up-form)

## Steps

Creating an email notification is a two-step process:

1. Create email notification
2. Add notification to sign up form

### Step 1: Create email notification
Create the notification file `notifications/email_notifications/welcome_user.liquid`:


```liquid
{% raw %}
---
name: welcome_user
to: '{{ form.email }}'
delay: 0
enabled: true
trigger_condition: true
from: 'Example Marketplace <info@example.com>'
reply_to: no-reply@example.com
cc:
bcc:
subject: 'Welcome {{ form.first_name }} in our marketplace!'
layout_path: mailer
---
<h1>Hi {{ form.first_name }}!</h1>

<p>Welcome in our marketplace!</p>
{% endraw %}
```

### Step 2: Add notification to sign up form
Edit the `form_configurations/developer/sign_up.liquid` file to associate this email with it:

```yaml
---
name: developer_sign_up
resource: User
...
email_notifications:
  - welcome_user
---
...
```

Now, when you submit the form, the newly registered user should receive the email.

Please note: if you are working on a staging environment, you also need to [configure a test email](/get-started/partner-portal/configuring-test-email), because we intercept all emails on staging to avoid spamming real users during tests.

## Next steps

Congratulations! You have created an email notification. Now you can learn about using email layouts.

* [Using Email Layouts](/get-started/notifications/using-email-layouts)

{% include 'shared/questions_section' %}
