.content {
  ul,
  ol {
    margin-bottom: 1em;
  }

  h2,
  h3,
  h4,
  h5 {
    margin-top: 1.75em;
    &:first-child {
      margin-top: 0;
    }
  }

  img {
    max-width: 100%;
    box-shadow: 0 0 10px #ccc;
    margin: 1em 0;
  }

  pre.raw-output {
    padding: 0.5em 1em;
    background-color: #f5f2f0;
  }
}
