$lightblue: #0297f3;
$lightgrey: #adadad;

.footer {
  background: $base;
  color: $lightgrey;
  font-size: 14px;
  font-weight: 300;
  margin-top: 60px;
  padding-bottom: 1em;
}

.footer a {
  text-decoration: none;
  color: $lightgrey;
  transition: color 0.2s;
}

.footer a:hover {
  color: #fff;
}

.footer .footer__content {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 38px;

  @include media-breakpoint-up(md) {
    padding-bottom: 70px;
  }
}

.footer .footer__nav {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer .footer__nav > ul {
  width: 23%;
  margin-right: 2.65%;
}

.footer .footer__nav > ul:last-child {
  margin-right: 0;
}

.footer .footer__nav > ul > li > a {
  font-size: 16px;
  color: $lightblue;
}

.footer .footer__nav > ul > li > a:hover {
  color: #fff;
}

.footer .footer__nav li {
  margin-bottom: 11px;
}

.footer .footer__nav .sub-menu {
  margin-top: 14px;
  padding-left: 0;
}

.footer .footer__nav .sub-menu li {
  margin-bottom: 14px;
}

.footer .footer__bar a {
  text-decoration: none;
}

.footer .footer__bar a:hover {
  color: #fff;
}

.footer .footer__bar .logo {
  &,
  &:hover {
    color: $lightblue;
  }
}

.footer .footer__bar p {
  margin-bottom: 0;
  line-height: 1.7em;
}


/* ------------------------------------------------------------ *\
	Nav Footer
\* ------------------------------------------------------------ */

.nav-footer {
  a {
    text-decoration: none;
    letter-spacing: 0.03em;
    transition: color 0.2s;

    &:hover {
      color: #2173c4;
    }
  }

  li {
    & + li {
      margin-top: 5px;
    }
  }

  &--padding-left {
    padding-left: 15px;
  }
}
