.contact-form {
  input, textarea, select {
    border: 1px solid #e1e1e1;
    font-size: 14px;
    font-weight: 300;
    padding: 10px;
    width: 100%;
  }

  select {
    -webkit-appearance: none;
    background-color: white;
    border-radius: 0;
  }

  .has-danger input, .has-danger textarea, .has-danger select {
    border-color: red;
  }

  // button {
  //   color: white;
  //   background: 0 #2774bb;
  //   cursor: pointer;
  //   padding: 5px 20px;
  //   display: inline-block;
  //   letter-spacing: 1px;
  //   outline: 0;
  //   transition: all .2s;
  //   font-weight: 300;
  // }
}
