{% if form.errors != blank %}
  <div class="row">
    <div class="alert alert-warning col mt-3 mb-3">
      {{ form_error_intro }}

      <ul>
        {% for error in form.errors %}
          {% assign default_label = error[0] | split: '.' | last | titleize %}
          {% if error[0] == 'profiles.expert.custom_images' %}
            {% assign default_label = 'Profile photo' %}
          {% endif %}
          <li>{{ error[0] | t: default: default_label }} {{ error[1] }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
