<div><!--
<h1>
  Class: UserProfileForm
  
  
  
</h1>
-->

  <table>
    <thead>
      <tr>
        <th>Parameter</th>
        <th>Type</th>
        <th>Description</th>
        <th>Required</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      
        
<tr>
  <td>
    custom_addresses
  </td>
  <td>
    CustomAddressesForm
  </td>
  <td>
    Custom addresses for this resource
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        
<tr>
  <td>
    custom_attachments
  </td>
  <td>
    CustomAttachmentsForm
  </td>
  <td>
    Custom attachments for this resource, such as pdf, doc
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        
<tr>
  <td>
    custom_images
  </td>
  <td>
    CustomImagesForm
  </td>
  <td>
    Custom images for this resource
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        
<tr>
  <td>
    customizations
  </td>
  <td>
    CustomizationsForm
  </td>
  <td>
    Customizations for this resource
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        
<tr>
  <td>
    id
  </td>
  <td>
    Integer
  </td>
  <td>
    
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
    </tbody>
  </table>

</div>
