---
converter: markdown
metadata:
  title: Renaming files, pos-cli clean
  description: April 6, 2020
  skip_contribute_button: true
  last_edit: false
slug: release-notes/06-APRIL-2020
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__improved">IMPROVED</h4>

* Moving / renaming names - improved mechanism of detecting which resource to update when either the physical file path or the `name` property changes to avoid creating duplicates and raise validation uniqueness errors. For example, when you move a file from:
    - `modules/my_modules/public/form_configurations/my_form.liquid` to `modules/my_modules/private/forms/my_form.liquid`, we will recognize this is the same file (`public` changed to `private` and `form_configurations` changed to `forms`), even if the `name` property changes within the file
    - `modules/my_modules/private/forms/my_form.liquid` to `modules/my_modules/private/forms/some_dir/my_form.liquid`, we will recognize this is the same file (moved the file into a new directory `some_dir`), but only if the `name` property will not change

Additionally, we will also correctly recognize the file if you change the `name` property without changing the file's location. However, it is allowed to update the deprecated directory name to the new one, as well as to move file from public to private and vice versa - as described in the first example.

<h4 class="release-note release-note__fixed">FIXED</h4>

* Fixed edge case scenario of creating a User Profile via GraphQL mutation, then exporting the data and trying to import it, which was causing a 500 error
