---
converter: markdown
metadata:
  title: Improved authorization scheme, fixes
  description: April 13, 2020
  skip_contribute_button: true
  last_edit: false
slug: release-notes/13-APRIL-2020
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__improved">IMPROVED</h4>

* Update error message when rendering a form with invalid configuration.
* Improved authorization scheme (for `pos-cli`) based on OAuth tokens - generated tokens will be scoped to one Instance. The old scheme is kept for backwards compatibility.

<h4 class="release-note release-note__fixed">FIXED</h4>

* The `admin_model_schema_update` will properly update `properties` instead of trying to re-create them.
