---
converter: markdown
metadata:
  title: Deprecate asset_path, fixes
  description: April 27, 2020
  skip_contribute_button: true
  last_edit: false
slug: release-notes/27-APRIL-2020
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* Officially deprecate the `asset_path` filter in favor of `asset_url`

<h4 class="release-note release-note__fixed">FIXED</h4>

* `model_update_all` mutation will now update deleted data as well
* use support email in Partner Portal in notifications about failed module deployment
