---
converter: ''
---
{% for item in data %}
  {% assign name = item.name %}
  {% assign description = item.description %}

  <h2>{{ item.name }}</h2>

  {% if description %}
    <p>{{ description | nl2br }}</p>
  {% endif %}
{% endfor %}