---
layout: empty
metadata:
  title: Page not found
  description: We're sorry, this page doesn't exist.
  feedback: false
  breadcrumbs: false
  last_edit: false
---
<!DOCTYPE html>
<html lang="en">

<head>
  {%- include 'layouts/lib/context-variables' -%}
  {% include 'layouts/head/head' %}
</head>

<body class="antialiased homepage bg-pos-page-bg">
  {% include 'layouts/header' %}

  <main class="pt-16 bg-no-repeat bg-pos-page-bg" style="background-position: 60% 0; background-size: 132%; background-image: url({{ 'images/svg/header-bg.svg' | asset_url }})">
    <div class="container">
      <div class="text-center md:px-8">
        <div class="mx-auto md:w-3/5">
          {% include 'home/search-form' %}
        </div>
      </div>

      <div class="mt-10 text-center">
        <h3>We're sorry, this page doesn't exist.</h3>

        <p>Please select a category below or search above to find what you are looking for.</p>
      </div>

      {% include 'home/section-options' %}

    </main>
  {% include 'layouts/content/callout' %}

  {% include 'layouts/footer' %}

  {%- include 'layouts/body/icons' -%}
  {%- include 'layouts/body/javascripts_bottom' -%}
</body>
</html>
