---
slug: contributors
searchable: false
metadata:
  title: Contributors
  description: Contributors
  questions: false
  contributors: false
---

{%- graphql api = 'api_call', template: 'get_all_contributors_from_github' -%}
{%- assign response = api.api_call_send.response.body | to_hash -%}
{%- assign authors = response | map: "author" -%}

<div id="contributors-page">
  <ul>
  {% for author in authors %}
    <li>
      <img src="{{author.avatar_url}}" alt="{{author.login}} avatar" width="120px" height="120px" class="contributor-avatar"/>
      <span class="contributor-name"><a href="{{author.html_url}}">{{author.login}}</a></span>
    </li>
  {% endfor %}
  </ul>
</div>