---
metadata:
  title: Get Started
  description: Follow these step-by-step tutorials to set up your development environment and deploy your first platformOS site.
slug: get-started
searchable: true
converter: markdown
layout_name: application
---

Welcome to platformOS! Our Get Started guides will walk you through the steps of setting up your development environment and building a ToDo List App on platformOS. The guides include detailed explanations for each step, example code, tips and best practices on development workflow and QA, and links to learn more. 

## Hello, World!

[Hello, World!](/get-started/hello-world/register-partner-portal) is the first part of our Get Started guide, that will teach you how to set up your development environment, create a simple site, make a small change on the home page, and deploy it. This is to make sure you have everything you need and everything works. You can stop here and start experimenting based on our documentation, or you can move on to the second part of our Get Started guides.

## Build a ToDo List App

[Build a ToDo List App](/get-started/todo-app/build-todo-list-app) is the second part of our Get Started guide that walks you through the steps of creating a ToDo List app on platformOS from setting up your development environment to deploying and testing your finished app. It explains basic concepts, main building blocks, and the logic behind platformOS, while also giving you some recommendations on workflow.


<p style="text-align: right;">
  <a href="/get-started/hello-world/register-partner-portal"><strong>Let's get started!</strong></a>
</p>


