---
converter: ''
layout_name: empty
metadata:
  title: platformOS Documentation
dynamic_cache:
  expire: 600
---
<!DOCTYPE html>
<html lang="en">

<head>
  {%- include 'layouts/lib/context-variables' -%}
  {% include 'layouts/head/head' %}
</head>

<body class="homepage">
  <div class="wrapper">
    {% include 'layouts/header' %}

    <div class="main">
      <div class="intro">
        <div class="container">
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <div class="intro__content">
                <h1>Documentation</h1>

                <p>Examples, tutorials, references, APIs, and best practices—everything you need to build future-proof applications on platformOS</p>

                {% include 'home/search-form' %}
              </div>
            </div>
          </div>
        </div>
      </div>

      {% include 'home/section-options' %}

      <div class="section-links">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-6">
              <h3>Community</h3>
              <p>Join in, grow your skills, and find people who share your interest in platformOS.</p>

              <a href="/community" class="section__link">
                join our community
                <svg width="10" height="11">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </a>
            </div>

            <div class="col-md-6">
              <h3>Get Involved</h3>
              <p>Learn about the many ways you can contribute to our documentation.</p>

              <a href="/community/contributor-guide" class="section__link">
                check out our contributor guide
                <svg width="10" height="11">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>

      {% include 'layouts/content/callout' %}
      {% include 'layouts/footer' %}
    </div>
    {%- include 'layouts/body/icons' -%}
    {%- include 'layouts/body/javascripts_bottom' -%}
</body>

</html>
