---
converter: ''
layout_name: empty
metadata:
  title: platformOS Documentation
---
<!DOCTYPE html>
<html lang="en">

<head>
  {%- include 'layouts/lib/context-variables' -%}
  {% include 'layouts/head/head' %}
</head>

<body class="homepage">
  <div class="wrapper">
    {% include 'layouts/header' %}

    <div class="main">
      <div class="intro px-6 sm:pt-16 pb-20">
        <div class="container">
          <div class="md:w-2/3 mx-auto">
            <div class="intro__content md:px-8">
              <h1>Documentation</h1>

              <p>Examples, tutorials, references, APIs, and best practices—everything you need to build future-proof applications on platformOS</p>

              {% include 'home/search-form' %}
            </div>
          </div>
        </div>
      </div>

      {% include 'home/section-options' %}

      <div class="section-links">
        <div class="container">
          <div class="md:flex md:justify-center">
            <div class="md:w-1/2 md:mx-20">
              <h3>Community</h3>
              <p>Join in, grow your skills, and find people who share your interest in platformOS.</p>

              <a href="/community" class="section__link">
                join our community
                <svg width="10" height="11">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </a>
            </div>

            <div class="md:w-1/2 md:mx-20 relative section-with-border">
              <h3>Get Involved</h3>
              <p>Learn about the many ways you can contribute to our documentation.</p>

              <a href="/community/contributor-guide" class="section__link">
                check out our contributor guide
                <svg width="10" height="11">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>

      {% include 'layouts/content/callout' %}
    </div>
  </div>

  {% include 'layouts/footer' %}

  {%- include 'layouts/body/icons' -%}
  {%- include 'layouts/body/javascripts_bottom' -%}
</body>
</html>
