---
layout: empty
metadata:
  title: platformOS Documentation
---
<!DOCTYPE html>
<html lang="en">

<head>
  {% render 'layouts/head/head', context: context, page: page %}
  {% render 'css/fonts' %}
  {% render 'css/app', env: context.environment %}
  {% render 'layouts/lib/context-variables' -%}
</head>

<body class="antialiased homepage bg-pos-page-bg">
  {% render 'layouts/header', context: context %}

  <main class="pt-16 bg-no-repeat bg-pos-page-bg" style="background-position: 60% 0; background-size: 132%; background-image: url({{ 'images/svg/header-bg.svg' | asset_url }})">
    <img src="{{ 'images/svg/header-bg.svg' | asset_url }}" alt="Background image" class="hidden h-0 w-0" />
    <div class="container">
      <div class="text-center md:px-8">
        <h1 class="mb-4 text-4xl sm:text-5xl text-pos-darkblue">Documentation</h1>

        <div class="mx-auto md:w-3/5">
          <p class="text-lg">Examples, tutorials, references, APIs, and best practices—everything you need to build future-proof applications on platformOS</p>

          {% render 'home/search-form' %}
        </div>
      </div>

      {% render 'home/section-options' %}

      {% render 'home/community-callout' %}

    </div>
      {% render 'layouts/content/callout', context: context %}

    {% render 'home/awards' %}
  </main>

  {% render 'layouts/footer' %}

  {%- render 'layouts/body/home_icons' -%}
  {% render 'js/app', env: context.environment %}
</body>
</html>
