---
layout: empty
metadata:
  title: platformOS Documentation
response_headers: >
  {
    "Link": "<{{ '' | asset_url }}>; rel=preconnect, <{{ 'fonts/Gotham-Medium.woff2' | asset_url }}>; rel=preload; as=font"
  }
---
<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'layouts/head/head' %}
  {% comment %}<style>{% include 'layouts/head/inline-css' %}</style>{% endcomment %}
  {%- include 'layouts/lib/context-variables' -%}
</head>

<body class="antialiased homepage bg-pos-page-bg">
  {% include 'layouts/header' %}

  <main class="pt-16 bg-no-repeat bg-pos-page-bg" style="background-position: 60% 0; background-size: 132%; background-image: url({{ 'images/svg/header-bg.svg' | asset_url }})">
    <div class="container">
      <div class="text-center md:px-8">
        <h1 class="mb-4 text-4xl sm:text-5xl text-pos-darkblue">Documentation</h1>

        <div class="mx-auto md:w-3/5">
          <p class="text-lg">Examples, tutorials, references, APIs, and best practices—everything you need to build future-proof applications on platformOS</p>

          {% include 'home/search-form' %}
        </div>
      </div>

      {% include 'home/section-options' %}

      <div class="mb-20 text-center md:flex md:justify-center">
        <div class="mt-10 md:w-1/3 md:mx-20 md:mt-10">
          <h3 class="mb-4 text-lg">Community</h3>
          <p class="text-body">Join in, grow your skills, and find people who share your interest in platformOS.</p>

          <a href="/community" class="inline-block mt-6 text-sm font-semibold no-underline text-pos-darkblue hover:text-pos-blue">
            JOIN OUR COMMUNITY
            <svg width="10" height="11"><use xlink:href="#arrow-right"></use></svg>
          </a>
        </div>

        <div class="hidden w-px border-l sm:block border-pos-divider"></div>

        <div class="relative mt-16 md:w-1/3 md:mx-20 md:mt-10">
          <h3 class="mb-4 text-lg">Get Involved</h3>
          <p class="text-body">Learn about the many ways you can contribute to our documentation.</p>

          <a href="/community/contributor-guide" class="inline-block mt-6 text-sm font-semibold no-underline text-pos-darkblue hover:text-pos-blue">
            CHECK OUT OUR CONTRIBUTOR GUIDE
            <svg width="10" height="11"><use xlink:href="#arrow-right"></use></svg>
          </a>
        </div>
      </div>
    </div>

    {% include 'layouts/content/callout' %}
  </main>

  {% include 'layouts/footer' %}

  {%- include 'layouts/body/home_icons' -%}
  {%- include 'layouts/body/javascripts_bottom' -%}
</body>
</html>
