---
metadata:
  questions: false
  feedback: false
  last_edit: false
---

<div class="text-center journeys__intro -ml-12 sm:ml-0">
  <h1>Try out platformOS!</h1>

  <p> platformOS is a model-based application development platform that enables you to create and host anything from small websites to large enterprise applications and even entire SaaS products. </p>

  <p> On this page, you can find different ways to try out platformOS according to your level of technical expertise. </p>

  <p> So the question is: </p>

  <h2 class="events-none">What would you like to do?</h2>
</div>

<div class="journeys__container -ml-12 sm:ml-0 mt-8">
  <div class="journeys__col">
    <h3 class="events-none text-center">Install a site with a single click.</h3>
    <div class="journeys__box">
      {%- include 'svg/get-started', width: '42px' -%}

      <h3 class="events-none">1-Click Install</h3>

      <ul>
        <li>Register on the Partner Portal</li>
        <li>Create a fully functional demo site  with a single click</li>
        <li>Install a blog</li>
      </ul>

      <p> Absolutely no coding required. </p>

      <a href="https://partners.platformos.com/accounts/sign_up?journey_type=nontechnical">CREATE DEMO SITE <svg width="10" height="11"><use xlink:href="#arrow-right"></use></svg></a>
    </div>
  </div>

  <div class="journeys__col">
    <h3 class="events-none text-center">Build a basic ‘Hello, World!’ app.</h3>
    <div class="journeys__box">
      {%- include 'svg/best-practices', width: '42px' -%}

      <h3 class="events-none">Sandbox</h4>

      <ul>
        <li> Register on the Partner Portal </li>
        <li> Clone a platformOS codebase from our demo GitHub repository </li>
        <li> Use it as your own sandbox </li>
        <li> Play around – we will show you how </li>
      </ul>

      <p> You will need basic programming skills. </p>

      <a href="https://partners.platformos.com/accounts/sign_up?journey_type=semitechnical">PLAY AROUND <svg width="10" height="11"><use xlink:href="#arrow-right"></use></svg></a>
    </div>
  </div>
</div>

<!--

<div class="text-center">
  <p>Do you want to dive deeeper? </p>
  <p><a href="">Build your own ToDo App based on our guide!</a></p>
</div>

-->
