---
metadata:
  title: Try out platformOS
  description: platformOS is a model-based application development platform that enables you to create and host anything from small websites to large enterprise applications and even entire SaaS products
  questions: false
  feedback: false
  last_edit: false
---

<div class="mx-auto mt-8 text-lg text-center sm:w-10/12">
  <p>platformOS is a model-based application development platform that enables you to create and host anything from small websites to large enterprise applications and even entire SaaS products.</p>

  <p>On this page, you can find different ways to try out platformOS according to your level of technical expertise.</p>

  <p>So the question is:</p>

  <p class="text-xl font-semibold break-normal whitespace-no-wrap pointer-events-none">What would you like to do?</p>
</div>

<div class="flex flex-wrap w-full mt-8 md:flex-no-wrap">
  <div class="w-full sm:w-1/2">
    <h2 class="w-full text-center break-normal pointer-events-none">
      Install a site with a single click.
    </h2>

    <div class="px-6 py-4 border border-pos-divider">
      {%- include 'svg/get-started', width: '42px' -%}
      <h3 class="inline-block ml-2 pointer-events-none">1-Click Install</h3>

      <div class="pb-4 mt-4 ml-12">
        <ul>
          <li>Register on the Partner Portal</li>
          <li>Create a fully functional demo site  with a single click</li>
          <li>Install a blog</li>
        </ul>

        <p>Absolutely no coding required.</p>

        <a class="font-semibold no-underline hover:text-pos-darkblue"
          href="https://partners.platformos.com/accounts/sign_up?journey_type=nontechnical">
          CREATE DEMO SITE <svg width="10" height="11"><use xlink:href="#arrow-right"></use></svg>
        </a>
      </div>
    </div>
  </div>

  <div class="sm:w-1/12"></div>

  <div class="w-full mt-8 sm:mt-0 sm:w-1/2">
    <h2 class="w-full text-center break-normal pointer-events-none">
      Build a basic ‘Hello, World!’ app.
    </h2>

    <div class="px-6 py-4 border border-pos-divider">

      {%- include 'svg/best-practices', width: '42px' -%}
      <h3 class="inline-block ml-2 pointer-events-none">Sandbox</h3>

      <div class="pb-4 mt-4 ml-12">
        <ul>
          <li>Register on the Partner Portal</li>
          <li>Clone a platformOS codebase from our demo GitHub repository</li>
          <li>Use it as your own sandbox</li>
          <li>Play around – we will show you how</li>
        </ul>

        <p> You will need basic programming skills. </p>

        <a class="font-semibold no-underline hover:text-pos-darkblue"
          href="https://partners.platformos.com/accounts/sign_up?journey_type=semitechnical">
          PLAY AROUND <svg width="10" height="11"><use xlink:href="#arrow-right"></use></svg>
        </a>
      </div>
    </div>
  </div>
</div>


<div class="mt-16 text-center">
  <p class="text-lg">Do you want to dive deeper?</p>
  <p><a href="/get-started/todo-app/build-todo-list-app">Build your own ToDo App based on our guide!</a></p>
</div>
