---
layout: empty
metadata:
  title: Try out platformOS
  description: platformOS is a model-based application development platform that enables you to create and host anything from small websites to large enterprise applications and even entire SaaS products
  questions: false
  feedback: false
  last_edit: false
---

<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'layouts/head/head' %}
  {%- include 'layouts/lib/context-variables' -%}
</head>

<body class="antialiased homepage bg-pos-page-bg">
  {% include 'layouts/header' %}
  {% include 'layouts/search-bar' %}

  <main class="bg-no-repeat">

    <div class="py-4 bg-white">
      <div class="container">

        <div class="w-full breadcrumbs">
          <ul class="flex flex-wrap justify-end text-sm list-none sm:flex-no-wrap">
            <li class="flex items-center">
              <a href="/" class="no-underline text-pos-blue hover:text-pos-darkblue hover:underline">Documentation</a>
            </li>

            <li>
              <svg class="mx-2" width="11" height="11"><title>Right arrow icon</title><use xlink:href="#arrow-right"></use></svg>
            </li>

            <li class="flex items-center">
              <a class="no-underline text-pos-blue hover:text-pos-darkblue hover:underline" href="/try-now">
                Try now
              </a>
            </li>
          </ul>
        </div>

        <h1 class="text-5xl text-center text-pos-darkblue">Try out platformOS</h1>

        <div class="grid my-10 text-lg md:grid-cols-2 gap-x-16">
          <div class="mr-8 prose prose-md">
            <p>
              On this page, you can find different ways to try out platformOS according to your level of technical expertise.
            </p>

            <p>
              Our demo video shows you in real-time how fast you can build a fully functional web site, install the Blog module and the Product marketplace solution with Community functionality, and import thousands of example products.
            </p>
          </div>

          {% include 'shared/video', id: 'CgviBexmLQw' %}
        </div>
      </div>
    </div>


    <div class="container">
      <div class="mt-12 text-center">
        <p class="text-3xl font-medium break-normal">What would you like to do?</p>
      </div>

      <div class="flex flex-wrap justify-center w-full mt-12 mb-16 md:flex-no-wrap">
        <div class="w-full sm:w-5/12">

          <div class="px-6 py-4 bg-white shadow-md hover:shadow-box">
            {%- include 'svg/get-started', width: '48px' -%}
            <h3 class="inline-block ml-2 pointer-events-none">1-Click Install</h3>

            <div class="pb-4 mt-4 md:ml-16">
              <ul class="font-light">
                <li>Register on the Partner Portal</li>
                <li>Create a fully functional demo site  with a single click</li>
                <li>Install a blog</li>
              </ul>

              <div class="flex my-4 font-medium">
                <svg width="22" height="18"><title>Read glasses icon</title><use xlink:href="#read-glasses"></use></svg>
                <p class="pl-2 ml-2 border-l border-pos-divider">
                  Absolutely no coding required.
                </p>
              </div>

              <a class="flex items-center font-medium no-underline text-pos-blue hover:text-pos-darkblue"
                href="https://partners.platformos.com/accounts/sign_up?journey_type=nontechnical">
                CREATE DEMO SITE
                <svg width="13" height="14" class="ml-2"><title>Right arrow link</title><use xlink:href="#arrow-right"></use></svg>
              </a>
            </div>
          </div>
        </div>

        <div class="sm:w-6"></div>

        <div class="w-full mt-8 sm:mt-0 sm:w-5/12">
          <div class="px-6 py-4 bg-white shadow-md hover:shadow-box">

            {%- include 'svg/best-practices', width: '48px' -%}
            <h3 class="inline-block ml-2">Sandbox</h3>

            <div class="pb-4 mt-4 md:ml-16">
              <ul class="font-light">
                <li>Register on the Partner Portal</li>
                <li>Clone a platformOS codebase from our demo GitHub repository</li>
                <li>Use it as your own sandbox</li>
                <li>Play around – we will show you how</li>
              </ul>

              <div class="flex my-4 font-medium">
                <svg width="22" height="18"><title>Read glasses icon</title><use xlink:href="#read-glasses"></use></svg>
                <p class="pl-2 ml-2 border-l border-pos-divider">
                  You will need basic programming skills.
                </p>
              </div>

              <a class="font-medium no-underline text-pos-blue hover:text-pos-darkblue"
                href="https://partners.platformos.com/journeys/semi_technical_journey/new?utm_source=documentation">
                PLAY AROUND <svg width="10" height="11"><title>Right arrow icon</title><use xlink:href="#arrow-right"></use></svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% content_for callout_content %}
      <h2 class="mt-12 text-4xl font-medium break-normal">Do you want to dive deeper?</h2>
      <br/>
      <a href="/get-started/todo-app/build-todo-list-app" class="mb-12 btn btn-primary">Build your own ToDo App based on our guide!</a>
    {% endcontent_for %}

    {% include 'layouts/content/callout' %}
  </main>

  {% include 'layouts/footer' %}

  {%- include 'layouts/body/icons' -%}
  {%- include 'layouts/body/javascripts_bottom' -%}
  {% yield 'javascripts_conditional' %}

  <svg xmlns="http://www.w3.org/2000/svg" hidden>
    <defs>
      <symbol id="read-glasses" fill="none" viewBox="0 0 22 18">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4.125 12.126h15M4.125 14.626h15"/><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6.625 7.126a3.125 3.125 0 100-6.25 3.125 3.125 0 000 6.25zM15.375 7.126a3.125 3.125 0 100-6.25 3.125 3.125 0 000 6.25z" clip-rule="evenodd"/><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M9.75 4.06a1.25 1.25 0 112.5 0M20.375 4.001H18.5M3.5 4.001H1.625M20.375 17.126H4.125a2.5 2.5 0 01-2.5-2.5v-2.5a2.5 2.5 0 012.5-2.5h16.25"/>
      </symbol>
    </defs>
  </svg>
</body>
</html>
