---
converter: markdown
metadata:
  title: Checking the Releases of an Instance
  description: This guide will help you check the releases of an Instance on the Partner Portal.
slug: tutorials/partner-portal/instances/checking-releases-instance
---

This guide will help you check the releases of an Instance on the Partner Portal.

## Requirements
To follow the steps in this tutorial, you should be able to log in to the Partner Portal, and have an Instance you created or have access to.

* [Accessing the Partner Portal](/get-started/accessing-partner-portal)
* [Setting Up a Site on Our Platform](/get-started/setting-up-site)

## Steps

Checking releases is a two-step process:

<div data-autosteps></div>

### Step 1: Locate Instance

In the menu on the left, click on `Instances`, and select the Instance. The information page of the Instance is displayed.

### Step 2: Check releases
Click on the `Releases` button to display the list of releases for the Instance. The list shows the creator (User), the status of the release (e.g. `Success` or `Error`), the date, and a link to download the codebase of the Instance at each release.

## Next steps
Congratulations! You know how to check the releases of an Instance. Now you can download the codebase of a release:

* [Downloading the Codebase of an Instance](/tutorials/partner-portal/instances/downloading-codebase-instance)
