---
converter: markdown
metadata:
  title: Downloading the Codebase of an Instance
  description: This guide will help you download the codebase of your Instance.
slug: tutorials/partner-portal/instances/downloading-codebase-instance
---

This guide will help you download the codebase of your Instance.

## Requirements
To follow the steps in this tutorial, you should know how to check the releases of an Instance on the Partner Portal:

* [Checking the Releases of an Instance](/tutorials/partner-portal/instances/checking-releases-instance)

## Steps

Downloading the codebase of an Instance is a two-step process:

<div data-autosteps></div>

### Step 1: Download zip file

Locate your Instance and display its list of releases. Select the release, and click on `Download zip file`. Once downloaded, extract the zip file.

### Step 2: Rename folder
The zip file contains a folder named `marketplace-release` and subfolders. The subfolders and files are organized into the required directory structure of platformOS codebases.

The root directory of your project should contain the `app` directory. All directories other than the `app` will be ignored by the pos-cli when deploying and syncing.

To use the downloaded folder as your codebase, rename the `marketplace-release` directory to  `app`.

## Next steps
Congratulations! You have downloaded the codebase of your Instance. To learn more about the directories and files in your platformOS codebase, see:

* [platformOS Components](/how-platformos-works/platformos-workflow)
