<li>
  <a href="/api-reference/rest-api">REST API</a>
</li>
<li class="{% if cp contains '/api-reference/graphql' %}active{% endif %}">
  <a href="/api-reference/graphql">GraphQL API</a>

  <ul class="submenu">
    <li>
      <a href="/api-reference/graphql/glossary">Glossary</a>
    </li>
    <li>
      <a href="/api-reference/graphql/queries">Queries</a>
    </li>
    <li>
      <a href="/api-reference/graphql/mutations">Mutations</a>
    </li>
    <li>
      <a href="/api-reference/graphql/objects">Objects</a>
    </li>
    <li>
      <a href="/api-reference/graphql/scalars">Scalars</a>
    </li>
    <li>
      <a href="/api-reference/graphql/interfaces">Interfaces</a>
    </li>
    <li>
      <a href="/api-reference/graphql/enums">Enums</a>
    </li>
    <li>
      <a href="/api-reference/graphql/inputs">Input Objects</a>
    </li>
  </ul>
</li>
<li class="{% if cp contains '/api-reference/liquid' %}active{% endif %}">
  <a href="/api-reference/liquid">Liquid</a>

  <ul class="submenu">
    <li>
      <a href="/api-reference/liquid/introduction">Introduction</a>
    </li>
    <li>
      <a href="/api-reference/liquid/types">Types</a>
    </li>
    <li>
      <a href="/api-reference/liquid/variables">Tags: Variables</a>
    </li>
    <li>
      <a href="/api-reference/liquid/flow-control">Tags: Flow Control</a>
    </li>
    <li>
      <a href="/api-reference/liquid/loops">Tags: Loops</a>
    </li>
    <li>
      <a href="/api-reference/liquid/include">Tags: Include</a>
    </li>
    <li>
      <a href="/api-reference/liquid/objects">Objects</a>
    </li>
    <li>
      <a href="/api-reference/liquid/filters">Filters</a>
    </li>
    <li>
      <a href="/api-reference/liquid/whitespace-control">Whitespace Control</a>
    </li>
    <li>
      <a href="/api-reference/liquid/platformos-filters">platformOS Filters</a>
    </li>
    <li>
      <a href="/api-reference/liquid/platformos-tags">platformOS Tags</a>
    </li>
  </ul>
</li>