---
converter: markdown
metadata:
  title: data import performance improvements, customizations index stability fix
  description: August 07, 2024
  skip_contribute_button: true
  last_edit: false
slug: release-notes/07-AUG-24
---

#### {{ page.metadata.description }}

<!-- <h4 class="release-note release-note__new">NEW</h4> -->


<h4 class="release-note release-note__improved">IMPROVED</h4>

* Performance improvements for data imports (hidden behind a feature flag for now)

<h4 class="release-note release-note__fixed">FIXED</h4>

* Fixed a bug in the deprecated `customizations` which under certain condition would require a manual rebuild

