---
converter: markdown
metadata:
  title: Default_layout, allow liquid in layouts, GraphQL queries/mutations improvements
  description: July 10, 2024
  skip_contribute_button: true
  last_edit: false
slug: release-notes/10-JUL-24
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* Page property `layout` now accepts liquid to dynamically determie the layout
* Ability to update `manually_managed` from `update_all` mutations for views, layouts and pages
* New `app/config.yml` option - `default_layout` (currently it's `application`) - allows to specify default layout for all pages, accepts liquid
* New `app/config.yml` option - `reject_null_geojson_coordinates` - raises validation error for null GeoJSON coordinates
* Attribute `_index_update` added to `records_update_all` mutations to be able to keep `customizations` in sync

<h4 class="release-note release-note__improved">IMPROVED</h4>

* Rejected callback is triggered when subscription is denied in WebSockets
* Increased speed/performance for large instance database exports

<h4 class="release-note release-note__fixed">FIXED</h4>

* Allow nil for array compact
* Edge case issues when exporting an old instance, which does not have any features_flags explicitly enabled/disabled

<h4 class="release-note release-note__fixed">MAINTENANCE</h4>

* Upgraded internal frameworks and dependencies to the newest versions
