---
converter: markdown
metadata:
  title:  Background jobs executed after the entire request finishes
  description: November 20, 2024
  skip_contribute_button: true
  last_edit: false
slug: release-notes/20-NOV-24
---

#### {{ page.metadata.description }}

<!--
<h4 class="release-note release-note__new">NEW</h4>
-->

<h4 class="release-note release-note__improved">IMPROVED</h4>

* Ensure background jobs will have access to all Records that were created wihtin the same request as itself (aka trigger background jobs after DB transaction completes)

<!--
<h4 class="release-note release-note__fixed">FIXED</h4>
-->

<!--
<h4 class="release-note release-note__fixed">MAINTENANCE</h4>
-->

