---
converter: markdown
metadata:
  title:  More filter types for jsonb resolver and other improvements
  description: February 6, 2024
  skip_contribute_button: true
  last_edit: false
slug: release-notes/6-FEB-24
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__improved">IMPROVED</h4>

* Performance improvement for Related Records
* Allow empty values option for GraphQL filters
* Export modules do not include app files
* Add GPG encryption to data export GraphQL
* Add default flags to instances
* More filter types for jsonb resolver
* External_id in context.current_user
