---
converter: markdown
metadata:
  title: Configuring a Module Template
  description: This guide will help you edit the configuration file of a module template.
slug: developer-guide/modules/configuring-module-template
---

This guide will help you edit the configuration file of a module template.

If the Partner Portal detects that a module has a configuration template, it allows you to edit it before the module is deployed.

For example, this guide will show you how to specify upon installing a module, where the module's admin page will be available after the module has been installed. This guide uses the AdminCMS module as an example.

## Requirements

This is an advanced tutorial. To follow it, you should be familiar with basic platformOS concepts, the topics in the Get Started section, modules, and module templates. You should also know how to install a module.

* [platformOS Workflow](/developer-guide/platformos-workflow/development-workflow)
* [Get Started](/get-started)
* [Modules](/developer-guide/modules/modules)
* [Module Templates](/developer-guide/modules/templates)
* [Installing a Module](/developer-guide/modules/installing-module)

## Steps

Configuring a module template is a three-step process:

<div data-autosteps></div>

### Step 1: Start module installation

On the Partner Portal, select the Instance you'd like to install the module on, and start the installation process as described in the [Installing a Module](/developer-guide/modules/installing-module) tutorial. Once you click on `Install` and the process starts, a page is displayed asking for confirmation about the deployment of the module and showing the module configuration file.

### Step 2: Edit configuration file

The configuration file contains preconfigurable elements of the module, for example:

```json
{% raw %}
{
  "slug": "admincms_index",
  "title": "This is AdminCMS",
  "subtitle": "A very nice admin page",
}
{% endraw %}
```

Edit the configuration file to:

```json
{% raw %}
{
  "slug": "admin_index",
  "title": "THIS IS A TEST",
  "subtitle": "A very nice admin page",
}
{% endraw %}
```

Click on `Deploy`. A message saying "Module is being deployed. Check your email in a few minutes." is displayed.

### Step 3: Test your changes

Load the URL of your Instance appending the slug you specified, for example:

```
https://test.staging.oregon.platform-os.com/admin_index
```

The module's page is displayed with the modified "THIS IS A TEST" title.
