---
converter: markdown
metadata:
  title:
  description: August 05, 2019
  contributors: false
slug: release-notes/05-AUGUST-2019
searchable: false
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* ..

<h4 class="release-note release-note__improved">IMPROVED</h4>

* todo

<h4 class="release-note release-note__fixed">FIXED</h4>

* **filtering data by empty values** - `users` and `models` endpoints will properly filter items with values that are empty. For example: 
  ```graphql
  models(
    filter: { 
      properties: [{ name: "warning", value: "" }]
     }
   ) { ... }
  ```
* **replaced `customizations` with `models` in examples**
* **removed articles about CustomAttribute** - there is a better way now via `models` - https://documentation.platformos.com/tutorials/model-schemas/using-geojson-format-geolocation
