---
converter: markdown
metadata:
  title:
  description: August 05, 2019
  contributors: false
slug: release-notes/05-AUGUST-2019
searchable: false
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* todo

<h4 class="release-note release-note__improved">IMPROVED</h4>

* todo

<h4 class="release-note release-note__fixed">FIXED</h4>

* todo
