---
converter: markdown
metadata:
  title: *_delete_all mutations run in background, ux/bug fixes
  description: September 09, 2019
  contributors: false
slug: release-notes/09-SEPTEMBER-2019
searchable: true
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__improved">NEW</h4>

* asset_path filter, although it's recommended to keep using asset_url

<h4 class="release-note release-note__improved">IMPROVED</h4>

* **_destroy_all mutations run in background** - timeouts on invoking destroy_all mutation could result in invalid ElasticSearch state
* error message for invalid page type

<h4 class="release-note release-note__fixed">FIXED</h4>

* allow to log form variable in validations
* issue with triggering error in forms due to missing user attributes
* invoking admin_* mutations in background tag

## pos-cli changes

`pos-cli` changelog is [kept separately](https://github.com/mdyd-dev/pos-cli/blob/master/CHANGELOG.md).
