---
converter: markdown
metadata:
  title: presigned_upload_url GraphQL mutation, graph_queries to graphql rename, images/attachments better support via GraphQL mutations
  description: August 12, 2019
  contributors: false
slug: release-notes/12-AUGUST-2019
searchable: false
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* unsubscribe modules in Partner Portal
* new **(presigned_upload_url)[/api-reference/graphql/mutations#presigned_upload_url]** GraphQL mutation
* allow to upload images and attachments via user / model / user_profile mutations

<h4 class="release-note release-note__improved">IMPROVED</h4>

* rename `graph_queries` to `graphql`
* rename `form_configurations` to `forms`

<h4 class="release-note release-note__fixed">FIXED</h4>

* fix GraphQL error when you put hash into property array
* fix regression issue with custom 404 pages

## pos-cli changes

`pos-cli` changelog is [kept separately](https://github.com/mdyd-dev/pos-cli/blob/master/CHANGELOG.md).
