---
converter: markdown
metadata:
  title: Prevent pOS domains from being indexed by default, improvements, fixes
  description: November 19, 2019
  contributors: false
slug: release-notes/19-NOVEMBER-2019
searchable: true
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* built-in pOS domains (both staging and production) are automatically prevented from being indexed by robots to avoid SEO duplicated content issue

<h4 class="release-note release-note__improved">IMPROVED</h4>

* error message for missing/invalid `resource` attribute in `form`
* gracefully handle invalid arguments passed to `dig` filter
* Partner Portal will automatically check if a domain was transferred and handle SSL cert behind the scenes
* `name`, `first_name`, `last_name` properties of User are now case insensitive to make it easier to use `users` GraphQL query to search by them

<h4 class="release-note release-note__fixed">FIXED</h4>

* fetching image URLs without direct_url
* using jwt_token authentication correctly sets `context.current_user` everywhere
* import/export issues caused by wrong uniqueness safety check for models for Sydney data center


## pos-cli changes

`pos-cli` changelog is [kept separately](https://github.com/mdyd-dev/pos-cli/blob/master/CHANGELOG.md).
