---
converter: markdown
metadata:
  title: or condition in GraphQL queries, bug fixes
  description: October 28, 2019
  contributors: false
slug: release-notes/28-OCTOBER-2019
searchable: true
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__fixed">NEW</h4>

* add possibility to use `or` condition in GraphQL queries
* display usage metrics in Partner Portal

<h4 class="release-note release-note__fixed">IMPROVED</h4>

* add more ways to define color in custom image filters in presign_image_url
* set default timeout for user session to match documentation

<h4 class="release-note release-note__fixed">FIXED</h4>

* updating asset name on update via mutation
* 500 error on edge case when using jwt_token for authorization
* allow to set max_deep_level to null

## pos-cli changes

`pos-cli` changelog is [kept separately](https://github.com/mdyd-dev/pos-cli/blob/master/CHANGELOG.md).
