---
converter: markdown
metadata:
  title: [main points listed, sentence case]
  description: [Month DD, YYYY]
  skip_contribute_button: true
  last_edit: false
slug: release-notes/DD-MONTH-YYYY
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__improved">NEW</h4>

* [**New feature 1**: short description of new feature, link to documentation if applicable]
* [**New feature n**: short description of new feature, link to documentation if applicable]

<h4 class="release-note release-note__improved">IMPROVED</h4>

* [**Improvement 1**: short description of improvement]
* [**Improvement n**: short description of improvement]

<h4 class="release-note release-note__fixed">FIXED</h4>

* [**Fix 1**: short description of fix]
* [**Fix n**: short description of fix]