---
converter: markdown
metadata:
  title: [main points listed]
  description: [Month D, 2019]
  contributors: false
  skip_contribute_button: false
slug: release-notes/DD-MONTH-YYYY
searchable: true
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__improved">NEW</h4>

* [**New feature 1**: short description of new feature]
* [**New feature n**: short description of new feature]

<h4 class="release-note release-note__improved">IMPROVED</h4>

* [**Improvement 1**: short description of improvement]
* [**Improvement n**: short description of improvement]

<h4 class="release-note release-note__fixed">FIXED</h4>

* [**Fix 1**: short description of fix]
* [**Fix n**: short description of fix]

## pos-cli changes

`pos-cli` changelog is [kept separately](https://github.com/mdyd-dev/pos-cli/blob/master/CHANGELOG.md).
