---
converter: markdown
metadata:
  title: Release Notes
  description: New features, improvements, and fixes in platformOS
  feedback: false
  contributors: false
  questions: false
slug: release-notes
searchable: false
---

<h4 class="h5 w-50 mx-auto">
  Our release notes tell you about new features,
  <br/>
  <a href="/release-notes/deprecation-policy">deprecations</a>, improvements, and fixes in platformOS.
</h4>

<div class="row release-notes__year-container">
  <div class="col-auto release-notes__timeline">
    <h3>2019</h3>
  </div>
  <div class="col">
    <ul class="list-unstyled">
      <li>
        <a href="/release-notes/25-NOVEMBER-2019">Page identified based o physical_file_path, optional slug, improvement for profiling slow pages, fixing *_delete_all mutations</a>
        <br/>
        <span>Dec 02</span>
      </li>
      <li>
        <a href="/release-notes/25-NOVEMBER-2019">Service workers route, multiple queries via GraphiQL editor, improvements, fixes</a>
        <br/>
        <span>Nov 25</span>
      </li>
      <li>
        <a href="/release-notes/19-NOVEMBER-2019">Prevent pOS domains from being indexed by default, improvements, fixes</a>
        <br/>
        <span>Nov 19</span>
      </li>
      <li>
        <a href="/release-notes/11-NOVEMBER-2019">Related models using array of ids, or filter for users, improvements and fixes</a>
        <br/>
        <span>Nov 11</span>
      </li>
      <li>
        <a href="/release-notes/04-NOVEMBER-2019">Improvements and fixes</a>
        <br/>
        <span>Nov 04</span>
      </li>
      <li>
        <a href="/release-notes/28-OCTOBER-2019">"or" condition in GraphQL queries, bug fixes</a>
        <br/>
        <span>Oct 28</span>
      </li>
      <li>
        <a href="/release-notes/21-OCTOBER-2019">Bug fixes</a>
        <br/>
        <span>Oct 21</span>
      </li>
      <li>
        <a href="/release-notes/14-OCTOBER-2019">Improvements to validation, spam_protection</a>
        <br/>
        <span>Oct 14</span>
      </li>
      <li>
        <a href="/release-notes/07-OCTOBER-2019">New welcome page, improvements and bug fixes</a>
        <br/>
        <span>Oct 07</span>
      </li>
      <li>
        <a href="/release-notes/30-SEPTEMBER-2019">Performance improvements, configurable HTTP status, handling types better in GraphQL</a>
        <br/>
        <span>Sep 30</span>
      </li>
      <li>
        <a href="/release-notes/23-SEPTEMBER-2019">DNS/SSL implementation, GraphQL improvements, bugfixes</a>
        <br/>
        <span>Sep 23</span>
      </li>
      <li>
        <a href="/release-notes/16-SEPTEMBER-2019">GraphQL property_int and property_float, bug fixes</a>
        <br/>
        <span>Sep 16</span>
      </li>
      <li>
        <a href="/release-notes/09-SEPTEMBER-2019">*_delete_all mutations run in background, ux/bug fixes</a>
        <br/>
        <span>Sep 9</span>
      </li>
      <li>
        <a href="/release-notes/02-SEPTEMBER-2019">Fixing related module, silently failing deploy</a>
        <br/>
        <span>Sep 2</span>
      </li>
      <li>
        <a href="/release-notes/26-AUGUST-2019">JWT authentication, migrations handling improvements, relative assets improvements</a>
        <br/>
        <span>Aug 26</span>
      </li>
      <li>
        <a href="/release-notes/19-AUGUST-2019">Assets accessible via relative path, authorization tokens for pos-cli per instance</a>
        <br/>
        <span>Aug 19</span>
      </li>
      <li>
        <a href="/release-notes/12-AUGUST-2019">presigned_upload_url GraphQL mutation, graph_queries to graphql rename, images/attachments better support via GraphQL mutations</a>
        <br/>
        <span>Aug 12</span>
      </li>
      <li>
        <a href="/release-notes/05-AUGUST-2019">Headers in context.headers, customizations to models renaming, bugfixes</a>
        <br/>
        <span>Aug 5</span>
      </li>
      <li>
        <a href="/release-notes/29-JULY-2019">GraphQL models() filtering by users attributes, improved multilanguage support for notifications</a>
        <br/>
        <span>Jul 29</span>
      </li>
      <li>
        <a href="/release-notes/22-JULY-2019">Improved liquid array/hash output, slight page routing improvement</a>
        <br/>
        <span>Jul 22</span>
      </li>
      <li>
        <a href="/release-notes/15-JULY-2019">marketplace-kit to pos-cli rename, form_submit GraphQL mutation</a>
        <br/>
        <span>Jul 15</span>
      </li>
      <li>
        <a href="/release-notes/04-MARCH-2019">Form name optional, set HTTP status to Authorization Policy</a>
        <br/>
        <span>Mar 04</span>
      </li>
      <li>
        <a href="/release-notes/25-FEBRUARY-2019">context.device key, user session timeout</a>
        <br/>
        <span>Feb 25</span>
      </li>
      <li>
        <a href="/release-notes/18-FEBRUARY-2019">Properties for all users, Liquid in page metadata</a>
        <br/>
        <span>Feb 18</span>
      </li>
    </ul>
  </div>
</div>

<div class="row release-notes__year-container">
  <div class="col-auto release-notes__timeline">
    <h3>2018</h3>
  </div>
  <div class="col">
    <ul class="list-unstyled">
      <li>
        <a href="/release-notes/26-NOVEMBER-2018">Parsing json to hash</a>
        <br/>
        <span>Nov 26</span>
      <li>
        <a href="/release-notes/15-NOVEMBER-2018">Performance benchmarking tools</a>
        <br/>
        <span>Nov 15</span>
      <li>
        <a href="/release-notes/18-OCTOBER-2018">Priority setting and limitations of async_callback_actions</a>
        <br/>
        <span>Oct 18</span>
      <li>
        <a href="/release-notes/20-SEPTEMBER-2018">New liquid filters, sending files via API calls</a>
        <br/>
        <span>Sep 20</span>
      <li>
        <a href="/release-notes/03-SEPTEMBER-2018">Better error logs, JWT encoding/decoding filters</a>
        <br/>
        <span>Sep 03</span>
      <li>
        <a href="/release-notes/30-JULY-2018">New Liquid tags, deprecated render_form tag</a>
        <br/>
        <span>Jul 30</span>
    </ul>
  </div>
</div>

{% content_for callout_content %}
  <h2>Documentation Reports</h2>
  <p>Sign up for our weekly documentation reports if you want to be notified about new tutorials and other changes within our documentation site. </p>

  <div class="callout__actions">
    <a href="https://platform-os.com/documentation-reports" class="btn btn-primary">SIGN UP NOW</a>
  </div>
{% endcontent_for %}

