---
converter: markdown
metadata:
  title:  Unreleased
  description: Unreleased - only on Staging
  skip_contribute_button: true
  last_edit: false
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

<h4 class="release-note release-note__improved">IMPROVED</h4>

* Ensure background jobs will have access to all Records that were created wihtin the same request as itself (aka trigger background jobs after DB transaction completes)
* Ensure no race condition for `record_update` and improve performance of atomic operations

<h4 class="release-note release-note__fixed">FIXED</h4>
