---
converter: markdown
metadata:
  title:  Unreleased
  description: Unreleased - only on Staging
  skip_contribute_button: true
  last_edit: false
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* high_performance_sql_filtering new instance configuration flag; if enabled, filtering on custom properties will use more efficient SQL queries. Default is false to maintain backward compatibility, but enabling it can lead to significant performance improvements for applications that heavily utilize custom property filtering.
<!--
* Added option to sort by distance (at the top level) when using geo queries; the sort is optional and can be used alongside other sort criteria; also, the sort can be specified in ascending or descending order.
-->

<!--<h4 class="release-note release-note__improved">IMPROVED</h4>-->

<!-- <h4 class="release-note release-note__fixed">FIXED</h4> -->
