---
converter: markdown
metadata:
  title:  Unreleased
  description: Unreleased - only on Staging
  skip_contribute_button: true
  last_edit: false
---

#### {{ page.metadata.description }}

<!--
<h4 class="release-note release-note__new">NEW</h4>
-->

<h4 class="release-note release-note__improved">IMPROVED</h4>

* `records_update_all` mutation can be used to quickly move records from one table to another
* `records_create_rc` accepts `id` argument for record input to create a record with a specific ID

<!--
<h4 class="release-note release-note__fixed">FIXED</h4>
-->
