---
converter: markdown
metadata:
  title:  Unreleased
  description: Unreleased - only on Staging
  skip_contribute_button: true
  last_edit: false
---

#### {{ page.metadata.description }}

<!-- <h4 class="release-note release-note__new">NEW</h4> -->

<h4 class="release-note release-note__improved">IMPROVED</h4>

* `assign` and `function` tags accept arguments in multiline, for example:

{% raw %}
```liquid
{% liquid
  assign outer_key = "user"
  assign inner_key = "name"
  assign hash = {
    outer_key: {
      inner_key: "Alice"
    }
  }
  echo hash
%}
```
{% endraw %}

* `assign` tag supports string interpolation inside hash values, for example:

{% raw %}
```liquid
{% liquid
  assign email = "ALICE@EXAMPLE.COM"
  assign contact = { "email": "{{ email | downcase }}", "name": "{{ email | split: '@' | first }}" }
  echo contact
%}
```
{% endraw %}

<!-- <h4 class="release-note release-note__fixed">FIXED</h4> -->
