---
converter: markdown
metadata:
  title:  Unreleased
  description: Unreleased - only on Staging
  skip_contribute_button: true
  last_edit: false
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

<!--
* Page property `layout` now accepts liquid to dynamically determie the layout
* New `app/config.yml` option - `default_layout` (currently it's `application`) - allows to specify default layout for all pages, accepts liquid
-->

<h4 class="release-note release-note__improved">IMPROVED</h4>

* Allow nil for array compact


<h4 class="release-note release-note__fixed">FIXED</h4>

* Allow nil for array compact
