---
converter: markdown
metadata:
  title:  Unreleased
  description: Unreleased - only on Staging
  skip_contribute_button: true
  last_edit: false
---

#### {{ page.metadata.description }}

<!--<h4 class="release-note release-note__new">NEW</h4>-->

<h4 class="release-note release-note__improved">IMPROVED</h4>

* **Upgraded internal dependencies** for improved performance and security
* **Clearer error messages for `record_update` and `record_destroy`**: When a record with the provided ID cannot be found, the error message now clearly specifies which table was being searched. For example:
  * Before: `Couldn't find Customization with 'id'=123`
  * After: `Can't find Boats with id=123`

<!-- <h4 class="release-note release-note__fixed">FIXED</h4> -->
