---
converter: markdown
metadata:
  title:  Unreleased
  description: Unreleased - only on Staging
  skip_contribute_button: true
  last_edit: false
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* Add `at` argument to `activity_publish` mutation

<h4 class="release-note release-note__improved">IMPROVED</h4>

* Ensure no race condition for `record_update` and improve performance of atomic operations

<h4 class="release-note release-note__fixed">FIXED</h4>
