---
converter: markdown
metadata:
  title:  Unreleased
  description: Unreleased - only on Staging
  skip_contribute_button: true
  last_edit: false
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* Add `at` argument to `activity_publish` mutation
* Add `hash_except` liquid filter
* Add `subdomain` to Pages GraphQL
* New endpoints for allowing Instance Copy cross stacks (see [pos-cli clone init](https://github.com/Platform-OS/pos-cli/blob/master/CHANGELOG.md#530))

<h4 class="release-note release-note__improved">IMPROVED</h4>

* Ensure no race condition for `record_update` and improve performance of atomic operations
* Allow epoch as a filter value for datetime argument in GraphQL queries
* `admin_asset_delete` will ensure the physical file is removed, even if already marked as a soft delete

<h4 class="release-note release-note__fixed">FIXED</h4>

* Fix edge case scenarios when `user_update` mutation sometimes fails when changing an email of the user to the same email
