---
converter: markdown
metadata:
  title:  Unreleased
  description: Unreleased - only on Staging
  skip_contribute_button: true
  last_edit: false
---

#### {{ page.metadata.description }}

<!--
<h4 class="release-note release-note__new">NEW</h4>

* Page property `layout` now accepts liquid to dynamically determie the layout
* New `app/config.yml` option - `default_layout` (currently it's `application`) - allows to specify default layout for all pages, accepts liquid
-->
<h4 class="release-note release-note__new">NEW</h4>

* `default_layout` instance configuration property and allowing liquid in the `layout` property of pages
* Ability to update `manually_managed` from `update_all` mutations for views, layouts and pages
* `reject_null_geojson_coordinates` instance configuration property to disallow null GeoJSON coordinates

<h4 class="release-note release-note__improved">IMPROVED</h4>

* Rejected callback is triggered when subscription is denied in WebSockets
* Increased speed/performance for large instance database exports

<h4 class="release-note release-note__fixed">FIXED</h4>

* Allow nil for array compact
