---
metadata:
  title: API reference - Forms
slug: api-reference/forms
searchable: true
---
{% assign partial_path = 'generated/resources/' | append: params.slug3 %}

<h2>{{ context.params.slug3 }}</h2>
{% include partial_path %}
