---
converter: markdown
metadata:
  title: More new filters, fixes
  description: October 4, 2021
  skip_contribute_button: true
  last_edit: false
slug: release-notes/4-OCT-2021
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* added new `deep_clone` filter
* added `type_of` filter
* added `remote_url` to allow to create property upload based on external URL
* added `jwks` support to the `jwt_decode` filter
* allowed to set content disposition and content type for `property_upload`

<h4 class="release-note release-note__fixed">FIXED</h4>

* fixed liquid executor (accessible pos-cli gui serve) to not crash when the `raise_liquid_error` flag is set to `true` 
* fixed `hash_assign` to work within for loop


