---
converter: markdown
metadata:
  title: Server-side pos-cli improvements, GraphQL enhancements
  description: March 23, 2020
  skip_contribute_button: true
  last_edit: false
slug: release-notes/23-MARCH-2020
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* Partner Portal API Instance Copy endpoint with documentation

<h4 class="release-note release-note__improved">IMPROVED</h4>

* change soft user profiles validation to hard validation for Form

In October we added extra notifications via pos-cli when trying to sync a Form with invalid fields - if it included profiles which did not exist, we were adding a warning message. For consistency and better UX, we are changing it to hard validation now, which means you will not be able to deploy/sync such forms anymore until the issue is fixed.

* server side handling of invalid file path

When trying to sync a file from a path which does not match anything (for example `app/my_form.liquid` instead of `app/forms/my_form.liquid`), a meaningful error message will be shown now, instead of a success message. In such a scenario, the `pos-cli deploy` command will still succeed, however it will send a warning with a list of all the files which were ignored.

* Legacy Partner Portal domains will now redirect to https://partners.platformos.com

* A first User will not be automatically created on the new Instance

* Allow to filter admin_* GraphQL Queries by `physical_file_path`

<h4 class="release-note release-note__fixed">FIXED</h4>

* update ReCaptcha to fix problems caused by Google API backwards incompatible changes
