---
converter: markdown
metadata:
  title: Default name for admin resources, modify property type, other improvements
  description: March 30, 2020
  skip_contribute_button: true
  last_edit: false
slug: release-notes/30-MARCH-2020
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* The notifications directory structure has been flattened - new directories are now `app/emails`, `app/smses`, `app/api_calls`. For example, instead of `app/notifications/email_notifications/my_email.liquid` you can now place it in `app/emails/my_email.liquid`.
* Added extra algorithms to JWT token filters and allow to specify algorithm for JWT mutation.
* Added extra validation for `physical_file_path`, to make sure files have proper extensions, for example, `liquid` for Forms, Authorization Policies and `yml` for Model Schemas.


<h4 class="release-note release-note__improved">IMPROVED</h4>

* `name` property will be automatically derived from `physical_file_path` for all admin resources like Authorization Policies, Notifications, Forms, Model Schemas etc. For example, `app/authorization_policies/dir/my_policy.liquid` will have the defult name `dir/my_policy`. For backwards compatibility, it is still possible to overwrite the default name using the `name` attribute.
* Deleted objects are not returned by default for `models` and `users` queries. To fetch soft-deleted records, you can still use filter for `deleted_at` field.
* When changing the type of a property, for example, from string to integer, all the data will be updated behind the scenes. In case of type casting error, a validation error message will be thrown and deploy/sync will fail, until data is manually fixed, for example, via GraphQL Mutations.
* GraphQL engine has been upgraded.

<h4 class="release-note release-note__fixed">FIXED</h4>

* Error message for `layout_path` / `layout_name` will not include confusing `layouts/` prefix in the suggestions
* Improved Domain name internal validation.
