{% capture tutorial_info %}
This guide is a part of multi-step tutorial on building an e-commerce website powered by PlatformOS. <a href="/how-to/e-commerce/introduction">You can find first part of the series here</a>.
{% endcapture %}

{% include 'alert/note', content: tutorial_info %}
