{% capture tutorial_info %}
This guide is a part of a tutorial series on building an e-commerce website powered by Platform OS. <a href="/tutorials/e-commerce/introduction">You can find the first part of the series here</a>.
{% endcapture %}

{% include 'alert/note', content: tutorial_info %}
