---
converter: ''
metadata:
  title: API reference GraphQL - Enums
  exclude_contributors: true
slug: api-reference/graphql/enums
searchable: true
---
{%- include 'reference/remote-docs-path', file: 'graphql/enums.json' -%}
{%- content_for 'page-specific' -%}
<link rel="preload" href="{{ url }}" as="fetch" crossorigin="anonymous">
{%- endcontent_for -%}
<div data-remote-docs-content="graphql-enums" data-remote-docs-url="{{ url }}"></div>
