---
converter: ''
metadata:
  title: API reference GraphQL - Enums
  contributors: false
slug: api-reference/graphql/enums
searchable: true
---
{%- include 'reference/remote-docs-path', file: 'graphql/enums.json' -%}
<div data-remote-docs-content="graphql-enums" data-remote-docs-url="{{ url }}"></div>
