---
converter: markdown
metadata:
  title: API reference GraphQL - Interfaces
slug: api-reference/graphql/interfaces
searchable: true
---

{%- include 'reference/remote-docs-path', file: 'graphql/interfaces.json' -%}
<div data-remote-docs-content="graphql-interfaces" data-remote-docs-url="{{ url }}"></div>
