---
converter: markdown
metadata:
  title: API reference GraphQL - Mutations
slug: api-reference/graphql/mutations
searchable: true
---

{%- include 'reference/remote-docs-path', file: 'graphql/mutations.json' -%}
<div data-remote-docs-content="graphql-mutations" data-remote-docs-url="{{ url }}"></div>
