---
converter: ''
metadata:
  title: API reference GraphQL - Objects
  contributors: false
slug: api-reference/graphql/objects
searchable: true
---

{%- include 'reference/remote-docs-path', file: 'graphql/objects.json' -%}
<div data-remote-docs-content="graphql-objects" data-remote-docs-url="{{ url }}"></div>
