---
converter: markdown
metadata:
  title: API reference GraphQL - Objects
slug: api-reference/graphql/objects
searchable: true
---

{%- include 'reference/remote-docs-path', file: 'graphql/objects.json' -%}
{% content_for 'page-specific' %}
<link rel="preload" href="{{ url }}" as="fetch" crossorigin="anonymous">
{% endcontent_for %}
<div data-remote-docs-content="graphql-objects" data-remote-docs-url="{{ url }}"></div>
