---
converter: ''
metadata:
  title: API reference GraphQL - Scalars
  contributors: false
slug: api-reference/graphql/scalars
searchable: true
---

{%- include 'reference/remote-docs-path', file: 'graphql/scalars.json' -%}
<div data-remote-docs-content="graphql-scalars" data-remote-docs-url="{{ url }}"></div>
