---
converter: markdown
metadata:
  title: Configuring www as the Default Domain
  description: This guide will help you set up the www version of your domain as the default domain.
slug: tutorials/partner-portal/domains/configuring-www-default-domain
searchable: true
---

{% include 'alert/warning', content: 'You are viewing documentation for the legacy version of the Domain configuration functions. Documentation for the current version is available here: [Setting Up a Production Domain](/tutorials/partner-portal/domains/dns-setting-up-production-domain)' %}

This guide will help you set up the www version of your domain (www.example.com instead of example.com) as the default domain.

## Requirements
To set up the www version of your domain as the default domain, you have to have access to the Partner Portal, and a production domain set up.

* [Accessing the Partner Portal](/get-started/accessing-partner-portal)
* [Setting Up a Production Domain](/tutorials/partner-portal/domains/setting-up-production-domain)

## Steps

Setting up the www version of your domain as the default domain is a three-step process:

<div data-autosteps></div>

### Step 1: Verify wildcard SSL certificate
To ensure that you have a wildcard SSL certificate applied to your domain, log in to the [Partner Portal](https://partners.platformos.com). In the menu on the left, click on `Instances`, and select the Instance you'd like to work with.

On the selected Instance's page, click on `Legacy Domains`. You can see the list of domains associated with this Instance. In the row of the domain you'd like to set as www, click on `Details`. Click on `Certificate details`, and verify that the SSL certificate is valid for the following versions of your domain:

* example.com
* *.example.com
* www.example.com

### Step 2: Add Hosted Zone for www

On the domain's page, click on `Configure Hosted Zone`. A list of Hosted Zone records associated with the domain is displayed.

Click on `Add record` and fill in the form:

* **Type:** Select `CNAME`.
* **Name:** Add `www` at the start.
* **TTL (Seconds):** 3600
* **Value:** Enter your root domain. (E.g. example.com)

Click on `Create Hosted zone record`. The `www.example.com` record has been added to the list.

### Step 3: Add www.example.com domain

On the Instance's page, go to `Legacy Domains`, click on `Add new domain`, and fill on the form:

* **Name:** www.example.com
* **Use as default:** check to enable
* **Redirect:** check to enable
   * **Redirect to:** https://www.example.com
   * **Redirect code:** 301 if permanent, 302 if temporary

Refresh the page, and you can see the www.example.com domain in the list set up as the default domain.

## Next steps
Congratulations! You have set up the www version of your domain as the default domain. Now you can learn more about deploying and syncing changes.

* [Deploying and Syncing Changes](/get-started/deploying-syncing-changes)
