---
converter: markdown
metadata:
  title: Deleting an SSL Certificate
  description: This guide will help you delete a previously requested SSL Certificate.
slug: tutorials/partner-portal/domains/deleting-ssl-certificate
---

{% include 'alert/warning', content: 'You are viewing documentation for the legacy version of the Domain configuration functions. Documentation for the current version is available here: [Setting Up a Production Domain](/tutorials/partner-portal/domains/dns-setting-up-production-domain)' %}

This guide will help you delete a previously requested SSL Certificate in case you want to change it or if the request process has timed out.

## Requirements
To follow the steps in this tutorial, you have to have access to the Partner Portal, and you should have a previously requested SSL Certificate (or started requesting the certificate but the process has timed out).

* [Register on the Partner Portal](/get-started/hello-world/register-partner-portal)
* [Setting Up a Production Domain — Step 3: Request SSL Certificate](/tutorials/partner-portal/domains/setting-up-production-domain#step-3-request-ssl-certificate)

## Steps

Deleting an SSL Certificate is a two-step process:

<div data-autosteps></div>

### Step 1: Locate SSL Certificate
[Find the Instance](/tutorials/partner-portal/instances/finding-instances) connected to the domain which SSL Certificate you would like to delete.

On the Instance page, click on `Legacy Domains`. Locate the domain, and click on `details`.

### Step 2: Delete SSL Certificate

Click on `Certificate details`, and under Actions, click on `Delete`.
When asked if you're sure, click `OK` to confirm the deletion. The SSL Certificates page of the domain is displayed, and you can see that the SSL Certificate has been removed.
