---
converter: markdown
metadata:
  title: Setting Up a Production Domain
  description: This guide will help you set up a production domain.
slug: tutorials/partner-portal/domains/dns-setting-up-production-domain
searchable: true
---

This guide will help you set up a production domain. The production domain is the domain of your production Instance, your live site available to visitors.


## Requirements
To be able to set up a production domain on the Partner Portal, you have to have access to the Partner Portal, have a production Instance, and you should be familiar with the recommended development workflow.

* [Accessing the Partner Portal](/get-started/accessing-partner-portal)
* [Setting Up a Site on Our Platform](/get-started/setting-up-site)
* [Development Workflow](/how-platformos-works/platformos-workflow/development-workflow)

{% include 'alert/note', content: 'A domain can only be added on a production data center. It means that you cannot set up an additional domain on staging data centers.' %}

{% include 'alert/note', content: 'We are continuously improving the UX of this functionality, trying to make it as user-friendly as possible. Some changes may apply.' %}

## Steps

<div data-autosteps></div>

### Step 1: Open the `Add new domain to your instance` form

On the selected Instance's page, click on `Domains` then `Add new domain to your instance`.

### Step 2: Select DNS Zone or External DNS managent
The next step is to decide how you will manage the DNS records. In the end, both scenarios will include creating a www version of your domain and redirecting from the root to the www version.

Pick an option from below:

* DNS Zone [Recommended]
Choose this option if you want to manage the DNS through the Partner Portal by creating a DNS Zone. You can fully configure your domain, add any necessary DNS records, MX records for mail boxes, etc. here.

* External DNS management
Choose this option if you want to manage the DNS through a 3rd party solution. After confirming permissions to your domain, you will be provided a Load Balancer DNS Name [FQDN] to which you will need to point your domain within your 3rd party solution.
*NOTE*: your DNS solution must provide for the acceptance of Fully Qualified Domain Names!

### Step 3: Name your new domain
After selecting your option you will have to enter the name of the new domain and click on `Create domain`.

{% include 'alert/note', content: 'The name of your new domain must be a root domain, for example: `platformos-demo.com`, not `www.domain.com`.' %}

You will be redirected back to the domains page. In a few moments, your new domain will appear on the domains list. Wait for the status to change from pending and then click `view` for futher instructions.

### Next step

* If you selected [DNS Zone](/tutorials/partner-portal/domains/dns-setting-up-production-domain-pos)
* If you selected [External DNS management](/tutorials/partner-portal/domains/dns-setting-up-production-domain-ext)
