---
converter: markdown
metadata:
  title: Setting Up a Production Domain
  description: This guide will help you set up a production domain.
slug: tutorials/partner-portal/domains/setting-up-production-domain
searchable: true
---

{%- capture content -%}You are viewing documentation for the legacy version of the Domain configuration functions. Documentation for the current version is available here: [Setting Up a Production Domain](/tutorials/partner-portal/domains/dns-setting-up-production-domain)
{%- endcapture -%}
{% include 'alert/warning', content: content %}

This guide will help you set up a production domain. The production domain is the domain of your production Instance, your live site available to visitors.

## Requirements
To be able to set up a production domain on the Partner Portal, you have to have access to the Partner Portal, have a production Instance, and you should be familiar with the recommended development workflow.

* [Accessing the Partner Portal](/get-started/accessing-partner-portal)
* [Setting Up a Site on Our Platform](/get-started/setting-up-site)
* [Development Workflow](/how-platformos-works/platformos-workflow/development-workflow)

## Steps

Setting up a production domain is a five-step process:

<div data-autosteps></div>

### Step 1: Add new domain

Log in to the [Partner Portal](https://partners.platformos.com). In the menu on the left, click on `Instances`, and select the production Instance you'd like to display on your production domain.

On the selected Instance's page, click on `Legacy Domains`. You can see the list of domains associated with this Instance. Click on `Add new domain`. Enter the name of the new domain, e.g. `platformos-demo.com`, and click on `Create domain`. You can see the domain added to the list of domains associated with the Instance.

### Step 2: Add hosted zone with alias record

Click on the `Details` button next to your newly added domain. Check `Include Load Balancer A ALIAS Record`, and click on `Create hosted zone`.

You can create a hosted zone for any registered domain you or your client owns. You can create only one hosted zone for your domain. (Adding more is a feature coming soon). If you created and then deleted a hosted zone, you will have to wait a few hours before you can add the same domain name again. This is due to DNS TTL and cache.

Configure your domain through your domain provider's admin: change Name Servers to NS record from your newly created Hosted Zone.

### Step 3: Request SSL Certificate
Go back to `Domains`, then `Details`. Click on `Request SSL Certificate`.

A form is displayed, pre-populated with default values according to the selected domain:

* `Domain name`: name of the selected domain
* `Subject alternative names`: Add domain names to this text area, one domain per line.
* `Validation method`: Your SSL Certificate can be validated in two ways:
    * `DNS`: To use DNS validation, you must be able to add a CNAME record to the DNS configuration for your domain. If platformOS [AWS Route 53] is not your DNS provider, contact your provider to find out how to add records. If platformOS [Route 53] is your provider, we can create the CNAME record for you.
    * `EMAIL`: Receive an email with a validation link. AWS Certificate Manager (ACM) sends the validation email to the 3 contact addresses listed in WHOIS and to 5 common system addresses for each domain that you specify. So up to 8 email messages will be sent for every domain name and subject alternative name that you include in your request.

Click on `Request Certificate`. We start the process of requesting your certificate. You can check the status of this process on the Certificate details page displayed.

It can take 30 minutes or longer for the changes to propagate, and for AWS to validate the domain and issue the certificate.

Click on `Refresh` to display the instructions for using the SSL Certificate. The instructions correspond to the validation method you chose earlier (DNS or email).

### Step 4: Create CNAME record (optional, if using DNS validation)

Because you have created a corresponding hosted zone already, platformOS can update your DNS configuration for you.

On the Certificate details page, click on `Create record` for each domain name.

Go back to `Domains`, then `Details`. Click on `Configure Hosted Zone`. You can find the CNAME records added to the list of records.

### Step 5: Attach SSL Certificate to Application Load Balancer

Go back to `Domains`, then `Details`. Click on Certificate details.

Once your domain is validated and the SSL Certificate issued (Validation Status: SUCCESS, and SSL Certificate Status: ISSUED), click on the `Add to Load Balancer` button.

Check your https domain in your browser. It's up and running, and secure.

## Next steps
Congratulations! You have set up a production domain. Now you can learn more about deploying and syncing changes.

* [Deploying and Syncing Changes](/get-started/deploying-syncing-changes)
