.category__release-notes {
  h1 {
    text-align: center;
    margin-bottom: 1rem;
  }
  h1 + h4 {
    margin-top: 0;
    margin-bottom: 2.5em;
    text-align: center;
    font-weight: 300;
  }
}

h4 + h2, h4 + h3 {
  margin-top: 1rem !important;
}

.release-note {
  border-radius: 1em;
  width: auto;
  display: inline-block;
  padding: 0.35em 1.25em;
  color: #fff !important;
  font-size: 1.1em;
}

.release-note__new {
  background-color: #30bd8e;
}

.release-note__fixed {
  background-color: #fd8324;
}

.release-note__improved {
  background-color: #2775c1;
}