#contributors-page {
    overflow: auto;

    ul {
        list-style-type: none;
        li {
            float: left;
            margin: 15px;
            width: 150px;
            height: 170px;
            overflow: hidden;

            .contributor-avatar{
                float: left;
            }

            .contributor-name {
                float: left;
                clear: both;
            }
        }
    }
}