h4 + h2, h4 + h3 {
  @apply mt-4 !important;
}

h4 {
  @apply font-semibold;
}

h4 + ul {
  @apply text-lg font-light;
}

.release-notes__year-container {
  li {
    @apply mb-5;
  }

  a {
    @apply text-lg no-underline text-pos-darkblue;
  }

  span {
    @apply text-sm text-body;
  }
}

.release-notes__timeline {
  @apply relative;

  &:before {
    @apply absolute;
    height: calc(100% - 3.5em);
    content: ' ';
    border-left: 3px solid #ebebeb;
    top: 3.1em;
    left: 50%;
  }
}

.release-note {
  @apply rounded-full w-auto inline-block px-5 py-2 text-white text-lg font-medium !important;
}

.release-note__new {
  background-color: #30bd8e;
}

.release-note__fixed {
  background-color: #fd8324;
}

.release-note__improved {
  background-color: #2775c1;
}