/* Headings */
.category__release-notes {
  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
  h1 + h4 {
    margin-top: 0;
    margin-bottom: 2.5em;
    text-align: center;
    font-weight: 300;
  }
}

h4 + h2, h4 + h3 {
  margin-top: 1rem !important;
}

/* Index */
.release-notes__year-container {
  margin-bottom: 1em;

  h3 {
    font-size: 2em;
  }

  ul {
    margin-bottom: 3em;
  }

  li {
    margin-bottom: 1.5em;
  }

  a {
    color: #2775c1;
    text-decoration: underline;
  }

  span {
    font-size: 0.9em;
    color: #a6a6a6;
  }
}

.release-notes__timeline {
  position: relative;

  &:before {
    height: calc(100% - 3.5em);
    content: ' ';
    border-left: 3px solid #ebebeb;
    position: absolute;
    top: 3.1em;
    left: 50%;
  }
}

/* Details */
.release-note {
  border-radius: 1em;
  width: auto;
  display: inline-block;
  padding: 0.35em 1.25em;
  color: #fff !important;
  font-size: 1.1em;
  font-weight: 500 !important;
}

.release-note__new {
  background-color: #30bd8e;
}

.release-note__fixed {
  background-color: #fd8324;
}

.release-note__improved {
  background-color: #2775c1;
}