button.ais-SearchBox-submit,
button.ais-SearchBox-reset { display: none; }
#search-page-input-container { margin-bottom: 30px; }
.ais-Hits-list { list-style: none; }
.ais-Pagination-list {
  list-style: none;
  display: flex;
}
.ais-Pagination-list li { padding: 0 5px; }
ol.ais-Hits-list { padding-left: 0;  }