a.btn.btn-try-now {
  transform: translateY(-25%);
  padding: .5em 2em;
  color: #fff;
  &:hover {
    color: #D8D8D8;
  }
}

@media screen and (max-width: 1280px) {
  a.btn.btn-try-now {
    margin-top: 1em;
  }
}

.journeys__intro p {
  font-size: 18px;
}

.journeys__container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  margin-top: 35px;
}

.journeys__col h3 {
  font-size: 24px;
  line-height: 29px;
}

.journeys__box {
  padding: 40px 40px 40px 100px;
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  position: relative;
}

.journeys__box li {
  font-size: 16px;
  font-weight: 300;
}

.journeys__box p {
  font-weight: 300;
}

.journeys__box h3 {
  margin-top: 0;
}

.journeys__box .icon-best-practices, .journeys__box .icon-get-started {
  position: absolute;
  top: 40px;
  left: 30px;
  display: block;
}

.journeys__box a {
  font-weight: 500;
  text-decoration: none;
}


@media screen and (max-width: 1280px) {
  .journeys__container {
    flex-wrap: wrap;
  }

  .journeys__col {
    width: 100%;
    margin-bottom: 45px;
  }

  .journeys__box {
    margin: 0 auto;
  }
}