body {
  background: #fff;
  font-family: $ff-base;
  font-size: $font-size-base;
  font-display: fallback;
  line-height: $line-height-base;
  color: $base;
  font-weight: 300;
}

// Make sure footer is always at the bottom (even when page is short)
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

a {
  color: $blue;
  text-decoration: underline;
}

a:hover,
a[href^="tel"] {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: calc(#{$line-height-base}em / 2);
}

h1 {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 13px;
}

h2 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 15px;
}

h6 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

// p > a:not([class]) {
//   text-decoration: underline;
//   color: $blue;
// }

// p > a:not([class]):hover {
//   text-decoration: none;
// }

p {
  margin-bottom: 16px;
}

p:last-child {
  margin-bottom: 0;
}

blockquote {
  max-width: 58%;
  background: $grey-l;
  color: $blue;
  padding: 9px 20px;
  font-family: $hn;
  border-radius: 3px;
  margin-top: 21px;
}

ul,
ol,
dl,
hr,
table,
blockquote {
  margin-bottom: #{$line-height-base}em;
}

header, footer, aside {
  ul, ol {
    list-style-type: none;
    padding-left: 1rem;
  }
}
