[hidden],
.hidden {
  display: none !important;
}

[disabled],
.disabled {
  cursor: default;
}

// Improving accessibility - https://www.coolfields.co.uk/2016/05/text-for-screen-readers-only-updated/
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
  word-wrap:normal !important;
}
