---
converter: markdown
metadata:
  title: REST API
slug: api-reference/rest-api
---

## List of resources

<ul>
  <li><a href="/api-reference/rest-api/customizations">Customizations</a></li>
  <li><a href="/api-reference/rest-api/sessions">Sessions</a></li>
  <li><a href="/api-reference/rest-api/users">Users</a></li>
</ul>
