/* ------------------------------------------------------------ *\
	Alert
\* ------------------------------------------------------------ */

.alert {
	padding: 17px 15px; 
	font-size: 14px; 
	letter-spacing: .036em; 
	line-height: 1.6; 
	margin-bottom: 0; 
	border-color: transparent;
	border-radius: 4px;

	& + .alert {
		margin-top: 19px; 
	}

	.alert__title {
		display: flex; 
		align-items: center;
		margin-bottom: 10px; 

		h5 {
			margin-bottom: 0; 
			margin-left: 10px; 
		}
	}

	&-secondary {
		background-color: #F4F7F9; 
	}

	&-success {
		background-color: rgba(56,212,48,.1); 
	}

	&-primary {
		background-color: #E7F9FF; 
	}

	&-warning {
		background-color: #FFF4E3; 
	}

	&-danger {
		background-color: #FFDFDE; 
	}
}

.alerts {
	list-style-type: none; 
}

