/* ------------------------------------------------------------ *\
	Breadcrumbs
\* ------------------------------------------------------------ */

.breadcrumbs {
  width: 100%;
  padding: 16px 0 19px;

  ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    letter-spacing: 0.05em;
    margin-bottom: 0;

    a {
      text-decoration: none;
      font-size: 12px;
    }

    li {
      svg {
        margin: 0 0.5em;
      }
      &:last-child {
        a {
          color: #2173c4;
        }
      }
    }
  }
}
