/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  appearance: none;
  border-radius: 0.25rem;

  font-size: 12px;
  padding: 10px 15px 9px;
  text-transform: uppercase;

  &--block {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }

  &-primary {
    background-color: #2173c4;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    &:hover {
      box-shadow: 0 0 8px 0 rgba(33, 115, 196, 0.5);
    }
  }

  &-outline-primary {
    font-weight: 500;
    color: rgb(33, 115, 196);
    border: 1px solid rgb(33, 115, 196);
    &:hover {
      color: darken(rgb(33, 115, 196), 15);
      border-color: darken(rgb(33, 115, 196), 15);
    }
  }
}
