/* ------------------------------------------------------------ *\
	Content
\* ------------------------------------------------------------ */
.content__main {
  padding-left: 36px;
  padding-bottom: 50px;
  font-size: 15px;

  h3 {
    &.margin-bottom-md {
      margin-bottom: 26px;
    }
  }

  p {
    margin-bottom: 1em;
  }

  ul,
  ol {
    margin-bottom: 1em;
    padding-left: 1em;
    li {
      margin-bottom: 0.25em;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-top: 1.75em;
    margin-bottom: .75em;
    word-break: break-word;
    color: #4A4A4A;
    &:first-child {
      margin-top: 0;
    }
  }

  h4 {
    word-break: break-all;
  }

  img {
    max-width: 100%;
  }

  .anchorjs-link::after {
    color: #2173c4;
  }
}

.content__autosteps {
  list-style-type: none;
  padding-left: 0;
}

// TABLE OF CONTENT
.content__aside {
  position: sticky;
  top: 30px;
  padding: 18px;
  background-color: #f4f7f9;
  margin-left: 16px;

  h4 {
    margin-bottom: 1.5em;
  }

  ul {
    list-style-type: none;
    padding-left: 3px;

    a {
      text-decoration: none;

      &:hover {
        color: #2173c4;
      }
    }

    li + li {
      margin-top: .5em;
    }
  }
}
