/* ------------------------------------------------------------ *\
	Content
\* ------------------------------------------------------------ */
.content__main {
  padding-left: 36px;
  padding-bottom: 50px;

  font-size: 15px;

  h2 {
    margin-bottom: 27px;
    color: #141414;
  }

  h3 {
    margin-bottom: 40px;
    color: #141414;

    &.margin-bottom-md {
      margin-bottom: 26px;
    }
  }

  h4 {
    margin-bottom: 18px;
    color: #141414;
  }

  p {
    margin-bottom: 1em;
  }

  ul,
  ol {
    margin-bottom: 1em;
    padding-left: 1em;
    li {
      margin-bottom: 0.25em;
    }
  }

  h2,
  h3,
  h4,
  h5 {
    margin-top: 1.75em;
    word-break: break-all;
    &:first-child {
      margin-top: 0;
    }
  }

  img {
    max-width: 100%;
  }
}

// TABLE OF CONTENT
.content__aside {
  background-color: #f4f7f9;
  margin-left: 32px;
  margin-top: 18px;
  padding: 34px 18px 30px;
  position: sticky;
  top: 50px;

  h4 {
    letter-spacing: 0.02em;
    margin-bottom: 21px;
  }

  ul {
    list-style-type: none;
    padding-left: 3px;

    a {
      text-decoration: none;
      transition: color 0.2s;

      &:hover {
        color: #2173c4;
      }
    }

    li {
      & + li {
        margin-top: 11px;
      }
    }
  }
}
