/* ------------------------------------------------------------ *\
	Form Search
\* ------------------------------------------------------------ */

.form-group {
  margin-bottom: 1.25rem;
}

.form-control {
  display: block;
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
}

.form-search {
  padding-top: 38px;

  .form__controls {
    display: flex;
  }

  .form-control {
    height: 55px;
    background-color: #fff !important;
    border-radius: 25px;
    padding: 0 22px;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #666;
    border: 0;
    box-shadow: 0px 0px 10px #bbb;
  }

  .form-btn {
    background-color: transparent;
    margin-left: -45px;
    border: 0;
    padding: 0;
    color: #919191;

    svg {
      margin-top: 5px;
    }
  }

  &--alt {
    padding-top: 0;

    .form__controls {
      margin-left: auto;
      max-width: 350px;
      display: flex;
    }

    .form-control {
      border: 0;
      border-radius: 0;
      outline: 0 !important;
      box-shadow: none !important;
      font-size: 18px;
      padding-left: 40px;
      padding-right: 22px;
    }

    .form-btn {
      margin-left: 0;
    }
  }
}

/* ------------------------------------------------------------ *\
	Form Feedback
\* ------------------------------------------------------------ */

.form-feedback {
  font-size: 14px;
  letter-spacing: 0.018em;
  label {
    padding-left: 3px;
    display: block;
    margin-bottom: 18px;
    span {
      display: block;
    }
  }

  textarea.form-control {
    resize: none;
    height: 90px;
  }

  .form-group {
    margin-bottom: 10px;

    .capatcha {
      padding-top: 7px;
      padding-bottom: 3px;
      text-align: right;
    }
  }

  .form-control {
    height: 47px;
    padding: 5px 18px;
    font-size: 14px;
    letter-spacing: 0.03em;
    border-color: #ebebeb;
    border-radius: 2px;
    color: #767676;
  }

  .form__actions {
    text-align: right;

    .btn {
      min-width: 118px;
    }
  }
}
