[hidden],
.hidden {
  display: none !important;
}

[disabled],
.disabled {
  cursor: default;
}

// More granular sizings - sometimes helpful with table columns

$widths: 10 20 25 30 40 50 60 70 75 80 90 100;
@each $width in $widths {
  .w-#{$width} {
    width: #{$width}#{"%"};
  }
}