/* ------------------------------------------------------------ *\
	Nav Header
\* ------------------------------------------------------------ */

.nav-header {
  padding-top: 9px;
  ul {
    display: flex;
    font-weight: 500;

    a {
      text-decoration: none;
      letter-spacing: 0.04em;
      color: #4a4a4a;
      transition: color 0.2s;
    }

    li {
      & + li {
        margin-left: 70px;
      }
    }
  }
}

/* ------------------------------------------------------------ *\
	Nav Footer
\* ------------------------------------------------------------ */

.nav-footer {
  a {
    text-decoration: none;
    letter-spacing: 0.03em;
    transition: color 0.2s;

    &:hover {
      color: #2173c4;
    }
  }

  li {
    & + li {
      margin-top: 5px;
    }
  }

  &--padding-left {
    padding-left: 15px;
  }
}

/* ------------------------------------------------------------ *\
	Nav Sidebar
\* ------------------------------------------------------------ */

.nav-sidebar {
  font-size: 15px;
  letter-spacing: 0.02em;
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 3em;
  border-top: 1px solid #ebebeb;

  ul {
    a {
      text-decoration: none;
      display: block;
      color: #404040;
    }

    li + li {
      margin-top: 5px;
    }

    .submenu {
      font-size: 13px;
      margin-bottom: 0;
      padding: 5px 0 6px 27px;
    }
  }
}
