/* ------------------------------------------------------------ *\
	Sidebar
\* ------------------------------------------------------------ */

.sidebar {
  background-color: #f4f7f9;
  position: relative;
  z-index: 2;
  margin-right: -15px;
  padding-top: 73px;
  padding-right: 30px;
  padding-left: 44px;
  height: 100%;
  border-right: 1px solid #ebebeb;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50vw;
    background-color: inherit;
    z-index: -1;
  }

  .sidebar__title {
    display: flex;
    align-items: center;

    svg {
      transform: translateX(-50%);
      margin-left: -32px;
    }

    h4 {
      letter-spacing: 0.03em;
      margin-bottom: 0;
    }
  }
}
