@import '~prismjs/themes/prism.css';
@import '~prismjs/plugins/line-numbers/prism-line-numbers.css';
@import '~prismjs/plugins/command-line/prism-command-line.css';


code {
  color: #07a;
  padding: 0.2em 0.4em;
  background-color: #f5f2f0;
}

p > code {
  word-break: break-all;
  @include media-breakpoint-up(md) {
    word-break: keep-all;
  }
}

code[class*="language-"], pre[class*="language-"] {
  font-size: 12px;
  margin: 2em 0;
}
