/* ------------------------------------------------------------ *\
	Table
\* ------------------------------------------------------------ */

.table-component {
	margin-top: -26px; 
	padding-bottom: 1px; 
}

.table {
	th {
		border: 0;
		padding-left: 3px; 
	}

	td {
		padding-left: 3px; 
		padding: 5px 20px 10px 3px; 
	}

	tr:last-child {
		td {
			border-bottom: 1px solid #e9ecef; 
		}
	}
}
