---
converter: markdown
metadata:
  title: Small fixes and improvements
  description: May 04, 2020
  skip_contribute_button: true
  last_edit: false
slug: release-notes/04-MAY-2020
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__fixed">FIXED</h4>

* change default sort of modules in Partner Portal to show the newest first
* `array_append` will not crash when used on property with NULL value
* when using `{% raw %}{% log form %}{% endraw %}` inside default_payload and then in callback_actions its value will appear the same
