---
converter: markdown
metadata:
  title: config.yml warns about missing property instead of triggering an error
  description: Feb 26, 2026
  skip_contribute_button: true
  last_edit: false
slug: release-notes/26-FEB-26
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__fixed">FIXED</h4>

* **`app/config.yml` missing property handling**: Instead of triggering an error when a property is missing in `app/config.yml`, the platform now logs a warning, allowing the application to continue running.
