<div class="mb-20 text-center md:flex md:justify-center">
  <div class="mt-10 md:w-1/3 md:mx-20 md:mt-10">
    <h3 class="mb-4 text-lg font-bold">Community</h3>
    <p class="text-body">Join in, grow your skills, and find people who share your interest in platformOS.</p>

    <a href="/community" class="inline-block mt-6 text-sm font-bold no-underline text-pos-darkblue hover:text-pos-blue">
      JOIN OUR COMMUNITY
      <svg width="10" height="11"><use xlink:href="#arrow-right"></use></svg>
    </a>
  </div>

  <div class="hidden w-px border-l sm:block border-pos-divider"></div>

  <div class="relative mt-16 md:w-1/3 md:mx-20 md:mt-10">
    <h3 class="mb-4 text-lg font-bold">Get Involved</h3>
    <p class="text-body">Learn about the many ways you can contribute to our documentation.</p>

    <a href="/community/contributor-guide" class="inline-block mt-6 text-sm font-bold no-underline text-pos-darkblue hover:text-pos-blue">
      CHECK OUT OUR CONTRIBUTOR GUIDE
      <svg width="10" height="11"><use xlink:href="#arrow-right"></use></svg>
    </a>
  </div>
</div>
