<form action="/" method="get" class="mt-8">
  <label class="flex items-center mt-0" for="query">
    <span class="screen-reader-text">Search in documentation</span>

    <input type="text" name="query" id="query"
      class="w-full px-6 text-lg text-white border-0 rounded-full search--input bg-pos-searchblue"
      placeholder="Search documentation…"
      style="box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2);" />

    <div class="relative -ml-10 text-white">

      <svg fill="none" height="24" viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg">
        <title>Search icon</title>
        <g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path clip-rule="evenodd" d="m15.5403 19.8028c4.0948-1.7402 6.0035-6.4704 4.2632-10.56518-1.7402-4.09476-6.4704-6.00348-10.56513-4.26325-4.09476 1.74023-6.00348 6.47043-4.26325 10.56513 1.74023 4.0948 6.47038 6.0035 10.56518 4.2633z" fill-rule="evenodd"/><path d="m18.0853 18.0844 6.248 6.2489"/></g>
      </svg>
    </div>
  </label>
</form>