<div class="form-search">
  <form action="/search" method="get">
    <label class="form__controls" for="query">
      <span class="screen-reader-text">Search in documentation</span>
      <input type="text" name="query" id="query" class="form-control search--input" placeholder="Search documentation…" />

      <button class="form-btn">
        <span class="screen-reader-text">Search</span>
        <svg width="32" height="32"><use xlink:href="#search"></use></svg>
      </button>
    </label>
  </form>
</div>