<div class="bg-white mt-10 md:mt-12 md:mb-12">
  <div class="grid md:grid-cols-2">
    <div class="shadow-sm hover:shadow-inner md:pl-12 md:pt-12">
      <a href="/kits/devkit/pos-cli" class="flex items-center h-full p-4 no-underline border-1 sm:p-8 text-body hover:text-pos-darkblue">
        <img src="{{ 'images/svg/sections/dev-kit.svg' | asset_url }}"/>

        <div class="ml-4">
          <h2 class="mb-6 text-lg font-bold hover:text-pos-blue">DevKit</h2>
          <p>Learn how to leverage our command line tool, GraphQL, and LiquidMarkup.</p>
        </div>
      </a>
    </div>

    <div class="shadow-sm hover:shadow-inner md:pt-12 md:pr-12">
      <a href="/kits/modular-architecture/introduction" class="flex items-center h-full p-4 no-underline border-1 sm:p-8 text-body hover:text-pos-darkblue">
        <img src="{{ 'images/svg/sections/code-kit.svg' | asset_url }}"/>

        <div class="ml-4">
          <h2 class="mb-6 text-lg font-bold hover:text-pos-blue">CodeKit</h2>
          <p>Explore pre-made modular code for various features.</p>
        </div>
      </a>
    </div>

    <div class="shadow-sm hover:shadow-inner md:pl-12 md:pb-12">
      <a href="/kits/ui/platformos-design-kit" class="flex items-center h-full p-4 no-underline border-1 sm:p-8 text-body hover:text-pos-darkblue">
				<img src="{{ 'images/svg/sections/design-kit.svg' | asset_url }}"/>

        <div class="ml-4">
          <h2 class="mb-6 text-lg font-bold hover:text-pos-blue">DesignKit</h2>
          <p>Learn how to use the complete set of UI components in our Design System.</p>
        </div>
      </a>
    </div>

    <div class="shadow-sm hover:shadow-inner md:pb-12 md:pr-12">
      <a href="/kits" class="flex items-center h-full p-4 no-underline border-1 sm:p-8 text-body hover:text-pos-darkblue">
        <img src="{{ 'images/svg/sections/pos-kits.svg' | asset_url }}"/>

        <div class="ml-4">
          <h2 class="mb-6 text-lg font-bold hover:text-pos-blue">platformOS Kits</h2>
          <p>Learn about pre-built solutions for development, UX, UI, mobile, and documentation.</p>
        </div>
      </a>
    </div>
  </div>
</div>
