<div class="mt-10 md:mt-20 md:mb-10">
  <div class="flex flex-wrap justify-center">

    <div class="w-full mt-4 bg-white shadow-sm md:w-1/4 hover:shadow-box">
      <a href="/get-started" class="flex h-full p-4 no-underline border-1 sm:px-6 sm:py-8 text-body hover:text-pos-darkblue">
        <div class="mr-4 align-left min-w-32 max-w-32">
          {% include 'svg/get-started', width: '40px' %}
        </div>

        <div>
          <h4 class="mb-6 font-medium hover:text-pos-blue">Get Started</h4>
          <p class="text-sm font-light">Follow step-by-step tutorials to set up your development environment and build a ToDo List App on platformOS.</p>
        </div>
      </a>
    </div>

    <div class="w-full mt-4 bg-white shadow-sm md:w-1/4 hover:shadow-box md:mx-4">
      <a href="/developer-guide" class="flex h-full p-4 no-underline border-1 sm:px-6 sm:py-8 text-body hover:text-pos-darkblue">
        <div class="mr-4 align-left min-w-32 max-w-32">
          {% include 'svg/developer-guide', width: '40px' %}
        </div>

        <div>
          <h4 class="mb-6 font-medium hover:text-pos-blue">Developer Guide</h4>
          <p class="text-sm font-light">Explore detailed descriptions of concepts, step-by-step tutorials, references, and examples for implementing various features on platformOS.</p>
        </div>
      </a>
    </div>

    <div class="w-full mt-4 bg-white shadow-sm md:w-1/4 hover:shadow-box">
      <a href="/api-reference" class="flex h-full p-4 no-underline border-1 sm:px-6 sm:py-8 text-body hover:text-pos-darkblue">
        <div class="mr-4 align-left min-w-32 max-w-32">
          {% include 'svg/api-reference', width: '40px' %}
        </div>

        <div>
          <h4 class="mb-6 font-medium hover:text-pos-blue">API Reference</h4>
          <p class="text-sm font-light">Consult our comprehensive documentation for the platformOS API including GraphQL API reference, and Liquid filters.</p>
        </div>
      </a>
    </div>

    <div class="w-full mt-4 bg-white shadow-sm md:w-1/4 hover:shadow-box">
      <a href="/best-practices" class="flex h-full p-4 no-underline border-1 sm:px-6 sm:py-8 text-body hover:text-pos-darkblue">
        <div class="mr-4 align-left min-w-32 max-w-32">
          {% include 'svg/best-practices', width: '40px' %}
        </div>

        <div>
          <h4 class="mb-6 font-medium hover:text-pos-blue">Best Practices</h4>
          <p class="text-sm font-light">Get expert advice on platformOS best practices in a wide variety of topics.</p>
        </div>
      </a>
    </div>

    <div class="w-full mt-4 bg-white shadow-sm md:w-1/4 hover:shadow-box md:mx-4">
      <a href="/use-cases" class="flex h-full p-4 no-underline border-1 sm:px-6 sm:py-8 text-body hover:text-pos-darkblue">
        <div class="mr-4 align-left min-w-32 max-w-32">
          {% include 'svg/use-cases', width: '40px' %}
        </div>

        <div>
          <h4 class="mb-6 font-medium hover:text-pos-blue">Use Cases</h4>
          <p class="text-sm font-light">Explore how to implement real-life use cases.</p>
        </div>
      </a>
    </div>

    <div class="w-full mt-4 bg-white shadow-sm md:w-1/4 hover:shadow-box">
      <a href="/release-notes" class="flex h-full p-4 no-underline border-1 sm:px-6 sm:py-8 text-body hover:text-pos-darkblue">
        <div class="mr-4 align-left min-w-32 max-w-32">
          {% include 'svg/how-platformos-works', width: '40px' %}
        </div>

        <div>
          <h4 class="mb-6 font-medium hover:text-pos-blue">Release Notes</h4>
          <p class="text-sm font-light">Learn about new features, deprecations, improvements, and fixes in platformOS from our regular release notes.</p>
        </div>
      </a>
    </div>

  </div>
</div>
