<div class="section-options">
  <div class="container">
    <div class="options">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <a href="/get-started" class="option">
            <div class="option__image">
              {% include 'svg/get-started', width: '48px' %}
            </div>

            <div class="option__content">
              <h4> Get Started </h4>
              <p>Follow step-by-step tutorials to set up your development environment and build a ToDo List App on platformOS.</p>
            </div>
          </a>
        </div>

        <div class="col-md-4">
          <a href="/developer-guide" class="option">
            <div class="option__image">
              {% include 'svg/developer-guide', width: '48px' %}
            </div>

            <div class="option__content">
              <h4> Developer Guide </h4>
              <p>Explore detailed descriptions of concepts, step-by-step tutorials, references, and examples for implementing various features on platformOS.</p>
            </div>
          </a>
        </div>

        <div class="col-md-4">
          <a href="/api-reference" class="option">
            <div class="option__image">
              {% include 'svg/api-reference', width: '48px' %}
            </div>

            <div class="option__content">
              <h4>API Reference</h4>
              <p>Consult our comprehensive documentation for the platformOS API including GraphQL API reference, and Liquid filters.</p>
            </div>
          </a>
        </div>

        <div class="col-md-4">
          <a href="/best-practices" class="option">
            <div class="option__image">
              {% include 'svg/best-practices', width: '48px' %}
            </div>

            <div class="option__content">
              <h4>Best Practices</h4>
              <p>Get expert advice on platformOS best practices in a wide variety of topics.</p>
            </div>
          </a>
        </div>

        <div class="col-md-4">
          <a href="/use-cases" class="option">
            <div class="option__image">
              {% include 'svg/use-cases', width: '48px' %}
            </div>

            <div class="option__content">
              <h4>Use Cases</h4>
              <p>Explore how to implement real-life use cases.</p>
            </div>
          </a>
        </div>

        <div class="col-md-4">
          <a href="/release-notes" class="option">
            <div class="option__image">
              {% include 'svg/how-platformos-works', width: '48px' %}
            </div>

            <div class="option__content">
              <h4>Release Notes</h4>
              <p>Learn about new features, deprecations, improvements, and fixes in platformOS from our regular release notes.</p>
            </div>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
