<div class="mt-10 md:mt-20 md:mb-12">
  <div class="grid gap-8 md:grid-cols-2 xl:grid-cols-3">

    <div class="bg-white shadow-sm hover:shadow-box">
      <a href="/get-started" class="flex h-full p-4 no-underline border-1 sm:px-6 sm:py-8 text-body hover:text-pos-darkblue">
        <div class="mr-4 align-left min-w-32 max-w-32">
          {% include 'svg/get-started', width: '40px' %}
        </div>

        <div>
          <h2 class="mb-6 text-lg font-medium hover:text-pos-blue">Get Started</h2>
          <p>Follow step-by-step tutorials to set up your development environment and build a sample site or app on platformOS.</p>
        </div>
      </a>
    </div>

    <div class="bg-white shadow-sm hover:shadow-box">
      <a href="/developer-guide" class="flex h-full p-4 no-underline border-1 sm:px-6 sm:py-8 text-body hover:text-pos-darkblue">
        <div class="mr-4 align-left min-w-32 max-w-32">
          {% include 'svg/developer-guide', width: '40px' %}
        </div>

        <div>
          <h2 class="mb-6 text-lg font-medium hover:text-pos-blue">Developer Guide</h2>
          <p>Explore detailed descriptions of concepts, step-by-step tutorials, references, and examples for implementing various features on platformOS.</p>
        </div>
      </a>
    </div>

    <div class="bg-white shadow-sm hover:shadow-box">
      <a href="/api-reference" class="flex h-full p-4 no-underline border-1 sm:px-6 sm:py-8 text-body hover:text-pos-darkblue">
        <div class="mr-4 align-left min-w-32 max-w-32">
          {% include 'svg/api-reference', width: '40px' %}
        </div>

        <div>
          <h2 class="mb-6 text-lg font-medium hover:text-pos-blue">API Reference</h2>
          <p>Consult our comprehensive documentation for the platformOS API including GraphQL API reference, and Liquid filters.</p>
        </div>
      </a>
    </div>

    <div class="bg-white shadow-sm hover:shadow-box">
      <a href="/best-practices" class="flex h-full p-4 no-underline border-1 sm:px-6 sm:py-8 text-body hover:text-pos-darkblue">
        <div class="mr-4 align-left min-w-32 max-w-32">
          {% include 'svg/best-practices', width: '40px' %}
        </div>

        <div>
          <h2 class="mb-6 text-lg font-medium hover:text-pos-blue">Best Practices</h2>
          <p>Get expert advice on platformOS best practices in a wide variety of topics.</p>
        </div>
      </a>
    </div>

    <div class="bg-white shadow-sm hover:shadow-box">
      <a href="/use-cases" class="flex h-full p-4 no-underline border-1 sm:px-6 sm:py-8 text-body hover:text-pos-darkblue">
        <div class="mr-4 align-left min-w-32 max-w-32">
          {% include 'svg/use-cases', width: '40px' %}
        </div>

        <div>
          <h2 class="mb-6 text-lg font-medium hover:text-pos-blue">Use Cases</h2>
          <p>Explore how to implement real-life use cases.</p>
        </div>
      </a>
    </div>

    <div class="bg-white shadow-sm hover:shadow-box">
      <a href="/release-notes" class="flex h-full p-4 no-underline border-1 sm:px-6 sm:py-8 text-body hover:text-pos-darkblue">
        <div class="mr-4 align-left min-w-32 max-w-32">
          {% include 'svg/how-platformos-works', width: '40px' %}
        </div>

        <div>
          <h2 class="mb-6 text-lg font-medium hover:text-pos-blue">Release Notes</h2>
          <p>Learn about new features, deprecations, improvements, and fixes in platformOS from our regular release notes.</p>
        </div>
      </a>
    </div>

  </div>
</div>
