{% render 'home/svg-sprite' %}

<div class="mt-10 md:mt-20 md:mb-12">
  <div class="grid gap-8 md:grid-cols-2 xl:grid-cols-3">

    <div class="bg-white shadow-sm hover:shadow-box">
      <a href="/get-started" class="flex items-start h-full p-4 no-underline border-1 sm:px-6 sm:py-8 text-body hover:text-pos-darkblue">
        <svg class="w-10 h-10 flex-shrink-0"><title>Get Started</title><use xlink:href="#src-1"></use></svg>

        <div class="ml-4">
          <h2 class="mb-6 text-lg font-bold hover:text-pos-blue">Get Started</h2>
          <p>Follow step-by-step tutorials to set up your development environment and build a sample site or app on platformOS.</p>
        </div>
      </a>
    </div>

    <div class="bg-white shadow-sm hover:shadow-box">
      <a href="/developer-guide" class="flex items-start h-full p-4 no-underline border-1 sm:px-6 sm:py-8 text-body hover:text-pos-darkblue">
        <svg class="w-10 h-10 flex-shrink-0"><title>Developer Guide</title><use xlink:href="#src-2"></use></svg>

        <div class="ml-4">
          <h2 class="mb-6 text-lg font-bold hover:text-pos-blue">Developer Guide</h2>
          <p>Explore detailed descriptions of concepts, step-by-step tutorials, references, and examples for implementing various features on platformOS.</p>
        </div>
      </a>
    </div>

    <div class="bg-white shadow-sm hover:shadow-box">
      <a href="/api-reference" class="flex items-start h-full p-4 no-underline border-1 sm:px-6 sm:py-8 text-body hover:text-pos-darkblue">
        <svg class="w-10 h-10 flex-shrink-0"><title>API Reference</title><use xlink:href="#src-3"></use></svg>

        <div class="ml-4">
          <h2 class="mb-6 text-lg font-bold hover:text-pos-blue">API Reference</h2>
          <p>Consult our comprehensive documentation for the platformOS API including GraphQL API reference, and Liquid filters.</p>
        </div>
      </a>
    </div>

    <div class="bg-white shadow-sm hover:shadow-box">
      <a href="/best-practices" class="flex items-start h-full p-4 no-underline border-1 sm:px-6 sm:py-8 text-body hover:text-pos-darkblue">
        <svg class="w-10 h-10 flex-shrink-0"><title>Best Practices</title><use xlink:href="#src-4"></use></svg>

        <div class="ml-4">
          <h2 class="mb-6 text-lg font-bold hover:text-pos-blue">Best Practices</h2>
          <p>Get expert advice on platformOS best practices in a wide variety of topics.</p>
        </div>
      </a>
    </div>

    <div class="bg-white shadow-sm hover:shadow-box">
      <a href="/use-cases" class="flex items-start h-full p-4 no-underline border-1 sm:px-6 sm:py-8 text-body hover:text-pos-darkblue">
        <svg class="w-10 h-10 flex-shrink-0"><title>Use Cases</title><use xlink:href="#src-5"></use></svg>

        <div class="ml-4">
          <h2 class="mb-6 text-lg font-bold hover:text-pos-blue">Use Cases</h2>
          <p>Explore how to implement real-life use cases.</p>
        </div>
      </a>
    </div>

    <div class="bg-white shadow-sm hover:shadow-box">
      <a href="/kits" class="flex items-start h-full p-4 no-underline border-1 sm:px-6 sm:py-8 text-body hover:text-pos-darkblue">
        <svg class="w-10 h-10 flex-shrink-0"><title>Standards</title><use xlink:href="#src-6"></use></svg>

        <div class="ml-4">
          <h2 class="mb-6 text-lg font-bold hover:text-pos-blue">Standards</h2>
          <p>Learn about the standards of platformOS development through examples from our Golden Platform.</p>
        </div>
      </a>
    </div>

  </div>
</div>
