---
converter: markdown
metadata:
  title: Adding SendGrid to an Instance
  description: This guide will help you connect an Instance to SendGrid (for email).
slug: tutorials/integrations/adding-sendgrid-instance
searchable: true
---

This guide will help you connect an Instance to SendGrid (for email). 

## Requirements
To follow the steps in this tutorial, you should be able to log in to the Partner Portal, and have an Instance you created or have access to.

* [Accessing the Partner Portal](/get-started/accessing-partner-portal)
* [Setting Up a Site on Our Platform](/get-started/setting-up-site)

## Steps

Adding SendGrid to an Instance is a three-step process:

<div data-autosteps></div>

### Step 1: Locate Instance

In the menu on the left, click on `Instances`, then select the name of the Instance you want to connect to SendGrid. The information page of the Instance is displayed.

### Step 2: Set up SendGrid Integration

On the information page of the Instance, click on `Integrations`, then on the Integrations page, scroll to "SendGrid - email service" and click on `Manage SendGrid`. 

A form is displayed. Enter the email and password you want to use for your account, then click on `Enable SendGrid Integration`. 
 
A message is displayed as we are preparing your integration "We're preparing the SendGrid integration. Refresh the page in a few minutes." 

You can check if your SendGrid integration is set up by going to `Integrations`, then `Manage SendGrid`. The page should say "You already set up a SendGrid account (see your configuration)." 

### Step 3: Locate SendGrid username
 
Once the integration is set up, go to your Instance Configuration page by clicking the `configuration` link on your SendGrid integration page, or clicking on the `Update Configuration` button on the Instance information page. 

In the configuration file, you can see a "sendgrid" section: 

```json
{
  "domains": [
    {
      "name": "example.staging.oregon.platform-os.com",
      "created_at": "2019-10-10T11:52:44.321Z",
      "redirect_to": null,
      "redirect_code": null,
      "use_as_default": true
    }
  ],
  "attributes": {
    "test_mode": false,
    "test_email": null,
    "maintenance_mode": false,
    "timeout_in_minutes": 0,
    "include_tag_with_private_scope": true,
    "enable_sms_and_api_workflow_alerts_on_staging": false
  },
  "integrations": {
    "auth0": {
    },
    "social": [

    ],
    "twilio": {
    },
    "sendgrid": {
      "password": "*************",
      "user_name": "instance-5cb5f156-45fa-4b7f-8c14-32ce64566310"
    },
    "recaptcha": {
    }
  },
  "payment_gateways": {
    "stripe": {
    }
  }
}
```

To log into SendGrid, use the "user_name" in the SendGrid section (without the quotes) `instance-5cb5f156-45fa-4b7f-8c14-32ce64566310` and the password you created in the previous step. 





