---
converter: markdown
metadata:
  title: Adding reCaptcha V3 Spam Protection
  description: This guide will help you add spam protection to your forms with Google reCAPTCHA V3
slug: tutorials/integrations/adding-recaptcha-v3-spam-protection
searchable: true
---
This guide will help you add spam protection to your forms with Google reCAPTCHA V3.

## Requirements

To follow this tutorial, you should be familiar with creating pages and forms, especially user sign in forms. You should also know how to add an integration to your site using the Partner Portal.

* [Creating a Page](/tutorials/pages/creating-page)
* [Signing In a User Manually](/tutorials/users/signing-in-user-manually)
* [Managing Integrations](/tutorials/partner-portal/managing-integrations)

## Steps

Adding reCAPTCHA protection is a four-step process:

<div data-autosteps></div>

### Step 1: Add Google reCAPTCHA V3 keys

Go to our [Partner Portal](https://partners.platform-os.com/instances), and add reCAPTCHA keys in the `Integrations` section. Keys can be generated on [https://www.google.com/recaptcha](https://www.google.com/recaptcha).

### Step 2: Create sign-in page with spam protection

{% raw %}
Start with a simple sign-in page with spam protection enabled by default.
Create a sign-in page and sign-in form configuration.
Form configuration needs to have the attribute `spam_protection` with configuration to enable protection, available options can be found in [Form Configuration tutorial](/tutorials/forms/form-configuration#spam_protection)
Also use the [`{% spam_protection %}`](/api-reference/liquid/platformos-tags#spam_protection) tag to generate required JS (you can include required JS code on your own).
{% endraw %}

#### views/pages/sign-in-recaptcha-v3.liquid
```liquid
{% raw %}
---
slug: sign-in-recaptcha-v3
---
<h2>Sign in</h2>

{% include_form 'sign_in_with_recaptcha_v3' %}
{% endraw %}

```
#### form_configurations/sign_in_with_recaptcha-v3.liquid
```liquid
{% raw %}
---
name: sign_in_with_recaptcha_v3
resource: Session
spam_protection:
  recaptcha_v3:
    action: signup
    minimum_score: 0.7
fields:
  email:
  password:
---
{% form %}
  {% spam_protection "recaptcha_v3", action: "signup" %}
  <input name="{{ form.fields.email.name }}" value="{{ form.fields.email.value}}" type="email">
  <input name="{{ form.fields.password.name }}" type="password">

  <div class="form-group">
    {{ form.errors.base }}
  </div>

  <button>Sign In</button>
{% endform %}
{% endraw %}
```

## Live example and source code
To play with live example create developer account at [https://examples.platform-os.com](https://examples.platform-os.com) and go to the [sign-in-recaptcha](https://examples.platform-os.com/sign-in-recaptcha) page.

[Source code](https://github.com/mdyd-dev/marketplace-nearme-example/tree/master/modules/signin_recaptcha) can be found on GitHub.

## Additional resources

* [Spam Protection liquid tag](/api-reference/liquid/platformos-tags)
* [Render reCAPTCHA widget](https://developers.google.com/recaptcha/docs/display)
