---
converter: markdown
metadata:
  title: admin_page_update_all mutation, fixes and improvements
  description: April 28, 2023
  skip_contribute_button: true
  last_edit: false
slug: release-notes/28-APR-2023
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* Unescape Javascript filter
* `admin_page_update_all` mutation
* Liquid: add `hash_keys` and `hash_values` filters
* Slugify fixes and encoding filters
* Sync true for partial and layout delete all
* Liqiud: add `www_form_encode` filter
* Allow to delete on deploy and sync

<h4 class="release-note release-note__fixed">FIXED</h4>

* Intercept open and write timeout errors
* Always raise errors inside try

<h4 class="release-note release-note__improved">IMPROVED</h4>

* Liquid: add sanitize option to `to_csv` filter
* Liquid: set session timeout via `sign_in` tag
* Websockets: require csrf token
* Added invisible for hcaptcha `spam_protection_tag`
* Order pages by `redirect_to`, `redirect_code`
* Preserve JSON for `to_csv`
* graphql: `records_create` add table to return type
* Filter pages by redirect code
* Graphql activities add sort
* Allow include/render/function in local remote
* Allow to specify layout as liquid
* Make params available in auth policy for local page request and context in page

