<% if CodeObjects::ClassObject === object && object.superclass %>
  <table>
    <thead>
      <tr>
        <th>title</th>
        <th>permalink</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><div><table>
              <tbody>
                <tr>
                  <td>
                    <div>
                      <% if object.has_tag?(:title) %>
                        <% for tag in object.tags(:title) %>
                          <%= tag.text  %>
                        <% end %>
                      <% end %>
                    </div>
                  </td>
                  <td><div>

                      <% if object.has_tag?(:description) %>
                        <% for tag in object.tags(:description) %>
                          <%= tag.text  %>
                        <% end %>
                      <% end %>
                    </div></td>
                  <td><div><table>
                        <thead>
                          <tr>
                            <th>format</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <div>
                                <% if object.has_tag?(:format) %>
                                  <% for tag in object.tags(:format) %>
                                    <%= tag.text  %>
                                  <% end %>
                                <% end %>
                              </div></td>
                          </tr>
                        </tbody>
                      </table>
                    </div></td>
                    <td><div>Create/Edit/Verify user</div></td>
                </tr>
              </tbody>
            </table>
          </div></td>
          <td><div><table>
                <tbody>
                  <tr>
                    <td><div>
                        <% if object.has_tag?(:permalink) %>
                          <% for tag in object.tags(:permalink) %>
                            <%= tag.text  %>
                          <% end %>
                        <% end %>
                      </div></td>
                  </tr>
                </tbody>
              </table>
            </div></td>
      </tr>
    </tbody>
  </table>
<% end %>
