---
converter: markdown
metadata:
  title: Sharing a Module
  description: This guide will help you share a module in the Module Marketplace using the Partner Portal.
slug: tutorials/modules/sharing-module
searchable: true
---

This guide will help you share a module in the Module Marketplace using the Partner Portal.

## Requirements

This is an advanced tutorial. To follow it, you should be familiar with basic platformOS concepts, the topics in the Get Started section, and modules. You also need a module to share.

* [How platformOS Works](/how-platformos-works)
* [Get Started](/get-started)
* [Modules](/tutorials/modules/modules)
* [Creating a Module](/tutorials/modules/creating-module)

## Steps

Sharing a module is a three-step process:

<div data-autosteps></div>

### Step 1: Create zip file

Go to the `modules` directory and create a zip file with the contents of the `MODULE_NAME` folder. It's important that the repository contains the MODULE_NAME folder at its top level (and not modules/MODULE_NAME or contents of MODULE_NAME folder).

### Step 2: Upload module to the Module Marketplace

Log in to the [Partner Portal](https://partners.platform-os.com/), and in the menu on the left, click on `Create`, then select `Module`.

Fill in the form:

* Browse image: Select the cover image for your module that will be displayed next to its name in the Module Marketplace. The Cover URL filed is automatically filled out after the image has been uploaded.
*  Name: Enter a name for your module.
*  Description: Enter a short description for your module.
*  Partner: _(displayed only for administrator users)_ Select the Partner that will be the owner of the module.

Click on `Create`. A "Module successfully created" message appears, and the page of your newly created module is displayed.

### Step 3: Add version

On the page of your module, click on `Create New Version`.

Fill in the form:

* Browse module: Upload the zip file you created in Step 1.
* Name: Enter a name for this version of your module.

Click on `Create`. A "ModuleVersion successfully created" message appears, and the URL is added to your module page.
### Step 4: Publish module to Module Marketplace

On the page of your module, click on `Publish`.

A "This module is published and can be seen in Modules Marketplace" message appears, and the module is listed when you click `Modules` and then `Marketplace`.

## Next steps
Congratulations! You have shared a module. Now it's ready to be installed.

* [Installing a Module](/tutorials/modules/installing-module)

{% include 'shared/questions_section' %}


