<nav class="breadcrumbs">
  <ul>
    <li>
      <a href="#">Home</a>

      <i class="fas fa-chevron-right"></i>
    </li>
    <li class="current">
      <a href="#">Documentation</a>

      <i class="fas fa-chevron-right"></i>
    </li>
  </ul>
</nav><!-- /.breadcrumbs -->
