<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>platformOS Docs</title>

  <link rel="shortcut icon" type="image/x-icon" href="{{ 'images/favicon.ico' | asset_url }}" />
  <link rel="stylesheet" type="text/css" href="{{ 'css/bundle.css' | asset_url }}" />

  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
</head>
