<div class="sidebar">
  <ul class="widgets">
    <li class="widget widget--search">
      <form action="?" class="search-form" method="get" role="search">
        <label>
          <span class="screen-reader-text hidden">Search for:</span>
          <input type="search" title="Search for:" name="s" value="" placeholder="Search …" class="search__field">
        </label>
        <button type="submit" value="Search" class="search__btn screen-reader-text">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </li><!-- /.widget widget_search -->

    <li class="widget widget--nav">
      <ul>
        <li class="current">
          <a href="/">Documentation</a>
        </li>

        <li>
          <a href="/how-platformos-works">How PlatformOS works</a>

          <ul class="sub-menu">
            <li>
              <a href="/how-platformos-works/about-platform-os">About PlatformOS</a>
            </li>
          </ul>
          <ul class="sub-menu">
            <li>
              <a href="/how-platformos-works/basic-concepts">Basic Concepts</a>
            </li>
          </ul>
          <ul class="sub-menu">
            <li>
              <a href="/how-platformos-works/glossary">Glossary</a>
            </li>
          </ul>
          <ul class="sub-menu">
            <li>
              <a href="/how-platformos-works/platformos-components">PlatformOS components</a>
            </li>
          </ul>
          <ul class="sub-menu">
            <li>
              <a href="/how-platformos-works/technologies">Technologies</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="/api-reference">API Reference</a>

          <ul class="sub-menu">
            <li>
              <a href="/api-reference/rest-api">REST API</a>

              <ul class="sub-menu">
                {% include 'layouts/rest-api-endpoints' %}
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Get Started</a>
        </li>

        <li>
          <a href="#">How-to Guides</a>
        </li>

        <li>
          <a href="#">Use Cases</a>
        </li>
      </ul>
    </li><!-- /.widget -->
  </ul><!-- /.widgets -->
</div><!-- /.sidebar -->
