<div class="sidebar">
  <ul class="widgets">
    <li class="widget widget--search">
      <form action="?" class="search-form" method="get" role="search">
        <label>
          <span class="screen-reader-text hidden">Search for:</span>
          <input type="search" title="Search for:" name="s" value="" placeholder="Search …" class="search__field">
        </label>
        <button type="submit" value="Search" class="search__btn screen-reader-text">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </li><!-- /.widget widget_search -->

    <li class="widget widget--nav">
      <ul>
        <li class="current">
          <a href="/">Documentation</a>
        </li>

        <li>
          <a href="/how-platformos-works">How PlatformOS works</a>

          <ul class="sub-menu">
            <li>
              <a href="/how-platformos-works/about-platform-os">About Platform OS</a>
            </li>
          </ul>
          <ul class="sub-menu">
            <li>
              <a href="/how-platformos-works/platformos-components">PlatformOS Components</a>
            </li>
          </ul>
          <ul class="sub-menu">
            <li>
              <a href="/how-platformos-works/technologies">Technologies</a>
            </li>
          </ul>
          <ul class="sub-menu">
            <li>
              <a href="/how-platformos-works/basic-concepts">Basic Concepts</a>
            </li>
          </ul>
          <ul class="sub-menu">
            <li>
              <a href="/how-platformos-works/glossary">Glossary</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="/api-reference">API Reference</a>

          <ul class="sub-menu">
            <li>
              <a href="/api-reference/rest-api">REST API</a>

              <ul class="sub-menu">
                {% include 'layouts/rest-api-endpoints' %}
              </ul>
            </li>
            <li>
              <a href="/api-reference/graphql">GraphQL API</a>

              <ul class="sub-menu">
                <li>{% include 'generated/graphql-docs/sidebar/index' %}</li>
              </ul>
            </li>
            <li>
              <a href="/api-reference/liquid-filters">Liquid Filters</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Get Started</a>

          <ul class="sub-menu">
            <li>
              <a href="/get-started/quickstart-guide">Quickstart Guide</a>
            </li>

            <li>
              <a href="#">Setup</a>

              <ul class="sub-menu">
                <li>
                  <a href="/get-started/accessing-partner-portal">Accessing our Partner Portal</a>
                </li>
                <li>
                  <a href="/get-started/setting-up-site">Setting Up a Site on Our Platform </a>
                </li>
                <li>
                  <a href="/get-started/installing-npm-mac">Installing NPM on a Mac</a>
                </li>
                <li>
                  <a href="/get-started/installing-npm-windows">Installing NPM on Windows</a>
                </li>
                <li>
                  <a href="/get-started/installing-marketplace-kit">Installing the Marketplace Kit</a>
                </li>
                <li>
                  <a href="/get-started/updating-marketplace-kit">Updating the Marketplace Kit</a>
                </li>
                <li>
                  <a href="/get-started/creating-required-directory-structure">Creating the Required Directory Structure</a>
                </li>
                <li>
                  <a href="/get-started/deploying-syncing-changes">Deploying and Syncing Changes</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Pages</a>
              <ul class="sub-menu">
                <li>
                  <a href="/get-started/pages/pages">Pages</a>
                </li>
                <li>
                  <a href="/get-started/pages/layouts">Layouts</a>
                </li>
                <li>
                  <a href="/get-started/pages/creating-page">Creating a Page</a>
                </li>
                <li>
                  <a href="/get-started/pages/creating-layout">Creating a Layout</a>
                </li>
                <li>
                  <a href="/get-started/pages/adding-new-page-custom-url">Adding a New Page at a Custom URL</a>
                </li>
                <li>
                  <a href="/get-started/pages/injecting-dynamic-content-into-layout">Injecting Dynamic Content into a Layout</a>
                </li>
                <li>
                  <a href="/get-started/pages/reusing-code-across-multiple-pages">Reusing Code Across Multiple Pages</a>
                </li>
                <li>
                  <a href="/get-started/pages/assets">Assets</a>
                </li>
                <li>
                  <a href="/get-started/pages/using-static-assets-pages">Using Static Assets on Your Pages</a>
                </li>
                <li>
                  <a href="/get-started/pages/adding-visuals-pages-css">Adding Visuals to Pages: CSS</a>
                </li>
                <li>
                  <a href="/get-started/pages/adding-visuals-pages-liquid">Adding Visuals to Pages: Liquid</a>
                </li>
                <li>
                  <a href="/get-started/pages/adding-visuals-pages-javascript">Adding Visuals to Pages: Javascript</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Users</a>
              <ul class="sub-menu">
                <li>
                  <a href="/get-started/users/users">Users</a>
                </li>
                <li>
                  <a href="/get-started/users/creating-user-profile">Creating a User Profile</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Partner Portal</a>
              <ul class="sub-menu">
                <li>
                  <a href="/get-started/partner-portal/inviting-new-user-to-partner-portal">Inviting a New User to the Partner Portal </a>
                </li>
                <li>
                  <a href="/get-started/partner-portal/setting-up-user-permissions-partner-portal">Setting Up User Permissions on the Partner Portal</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">How-to Guides</a>
        </li>

        <li>
          <a href="#">Use Cases</a>
        </li>
      </ul>
    </li><!-- /.widget -->
  </ul><!-- /.widgets -->
</div><!-- /.sidebar -->
