<!doctype html>
<html lang="en">
  {% include 'layouts/head' %}
  <body>
    <div class="wrapper">
      {% include 'layouts/header' %}

      <div class="main">
        <div class="container">
          <div class="shell">
            {% include 'layouts/sidebar' %}
            <div class="content">
              {% include 'layouts/breadcrumbs' %}
              <section class="section">
                {{ content_for_layout }}
              </section>
            </div>
          </div>
        </div>
      </div>

      {% include 'layouts/footer' %}
    </div>
    <script src="{{ 'js/bundle.js' | asset_url }}"></script>
  </body>
</html>
