<!doctype html>
<html lang="en">
<head>
</head>

<body>
  <header>
    <h1>platformOS Docs</h1>
    <hr />
  </header>

  <main>
    {{ content_for_layout }}
  </main>

  <footer>
    <hr />
    © 2018 - PlatformOS
  </footer>
</body>
</html>
