{% comment %}
  {% include variables.html %}
{% endcomment %}
<div class="home-page">
  <h1>
    <a href="/">
      <svg xmlns="http://www.w3.org/2000/svg" width="250" height="66" viewBox="0 0 124.56 33" role="img" aria-label="Marketplace Platform" preserveAspectRatio="xMinYMid meet"><title>Marketplace Platform</title><style>path, polygon { fill: #000; }</style><path d="M0,33H31V0H0ZM10.48,10.65h2.36l6.45,7.95h0V10.65H21.7V22.42H19.34l-6.45-8h0v8H10.48Z"/><polygon points="49.96 13.29 49.96 5.29 47.56 5.29 45.62 10.13 43.68 5.29 41.29 5.29 41.29 13.29 42.99 13.29 42.99 7.69 45.25 13.29 45.99 13.29 48.25 7.69 48.25 13.29 49.96 13.29"/><path d="M53.15,11.94h3.43l.49,1.36H59l-3.08-8H53.79l-3.09,8h1.94ZM54.86,7l1.25,3.44H53.61Z"/><path d="M61.46,10.45h1.25l1.57,2.84h2l-1.8-3a2.3,2.3,0,0,0,1.75-2.37A2.49,2.49,0,0,0,63.5,5.29H59.76v8h1.7Zm0-3.66h1.79a1.09,1.09,0,1,1,0,2.16H61.46Z"/><polygon points="72.22 13.29 74.32 13.29 70.93 9.05 74.11 5.29 72.01 5.29 69.18 8.87 69.18 5.29 67.47 5.29 67.47 13.29 69.18 13.29 69.18 10.84 69.8 10.09 72.22 13.29"/><polygon points="80.77 11.79 76.81 11.79 76.81 9.98 80.68 9.98 80.68 8.48 76.81 8.48 76.81 6.79 80.77 6.79 80.77 5.29 75.11 5.29 75.11 13.29 80.77 13.29 80.77 11.79"/><polygon points="83.95 13.29 85.67 13.29 85.67 6.79 87.99 6.79 87.99 5.29 81.61 5.29 81.61 6.79 83.95 6.79 83.95 13.29"/><path d="M95.52,7.87a2.5,2.5,0,0,0-2.69-2.58H89.09v8h1.7V10.45h2A2.51,2.51,0,0,0,95.52,7.87ZM92.6,9H90.79V6.79H92.6A1.08,1.08,0,1,1,92.6,9Z"/><polygon points="101.66 11.79 98.28 11.79 98.28 5.29 96.58 5.29 96.58 13.29 101.66 13.29 101.66 11.79"/><path d="M105.09,5.29l-3.09,8h1.94l.5-1.36h3.43l.49,1.36h1.94l-3.08-8Zm-.18,5.15L106.16,7l1.25,3.44Z"/><path d="M114.52,6.67a2.17,2.17,0,0,1,1.88,1.16l1.46-.72a3.66,3.66,0,0,0-3.35-2,4.06,4.06,0,0,0-4.26,4.14,4.06,4.06,0,0,0,4.26,4.14,3.68,3.68,0,0,0,3.35-2l-1.46-.71a2.14,2.14,0,0,1-1.88,1.16A2.49,2.49,0,0,1,112,9.3,2.49,2.49,0,0,1,114.52,6.67Z"/><polygon points="124.56 6.79 124.56 5.29 118.89 5.29 118.89 13.29 124.56 13.29 124.56 11.79 120.6 11.79 120.6 9.98 124.47 9.98 124.47 8.48 120.6 8.48 120.6 6.79 124.56 6.79"/><path d="M45,19.69H41.29v8H43V24.85h2a2.58,2.58,0,1,0,0-5.16Zm-.23,3.66H43V21.19h1.81a1.08,1.08,0,1,1,0,2.16Z"/><polygon points="50.48 19.69 48.78 19.69 48.78 27.69 53.87 27.69 53.87 26.2 50.48 26.2 50.48 19.69"/><path d="M57.3,19.69l-3.09,8h1.94l.5-1.36h3.43l.49,1.36h1.94l-3.08-8Zm-.18,5.15,1.25-3.44,1.25,3.44Z"/><polygon points="62 21.19 64.34 21.19 64.34 27.69 66.06 27.69 66.06 21.19 68.38 21.19 68.38 19.69 62 19.69 62 21.19"/><polygon points="69.48 27.69 71.18 27.69 71.18 24.38 75.06 24.38 75.06 22.88 71.18 22.88 71.18 21.19 75.14 21.19 75.14 19.69 69.48 19.69 69.48 27.69"/><path d="M80.12,19.56a4,4,0,0,0-4.17,4.14,4.18,4.18,0,0,0,8.36,0A4,4,0,0,0,80.12,19.56Zm0,6.76A2.43,2.43,0,0,1,77.7,23.7a2.44,2.44,0,1,1,4.86,0A2.43,2.43,0,0,1,80.12,26.33Z"/><path d="M91.94,22.27a2.49,2.49,0,0,0-2.69-2.58H85.51v8h1.7V24.85h1.25L90,27.69h2l-1.8-3A2.3,2.3,0,0,0,91.94,22.27ZM89,23.35H87.21V21.19H89a1.09,1.09,0,1,1,0,2.16Z"/><polygon points="97.56 24.53 95.61 19.69 93.23 19.69 93.23 27.69 94.93 27.69 94.93 22.09 97.19 27.69 97.93 27.69 100.18 22.09 100.18 27.69 101.9 27.69 101.9 19.69 99.5 19.69 97.56 24.53"/></svg>
    </a>
  </h1>

  <main id="content">
    {{ content_for_layout }}
  </main>

{% comment %}
  {% include footer.html %}
{% endcomment %}
</div>
