---
converter: markdown
metadata:
  title: Release Notes
  description: New features, improvements, and fixes in platformOS
  hide_sidebar: true
  exclude_feedback: true
slug: release-notes
searchable: true
---

<h3>{{ page.metadata.description }}</h3>

{% query_graph 'release_notes', result_name: "rn" %}

<ul>
  <li>
    <strong>November 26, 2018</strong>
    <a href="/release-notes/26-NOVEMBER-2018">Parsing json to hash</a>
  </li>

  <li>
    <strong>November 15, 2018</strong>
    <a href="/release-notes/15-NOVEMBER-2018">Performance benchmarking tools</a>
  </li>

  <li>
    <strong>October 18, 2018</strong>
    <a href="/release-notes/18-OCTOBER-2018">Priority setting and limitations of async_callback_actions</a>
  </li>

  <li>
    <strong>September 20, 2018</strong>
    <a href="/release-notes/20-SEPTEMBER-2018">New liquid filters, sending files via API calls</a>
  </li>

  <li>
    <strong>September 03, 2018</strong>
    <a href="/release-notes/03-SEPTEMBER-2018">Better error logs, JWT encoding/decoding filters</a>
  </li>

  <li>
    <strong>July 30, 2018</strong>
    <a href="/release-notes/30-JULY-2018">New Liquid tags, deprecated render_form tag, deprecated log GraphQL mutation</a>
  </li>
</ul>

<h3>Documentation Reports</h3>

<p>
  Sign up for our <a href="https://platform-os.com/documentation-reports" target="_blank" rel="noopener">weekly documentation reports</a>
  if you want to be notified about new tutorials and other changes within our documentation site.
</p>
