---
converter: markdown
metadata:
  title: Release Notes
  description: New features, improvements, and fixes in platformOS
  hide_sidebar: true
  feedback: false
  contributors: false
slug: release-notes
searchable: true

---

Our release notes tell you about new features, improvements, and fixes in platformOS.

## 2019

* **Mar 04**: [Form Configuration name optional, set HTTP status to Authorization Policy](/release-notes/04-MARCH-2019)
* **Feb 25**: [context.device key, user session timeout](/release-notes/25-FEBRUARY-2019)
* **Feb 18**: [Properties for all users, Liquid in page metadata](/release-notes/18-FEBRUARY-2019)

## 2018

* **Nov 26**: [Parsing json to hash](/release-notes/26-NOVEMBER-2018)
* **Nov 15**: [Performance benchmarking tools](/release-notes/15-NOVEMBER-2018)
* **Oct 18**: [Priority setting and limitations of async_callback_actions](/release-notes/18-OCTOBER-2018)
* **Sep 20**: [New liquid filters, sending files via API calls](/release-notes/20-SEPTEMBER-2018)
* **Sep 03**: [Better error logs, JWT encoding/decoding filters](/release-notes/03-SEPTEMBER-2018)
* **Jul 30**: [New Liquid tags, deprecated render_form tag, deprecated log GraphQL mutation](/release-notes/30-JULY-2018)


## Documentation Reports

<p>
  Sign up for our <a href="https://platform-os.com/documentation-reports" target="_blank" rel="noopener">weekly documentation reports</a>
  if you want to be notified about new tutorials and other changes within our documentation site.
</p>
