---
converter: markdown
metadata:
  title: Release Notes
  description: New features, improvements, and fixes in PlatformOS
  hide_sidebar: true
  exclude_feedback: true
slug: release-notes
searchable: true
---
<h3>{{ page.metadata.description }}</h3>

{% query_graph 'release_notes' %}

<ul>
  {% for page in g.pages.results reversed %}
    <li>
      <strong>{{ page.metadata.date }}</strong>
      <a href="/{{ page.slug }}">{{ page.metadata.description }}</a>
    </li>
  {% endfor %}
 </ul>
