---
metadata:
  title: Partner Portal API
  description: This documentation will help you manage your instances programmatically using Partner Portal API.
  feedback: false
  toc: false
---

<p>{{ page.metadata.description }}</p>

{% capture cache_key -%}
partner-portal-api
{%- if context.params.cache -%}-{{ 5 | random_string }}{%- endif -%}
{%- endcapture %}

{% cache cache_key %}
{% assign url = context.params.source | default: 'https://partners.platformos.com/doc.json' %}
{% assign data = url | download_file | parse_json %}

{% include 'api-reference/templates/partner-portal', data: data %}
{% endcache %}
