<li class="{% if cp contains '/liquid' %}active{% endif %}">
  <a href="/api-reference/liquid/introduction">Liquid</a>

  <ul class="submenu">
    {% include "shared/nav/link", href: "/api-reference/liquid/introduction", text: "Introduction" %}
    {% include "shared/nav/link", href: "/api-reference/liquid/types", text: "Types" %}
    {% include "shared/nav/link", href: "/api-reference/liquid/variables", text: "Tags: Variables" %}
    {% include "shared/nav/link", href: "/api-reference/liquid/flow-control", text: "Tags: Flow Control" %}
    {% include "shared/nav/link", href: "/api-reference/liquid/loops", text: "Tags: Loops" %}
    {% include "shared/nav/link", href: "/api-reference/liquid/include", text: "Tags: Include" %}
    {% include "shared/nav/link", href: "/api-reference/liquid/objects", text: "Objects" %}
    {% include "shared/nav/link", href: "/api-reference/liquid/filters", text: "Filters" %}
    {% include "shared/nav/link", href: "/api-reference/liquid/whitespace-control", text: "Whitespace Control" %}
    {% include "shared/nav/link", href: "/api-reference/liquid/sanitization", text: "Sanitization" %}
    {% include "shared/nav/link", href: "/api-reference/liquid/platformos-filters", text: "platformOS Filters" %}
    {% include "shared/nav/link", href: "/api-reference/liquid/platformos-tags", text: "platformOS Tags" %}
  </ul>
</li>

<li class="{% if cp contains '/graphql' %}active{% endif %}">
  <a href="/api-reference/graphql/glossary">GraphQL API</a>

  <ul class="submenu">
    {% include "shared/nav/link", href: "/api-reference/graphql/glossary", text: "Glossary" %}
    {% include "shared/nav/link", href: "/api-reference/graphql/rootquery.html", text: "Queries" %}
    {% include "shared/nav/link", href: "/api-reference/graphql/rootmutation.html", text: "Mutations" %}
    {% include "shared/nav/link", href: "/api-reference/graphql/graphql", text: "Types" %}
  </ul>
</li>
