<li class="{% if cp contains '/best-practices/qa' %}active{% endif %}">
  <a href="/best-practices/qa/how-we-built-our-qa-process">QA</a>
  <ul class="submenu">
    {% include "shared/nav/link", href: "/best-practices/qa/how-we-built-our-qa-process", text: "How We Built Our QA Process" %}
    {% include "shared/nav/link", href: "/best-practices/qa/planning-organizing-writing-tests", text: "Planning, Organizing, and Writing Tests" %}
    {% include "shared/nav/link", href: "/best-practices/qa/speeding-up-development-troubleshooting", text: "Speeding Up Development and Troubleshooting" %}
    {% include "shared/nav/link", href: "/best-practices/qa/creating-application-logs", text: "Creating Application Logs" %}
    {% include "shared/nav/link", href: "/best-practices/qa/developing-graphql-queries-using-pos-cli-gui", text: "Developing GraphQL Queries Using pos-cli gui" %}
    {% include "shared/nav/link", href: "/best-practices/qa/testing", text: "Testing" %}
    {% include "shared/nav/link", href: "/best-practices/qa/installing-testcafe", text: "TestCafe: Installing TestCafe" %}
    {% include "shared/nav/link", href: "/best-practices/qa/writing-testcafe-test", text: "TestCafe: Writing a Test" %}
    {% include "shared/nav/link", href: "/best-practices/qa/using-pom-testcafe", text: "TestCafe: Using the Page Object Model" %}
    {% include "shared/nav/link", href: "/best-practices/qa/performance-testing", text: "TestCafe: Performance Testing" %}
  </ul>
</li>
<li class="{% if cp contains '/best-practices/performance' %}active{% endif %}">
  <a href="/best-practices/performance/fragment-lazy-loading">Performance</a>
  <ul class="submenu">
    {% include "shared/nav/link", href: "/best-practices/performance/fragment-lazy-loading", text: "Lazy Loading of Fragments" %}
    {% include "shared/nav/link", href: "/best-practices/performance/code-quality-performance", text: "Code Quality and Performance Best Practices" %}
    {% include "shared/nav/link", href: "/best-practices/performance/profiling-slow-pages", text: "Profiling Slow Pages" %}
    {% include "shared/nav/link", href: "/best-practices/performance/measuring-execution-time-liquid-time-diff", text: "Measuring Execution Time of Liquid Code" %}
    {% include "shared/nav/link", href: "/best-practices/performance/cache", text: "Cache" %}
    {% include "shared/nav/link", href: "/best-practices/performance/service-workers", text: "Service Workers" %}
  </ul>
</li>
<li class="{% if cp contains '/best-practices/seo' %}active{% endif %}">
  <a href="/best-practices/seo/creating-dynamic-sitemap">SEO</a>
  <ul class="submenu">
    {% include "shared/nav/link", href: "/best-practices/seo/creating-dynamic-sitemap", text: "Creating a Dynamic Sitemap" %}
    {% include "shared/nav/link", href: "/best-practices/seo/creating-seo-friendly-urls", text: "Creating SEO Friendly URLs" %}
  </ul>
</li>
<li class="{% if cp contains '/best-practices/integrations' %}active{% endif %}">
  <a href="/best-practices/integrations/authenticating-domain-sendgrid">Integrations</a>
  <ul class="submenu">
    {% include "shared/nav/link", href: "/best-practices/integrations/authenticating-domain-sendgrid", text: "Authenticating Your Domain on SendGrid" %}
  </ul>
</li>
<li class="{% if cp contains '/best-practices/amp' %}active{% endif %}">
  <a href="/best-practices/amp/building-amp-pages">AMP</a>
  <ul class="submenu">
    {% include "shared/nav/link", href: "/best-practices/amp/building-amp-pages", text: "Building AMP Pages on platformOS" %}
    {% include "shared/nav/link", href: "/best-practices/amp/using-static-amp-template", text: "Using a Static AMP Template" %}
    {% include "shared/nav/link", href: "/best-practices/amp/converting-amp-html-layouts-pages", text: "Converting AMP HTML Pages to Layouts and PagesS" %}
    {% include "shared/nav/link", href: "/best-practices/amp/feeding-data-amp-pages-graphql", text: "Feeding Data into AMP Pages with GraphQL" %}
  </ul>
</li>
<li class="{% if cp contains '/best-practices/gdpr' %}active{% endif %}">
  <a href="/best-practices/gdpr/gdpr-compliance">GDPR</a>
  <ul class="submenu">
    {% include "shared/nav/link", href: "/best-practices/gdpr/gdpr-compliance", text: "GDPR Compliance in platformOS" %}
  </ul>
</li>
