<li class="{% if cp contains '/best-practices/qa' %}active{% endif %}"><a href="/best-practices/qa/testing">QA</a>
  <ul class="submenu">
    <li><a href="/best-practices/qa/testing">Testing</a></li>
    <li><a href="/best-practices/qa/testcafe">TestCafe</a></li>
    <li><a href="/best-practices/qa/installing-testcafe">Installing TestCafe</a></li>
    <li><a href="/best-practices/qa/writing-testcafe-test">Writing a TestCafe Test</a></li>
    <li><a href="/best-practices/qa/using-pom-testcafe">Using the Page Object Model with TestCafe</a></li>
    <li><a href="/best-practices/qa/creating-marketplace-kit-logs">Creating Marketplace Kit Logs</a></li>
    <li><a href="/best-practices/qa/developing-graphql-queries-using-marketplace-kit-gui">Developing GraphQL Queries Using
        marketplace-kit gui</a></li>
  </ul>
</li>
<li class="{% if cp contains '/best-practices/performance' %}active{% endif %}"><a
    href="/best-practices/performance/code-quality-performance">Performance</a>
  <ul class="submenu">
    <li><a href="/best-practices/performance/code-quality-performance">Code Quality and Performance Best Practices</a></li>
    <li><a href="/best-practices/performance/profiling-slow-pages">Profiling Slow Pages</a></li>
    <li><a href="/best-practices/performance/measuring-execution-time-liquid-time-diff">Measuring Execution Time of Liquid
        Code Fragments (time_diff)</a></li>
    <li><a href="/best-practices/performance/cache">Cache</a></li>
  </ul>
</li>
<li class="{% if cp contains '/best-practices/seo' %}active{% endif %}"><a href="/best-practices/seo/creating-dynamic-sitemap">SEO</a>
  <ul class="submenu">
    <li><a href="/best-practices/seo/creating-dynamic-sitemap">Creating a Dynamic Sitemap</a></li>
    <li><a href="/best-practices/seo/creating-seo-friendly-urls">Creating SEO Friendly URLs</a></li>
  </ul>
</li>
<li class="{% if cp contains '/best-practices/amp' %}active{% endif %}">
  <a href="/best-practices/amp/building-amp-pages">AMP</a>
  <ul class="submenu">
    <li>
      <a href="/best-practices/amp/building-amp-pages">Building AMP Pages on platformOS</a>
    </li>
    <li>
      <a href="/best-practices/amp/using-static-amp-template">Using a Static AMP Template</a>
    </li>
    <li>
      <a href="/best-practices/amp/converting-amp-html-layouts-pages">Converting AMP HTML Pages to Layouts and PagesS</a>
    </li>
    <li>
      <a href="/best-practices/amp/feeding-data-amp-pages-graphql">Feeding Data into AMP Pages with GraphQL</a>
    </li>
  </ul>
</li>
<li class="{% if cp contains '/best-practices/gdpr' %}active{% endif %}"><a href="/best-practices/gdpr/gdpr-compliance">GDPR</a>
  <ul class="submenu">
    <li><a href="/best-practices/gdpr/gdpr-compliance">GDPR Compliance in platformOS</a></li>
  </ul>
</li>
