{% include "shared/nav/link", href: "/community", text: "Welcome" %}
{% include "shared/nav/link", href: "/community/contributors", text: "Our Contributors" %}
{% include "shared/nav/link", href: "/community/contributor-guide", text: "Contributor Guide" %}
{% include "shared/nav/link", href: "/community/documentation-style-guide", text: "Documentation Style Guide" %}

<li class="{% if cp contains '/user-research' %}active{% endif %}">
  <a href="/community/user-research/user-research-platformos">User Research</a>
  <ul class="submenu">
    {% include "shared/nav/link", href: "/community/user-research/user-research-platformos", text: "User Research at platformOS" %}
    {% include "shared/nav/link", href: "/community/user-research/developer-onboarding", text: "ONGOING - Developer Onboarding" %}
  </ul>
</li>

