<li>
  <a href="/community">Welcome</a>
</li>
<li>
  <a href="/community/contributor-guide">Contributor Guide</a>
</li>
<li>
  <a href="/community/documentation-style-guide">Documentation Style Guide</a>
</li>
