{% include "shared/nav/link", href: "/community", text: "Welcome" %}
{% include "shared/nav/link", href: "/community/contributors", text: "Our Contributors" %}
{% include "shared/nav/link", href: "/community/contributor-guide", text: "Contributor Guide" %}

<li class="{% if cp == '/community/documentation-style-guide' %}active{% endif %}">
  <a href="/community/documentation-style-guide">Documentation Style Guide</a>
  <ul class="submenu">
    {% include "shared/nav/link", href: "/community/documentation-style-guide#writing-guidelines", text: "Writing guidelines" %}
    {% include "shared/nav/link", href: "/community/documentation-style-guide#format", text: "Format" %}
    {% include "shared/nav/link", href: "/community/documentation-style-guide#style-guides-for-content-types", text: "Style guides for content types" %}
    {% include "shared/nav/link", href: "/community/documentation-style-guide#writing-for-accessibility", text: "Writing for accessibility" %}
  </ul>
</li>

<li class="{% if cp contains '/user-research' %}active{% endif %}">
  <a href="/community/user-research/user-research-platformos">User Research</a>
  <ul class="submenu">
    {% include "shared/nav/link", href: "/community/user-research/user-research-platformos", text: "User Research at platformOS" %}
    {% include "shared/nav/link", href: "/community/user-research/developer-onboarding", text: "ONGOING - Developer Onboarding" %}
    {% include "shared/nav/link", href: "/community/user-research/community-site-planning", text: "FINISHED - Community Site Planning" %}
    {% include "shared/nav/link", href: "/community/user-research/reorganization", text: "FINISHED - Reorganization" %}
    {% include "shared/nav/link", href: "/community/user-research/pos-developer-experience", text: "FINISHED - platformOS Developer Experience - Interview and Testing" %}
    {% include "shared/nav/link", href: "/community/user-research/usability-test-onboarding", text: "FINISHED - Usability Testing of the platformOS Onboarding Process" %}
    {% include "shared/nav/link", href: "/community/user-research/partner-portal-design-style", text: "FINISHED - Partner Portal Design Style" %}
    {% include "shared/nav/link", href: "/community/user-research/onboarding-strategy", text: "FINISHED - Onboarding Strategy" %}
    {% include "shared/nav/link", href: "/community/user-research/tutorials-reorganization", text: "FINISHED - Tutorials Reorganization" %}
    {% include "shared/nav/link", href: "/community/user-research/naming-convention-for-platformos", text: "FINISHED - Naming Convention for platformOS" %}
    {% include "shared/nav/link", href: "/community/user-research/partner-portal-site-feedback", text: "FINISHED - Partner Portal Site Feedback" %}
    {% include "shared/nav/link", href: "/community/user-research/documentation-site-feedback", text: "FINISHED - Documentation Site Feedback" %}
    {% include "shared/nav/link", href: "/community/user-research/planning-platformos-documentation-site", text: "FINISHED - Planning of the platformOS Documentation Site" %}
  </ul>
</li>

