<li class="mt-6 mb-4 text-base topic-group">
  <h3>DEVELOPMENT</h3>
</li>

<li class="{% if cp contains 'about-platformos' %}active{% endif %}">
  <a href="/developer-guide/about-platformos/about-platformos">About platformOS</a>
  {% if cp contains 'about-platformos' %}
    <ul class="submenu">
      {% include "shared/nav/link", href: "/developer-guide/about-platformos/about-platformos", text: "What is platformOS?" %}
      {% include "shared/nav/link", href: "/developer-guide/about-platformos/security-drp", text: "Security and Disaster Recovery" %}
    </ul>
  {% endif %}
</li>

<li class="{% if cp contains 'platformos-workflow/development-workflow' %}active{% endif %}">
  <ul class="list-none">
    {% include "shared/nav/link", href: "/developer-guide/platformos-workflow/development-workflow", text: "Development Workflow" %}
  </ul>
</li>

<li class="{% if cp contains 'platformos-workflow/codebase' %}active{% endif %}">
  <ul class="list-none">
    {% include "shared/nav/link", href: "/developer-guide/platformos-workflow/codebase", text: "Codebase" %}
  </ul>
</li>

<li class="{% if cp contains 'developer-guide/pos-cli' %}active{% endif %}">
  <a href="/developer-guide/pos-cli">pos-cli</a>
  <ul class="submenu">
    {% include "shared/nav/link", href: "/developer-guide/pos-cli/pos-cli", text: "pos-cli" %}
    {% include "shared/nav/link", href: "/developer-guide/pos-cli/developing-graphql-queries-using-pos-cli-gui", text: "Developing GraphQL Queries Using the pos-cli GUI" %}
    {% include "shared/nav/link", href: "/developer-guide/pos-cli/effective-development-using-pos-cli", text: "Effective Development Using the pos-cli" %}
  </ul>
</li>

<li class="{% if cp contains 'support' %}active{% endif %}">
  <a href="/developer-guide/support-ticketing">Support Ticketing</a>
</li>

<li class="{% if cp contains 'glossary' %}active{% endif %}">
  <a href="/developer-guide/glossary">Glossary</a>
</li>

<li class="pt-6 mt-6 mb-4 text-base border-t topic-group border-pos-divider">
  <h3>TEMPLATES</h3>
</li>

<li class="{% if cp contains 'pages' %}active{% endif %}">
  <a href="/developer-guide/pages/pages">Pages and Layouts</a>
  {% if cp contains 'pages' %}
    <ul class="submenu">
      {% include "shared/nav/link", href: "/developer-guide/pages/pages", text: "Pages" %}
      {% include "shared/nav/link", href: "/developer-guide/pages/metadata", text: "Metadata" %}
      {% include "shared/nav/link", href: "/developer-guide/pages/layouts", text: "Layouts" %}
      {% include "shared/nav/link", href: "/developer-guide/pages/creating-layout", text: "Creating a Layout" %}
      {% include "shared/nav/link", href: "/developer-guide/pages/creating-page", text: "Creating a Page" %}
      {% include "shared/nav/link", href: "/developer-guide/pages/adding-new-page-custom-url", text: "Adding a New Page at a Custom URL" %}
      {% include "shared/nav/link", href: "/developer-guide/pages/injecting-dynamic-content-into-layout", text: "Injecting Dynamic Content into a Layout" %}

      {% include "shared/nav/link", href: "/developer-guide/pages/reusing-code-across-multiple-pages", text: "Reusing Code Across Multiple Pages" %}
      {% include "shared/nav/link", href: "/developer-guide/pages/response-headers", text: "Response Headers" %}
      {% include "shared/nav/link", href: "/developer-guide/pages/search-by-content", text: "Search by content" %}
      {% include "shared/nav/link", href: "/developer-guide/pages/redirects", text: "Redirects" %}
      {% include "shared/nav/link", href: "/developer-guide/pages/custom-error-pages", text: "Custom Error Pages" %}
    </ul>
  {% endif %}
</li>

<li class="{% if cp contains 'assets' %}active{% endif %}">
  <a href="/developer-guide/assets/assets">Assets</a>
  {% if cp contains 'assets' %}
    <ul class="submenu">
      {% include "shared/nav/link", href: "/developer-guide/assets/assets", text: "Assets" %}
      {% include "shared/nav/link", href: "/developer-guide/assets/using-static-assets-pages", text: "Using Static Assets on Your Pages" %}
      {% include "shared/nav/link", href: "/developer-guide/assets/adding-visuals-pages-css", text: "Adding Visuals to Pages: CSS" %}
      {% include "shared/nav/link", href: "/developer-guide/assets/adding-visuals-pages-javascript", text: "Adding Visuals to Pages: Javascript" %}
    </ul>
  {% endif %}
</li>

<li class="{% if cp contains 'variables' %}active{% endif %}">
  <a href="/developer-guide/variables/context-variable">Context Variable</a>
</li>

<li class="{% if cp contains 'translations' %}active{% endif %}">
  <a href="/developer-guide/translations/translations">Translations</a>
  {% if cp contains 'translations' %}
    <ul class="submenu">
      {% include "shared/nav/link", href: "/developer-guide/translations/translations", text: "Translations" %}
      {% include "shared/nav/link", href: "/developer-guide/translations/multilanguage-page", text: "Multi-Language Page" %}
      {% include "shared/nav/link", href: "/developer-guide/translations/system-messages", text: "System Messages" %}
      {% include "shared/nav/link", href: "/developer-guide/translations/date-format", text: "Date Format" %}
    </ul>
  {% endif %}
</li>

<li class="pt-6 mt-6 mb-4 text-base border-t topic-group border-pos-divider">
  <h3>MODELS</h3>
</li>
<li class="{% if cp contains 'users' %}active{% endif %}">
  <a href="/developer-guide/users/users">Users</a>
  {% if cp contains 'users' %}
    <ul class="submenu">
      {% include "shared/nav/link", href: "/developer-guide/users/users", text: "Users" %}
      {% include "shared/nav/link", href: "/developer-guide/users/creating-user-property", text: "Creating a Property for All Users" %}
      {% include "shared/nav/link", href: "/developer-guide/users/creating-user-profile", text: "Creating a User Profile" %}
      {% include "shared/nav/link", href: "/developer-guide/users/creating-sign-up-form", text: "Creating a Sign Up Form" %}
      {% include "shared/nav/link", href: "/developer-guide/users/embedding-sign-up-form", text: "Embedding a Sign Up Form in a Page" %}
      {% include "shared/nav/link", href: "/developer-guide/users/signing-in-user-manually", text: "Signing In a User Manually" %}
      {% include "shared/nav/link", href: "/developer-guide/users/signing-in-user-automatically-after-sign-up", text: "Signing In a User Automatically after Sign Up" %}
      {% include "shared/nav/link", href: "/developer-guide/users/authenticating-user-with-jwt-token", text: "Authenticating a User with a JWT token" %}
      {% include "shared/nav/link", href: "/developer-guide/users/logging-out-authenticated-user", text: "Logging Out an Authenticated User" %}
      {% include "shared/nav/link", href: "/developer-guide/users/resetting-password-authenticated-user", text: "Resetting Password of an Authenticated User" %}
      {% include "shared/nav/link", href: "/developer-guide/users/accessing-authenticated-user-data", text: "Accessing Authenticated User Data" %}
      {% include "shared/nav/link", href: "/developer-guide/users/sharing-attributes-across-multiple-profiles", text: "Sharing Attributes Across Multiple Profiles" %}
    </ul>
  {% endif %}
</li>

<li class="{% if cp contains 'properties' %}active{% endif %}">
  <a href="/developer-guide/properties/properties">Properties</a>
  {% if cp contains 'properties' %}
    <ul class="submenu">
      {% include "shared/nav/link", href: "/developer-guide/properties/properties", text: "Properties" %}
      {% include "shared/nav/link", href: "/developer-guide/properties/arrays", text: "Arrays" %}
      {% include "shared/nav/link", href: "/developer-guide/properties/uploads", text: "Uploads" %}
      {% include "shared/nav/link", href: "/developer-guide/properties/custom-attachments", text: "[DEPRECATED] Custom Attachments" %}
      {% include "shared/nav/link", href: "/developer-guide/properties/custom-images", text: "[DEPRECATED] Custom Images" %}
    </ul>
  {% endif %}
</li>

<li class="{% if cp contains 'models' %}active{% endif %}">
  <a href="/developer-guide/models/models-model-schemas">Models</a>
  {% if cp contains 'models' %}
    <ul class="submenu">
      {% include "shared/nav/link", href: "/developer-guide/models/models-model-schemas", text: "Models and Model Schemas" %}
      {% include "shared/nav/link", href: "/developer-guide/models/data-backup-removal", text: "Data Backup and Removal" %}
      {% include "shared/nav/link", href: "/developer-guide/models/building-contact-form-with-model", text: "Building a Contact Form with Models" %}
      {% include "shared/nav/link", href: "/developer-guide/models/crud-models-using-ajax", text: "Managing Models using AJAX (CRUD operations)" %}
      {% include "shared/nav/link", href: "/developer-guide/models/persisting-data-with-models", text: "Persisting Data With Models" %}
      {% include "shared/nav/link", href: "/developer-guide/models/loading-related-models", text: "Loading Related Models" %}
      {% include "shared/nav/link", href: "/developer-guide/models/loading-related-models-from-array", text: "Loading Related Models from an Array Property" %}
      {% include "shared/nav/link", href: "/developer-guide/models/using-geojson-format-geolocation", text: "Using the GeoJSON format for Geolocation" %}
    </ul>
  {% endif %}
</li>

<li class="{% if cp contains 'search' %}active{% endif %}">
  <a href="/developer-guide/search/search">Search</a>
  {% if cp contains 'search' %}
    <ul class="submenu">
      {% include "shared/nav/link", href: "/developer-guide/search/search", text: "Search" %}
      {% include "shared/nav/link", href: "/developer-guide/search/narrowing-keyword-search", text: "Narrowing Keyword Search" %}
      {% include "shared/nav/link", href: "/developer-guide/search/selecting-fields-available-search", text: "Selecting Fields Available for Search" %}
      {% include "shared/nav/link", href: "/developer-guide/search/keyword-match-type", text: "Keyword Match Type" %}
      {% include "shared/nav/link", href: "/developer-guide/search/filtering-sorting", text: "Filtering and Sorting" %}
      {% include "shared/nav/link", href: "/developer-guide/search/distance-units", text: "Distance Units" %}
    </ul>
  {% endif %}
</li>

<li class="{% if cp contains 'activity-feeds' %}active{% endif %}">
  <a href="/developer-guide/activity-feeds/activity-feeds">Activity Feeds</a>
  <ul class="submenu">
    {% include "shared/nav/link", href: "/developer-guide/activity-feeds/activity-feeds", text: "Activity Feeds" %}
    {% include "shared/nav/link", href: "/developer-guide/activity-feeds/implementing-activity-feeds", text: "Implementing Activity Feeds" %}
    {% include "shared/nav/link", href: "/developer-guide/activity-feeds/handling-read-activites", text: "Handling Read Activities" %}
  </ul>
</li>

<li class="{% if cp contains 'user-uploads' %}active{% endif %}">
  <a href="/developer-guide/user-uploads/user-uploads">User Uploads</a>
  <ul class="submenu">
    {% include "shared/nav/link", href: "/developer-guide/user-uploads/user-uploads", text: "User Uploads in platformOS" %}
    {% include "shared/nav/link", href: "/developer-guide/user-uploads/uploading-files-directly-amazons3-using-uppy", text: "Uploading Files Directly to Amazon S3 Using Uppy" %}
  </ul>
</li>

<li class="pt-6 mt-6 mb-4 text-base border-t topic-group border-pos-divider">
  <h3>FORMS</h3>
</li>
<li class="{% if cp contains 'forms' %}active{% endif %}">
  <a href="/developer-guide/forms/forms">Forms</a>
  {% if cp contains 'forms' %}
    <ul class="submenu">
      {% include "shared/nav/link", href: "/developer-guide/forms/forms", text: "Forms" %}
      {% include "shared/nav/link", href: "/developer-guide/forms/form-configuration", text: "Form Configuration Options" %}
      {% include "shared/nav/link", href: "/developer-guide/forms/form-rendering", text: "Form Rendering" %}
      {% include "shared/nav/link", href: "/developer-guide/forms/form-server-side-processing", text: "Form Server Side Processing" %}
      {% include "shared/nav/link", href: "/developer-guide/forms/flash-messages", text: "Flash Messages" %}
      {% include "shared/nav/link", href: "/developer-guide/forms/default-payload", text: "Default Payload" %}
      {% include "shared/nav/link", href: "/developer-guide/forms/validation", text: "Validation" %}
      {% include "shared/nav/link", href: "/developer-guide/forms/examples", text: "Examples" %}
    </ul>
  {% endif %}
</li>

<li class="{% if cp contains '/developer-guide/notifications' %}active{% endif %}">
  <a href="/developer-guide/notifications/notifications">Notifications</a>
  {% if cp contains '/developer-guide/notifications' %}
    <ul class="submenu">
      {% include "shared/nav/link", href: "/developer-guide/notifications/notifications", text: "Notifications" %}
      {% include "shared/nav/link", href: "/developer-guide/notifications/creating-email-notification", text: "Creating an Email Notification" %}
      {% include "shared/nav/link", href: "/developer-guide/notifications/using-email-layouts", text: "Using Email Layouts" %}
      {% include "shared/nav/link", href: "/developer-guide/notifications/adding-attachments-email-notification", text: "Adding Attachments to an Email Notification" %}
      {% include "shared/nav/link", href: "/developer-guide/notifications/creating-sms-notification", text: "Creating an SMS Notification" %}
      {% include "shared/nav/link", href: "/developer-guide/notifications/creating-api-call-notification", text: "Creating an API Call Notification" %}
      {% include "shared/nav/link", href: "/developer-guide/notifications/parsing-api-response", text: "Parsing an API Response" %}
    </ul>
  {% endif %}
</li>

<li class="{% if cp contains 'authorization' %}active{% endif %}">
  <a href="/developer-guide/authorization-policy/authorization-policy">Authorization Policy</a>
  {% if cp contains 'authorization' %}
    <ul class="submenu">
      {% include "shared/nav/link", href: "/developer-guide/authorization-policy/authorization-policy", text: "Authorization Policy" %}
      {% include "shared/nav/link", href: "/developer-guide/authorization-policy/adding-authorization-policy", text: "Adding an Authorization Policy" %}
      {% include "shared/nav/link", href: "/developer-guide/authorization-policy/associating-authorization-policy-form", text: "Associating an Authorization Policy with Form" %}
      {% include "shared/nav/link", href: "/developer-guide/authorization-policy/associating-authorization-policy-page", text: "Associating an Authorization Policy with a Page" %}
      {% include "shared/nav/link", href: "/developer-guide/authorization-policy/handling-violated-authorization-policy", text: "Handling a Violated Authorization Policy" %}
    </ul>
  {% endif %}
</li>


<li class="pt-6 mt-6 mb-4 text-base border-t topic-group border-pos-divider">
  <h3>MODULES</h3>
</li>
<li class="{% if cp contains 'modules' %}active{% endif %}">
  <a href="/developer-guide/modules/modules">Modules</a>
  {% if cp contains 'modules' %}
    <ul class="submenu">
      {% include "shared/nav/link", href: "/developer-guide/modules/modules", text: "Modules" %}
      {% include "shared/nav/link", href: "/developer-guide/modules/creating-module", text: "Creating a Module" %}
      {% include "shared/nav/link", href: "/developer-guide/modules/sharing-module", text: "Sharing a Module" %}
      {% include "shared/nav/link", href: "/developer-guide/modules/installing-module", text: "Installing a Module" %}
      {% include "shared/nav/link", href: "/developer-guide/modules/templates", text: "Module Templates" %}
      {% include "shared/nav/link", href: "/developer-guide/modules/configuring-module-template", text: "Configuring a Module Template" %}
    </ul>
  {% endif %}
</li>

<li class="{% if cp contains 'payments' %}active{% endif %}">
  <a href="/developer-guide/payments/integrating-stripe">pOS Payments</a>
  <ul class="submenu">
    {% include "shared/nav/link", href: "/developer-guide/payments/integrating-stripe", text: "Integrating Stripe" %}
    {% include "shared/nav/link", href: "/developer-guide/payments/stripe-identity-verification", text: "Stripe Identity Verification" %}
    {% include "shared/nav/link", href: "/developer-guide/payments/processing-payments-graphql-mutations", text: "Processing Payments with GraphQL Mutations" %}
  </ul>
</li>

<li class="{% if cp contains 'blog' %}active{% endif %}">
  <a href="/developer-guide/blog/installing-blog-module">pOS Blog</a>
  <ul class="submenu">
    {% include "shared/nav/link", href: "/developer-guide/blog/installing-blog-module", text: "Installing the Blog Module" %}
    {% include "shared/nav/link", href: "/developer-guide/blog/creating-blog-post", text: "Creating a Blog Post" %}
    {% include "shared/nav/link", href: "/developer-guide/blog/blog-settings-posts", text: "Blog Settings and Posts" %}
  </ul>
</li>

<li class="{% if cp contains 'sendgrid-email-marketing' %}active{% endif %}">
  <a href="/developer-guide/sendgrid-email-marketing/installing-sendgrid-email-marketing">pOS Sendgrid Email Marketing</a>
  <ul class="submenu">
    {% include "shared/nav/link", href: "/developer-guide/sendgrid-email-marketing/installing-sendgrid-email-marketing", text: "Installing the Sendgrid Email Marketing Module" %}
  </ul>
</li>

<li class="pt-6 mt-6 mb-4 text-base border-t topic-group border-pos-divider">
  <h3>DATA MANAGEMENT</h3>
</li>
<li class="{% if cp contains 'data-import-export' %}active{% endif %}">
  <a href="/developer-guide/data-import-export/import">Data Import/Export</a>
  {% if cp contains 'data-import-export' %}
    <ul class="submenu">
      {% include "shared/nav/link", href: "/developer-guide/data-import-export/import", text: "Data Import" %}
      {% include "shared/nav/link", href: "/developer-guide/data-import-export/import-files", text: "Data Import: Files" %}
      {% include "shared/nav/link", href: "/developer-guide/data-import-export/export", text: "Data Export" %}
      {% include "shared/nav/link", href: "/developer-guide/data-import-export/model-relations", text: "Model Relations" %}
      {% include "shared/nav/link", href: "/developer-guide/data-import-export/migrating-data", text: "Migrating Data" %}
    </ul>
  {% endif %}
</li>

<li class="{% if cp contains 'data-management/cleaning-instance' %}active{% endif %}">
  {% include "shared/nav/link", href: "/developer-guide/data-management/cleaning-instance", text: "Cleaning an Instance" %}
</li>

<li class="pt-6 mt-6 mb-4 text-base border-t topic-group border-pos-divider">
  <h3>THIRD-PARTY SYSTEMS</h3>
</li>
<li class="{% if cp contains 'apis' %}active{% endif %}">
  <a href="/developer-guide/apis/creating-items-from-external-api-call">APIs</a>
  <ul class="submenu">
    {% include "shared/nav/link", href: "/developer-guide/apis/creating-items-from-external-api-call", text: "Creating Items from an External API Call" %}
    {% include "shared/nav/link", href: "/developer-guide/apis/persisting-part-of-third-party-api-response", text: "Persisting Part of a Third-Party API Response" %}
    {% include "shared/nav/link", href: "/developer-guide/apis/sending-binary-file-using-api-call-notification", text: "Sending a Binary File Using an API Call Notification" %}
  </ul>
</li>

<li class="{% if cp contains 'integrations' %}active{% endif %}">
  <a href="/developer-guide/integrations/integrating-slack-api-call-notifications">Integrations</a>
  {% if cp contains 'integrations' %}
    <ul class="submenu">
      {% include "shared/nav/link", href: "/developer-guide/integrations/integrating-slack-api-call-notifications", text: "Integrating Slack Using API Call Notifications" %}
      {% include "shared/nav/link", href: "/developer-guide/integrations/integrating-sendgrid-api-call-notifications", text: "Integrating SendGrid Using API Call Notifications" %}
      {% include "shared/nav/link", href: "/developer-guide/integrations/authenticating-domain-sendgrid", text: "Authenticating Your Domain on SendGrid" %}
      {% include "shared/nav/link", href: "/developer-guide/integrations/adding-sendgrid-instance", text: "Adding SendGrid to an Instance" %}
      {% include "shared/nav/link", href: "/developer-guide/integrations/sending-custom-arguments-sendgrid", text: "Sending custom_arguments to Sendgrid via API Call Notification" %}
      {% include "shared/nav/link", href: "/developer-guide/integrations/integrating-twilio-api-call-notifications", text: "Integrating Twilio Using API Call Notifications" %}
      {% include "shared/nav/link", href: "/developer-guide/integrations/integrating-mailchimp-api-call-notifications", text: "Integrating Mailchimp Using API Call Notifications" %}
      {% include "shared/nav/link", href: "/developer-guide/integrations/integrating-activecampaign-api-call-notifications", text: "Integrating ActiveCampaign Using API Call Notifications" %}
      {% include "shared/nav/link", href: "/developer-guide/integrations/integrating-sendinblue-api-call-notifications", text: "Integrating Sendinblue Using API Call Notifications" %}
      {% include "shared/nav/link", href: "/developer-guide/integrations/adding-recaptcha-spam-protection", text: "Adding reCAPTCHA V2 Spam Protection" %}
      {% include "shared/nav/link", href: "/developer-guide/integrations/adding-recaptcha-v3-spam-protection", text: "Adding reCAPTCHA V3 Spam Protection" %}
    </ul>
  {% endif %}
</li>

<li class="{% if cp contains 'identity-providers' %}active{% endif %}">
  <a href="/developer-guide/identity-providers/identity-providers">Identity Providers (OAuth)</a>
  {% if cp contains 'identity-providers' %}
    <ul class="submenu">
      {% include "shared/nav/link", href: "/developer-guide/identity-providers/identity-providers", text: "Identity Providers" %}
      {% include "shared/nav/link", href: "/developer-guide/identity-providers/auth0", text: "Auth0 Integration" %}
      {% include "shared/nav/link", href: "/developer-guide/identity-providers/google-oauth", text: "Google OAuth Integration" %}
      {% include "shared/nav/link", href: "/developer-guide/identity-providers/facebook", text: "Facebook Integration" %}
    </ul>
  {% endif %}
</li>

<li class="pt-6 mt-6 mb-4 text-base border-t topic-group border-pos-divider">
  <h3>PARTNER PORTAL</h3>
</li>
<li class="{% if cp contains 'partner-portal/users' %}active{% endif %}">
  <a href="/developer-guide/partner-portal/users/inviting-new-user-to-partner-portal">Users</a>
  {% if cp contains 'partner-portal/users' %}
    <ul class="submenu">
      {% include "shared/nav/link", href: "/developer-guide/partner-portal/users/inviting-new-user-to-partner-portal", text: "Inviting a New User to the Partner Portal" %}
      {% include "shared/nav/link", href: "/developer-guide/partner-portal/users/setting-up-users-partner-permissions", text: "Setting Up a User's Partner Permissions" %}
      {% include "shared/nav/link", href: "/developer-guide/partner-portal/users/setting-up-users-instance-permissions", text: "Setting Up a User's Instance Permissions" %}
      {% include "shared/nav/link", href: "/developer-guide/partner-portal/users/deleting-user", text: "Deleting a User" %}
      {% include "shared/nav/link", href: "/developer-guide/partner-portal/users/setting-up-instance-partner-permissions-outside-own-partner", text: "Setting Up Instance and Partner Permissions for Users Outside of Your Own Partner" %}
      {% include "shared/nav/link", href: "/developer-guide/partner-portal/users/updating-partner", text: "Updating a Partner" %}
      {% include "shared/nav/link", href: "/developer-guide/partner-portal/users/changing-partner-user", text: "Changing the Partner of a User" %}
    </ul>
  {% endif %}
</li>

<li class="{% if cp contains 'partner-portal/instances' %}active{% endif %}">
  <a href="/developer-guide/partner-portal/instances/finding-instances">Instances</a>
  {% if cp contains 'partner-portal/instances' %}
    <ul class="submenu">
      {% include "shared/nav/link", href: "/developer-guide/partner-portal/instances/finding-instances", text: "Finding Instances" %}
      {% include "shared/nav/link", href: "/developer-guide/partner-portal/instances/changing-partner-instance", text: "Changing the Partner of an Instance" %}
      {% include "shared/nav/link", href: "/developer-guide/partner-portal/instances/updating-instance", text: "Updating an Instance" %}
      {% include "shared/nav/link", href: "/developer-guide/partner-portal/instances/updating-instance-configuration", text: "Updating Instance Configuration" %}
      {% include "shared/nav/link", href: "/developer-guide/partner-portal/instances/checking-releases-instance", text: "Checking the Releases of an Instance" %}
      {% include "shared/nav/link", href: "/developer-guide/partner-portal/instances/downloading-codebase-instance", text: "Downloading the Codebase of an Instance" %}
      {% include "shared/nav/link", href: "/developer-guide/partner-portal/instances/copying-instance", text: "Copying an Instance" %}
      {% include "shared/nav/link", href: "/developer-guide/partner-portal/instances/unpublishing-instance", text: "Unpublishing an Instance" %}
      {% include "shared/nav/link", href: "/developer-guide/partner-portal/instances/configuring-test-email", text: "Configuring a Test Email" %}
    </ul>
  {% endif %}
</li>

<li class="{% if cp contains 'partner-portal/domains' %}active{% endif %}">
  <a href="/developer-guide/partner-portal/domains/dns-setting-up-production-domain">Domains</a>
  {% if cp contains 'partner-portal/domains' %}
    <ul class="submenu">
      {% include "shared/nav/link", href: "/developer-guide/partner-portal/domains/dns-setting-up-production-domain", text: "NEW Setting Up a Production Domain" %}
      {% include "shared/nav/link", href: "/developer-guide/partner-portal/domains/dns-setting-up-production-domain-pos", text: "NEW Setting Up a Production Domain Hosted on platformOS" %}
      {% include "shared/nav/link", href: "/developer-guide/partner-portal/domains/dns-setting-up-production-domain-ext", text: "NEW Setting Up a Production Domain on a 3rd-Party Provider" %}
      {% include "shared/nav/link", href: "/developer-guide/partner-portal/domains/dns-setting-up-production-domain-records", text: "NEW Adding DNS records to a DNS Zone" %}

      {% include "shared/nav/link", href: "/developer-guide/partner-portal/domains/setting-up-production-domain", text: "OLD Setting Up a Production Domain" %}
      {% include "shared/nav/link", href: "/developer-guide/partner-portal/domains/configuring-www-default-domain", text: "OLD Configuring www as the Default Domain" %}
      {% include "shared/nav/link", href: "/developer-guide/partner-portal/domains/deleting-ssl-certificate", text: "OLD Deleting an SSL Certificate" %}
    </ul>
  {% endif %}
</li>

<li class="{% if cp contains 'partner-portal/billing-plans' %}active{% endif %}">
  <a href="/developer-guide/partner-portal/billing-plans/creating-billing-plan">Billing Plans</a>
  <ul class="submenu">
    {% include "shared/nav/link", href: "/developer-guide/partner-portal/billing-plans/creating-billing-plan", text: "Creating a Billing Plan" %}
    {% include "shared/nav/link", href: "/developer-guide/partner-portal/billing-plans/assigning-billing-plan-instance", text: "Assigning a Billing Plan to an Instance" %}
  </ul>
</li>
