<li>
  <a href="/get-started/accessing-partner-portal">Accessing the Partner Portal</a>
</li>
<li>
  <a href="/get-started/setting-up-site">Setting Up a Site on Our Platform </a>
</li>
<li>
  <a href="/get-started/installing-npm-mac">Installing NPM on a Mac</a>
</li>
<li>
  <a href="/get-started/installing-npm-windows">Installing NPM on Windows</a>
</li>
<li>
  <a href="/get-started/installing-marketplace-kit">Installing the Marketplace Kit</a>
</li>
<li>
  <a href="/get-started/updating-marketplace-kit">Updating the Marketplace Kit</a>
</li>
<li>
  <a href="/get-started/creating-codebase">Creating the Codebase</a>
</li>
<li>
  <a href="/get-started/deploying-syncing-changes">Deploying and Syncing Changes</a>
</li>