<li class="{% if cp == '/get-started' %}active{% endif %}">
  <a href="/get-started">Introduction</a>
</li>

<li class="{% if cp contains '/get-started/installation-and-configuration' %}active{% endif %}">
  <a href="/get-started/installation-and-configuration/">Installation and configuration</a>

  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/installation-and-configuration/#sign-up-on-partner-portal", text: "Sign up on the Partner Portal" %}
    {% include "shared/nav/link", href: "/get-started/installation-and-configuration/#create-an-instance", text: "Create an Instance" %}
    {% include "shared/nav/link", href: "/get-started/installation-and-configuration/#install-pos-cli", text: "Install the pos-cli" %}
  </ul>
</li>

<li class="{% if cp contains '/get-started/working-with-the-code-and-files' %}active{% endif %}">
  <a href="/get-started/working-with-the-code-and-files/">Working with the Code and Files</a>

  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/working-with-the-code-and-files/#proper-platformos-directory-structure", text: "The platformOS directory structure" %}
    {% include "shared/nav/link", href: "/get-started/working-with-the-code-and-files/#authenticate-your-environment", text: "Authenticate your environment" %}
    {% include "shared/nav/link", href: "/get-started/working-with-the-code-and-files/#upload-your-code-to-an-instance", text: "Upload your code to an instance" %}
    {% include "shared/nav/link", href: "/get-started/working-with-the-code-and-files/#upload-code-changes-automatically-when-you-save-the-file", text: "Upload code changes automatically when you save the file" %}
    {% include "shared/nav/link", href: "/get-started/working-with-the-code-and-files/#basic-overlook-on-the-directory-structure", text: "Basic overlook on the directory structure" %}
  </ul>
</li>

<li class="{% if cp == '/get-started/todo-app/build-todo-list-app' %}active{% endif %}">
  <a href="/get-started/todo-app/build-todo-list-app">Build a ToDo List App</a>

  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/todo-app/build-todo-list-app#preview", text: "Preview" %}
    {% include "shared/nav/link", href: "/get-started/todo-app/build-todo-list-app#prerequisites", text: "Prerequisites" %}
    {% include "shared/nav/link", href: "/get-started/todo-app/build-todo-list-app#frontend-technology-stack", text: "Frontend technology stack" %}
    {% include "shared/nav/link", href: "/get-started/todo-app/build-todo-list-app#file-structure", text: "File structure" %}
    {% include "shared/nav/link", href: "/get-started/todo-app/build-todo-list-app#step-1-create-new-list", text: "1. Create new list" %}
    {% include "shared/nav/link", href: "/get-started/todo-app/build-todo-list-app#step-2-view-all-lists", text: "2. View all lists" %}
    {% include "shared/nav/link", href: "/get-started/todo-app/build-todo-list-app#step-3-display-list", text: "3. Display list" %}
    {% include "shared/nav/link", href: "/get-started/todo-app/build-todo-list-app#step-4-rename-list", text: "4. Rename list" %}
    {% include "shared/nav/link", href: "/get-started/todo-app/build-todo-list-app#step-5-delete-empty-list", text: "5. Delete empty list" %}
    {% include "shared/nav/link", href: "/get-started/todo-app/build-todo-list-app#step-6-create-task", text: "6. Create task" %}
    {% include "shared/nav/link", href: "/get-started/todo-app/build-todo-list-app#step-7-mark-task-as-complete", text: "7. Mark task as complete" %}
    {% include "shared/nav/link", href: "/get-started/todo-app/build-todo-list-app#step-8-edit-a-tasks-content", text: "8. Edit a task's content" %}
    {% include "shared/nav/link", href: "/get-started/todo-app/build-todo-list-app#step-9-delete-a-task", text: "9. Delete a task" %}
    {% include "shared/nav/link", href: "/get-started/todo-app/build-todo-list-app#source-code", text: "Source code" %}
  </ul>
</li>

<li class="{% if cp == '/get-started/todo-app/build-todo-list-app-part-2' %}active{% endif %}">
  <a href="/get-started/todo-app/build-todo-list-app-part-2">Build a ToDo List App - Part 2: Extend Your App</a>
  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/todo-app/build-todo-list-app-part-2#step-1-adding-new-properties-to-an-existing-record", text: "Step 1: Adding new properties to an existing record" %}
    {% include "shared/nav/link", href: "/get-started/todo-app/build-todo-list-app-part-2#step-2-adding-password-protection", text: "Step 2: Adding password protection" %}
    {% include "shared/nav/link", href: "/get-started/todo-app/build-todo-list-app-part-2#step-3-adding-an-email-notification", text: "Step 3: Adding an email notification" %}
  </ul>
</li>
