<li>
  <a href="/get-started/accessing-partner-portal">1. Accessing the Partner Portal</a>
</li>
<li>
  <a href="/get-started/setting-up-site">2. Setting Up a Site on Our Platform </a>
</li>
<li class="{% if cp contains '/get-started/installing-npm' %}active{% endif %}"><a
    href="/get-started/installing-npm-mac">3. Installing NPM</a>
  <ul class="submenu">
    <li><a href="/get-started/installing-npm-mac">3.a. Installing NPM on a Mac</a></li>
    <li>
  <a href="/get-started/installing-npm-windows">3.b. Installing NPM on Windows</a>
</li>
  </ul>
</li>
<li class="{% if cp contains 'marketplace-kit' %}active{% endif %}"><a
    href="/get-started/installing-marketplace-kit">4. Installing the Marketplace Kit</a>
  <ul class="submenu">
<li>
  <a href="/get-started/installing-marketplace-kit">4.a. Installing the Marketplace Kit</a>
</li>
<li>
  <a href="/get-started/updating-marketplace-kit">4.b. Updating the Marketplace Kit</a>
</li>
  </ul>
</li>
<li>
  <a href="/get-started/creating-codebase">5. Creating the Codebase</a>
</li>
<li>
  <a href="/get-started/deploying-syncing-changes">6. Deploying and Syncing Changes</a>
</li>
