{% include "shared/nav/link", href: "/get-started/accessing-partner-portal", text: "1. Accessing the Partner Portal" %}
{% include "shared/nav/link", href: "/get-started/setting-up-site", text: "2. Setting Up a Site on Our Platform" %}
<li class="{% if cp contains '/get-started/installing-nodejs' %}active{% endif %}">
  <a href="/get-started/installing-nodejs-mac">3. Installing Node.js</a>
  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/installing-nodejs-mac", text: "3.a. Installing Node.js on a Mac" %}
    {% include "shared/nav/link", href: "/get-started/installing-nodejs-windows", text: "3.b. Installing Node.js on Windows" %}
  </ul>
</li>
<li class="{% if cp contains 'pos-cli' %}active{% endif %}">
  <a href="/get-started/installing-pos-cli">4. Installing the pos-cli</a>
  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/installing-pos-cli", text: "4.a. Installing the pos-cli" %}
    {% include "shared/nav/link", href: "/get-started/updating-pos-cli", text: "4.b. Updating the pos-cli" %}
  </ul>
</li>
{% include "shared/nav/link", href: "/get-started/creating-codebase", text: "5. Creating the Codebase" %}
{% include "shared/nav/link", href: "/get-started/deploying-syncing-changes", text: "6. Deploying and Syncing Changes" %}
