<li class="mt-6 mb-2 text-base topic-group">
  <h3 class="text-base">FROM A TEMPLATE</h3>
</li>

<li class="{% if cp == '/get-started/marketplace-template/marketplace-template' %}active{% endif %}">
  <a href="/get-started/marketplace-template/marketplace-template">pOS Marketplace Template</a>

  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/marketplace-template/marketplace-template#preview", text: "Preview" %}
    {% include "shared/nav/link", href: "/get-started/marketplace-template/marketplace-template#prerequisite-register-on-the-partner-portal", text: "Prerequisite: Register on the Partner Portal" %}
    {% include "shared/nav/link", href: "/get-started/marketplace-template/marketplace-template#step-1-install-the-pos-cli", text: "1. Install the pos-cli" %}
    {% include "shared/nav/link", href: "/get-started/marketplace-template/marketplace-template#step-2-create-instance", text: "2. Create Instance" %}
    {% include "shared/nav/link", href: "/get-started/marketplace-template/marketplace-template#step-3-add-instance-to-pos-cli", text: "3. Add Instance to pos-cli" %}
    {% include "shared/nav/link", href: "/get-started/marketplace-template/marketplace-template#step-4-clone-the-repository", text: "4. Clone the repository" %}
    {% include "shared/nav/link", href: "/get-started/marketplace-template/marketplace-template#step-5-build-assets", text: "5. Build assets" %}
    {% include "shared/nav/link", href: "/get-started/marketplace-template/marketplace-template#step-6-deploy", text: "6. Deploy" %}
    {% include "shared/nav/link", href: "/get-started/marketplace-template/marketplace-template#step-7-set-up-your-marketplace", text: "7. Set up your marketplace" %}
  </ul>
</li>


<li class="mt-6 mb-2 text-base topic-group">
  <h3 class="text-base">FROM SCRATCH</h3>
</li>

<li class="{% if cp contains '/hello-world' %}active{% endif %}">
  <a href="/get-started/hello-world/hello-world">Hello, World!</a>

  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/hello-world/hello-world#prerequisite-register-on-the-partner-portal", text: "Prerequisite: Register on the Partner Portal" %}
    {% include "shared/nav/link", href: "/get-started/hello-world/hello-world#step-1-create-an-instance", text: "1. Create an Instance" %}
    {% include "shared/nav/link", href: "/get-started/hello-world/hello-world#step-2-install-the-pos-cli", text: "2. Install the pos-cli" %}
    {% include "shared/nav/link", href: "/get-started/hello-world/hello-world#step-3-create-your-codebase", text: "3. Create your codebase" %}
    {% include "shared/nav/link", href: "/get-started/hello-world/hello-world#step-4-change-something-on-your-homepage", text: "4. Change something on your homepage" %}
    {% include "shared/nav/link", href: "/get-started/hello-world/hello-world#step-5-authenticate-your-environment", text: "5. Authenticate your environment" %}
    {% include "shared/nav/link", href: "/get-started/hello-world/hello-world#step-6-deploy-or-sync", text: "6. Deploy or sync" %}
  </ul>
</li>

<li class="{% if cp == '/get-started/todo-app/build-todo-list-app' %}active{% endif %}">
  <a href="/get-started/todo-app/build-todo-list-app">Build a ToDo List App</a>

  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/todo-app/build-todo-list-app#preview", text: "Preview" %}
    {% include "shared/nav/link", href: "/get-started/todo-app/build-todo-list-app#prerequisites", text: "Prerequisites" %}
    {% include "shared/nav/link", href: "/get-started/todo-app/build-todo-list-app#frontend-technology-stack", text: "Frontend technology stack" %}
    {% include "shared/nav/link", href: "/get-started/todo-app/build-todo-list-app#file-structure", text: "File structure" %}
    {% include "shared/nav/link", href: "/get-started/todo-app/build-todo-list-app#step-1-create-new-list", text: "1. Create new list" %}
    {% include "shared/nav/link", href: "/get-started/todo-app/build-todo-list-app#step-2-view-all-lists", text: "2. View all lists" %}
    {% include "shared/nav/link", href: "/get-started/todo-app/build-todo-list-app#step-3-display-list", text: "3. Display list" %}
    {% include "shared/nav/link", href: "/get-started/todo-app/build-todo-list-app#step-4-rename-list", text: "4. Rename list" %}
    {% include "shared/nav/link", href: "/get-started/todo-app/build-todo-list-app#step-5-delete-empty-list", text: "5. Delete empty list" %}
    {% include "shared/nav/link", href: "/get-started/todo-app/build-todo-list-app#step-6-create-task", text: "6. Create task" %}
    {% include "shared/nav/link", href: "/get-started/todo-app/build-todo-list-app#step-7-mark-task-as-complete", text: "7. Mark task as complete" %}
    {% include "shared/nav/link", href: "/get-started/todo-app/build-todo-list-app#step-8-edit-a-tasks-content", text: "8. Edit a task's content" %}
    {% include "shared/nav/link", href: "/get-started/todo-app/build-todo-list-app#step-9-delete-a-task", text: "9. Delete a task" %}
    {% include "shared/nav/link", href: "/get-started/todo-app/build-todo-list-app#source-code", text: "Source code" %}
  </ul>
</li>

<li class="{% if cp == '/get-started/todo-app/build-todo-list-app-part-2' %}active{% endif %}">
  <a href="/get-started/todo-app/build-todo-list-app-part-2">Build a ToDo List App - Part 2: Extend Your App</a>
  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/todo-app/build-todo-list-app-part-2#step-1-adding-new-properties-to-an-existing-record", text: "Step 1: Adding new properties to an existing record" %}
    {% include "shared/nav/link", href: "/get-started/todo-app/build-todo-list-app-part-2#step-2-adding-password-protection", text: "Step 2: Adding password protection" %}
    {% include "shared/nav/link", href: "/get-started/todo-app/build-todo-list-app-part-2#step-3-adding-an-email-notification", text: "Step 3: Adding an email notification" %}
  </ul>
</li>
