<li class="{% if cp == '/get-started' %}active{% endif %}">
  <a href="/get-started">Introduction</a>
</li>

<li class="{% if cp contains '/get-started/installation-and-configuration' %}active{% endif %}">
  <a href="/get-started/installation-and-configuration/">Installation and Configuration</a>

  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/installation-and-configuration/#sign-up-on-the-partner-portal", text: "Sign up on the Partner Portal" %}
    {% include "shared/nav/link", href: "/get-started/installation-and-configuration/#create-an-instance", text: "Create an Instance" %}
    {% include "shared/nav/link", href: "/get-started/installation-and-configuration/#install-pos-cli", text: "Install the pos-cli" %}
  </ul>
</li>

<li class="{% if cp contains '/get-started/working-with-the-code-and-files' %}active{% endif %}">
  <a href="/get-started/working-with-the-code-and-files/">Working with the Code and Files</a>

  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/working-with-the-code-and-files/#proper-platformos-directory-structure", text: "The platformOS directory structure" %}
    {% include "shared/nav/link", href: "/get-started/working-with-the-code-and-files/#authenticate-your-environment", text: "Authenticate your environment" %}
    {% include "shared/nav/link", href: "/get-started/working-with-the-code-and-files/#upload-your-code-to-an-instance", text: "Upload your code to an instance" %}
    {% include "shared/nav/link", href: "/get-started/working-with-the-code-and-files/#upload-code-changes-automatically-when-you-save-the-file", text: "Upload code changes automatically when you save the file" %}
    {% include "shared/nav/link", href: "/get-started/working-with-the-code-and-files/#basic-overview-of-the-directory-structure", text: "Basic overview of the directory structure" %}
  </ul>
</li>

<li class="mt-6 mb-2 text-base topic-group">
  <h3 class="text-base uppercase">Build your first app</h3>
</li>

<li class="{% if cp == '/get-started/build-your-first-app/' %}active{% endif %}">
  <a href="/get-started/build-your-first-app/">Introduction</a>
</li>

<li class="{% if cp contains '/build-your-first-app/building-the-user-interface' %}active{% endif %}">
  <a href="/get-started/build-your-first-app/building-the-user-interface">Building the User Interface</a>

  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/building-the-user-interface#build-the-main-application-layout", text: "Build the main application layout" %}
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/building-the-user-interface#add-new-page-to-your-application", text: "Add new page to your application" %}
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/building-the-user-interface#a-to-do-app-necessary-interface-elements", text: "A To Do App: Necessary Interface Elements" %}
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/building-the-user-interface#adding-visual-styling-with-css", text: "Adding visual styling with CSS" %}
  </ul>
</li>

<li class="{% if cp contains '/build-your-first-app/saving-data-to-the-database' %}active{% endif %}">
  <a href="/get-started/build-your-first-app/saving-data-to-the-database">Saving Data to the Database</a>

  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/saving-data-to-the-database#create-the-database-structure-using-yaml", text: "Create the database structure using YAML" %}
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/saving-data-to-the-database#browse-the-database-tables-using-a-platformos-tool", text: "Browse the database tables using a platformOS tool" %}
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/saving-data-to-the-database#save-the-data-in-the-database", text: "Save the data in the database" %}
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/saving-data-to-the-database#saving-user-input-in-the-database", text: "Saving user input in the database" %}
  </ul>
</li>

<li class="{% if cp contains '/get-started/build-your-first-app/retrieving-and-presenting-the-data-on-the-page' %}active{% endif %}">
  <a href="/get-started/build-your-first-app/retrieving-and-presenting-the-data-on-the-page">Retrieving and Presenting the Data on the Page</a>

  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/retrieving-and-presenting-the-data-on-the-page/#getting-the-data-from-the-database", text: "Getting the data from the database" %}
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/retrieving-and-presenting-the-data-on-the-page/#testing-the-query-using-graphiql", text: "Testing the query using GraphiQL" %}
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/retrieving-and-presenting-the-data-on-the-page/#rendering-the-data-on-a-page", text: "Rendering the data on a page" %}
  </ul>
</li>

<li class="{% if cp contains '/get-started/build-your-first-app/removing-data-from-the-database' %}active{% endif %}">
  <a href="/get-started/build-your-first-app/removing-data-from-the-database">Removing Data from the Database</a>

  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/removing-data-from-the-database#testing-the-query-using-graphiql", text: "Testing the query using GraphiQL" %}
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/removing-data-from-the-database#using-the-application-interface-to-delete-a-record", text: "Using the application interface to delete a record" %}
  </ul>
</li>

<li class="{% if cp contains '/get-started/build-your-first-app/sending-email-notifications' %}active{% endif %}">
  <a href="/get-started/build-your-first-app/sending-email-notifications">Sending Email Notifications</a>

  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/sending-email-notifications#enabling-emails-on-the-staging-instance", text: "Enabling emails on the staging instance" %}
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/sending-email-notifications#creating-a-layout-for-the-emails", text: "Creating a layout for the emails" %}
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/sending-email-notifications#using-graphql-to-send-an-email", text: "Using GraphQL to send an email" %}
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/sending-email-notifications#trigger-sending-the-email", text: "Trigger sending the email" %}
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/sending-email-notifications#sending-emails-to-addresses-provided-dynamically", text: "Sending emails to addresses provided dynamically" %}
  </ul>
</li>
