<li class="{% if cp contains '/get-started/hello-world' %}active{% endif %}">
  <a href="/get-started/hello-world/register-partner-portal">Hello, World!</a>

  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/hello-world/register-partner-portal", text: "Prerequisite: Register on the Partner Portal" %}
    {% include "shared/nav/link", href: "/get-started/hello-world/create-instance", text: "1. Create an Instance" %}
    {% include "shared/nav/link", href: "/get-started/hello-world/install-pos-cli", text: "2. Install the pos-cli" %}
    {% include "shared/nav/link", href: "/get-started/hello-world/create-codebase", text: "3. Create Your Codebase" %}
    {% include "shared/nav/link", href: "/get-started/hello-world/change-homepage", text: "4. Change Something on Your Homepage" %}
    {% include "shared/nav/link", href: "/get-started/hello-world/authenticate-environment", text: "5. Authenticate Your Environment" %}
    {% include "shared/nav/link", href: "/get-started/hello-world/deploy-sync", text: "6. Deploy or Sync" %}
  </ul>
</li>


