<li class="{% if cp == '/get-started' %}active{% endif %}">
  <a href="/get-started">Introduction</a>
</li>

<li class="{% if cp == '/get-started/platformos-overview' %}active{% endif %}">
  <a href="/get-started/platformos-overview">What is platformOS?</a>
</li>

<li class="{% if cp == '/get-started/your-pos-toolkit' %}active{% endif %}">
  <a href="/get-started/your-pos-toolkit">Your platformOS Toolkit</a>
</li>

<li class="{% if cp == '/get-started/why-liquid' %}active{% endif %}">
  <a href="/get-started/why-liquid">Why Liquid, GraphQL and YAML?</a>
</li>

<li class="{% if cp contains '/get-started/installation-and-configuration' %}active{% endif %}">
  <a href="/get-started/installation-and-configuration/">Installation and Configuration</a>

  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/installation-and-configuration/#sign-up-on-the-partner-portal", text: "Sign up on the Partner Portal" %}
    {% include "shared/nav/link", href: "/get-started/installation-and-configuration/#create-an-instance", text: "Create an Instance" %}
    {% include "shared/nav/link", href: "/get-started/installation-and-configuration/#install-pos-cli", text: "Install pos-cli" %}
  </ul>
</li>

<li class="{% if cp contains '/get-started/working-with-the-code-and-files' %}active{% endif %}">
  <a href="/get-started/working-with-the-code-and-files/">Working with the Code and Files</a>

  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/working-with-the-code-and-files/#proper-platformos-directory-structure", text: "The platformOS directory structure" %}
    {% include "shared/nav/link", href: "/get-started/working-with-the-code-and-files/#authenticate-your-environment", text: "Authenticate your environment" %}
    {% include "shared/nav/link", href: "/get-started/working-with-the-code-and-files/#upload-your-code-to-an-instance", text: "Upload your code to an instance" %}
    {% include "shared/nav/link", href: "/get-started/working-with-the-code-and-files/#upload-code-changes-automatically-when-you-save-the-file", text: "Upload code changes automatically when you save the file" %}
    {% include "shared/nav/link", href: "/get-started/working-with-the-code-and-files/#basic-overview-of-the-directory-structure", text: "Basic overview of the directory structure" %}
  </ul>
</li>

<li class="{% if cp contains '/get-started/error-handling' %}active{% endif %}">
  <a href="/get-started/error-handling">Error Handling and Troubleshooting</a>
  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/error-handling#why-error-handling-is-important", text: "Why Error Handling is Important" %}
    {% include "shared/nav/link", href: "/get-started/error-handling#accessing-logs", text: "Accessing Logs" %}
    {% include "shared/nav/link", href: "/get-started/error-handling#common-errors", text: "Common Errors" %}
    {% include "shared/nav/link", href: "/get-started/error-handling#debugging-with-logs", text: "Debugging with Logs" %}
    {% include "shared/nav/link", href: "/get-started/error-handling#example-debugging-a-syntax-error-using-logs", text: "Example: Debugging a Syntax Error" %}
  </ul>
</li>

<li class="mt-6 mb-2 text-base topic-group">
  <h3 class="text-base uppercase">Build your first app</h3>
</li>

<li class="{% if cp == '/get-started/build-your-first-app/' %}active{% endif %}">
  <a href="/get-started/build-your-first-app/">Introduction & Quick Start Guide</a>
</li>

<li class="{% if cp contains '/build-your-first-app/building-the-user-interface' %}active{% endif %}">
  <a href="/get-started/build-your-first-app/building-the-user-interface">Building the User Interface</a>

  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/building-the-user-interface#build-the-main-application-layout", text: "Build the main application layout" %}
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/building-the-user-interface#add-new-page-to-your-application", text: "Add new page to your application" %}
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/building-the-user-interface#a-to-do-app-necessary-interface-elements", text: "A To Do App: Necessary Interface Elements" %}
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/building-the-user-interface#adding-visual-styling-with-css", text: "Adding visual styling with CSS" %}
  </ul>
</li>

<li class="{% if cp contains '/build-your-first-app/saving-data-to-the-database' %}active{% endif %}">
  <a href="/get-started/build-your-first-app/saving-data-to-the-database">Saving Data to the Database</a>

  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/saving-data-to-the-database#create-the-database-structure-using-yaml", text: "Create the database structure using YAML" %}
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/saving-data-to-the-database#browse-the-database-tables-using-a-platformos-tool", text: "Browse the database tables using a platformOS tool" %}
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/saving-data-to-the-database#save-the-data-in-the-database", text: "Save the data in the database" %}
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/saving-data-to-the-database#saving-user-input-in-the-database", text: "Saving user input in the database" %}
  </ul>
</li>

<li class="{% if cp contains '/get-started/build-your-first-app/retrieving-and-presenting-the-data-on-the-page' %}active{% endif %}">
  <a href="/get-started/build-your-first-app/retrieving-and-presenting-the-data-on-the-page">Retrieving and Presenting the Data on the Page</a>

  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/retrieving-and-presenting-the-data-on-the-page/#getting-the-data-from-the-database", text: "Getting the data from the database" %}
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/retrieving-and-presenting-the-data-on-the-page/#testing-the-query-using-graphiql", text: "Testing the query using GraphiQL" %}
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/retrieving-and-presenting-the-data-on-the-page/#rendering-the-data-on-a-page", text: "Rendering the data on a page" %}
  </ul>
</li>

<li class="{% if cp contains '/get-started/build-your-first-app/removing-data-from-the-database' %}active{% endif %}">
  <a href="/get-started/build-your-first-app/removing-data-from-the-database">Removing Data from the Database</a>

  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/removing-data-from-the-database#testing-the-query-using-graphiql", text: "Testing the query using GraphiQL" %}
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/removing-data-from-the-database#using-the-application-interface-to-delete-a-record", text: "Using the application interface to delete a record" %}
  </ul>
</li>

<li class="{% if cp contains '/get-started/build-your-first-app/sending-email-notifications' %}active{% endif %}">
  <a href="/get-started/build-your-first-app/sending-email-notifications">Sending Email Notifications</a>

  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/sending-email-notifications#enabling-emails-on-the-staging-instance", text: "Enabling emails on the staging instance" %}
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/sending-email-notifications#creating-a-layout-for-the-emails", text: "Creating a layout for the emails" %}
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/sending-email-notifications#using-graphql-to-send-an-email", text: "Using GraphQL to send an email" %}
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/sending-email-notifications#trigger-sending-the-email", text: "Trigger sending the email" %}
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/sending-email-notifications#sending-emails-to-addresses-provided-dynamically", text: "Sending emails to addresses provided dynamically" %}
  </ul>
</li>

<li class="{% if cp contains '/get-started/build-your-first-app/user-authentication' %}active{% endif %}">
  <a href="/get-started/build-your-first-app/user-authentication">User Authentication</a>

  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/user-authentication#registration", text: "Registering the user" %}
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/user-authentication#accessing-current-user", text: "Accessing Current User" %}
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/user-authentication#manual-log-out", text: "Manual log out" %}
    {% include "shared/nav/link", href: "/get-started/build-your-first-app/user-authentication#signing-in-the-user", text: "Signing in the User" %}
  </ul>
</li>

<li class="mt-6 mb-2 text-base topic-group">
  <h3 class="text-base uppercase">Build a Contact Us form </h3>
</li>

<li class="{% if cp == '/get-started/contact-us-tutorial/' %}active{% endif %}">
  <a href="/get-started/contact-us-tutorial/">Introduction</a>
</li>

<li class="{% if cp contains '/contact-us-tutorial/building-the-ui' %}active{% endif %}">
  <a href="/get-started/contact-us-tutorial/building-the-ui">Building the User Interface</a>

  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/building-the-ui#create-a-directory-for-pages", text: "Create a directory for pages" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/building-the-ui#create-a-home-page-file", text: "Create a home page file" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/building-the-ui#using-path-to-the-file-as-default-route", text: "Using Path to the File as Default Route" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/building-the-ui#deploy-and-check", text: "Deploy and check" %}
  </ul>
</li>

<li class="{% if cp contains '/contact-us-tutorial/setting-up-form-submission' %}active{% endif %}">
  <a href="/get-started/contact-us-tutorial/setting-up-form-submission">Setting Up Form Submission</a>
  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/setting-up-form-submission#modify-the-form-action", text: "Modify the form action" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/setting-up-form-submission#add-missing-authenticity-token", text: "Add missing authenticity token" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/setting-up-form-submission#test-the-form-submission", text: "Test the form submission" %}
  </ul>
</li>

<li class="{% if cp contains '/contact-us-tutorial/setting-up-a-schema' %}active{% endif %}">
  <a href="/get-started/contact-us-tutorial/setting-up-a-schema">Setting Up a Schema</a>
  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/setting-up-a-schema#accessing-the-database", text: "Access the Database" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/setting-up-a-schema#create-the-database-structure-using-yaml", text: "Create the Database Structure Using YAML" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/setting-up-a-schema#verify-the-database-schema", text: "Verify the Database Schema" %}
  </ul>
</li>

<li class="{% if cp contains '/contact-us-tutorial/saving-data-to-the-database' %}active{% endif %}">
  <a href="/get-started/contact-us-tutorial/saving-data-to-the-database">Saving Data to the Database</a>
  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/saving-data-to-the-database#test-our-schema", text: "Test Our Schema" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/saving-data-to-the-database#explanation-of-the-graphql-mutation", text: "Explanation of the GraphQL Mutation" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/saving-data-to-the-database#provide-data-as-variables", text: "Provide Data as Variables" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/saving-data-to-the-database#execute-the-graphql-mutation", text: "Execute the GraphQL Mutation" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/saving-data-to-the-database#check-the-database-for-new-records", text: "Check the Database for New Records" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/saving-data-to-the-database#storing-graphql-queries-in-the-app-graphql-directory", text: "Storing GraphQL Queries in the app/graphql/ Directory" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/saving-data-to-the-database#create-the-directory-structure", text: "Create the Directory Structure" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/saving-data-to-the-database#create-the-graphql-mutation-file", text: "Create the GraphQL Mutation File" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/saving-data-to-the-database#define-the-mutation", text: "Define the Mutation" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/saving-data-to-the-database#inline-graphql-queries", text: "Inline GraphQL Queries" %}
  </ul>
</li>



<li class="{% if cp contains '/contact-us-tutorial/setting-up-endpoint' %}active{% endif %}">
  <a href="/get-started/contact-us-tutorial/setting-up-endpoint">Setting Up an Endpoint</a>
  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/setting-up-endpoint#create-the-contacts-directory", text: "Create the contacts directory" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/setting-up-endpoint#create-the-create-liquid-file", text: "Create the create.liquid file" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/setting-up-endpoint#test-the-endpoint", text: "Test the endpoint" %}
  </ul>
</li>

<li class="{% if cp contains '/contact-us-tutorial/understanding-context-params' %}active{% endif %}">
  <a href="/get-started/contact-us-tutorial/understanding-context-params">Understanding and Using Context</a>
  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/understanding-context-params#understanding-context", text: "Understanding context" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/understanding-context-params#understanding-context-params", text: "Understanding context.params" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/understanding-context-params#adding-parameters-to-your-template", text: "Adding parameters to your template" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/understanding-context-params#example-url-with-parameters", text: "Example URL with parameters" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/understanding-context-params#providing-multiple-parameters", text: "Providing multiple parameters" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/understanding-context-params#using-arrays-and-hashes", text: "Using arrays and hashes" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/understanding-context-params#filtering-specific-parameters", text: "Filtering specific parameters" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/understanding-context-params#clean-up-your-code", text: "Clean up your code" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/understanding-context-params#using-context-params-in-the-create-liquid-file", text: "Using context.params in the create.liquid file" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/understanding-context-params#add-context-params-to-the-create-liquid-file", text: "Add context.params to the create.liquid file" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/understanding-context-params#filter-contact-information", text: "Filter contact information" %}
  </ul>
</li>

<li class="{% if cp contains '/get-started/contact-us-tutorial/implementing-business-rules' %}active{% endif %}">
  <a href="/get-started/contact-us-tutorial/implementing-business-rules">Implementing Business Rules Using Commands</a>
  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/implementing-business-rules#understanding-commands-and-business-logic", text: "Understanding Commands and Business Logic" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/implementing-business-rules#the-build-check-execute-pattern", text: "The Build/Check/Execute Pattern" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/implementing-business-rules#best-practices-for-using-commands", text: "Best Practices for Using Commands" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/implementing-business-rules#create-the-folder-structure", text: "Create the Folder Structure" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/implementing-business-rules#using-the-function-tag", text: "Using the Function Tag" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/implementing-business-rules#provide-arguments-to-the-function", text: "Provide Arguments to the Function" %}
  </ul>
</li>

<li class="{% if cp contains '/contact-us-tutorial/using-the-build-command' %}active{% endif %}">
  <a href="/get-started/contact-us-tutorial/using-the-build-command">Using the Build Command</a>
  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/using-the-build-command#set-up-a-build-command", text: "Set Up a Build Command" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/using-the-build-command#customize-the-build-command", text: "Customize the Build Command" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/using-the-build-command#invoking-the-function", text: "Invoking the Function" %}
  </ul>
</li>

<li class="{% if cp contains '/contact-us-tutorial/using-the-log-tag' %}active{% endif %}">
  <a href="/get-started/contact-us-tutorial/using-the-log-tag">Using the log Tag for Debugging</a>
  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/using-the-log-tag", text: "Using the Log Tag for Debugging" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/using-the-log-tag#accessing-logs", text: "Accessing Logs" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/using-the-log-tag#example-of-introducing-a-syntax-error", text: "Example of Introducing a Syntax Error" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/using-the-log-tag#display-data", text: "Display Data" %}
  </ul>
</li>


<li class="{% if cp contains '/contact-us-tutorial/using-the-check-command' %}active{% endif %}">
  <a href="/get-started/contact-us-tutorial/using-the-check-command">Using the Check Command</a>
  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/using-the-check-command#invoke-the-check-command", text: "Invoke the Check Command" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/using-the-check-command#create-the-check-command", text: "Create the Check Command" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/using-the-check-command#conditional-logging", text: "Conditional Logging" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/using-the-check-command#debugging-with-logs", text: "Debugging with Logs" %}
  </ul>
</li>

<li class="{% if cp contains '/contact-us-tutorial/using-validators' %}active{% endif %}">
  <a href="/get-started/contact-us-tutorial/using-validators">Using Message Length and Email Validators</a>
  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/using-validators#core-module-validators", text: "Core Module Validators" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/using-validators#set-up-length-validation", text: "Set up Length Validation" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/using-validators#modify-for-our-use-case", text: "Modify for Our Use Case" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/using-validators#add-allow_blank-argument", text: "Add allow_blank argument" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/using-validators#using-c-c-variable", text: "Using c: c Variable" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/using-validators#test-email-validation", text: "Test Email Validation" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/using-validators#test-using-invalid-data", text: "Test Using Invalid Data" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/using-validators#test-using-valid-data", text: "Test Using Valid Data" %}
  </ul>
</li>

<li class="{% if cp contains '/contact-us-tutorial/handling-invalid-input' %}active{% endif %}">
  <a href="/get-started/contact-us-tutorial/handling-invalid-input">Handling Invalid Input</a>
  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/handling-invalid-input#render-the-form-again-directly", text: "Render the Form Again" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/handling-invalid-input#display-error-messages", text: "Display Error Messages" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/handling-invalid-input#prefill-the-form", text: "Prefill the Form" %}
  </ul>
</li>


<li class="{% if cp contains '/contact-us-tutorial/using-partials' %}active{% endif %}">
  <a href="/get-started/contact-us-tutorial/using-partials">Using Partials for Better Code Maintenance</a>
  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/using-partials#create-partials-directory", text: "Create Partials Directory" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/using-partials#create-the-form-partial", text: "Create the Form Partial" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/using-partials#use-partials-and-render-in-the-contact-us-page", text: "Use Partials and Render in the Contact Us Page" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/using-partials#use-the-partial-on-the-home-page", text: "Use the Partial on the Home Page" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/using-partials#add-example-data-to-the-fields", text: "Add Example Data to the Fields" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/using-partials#test-the-form", text: "Test the Form" %}
  </ul>
</li>

<li class="{% if cp contains '/contact-us-tutorial/handling-valid-input' %}active{% endif %}">
  <a href="/get-started/contact-us-tutorial/handling-valid-input">Handling Valid Input</a>
  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/handling-valid-input#storing-the-contact-details-in-the-database", text: "Store the Contact Details in the Database" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/handling-valid-input#create-execute-liquid-file", text: "Create `execute.liquid` File" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/handling-valid-input#invoke-the-execute-command-in-the-create-liquid-file", text: "Invoke the Execute Command in the `create.liquid` File" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/handling-valid-input#special-arguments-args", text: "Special Arguments: args" %}
  </ul>
</li>

<li class="{% if cp contains '/contact-us-tutorial/redirecting-thank-you' %}active{% endif %}">
  <a href="/get-started/contact-us-tutorial/redirecting-thank-you">Redirecting and Displaying a Thank you Message</a>
  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/redirecting-thank-you#update-the-create-liquid-file", text: "Update the Create.liquid File" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/redirecting-thank-you#create-a-thank-you-page", text: "Create a Thank You Page" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/redirecting-thank-you#test-redirection-and-database", text: "Test Redirection and Database" %}
  </ul>
</li>


<li class="{% if cp contains '/contact-us-tutorial/using-events' %}active{% endif %}">
  <a href="/get-started/contact-us-tutorial/using-events">Using Events to Send Confirmation Email</a>
  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/using-events#about-events", text: "About Events" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/using-events#create-the-directory-structure", text: "Create the Directory Structure" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/using-events#create-the-event-file", text: "Create the Event File" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/using-events#define-the-event", text: "Define the Event" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/using-events#publish-the-event", text: "Publish the Event" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/using-events#understanding-the-publish-function", text: "Understanding the Publish Function" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/using-events#viewing-and-managing-events", text: "Viewing and Managing Events" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/using-events#test-events", text: "Test Events" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/using-events#moving-event-handling-to-the-page", text: "Moving Event Handling to the Page" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/using-events#create-the-event-consumer", text: "Create the Event Consumer" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/using-events#update-event-object", text: "Update Event Object" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/using-events#test-the-event-consumer", text: "Test the Event Consumer" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/using-events#add-log", text: "Add Log" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/using-events#test-log", text: "Test Log" %}
  </ul>
</li>

<li class="{% if cp contains '/contact-us-tutorial/defining-the-email' %}active{% endif %}">
  <a href="/get-started/contact-us-tutorial/defining-the-email">Defining the Email</a>
  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/defining-the-email#edit-notify-submitter-liquid", text: "Edit notify_submitter.liquid" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/defining-the-email#create-partials-directory-for-the-email-template", text: "Create Partials Directory" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/defining-the-email#create-the-email-template", text: "Create Email Template" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/defining-the-email#add-logs-for-debugging", text: "Add Logs for Debugging" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/defining-the-email#final-testing", text: "Final Testing" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/defining-the-email#clean-up", text: "Clean Up" %}
  </ul>
</li>

<li class="{% if cp contains '/contact-us-tutorial/testing-contact-create-command' %}active{% endif %}">
  <a href="/get-started/contact-us-tutorial/testing-contact-create-command">Testing</a>
  <ul class="submenu">
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/testing-contact-create-command#introduction-to-platformos-tests-module", text: "Introduction to platformOS Tests Module" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/testing-contact-create-command#automatic-testing", text: "Automatic testing" %}
    {% include "shared/nav/link", href: "/get-started/contact-us-tutorial/testing-contact-create-command#summary", text: "Summary" %}
  </ul>
</li>
