{% include "shared/nav/link", href: "/how-platformos-works/accessing-partner-portal", text: "1. Accessing the Partner Portal" %}
{% include "shared/nav/link", href: "/how-platformos-works/about-platform-os", text: "About platformOS" %}

<li class="{% if cp contains '/how-platformos-works/platformos-workflow' %}active{% endif %}">
  <a href="/how-platformos-works/platformos-workflow">platformOS Worfklow</a>

  <ul class="submenu">
    {% include "shared/nav/link", href: "/how-platformos-works/platformos-workflow/setup", text: "Setup" %}
    {% include "shared/nav/link", href: "/how-platformos-works/platformos-workflow/development-workflow", text: "Development Workflow" %}
    {% include "shared/nav/link", href: "/how-platformos-works/platformos-workflow/partner-portal", text: "Partner Portal" %}
    {% include "shared/nav/link", href: "/how-platformos-works/platformos-workflow/pos-cli", text: "pos-cli" %}
    {% include "shared/nav/link", href: "/how-platformos-works/platformos-workflow/codebase", text: "Codebase" %}
  </ul>
</li>

{% include "shared/nav/link", href: "/how-platformos-works/technologies", text: "Technologies" %}
{% include "shared/nav/link", href: "/how-platformos-works/glossary", text: "Glossary" %}