{% include "shared/nav/link", href: "/developer-guide/about-platform-os", text: "About platformOS" %}

<li class="{% if cp contains '/developer-guide/platformos-workflow' %}active{% endif %}">
  <a href="/developer-guide/platformos-workflow/development-workflow">platformOS Worfklow</a>

  <ul class="submenu">
    {% include "shared/nav/link", href: "/developer-guide/platformos-workflow/development-workflow", text: "Development Workflow" %}
    {% include "shared/nav/link", href: "/developer-guide/platformos-workflow/pos-cli", text: "pos-cli" %}
    {% include "shared/nav/link", href: "/developer-guide/platformos-workflow/codebase", text: "Codebase" %}
  </ul>
</li>

{% include "shared/nav/link", href: "/developer-guide/technologies", text: "Technologies" %}
{% include "shared/nav/link", href: "/developer-guide/glossary", text: "Glossary" %}
