<li class="mt-6 mb-2 text-base topic-group">
  <h3 class="text-base uppercase">DevKit</h3>
</li>

<li class="{% if cp contains 'modular-architecture/introduction' %}active{% endif %}">
  <a href="/kits/modular-architecture/introduction">Modular Architecture</a>
</li>

<li class="{% if cp contains 'modular-architecture/principles' %}active{% endif %}">
  <a href="/kits/modular-architecture/principles">Software Design Principles</a>

  <ul class="submenu">
    {% include "shared/nav/link", href: "/kits/modular-architecture/principles#single-responsibility", text: "Single responsibility" %}
    {% include "shared/nav/link", href: "/kits/modular-architecture/principles#open-closed-principle", text: "Open/closed principle" %}
    {% include "shared/nav/link", href: "/kits/modular-architecture/principles#liskov-substitution-and-the-interface-segregation-principle", text: "Liskov substitution and Interface segregation" %}
    {% include "shared/nav/link", href: "/kits/modular-architecture/principles#loose-coupling", text: "Loose coupling" %}
    {% include "shared/nav/link", href: "/kits/modular-architecture/principles#dry", text: "DRY" %}
    {% include "shared/nav/link", href: "/kits/modular-architecture/principles#kiss", text: "KISS" %}
    {% include "shared/nav/link", href: "/kits/modular-architecture/principles#yagni-you-ain-t-gonna-need-it", text: "YAGNI" %}
  </ul>
</li>

<li class="mt-6 mb-2 text-base topic-group">
  <h3 class="text-base">Modules</h3>
</li>

<li class="{% if cp contains 'platformos-core' %}active{% endif %}">
  <a href="/kits/modules/platformos-core">platformOS Core Module</a>
</li>

<li class="{% if cp contains 'pos-module-components' %}active{% endif %}">
  <a href="/kits/modules/pos-module-components">Component Library Module</a>
</li>

<li class="{% if cp contains 'pos-module-theme-manager' %}active{% endif %}">
  <a href="/kits/modules/pos-module-theme-manager">Theme Manager Module</a>
</li>

<li class="mt-6 mb-2 text-base topic-group">
  <h3 class="text-base">Starter templates</h3>
</li>

<li class="{% if cp contains 'pos-theme-module-template' %}active{% endif %}">
  <a href="/kits/starters/pos-theme-module-template">Theme Module Starter</a>
</li>

<li class="mt-6 mb-2 text-base topic-group">
  <h3 class="text-base">Tools</h3>
</li>

<li class="{% if cp contains 'devkit/pos-cli' %}active{% endif %}">
  <a href="/kits/devkit/pos-cli">pos-cli</a>
</li>

<li class="{% if cp contains 'developing-graphql-queries-using-pos-cli-gui' %}active{% endif %}">
  <a href="/kits/devkit/developing-graphql-queries-using-pos-cli-gui">Developing GraphQL Queries Using the pos-cli GUI</a>
</li>

<li class="{% if cp contains 'effective-development-using-pos-cli' %}active{% endif %}">
  <a href="/kits/devkit/effective-development-using-pos-cli">Effective Development Using the pos-cli</a>
</li>

<li class="mt-6 mb-2 text-base topic-group">
  <h3 class="text-base uppercase">DesignKit</h3>
</li>

<li class="{% if cp contains 'platformos-design-kit' %}active{% endif %}">
  <a href="/kits/ui/platformos-design-kit">platformOS DesignKit</a>
</li>

<li class="{% if cp contains 'color-variants' %}active{% endif %}">
  <a href="/kits/ui/color-variants">Color Variants</a>
</li>

<li class="{% if cp contains 'platformos-component-library' %}active{% endif %}">
  <a href="/kits/ui/platformos-component-library">platformOS Component Library</a>
</li>

<li class="{% if cp contains 'features' %}active{% endif %}">
  <a href="/kits/ui/features">Features</a>
</li>

<li class="{% if cp contains 'setting-your-brand-colors' %}active{% endif %}">
  <a href="/kits/ui/setting-your-brand-colors">Setting Your Brand Colors</a>
</li>

<li class="{% if cp contains 'setting-your-brand-fonts' %}active{% endif %}">
  <a href="/kits/ui/setting-your-brand-fonts">Setting Your Brand Fonts</a>
</li>

<li class="{% if cp contains 'setting-your-logo' %}active{% endif %}">
  <a href="/kits/ui/setting-your-logo">Setting Your Logo</a>
</li>

<li class="mt-6 mb-2 text-base topic-group">
  <h3 class="text-base uppercase">UXKit</h3>
</li>

<li class="{% if cp contains 'user-research-in-your-projects' %}active{% endif %}">
  <a href="/kits/ux/user-research-in-your-projects">User Research in Your Projects</a>
</li>

<li class="mt-6 mb-2 text-base topic-group">
  <h3 class="text-base uppercase">CommunityKit</h3>
</li>

<li class="{% if cp contains 'communitykit' %}active{% endif %}">
  <a href="/kits/communitykit/communitykit">platformOS CommunityKit</a>
</li>
