<li class="mt-6 mb-2 text-base topic-group">
  <h3 class="text-base">MODULES</h3>
</li>

<li class="{% if cp contains 'modules' %}active{% endif %}">
  <a href="/standards/modules/platformos-core">platformOS Core Module</a>
  {% if cp contains 'about-platformos' %}
    <ul class="submenu">
      {% include "shared/nav/link", href: "/standards/modules/platformos-core", text: "What is platformOS?" %}
    </ul>
  {% endif %}
</li>
