<li class="mt-6 mb-2 text-base topic-group">
  <h3 class="text-base">MODULES</h3>
</li>

<li class="{% if cp contains 'platformos-core' %}active{% endif %}">
  <a href="/standards/modules/platformos-core">platformOS Core Module</a>
</li>

<li class="{% if cp contains 'pos-module-components' %}active{% endif %}">
  <a href="/standards/modules/pos-module-components">Component Library Module</a>
</li>

<li class="{% if cp contains 'pos-module-theme-manager' %}active{% endif %}">
  <a href="/standards/modules/pos-module-theme-manager">Theme Manager Module</a>
</li>

<li class="mt-6 mb-2 text-base topic-group">
  <h3 class="text-base">STARTER TEMPLATES</h3>
</li>

<li class="{% if cp contains 'pos-theme-module-template' %}active{% endif %}">
  <a href="/standards/starters/pos-theme-module-template">Theme Module Starter</a>
</li>

<li class="mt-6 mb-2 text-base topic-group">
  <h3 class="text-base">USER EXPERIENCE</h3>
</li>

<li class="{% if cp contains 'user-research-in-your-projects' %}active{% endif %}">
  <a href="/standards/ux/user-research-in-your-projects">User Research in Your Projects</a>
</li>
