<li class="topic-group">
  <h3>TEMPLATES</h3>
</li>
<li class="{% if cp contains '/tutorials/pages' %}active{% endif %}"><a href="/tutorials/pages/pages">Pages and
    Layouts</a>
  <ul class="submenu">
    <li><a href="/tutorials/pages/pages">Pages</a></li>
    <li><a href="/tutorials/pages/metadata">Metadata</a></li>
    <li><a href="/tutorials/pages/layouts">Layouts</a></li>
    <li><a href="/tutorials/pages/creating-layout">Creating a Layout</a></li>
    <li><a href="/tutorials/pages/creating-page">Creating a Page</a></li>
    <li><a href="/tutorials/pages/adding-new-page-custom-url">Adding a New Page at a Custom URL</a></li>
    <li><a href="/tutorials/pages/injecting-dynamic-content-into-layout">Injecting Dynamic Content into a Layout</a>
    </li>
    <li><a href="/tutorials/pages/reusing-code-across-multiple-pages">Reusing Code Across Multiple Pages</a></li>
    <li><a href="/tutorials/pages/response-headers">Response Headers</a></li>
    <li><a href="/tutorials/pages/search-by-content">Search by content</a></li>
    <li><a href="/tutorials/pages/redirects">Redirects</a></li>
    <li><a href="/tutorials/pages/custom-error-pages">Custom Error Pages</a></li>
  </ul>
</li>
<li class="{% if cp contains '/tutorials/assets' %}active{% endif %}"><a href="/tutorials/assets/assets">Assets</a>
  <ul class="submenu">
    <li><a href="/tutorials/assets/assets">Assets</a></li>
    <li><a href="/tutorials/assets/using-static-assets-pages">Using Static Assets on Your Pages</a></li>
    <li><a href="/tutorials/assets/adding-visuals-pages-css">Adding Visuals to Pages: CSS</a></li>
    <li><a href="/tutorials/assets/adding-visuals-pages-liquid">Adding Visuals to Pages: Liquid</a></li>
    <li><a href="/tutorials/assets/adding-visuals-pages-javascript">Adding Visuals to Pages: Javascript</a></li>
  </ul>
</li>
<li class="{% if cp contains '/tutorials/variables' %}active{% endif %}"><a href="/tutorials/variables/context-variable">Variables</a>
  <ul class="submenu">
    <li><a href="/tutorials/variables/context-variable">Context Variable</a></li>
  </ul>
</li>
<li class="{% if cp contains '/tutorials/translations' %}active{% endif %}"><a
    href="/tutorials/translations/translations">Translations</a>
  <ul class="submenu">
    <li><a href="/tutorials/translations/translations">Translations</a></li>
    <li><a href="/tutorials/translations/multilanguage-page">Multi-Language Page</a></li>
    <li><a href="/tutorials/translations/system-messages">System Messages</a></li>
  </ul>
</li>

<li class="topic-group">
  <h3>MODELS</h3>
</li>
<li class="{% if cp contains '/tutorials/users' %}active{% endif %}"><a href="/tutorials/users/users">Users</a>
  <ul class="submenu">
    <li><a href="/tutorials/users/users">Users</a></li>
    <li><a href="/tutorials/users/creating-user-property">Creating a Property for All Users</a></li>
    <li><a href="/tutorials/users/creating-user-profile">Creating a User Profile</a></li>
    <li><a href="/tutorials/users/creating-sign-up-form">Creating a Sign Up Form</a></li>
    <li><a href="/tutorials/users/embedding-sign-up-form">Embedding a Sign Up Form in a Page</a></li>
    <li><a href="/tutorials/users/signing-in-user-manually">Signing In a User Manually</a></li>
    <li><a href="/tutorials/users/signing-in-user-automatically-after-sign-up">Signing In a User Automatically after
        Sign Up</a></li>
    <li><a href="/tutorials/users/logging-out-authenticated-user">Logging Out an Authenticated User</a></li>
    <li><a href="/tutorials/users/resetting-password-authenticated-user">Resetting Password of an Authenticated
        User</a></li>
    <li><a href="/tutorials/users/accessing-authenticated-user-data">Accessing Authenticated User Data</a></li>
    <li><a href="/tutorials/users/sharing-attributes-across-multiple-profiles">Sharing Attributes Across Multiple
        Profiles</a></li>
  </ul>
</li>
<li class="{% if cp contains '/tutorials/properties' %}active{% endif %}"><a
    href="/tutorials/properties/properties">Properties</a>
  <ul class="submenu">
    <li><a href="/tutorials/properties/properties">Properties</a></li>
    <li><a href="/tutorials/properties/user-defined">User-Defined Properties</a></li>
    <li><a href="/tutorials/properties/custom-addresses">Custom Addresses</a></li>
    <li><a href="/tutorials/properties/custom-attachments">Custom Attachments</a></li>
    <li><a href="/tutorials/properties/custom-images">Custom Images</a></li>
  </ul>
</li>
<li class="{% if cp contains '/tutorials/customizations' %}active{% endif %}"><a
    href="/tutorials/customizations/building-contact-form-with-customization">Customizations</a>
  <ul class="submenu">
    <li><a href="/tutorials/customizations/building-contact-form-with-customization">Building a Contact Form with
        Customization</a></li>
    <li><a href="/tutorials/customizations/crud-customizations-using-ajax">Managing Customizations using AJAX (CRUD
        operations)</a></li>
  </ul>
</li>
<li class="{% if cp contains '/tutorials/model-schemas' %}active{% endif %}"><a
    href="/tutorials/model-schemas/model-schemas">Model Schemas</a>
  <ul class="submenu">
    <li><a href="/tutorials/model-schemas/model-schemas">Model Schemas</a></li>
    <li><a href="/tutorials/model-schemas/persisting-data-with-customizations">Persisting Data With
        Customizations</a></li>
    <li><a href="/tutorials/model-schemas/loading-related-models">Loading Related Models</a></li>
    <li><a href="/tutorials/model-schemas/using-geojson-format-geolocation">Using the GeoJSON format for Geolocation</a></li>
  </ul>
</li>
<li class="{% if cp contains '/tutorials/search' %}active{% endif %}"><a href="/tutorials/search/search">Search</a>
  <ul class="submenu">
    <li><a href="/tutorials/search/search">Search</a></li>
    <li><a href="/tutorials/search/narrowing-keyword-search">Narrowing Keyword Search</a></li>
    <li><a href="/tutorials/search/creating-search-query">Creating a Search Query</a></li>
    <li><a href="/tutorials/search/selecting-fields-available-search">Selecting Fields Available for Search</a></li>
    <li><a href="/tutorials/search/keyword-match-type">Keyword Match Type</a></li>
    <li><a href="/tutorials/search/filtering-sorting">Filtering and Sorting</a></li>
    <li><a href="/tutorials/search/distance-units">Distance Units</a></li>
  </ul>
</li>
<li class="{% if cp contains '/tutorials/activity-feeds' %}active{% endif %}"><a
    href="/tutorials/activity-feeds/activity-feeds">Activity
    Feeds</a>
  <ul class="submenu">
    <li><a href="/tutorials/activity-feeds/activity-feeds">Activity Feeds</a></li>
    <li><a href="/tutorials/activity-feeds/implementing-activity-feeds">Implementing Activity Feeds</a></li>
  </ul>
</li>
<li class="{% if cp contains '/tutorials/user-uploads' %}active{% endif %}"><a href="/tutorials/user-uploads/uploading-files-directly-amazons3-using-html-form">User
    Uploads</a>
  <ul class="submenu">
    <li><a href="/tutorials/user-uploads/uploading-files-directly-amazons3-using-html-form">Uploading Files Directly
        to Amazon S3 Using HTML Form</a></li>
    <li><a href="/tutorials/user-uploads/uploading-files-directly-amazons3-using-ajax">Uploading Files Directly to
        Amazon S3 Using AJAX</a></li>
    <li><a href="/tutorials/user-uploads/uploading-files-directly-amazons3-user-profile-update">Uploading Files
        Directly to Amazon S3 with User Profile Update</a></li>
  </ul>
</li>

<li class="topic-group">
  <h3>FORMS</h3>
</li>
<li class="{% if cp contains '/tutorials/forms' %}active{% endif %}"><a href="/tutorials/forms/forms">Forms</a>
  <ul class="submenu">
    <li><a href="/tutorials/forms/forms">Forms</a></li>
    <li><a href="/tutorials/forms/form-configuration">Form Configuration</a></li>
    <li><a href="/tutorials/forms/form-rendering">Form Rendering</a></li>
    <li><a href="/tutorials/forms/form-server-side-processing">Form Server Side Processing</a></li>
    <li><a href="/tutorials/forms/flash-messages">Flash Messages</a></li>
    <li><a href="/tutorials/forms/default-payload">Default Payload</a></li>
    <li><a href="/tutorials/forms/validation">Validation</a></li>
    <li><a href="/tutorials/forms/examples">Examples</a></li>
  </ul>
</li>
<li class="{% if cp contains '/tutorials/notifications' %}active{% endif %}"><a
    href="/tutorials/notifications/notifications">Notifications</a>
  <ul class="submenu">
    <li><a href="/tutorials/notifications/notifications">Notifications</a></li>
    <li><a href="/tutorials/notifications/creating-email-notification">Creating an Email Notification</a></li>
    <li><a href="/tutorials/notifications/using-email-layouts">Using Email Layouts</a></li>
    <li><a href="/tutorials/notifications/adding-attachments-email-notification">Adding Attachments to an Email
        Notification</a></li>
    <li><a href="/tutorials/notifications/creating-sms-notification">Creating an SMS Notification</a></li>
    <li><a href="/tutorials/notifications/creating-api-call-notification">Creating an API Call Notification</a></li>
    <li><a href="/tutorials/notifications/parsing-api-response">Parsing an API Response</a></li>
  </ul>
</li>
<li class="{% if cp contains '/tutorials/authorization' %}active{% endif %}"><a
    href="/tutorials/authorization-policy/authorization-policy">Authorization Policy</a>
  <ul class="submenu">
    <li><a href="/tutorials/authorization-policy/authorization-policy">Authorization Policy</a></li>
    <li><a href="/tutorials/authorization-policy/adding-authorization-policy">Adding an Authorization Policy</a></li>
    <li><a href="/tutorials/authorization-policy/associating-authorization-policy-formconfiguration">Associating an
        Authorization Policy with Form Configuration</a></li>
    <li><a href="/tutorials/authorization-policy/associating-authorization-policy-page">Associating an Authorization
        Policy with a Page</a></li>
    <li><a href="/tutorials/authorization-policy/handling-violated-authorization-policy">Handling a Violated
        Authorization Policy</a></li>
  </ul>
</li>


<li class="topic-group">
  <h3>MODULES</h3>
</li>
<li class="{% if cp contains '/tutorials/modules' %}active{% endif %}"><a href="/tutorials/modules/modules">Modules</a>
  <ul class="submenu">
    <li><a href="/tutorials/modules/modules">Modules</a></li>
    <li><a href="/tutorials/modules/creating-module">Creating a Module</a></li>
    <li><a href="/tutorials/modules/sharing-module">Sharing a Module</a></li>
    <li><a href="/tutorials/modules/installing-module">Installing a Module</a></li>
    <li><a href="/tutorials/modules/templates">Module Templates</a></li>
    <li><a href="/tutorials/modules/configuring-module-template">Configuring a Module Template</a></li>
  </ul>
</li>
<li class="{% if cp contains '/tutorials/payments' %}active{% endif %}"><a href="/tutorials/payments/integrating-stripe">Payments</a>
  <ul class="submenu">
    <li><a href="/tutorials/payments/integrating-stripe">Integrating Stripe</a></li>
    <li><a href="/tutorials/payments/processing-payments-graphql-mutations">Processing Payments with GraphQL
        Mutations</a></li>
  </ul>
</li>
<li class="{% if cp contains '/tutorials/blog' %}active{% endif %}"><a href="/tutorials/blog/installing-blog-module">Blog</a>
  <ul class="submenu">
    <li><a href="/tutorials/blog/installing-blog-module">Installing the Blog Module</a></li>
    <li><a href="/tutorials/blog/creating-blog-post">Creating a Blog Post</a></li>
    <li><a href="/tutorials/blog/blog-settings-posts">Blog Settings and Posts</a></li>
  </ul>
</li>

<li class="topic-group">
  <h3>DATA MANAGEMENT</h3>
</li>
<li class="{% if cp contains '/tutorials/data' %}active{% endif %}"><a href="/tutorials/data-import-export/import">Data
    Import/Export</a>
  <ul class="submenu">
    <li><a href="/tutorials/data-import-export/import">Data Import</a></li>
    <li><a href="/tutorials/data-import-export/import-files">Data Import: Files</a></li>
    <li><a href="/tutorials/data-import-export/export">Data Export</a></li>
    <li><a href="/tutorials/data-import-export/model-relations">Model Relations</a></li>
  </ul>
</li>
<li class="{% if cp contains '/tutorials/migrations' %}active{% endif %}"><a
    href="/tutorials/migrations/migrating-data">Migrations</a>
  <ul class="submenu">
    <li><a href="/tutorials/migrations/migrating-data">Migrating Data</a></li>
  </ul>
</li>

<li class="topic-group">
  <h3>THIRD-PARTY SYSTEMS</h3>
</li>
<li class="{% if cp contains '/tutorials/apis' %}active{% endif %}"><a href="/tutorials/apis/creating-items-from-external-api-call">APIs</a>
  <ul class="submenu">
    <li><a href="/tutorials/apis/creating-items-from-external-api-call">Creating Items from an External API Call</a>
    </li>
    <li><a href="/tutorials/apis/persisting-part-of-third-party-api-response">Persisting Part of a Third-Party API
        Response</a></li>
    <li><a href="/tutorials/apis/sending-binary-file-using-api-call-notification">Sending a Binary File Using an API
        Call Notification</a></li>
  </ul>
</li>
<li class="{% if cp contains '/tutorials/integrations' %}active{% endif %}"><a
    href="/tutorials/integrations/integrating-slack-api-call-notifications">Integrations</a>
  <ul class="submenu">
    <li><a href="/tutorials/integrations/integrating-slack-api-call-notifications">Integrating Slack Using API Call
        Notifications</a></li>
    <li><a href="/tutorials/integrations/integrating-sendgrid-api-call-notifications">Integrating SendGrid Using API
        Call Notifications</a></li>
    <li><a href="/tutorials/integrations/integrating-twilio-api-call-notifications">Integrating Twilio Using API Call
        Notifications</a></li>
    <li><a href="/tutorials/integrations/adding-recaptcha-spam-protection">Adding reCAPTCHA V2 Spam Protection</a>
    </li>
    <li><a href="/tutorials/integrations/adding-recaptcha-v3-spam-protection">Adding reCAPTCHA V3 Spam Protection</a>
    </li>
  </ul>
</li>


<li class="topic-group">
  <h3>PARTNER PORTAL</h3>
</li>
<li class="{% if cp contains '/tutorials/partner-portal-users' %}active{% endif %}">
  <a href="/tutorials/partner-portal-users/inviting-new-user-to-partner-portal">Users</a>
  <ul class="submenu">
    <li>
      <a href="/tutorials/partner-portal-users/inviting-new-user-to-partner-portal">
        Inviting a New User to the Partner Portal
      </a>
    </li>
    <li><a href="/tutorials/partner-portal-users/setting-up-users-partner-permissions">Setting Up a User's Partner Permissions</a></li>
    <li><a href="/tutorials/partner-portal-users/setting-up-users-instance-permissions">Setting Up a User's Instance Permissions</a></li>
    <li><a href="/tutorials/partner-portal-users/deleting-user">Deleting a User</a></li>
    <li>
      <a href="/tutorials/partner-portal-users/setting-up-instance-partner-permissions-outside-own-partner">
        Setting Up Instance and Partner Permissions for Users Outside of Your Own Partner
      </a>
    </li>
    <li><a href="/tutorials/partner-portal-users/updating-partner">Updating a Partner</a></li>
    <li><a href="/tutorials/partner-portal-users/changing-partner-user">Changing the Partner of a User</a></li>
  </ul>
</li>
<li class="{% if cp contains '/tutorials/partner-portal-instances' %}active{% endif %}">
  <a href="/tutorials/partner-portal-instances/finding-instances">Instances</a>
  <ul class="submenu">
    <li><a href="/tutorials/partner-portal-instances/finding-instances">Finding Instances</a></li>
    <li><a href="/tutorials/partner-portal-instances/changing-partner-instance">Changing the Partner of an Instance</a></li>
    <li><a href="/tutorials/partner-portal-instances/updating-instance">Updating an Instance</a></li>
    <li><a href="/tutorials/partner-portal-instances/updating-instance-configuration">Updating Instance Configuration</a></li>
    <li><a href="/tutorials/partner-portal-instances/checking-releases-instance">Checking the Releases of an Instance</a></li>
    <li><a href="/tutorials/partner-portal-instances/downloading-codebase-instance">Downloading the Codebase of an Instance</a></li>
    <li><a href="/tutorials/partner-portal-instances/unpublishing-instance">Unpublishing an Instance</a></li>
    <li><a href="/tutorials/partner-portal-instances/configuring-test-email">Configuring a Test Email</a></li>
  </ul>
</li>
<li class="{% if cp contains '/tutorials/partner-portal-domains' %}active{% endif %}">
  <a href="/tutorials/partner-portal-domains/setting-up-production-domain">Domains</a>
  <ul class="submenu">
    <li><a href="/tutorials/partner-portal-domains/setting-up-production-domain">Setting Up a Production Domain</a></li>
    <li><a href="/tutorials/partner-portal-domains/configuring-www-default-domain">Configuring www as the Default Domain</a></li>
    <li><a href="/tutorials/partner-portal-domains/deleting-ssl-certificate">Deleting an SSL Certificate</a></li>
  </ul>
</li>
<li class="{% if cp contains '/tutorials/partner-portal-billing-plans' %}active{% endif %}">
  <a href="/tutorials/partner-portal-billing-plans/creating-billing-plan">Billing Plans</a>
  <ul class="submenu">
    <li><a href="/tutorials/partner-portal-billing-plans/creating-billing-plan">Creating a Billing Plan</a></li>
    <li><a href="/tutorials/partner-portal-billing-plans/assigning-billing-plan-instance">Assigning a Billing Plan to an Instance</a></li>
  </ul>
</li>
