<li class="{% if cp == '/tutorials/user-management' %}active{% endif %}">
  <a href="/tutorials/user-management">Build an User Management Application</a>
</li>

<li class="{% if cp == '/tutorials/user-management/understand-endpoints' %}active{% endif %}">
  <a href="/tutorials/user-management/understand-endpoints">Understanding User Module Endpoints</a>
</li>

<li class="{% if cp == '/tutorials/user-management/create-account' %}active{% endif %}">
  <a href="/tutorials/user-management/create-account">Creating an Account</a>
</li>

<li class="{% if cp == '/tutorials/user-management/create-navigation-current-profile' %}active{% endif %}">
  <a href="/tutorials/user-management/create-navigation-current-profile">Creating Navigation and Loading the Current Profile</a>
</li>

<li class="{% if cp == '/tutorials/user-management/authentication-flow' %}active{% endif %}">
  <a href="/tutorials/user-management/authentication-flow">Testing the Authentication Flow</a>
</li>

<li class="{% if cp == '/tutorials/user-management/add-admin-page' %}active{% endif %}">
  <a href="/tutorials/user-management/add-admin-page">Add an Admin Page</a>
</li>

<li class="{% if cp == '/tutorials/user-management/roles-and-permissions' %}active{% endif %}">
  <a href="/tutorials/user-management/roles-and-permissions">Roles and Permissions</a>
</li>

<li class="{% if cp == '/tutorials/user-management/authorization-can-do' %}active{% endif %}">
  <a href="/tutorials/user-management/authorization-can-do">Authorization with the can_do helper</a>
</li>

<li class="{% if cp == '/tutorials/user-management/assign-roles' %}active{% endif %}">
  <a href="/tutorials/user-management/assign-roles">Assigning Roles</a>
</li>

<li class="{% if cp == '/tutorials/user-management/display-admin-permission' %}active{% endif %}">
  <a href="/tutorials/user-management/display-admin-permission">Displaying the Admin Link Based on Permissions</a>
</li>
