<li class="{% if cp contains 'tutorials/user-management' %}active{% endif %}">
  <a href="/tutorials/user-management">Build an User Management Application</a>
  {% if cp contains '/tutorials/user-management' %}
    <ul class="submenu">
      {% render "shared/nav/link", href: "/tutorials/user-management/understand-endpoints", text: "Understanding User Module EndpointsPages - Routing mechanism" %}
      {% render "shared/nav/link", href: "/tutorials/user-management/create-account", text: "Creating an Account" %}
      {% render "shared/nav/link", href: "/tutorials/user-management/create-navigation-current-profile", text: "Creating Navigation and Loading the Current Profile" %}
      {% render "shared/nav/link", href: "/tutorials/user-management/authentication-flow", text: "Testing the Authentication Flow" %}
      {% render "shared/nav/link", href: "/tutorials/user-management/add-admin-page", text: "Add an Admin Page" %}
      {% render "shared/nav/link", href: "/tutorials/user-management/roles-and-permissions", text: "Roles and Permissions" %}
      {% render "shared/nav/link", href: "/tutorials/user-management/authorization-can-do", text: "Authorization with the can_do helper" %}
      {% render "shared/nav/link", href: "/tutorials/user-management/assign-roles", text: "Assigning Roles" %}
      {% render "shared/nav/link", href: "/tutorials/user-management/display-admin-permission", text: "Displaying the Admin Link Based on Permissions" %}
      {% render "shared/nav/link", href: "", text: "" %}
    </ul>
  {% endif %}
</li
