<li>
  <a href="/use-cases/improving-ux-remote-documentation">Improving the User Experience of Remote Documentation</a>
</li>

<li>
  <a href="/use-cases/building-amp-pages">Building AMP Pages on platformOS</a>
</li>

<li class="{% if cp contains '/use-cases/e-commerce' %}active{% endif %}">
  <a href="/use-cases/e-commerce/e-commerce-platformos">Building an E-commerce Site on platformOS</a>

  <ul class="submenu">
    <li>
      <a href="/use-cases/e-commerce/e-commerce-platformos">E-commerce in platformOS</a>
    </li>
    <li>
      <a href="/use-cases/e-commerce/setting-up-the-instance">Setting up the Instance</a>
    </li>
    <li>
      <a href="/use-cases/e-commerce/configuring-data-schema">Configuring the Data Schema</a>
    </li>
    <li>
      <a href="/use-cases/e-commerce/building-admin-section">Building the Admin Section</a>
    </li>
    <li>
      <a href="/use-cases/e-commerce/using-shared-partials">Using Shared Partials</a>
    </li>
    <li>
      <a href="/use-cases/e-commerce/seeding-configuration-data">Seeding Configuration Data</a>
    </li>
    <li>
      <a href="/use-cases/e-commerce/creating-product-management-forms">Creating Product Management Forms</a>
    </li>
    <li>
      <a href="/use-cases/e-commerce/adding-photos-to-products">Adding Photos to Products</a>
    </li>
  </ul>
</li>
