{% include "shared/nav/link", href: "/use-cases/twilio-video-integration", text: "Setting Up Twilio Video Integration" %}
{% include "shared/nav/link", href: "/use-cases/extracting-data-out-of-a-pdf", text: "Extracting Data Out of a PDF" %}
{% include "shared/nav/link", href: "/use-cases/improving-ux-remote-documentation", text: "Improving the User Experience of Remote Documentation" %}
{% include "shared/nav/link", href: "/use-cases/optimizing-svg-exported-from-figma", text: "Optimizing SVG Exported from Figma" %}

<li class="{% if cp contains '/use-cases/e-commerce' %}active{% endif %}">
  <a href="/use-cases/e-commerce/e-commerce-platformos">Building an E-commerce Site on platformOS</a>

  <ul class="submenu">
    {% include "shared/nav/link", href: "/use-cases/e-commerce/e-commerce-platformos", text: "E-commerce in platformOS" %}
    {% include "shared/nav/link", href: "/use-cases/e-commerce/setting-up-the-instance", text: "Setting up the Instance" %}
    {% include "shared/nav/link", href: "/use-cases/e-commerce/configuring-data-schema", text: "Configuring the Data Schema" %}
    {% include "shared/nav/link", href: "/use-cases/e-commerce/building-admin-section", text: "Building the Admin Section" %}
    {% include "shared/nav/link", href: "/use-cases/e-commerce/using-shared-partials", text: "Using Shared Partials" %}
    {% include "shared/nav/link", href: "/use-cases/e-commerce/seeding-configuration-data", text: "Seeding Configuration Data" %}
    {% include "shared/nav/link", href: "/use-cases/e-commerce/creating-product-management-forms", text: "Creating Product Management Forms" %}
    {% include "shared/nav/link", href: "/use-cases/e-commerce/adding-photos-to-products", text: "Adding Photos to Products" %}
  </ul>
</li>

