/* ------------------------------------------------------------ *\
	Breadcrumbs
\* ------------------------------------------------------------ */

.breadcrumbs {
  width: 100%;
  padding-top: 16px;
  margin-bottom: 2rem;

  ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    letter-spacing: 0.05em;
    margin-bottom: 0;

    a {
      text-decoration: none;
      font-size: 12px;
      color: #2173c4;
    }

    li {
      svg {
        margin: 0 0.5em;
      }

      &:last-child {
        a {
          color: #4a4a4a;
          pointer-events: none;
        }
      }
    }
  }
}
