/* ------------------------------------------------------------ *\
	Callout
\* ------------------------------------------------------------ */

.callout {
  background-color: #f4f7f9;
  padding: 94px 0 275px;
  text-align: center;

  h2 {
    margin-bottom: 22px;
    color: #141414;
    letter-spacing: 0.02em;
  }

  p {
    font-size: 16px;
    max-width: 600px;
    margin: 0 auto;
  }

  .callout__actions {
    padding-top: 40px;

    .btn {
      min-width: 162px;
    }
  }

  &--padding-sm {
    padding-top: 72px;
    padding-bottom: 250px;
  }

  &--border-top {
    border-top: 1px solid #ebebeb;
  }
}
