.anchorjs-link {
  opacity: 0;
  color: #2173c4;
  display: block;
  width: 1em;
  height: 1em;
  position: absolute;
  margin-left: -1em;
  padding-right: .5em;
}

.anchorjs-element:hover .anchorjs-link {
  opacity: .75;
}

.anchorjs-link:hover {
  color: darken(#2173c4, 15%);
  opacity: 1;
}
