.feedback-form {
  margin-top: 3em;
  border: 1px solid #EBEBEB;

  textarea, input {
    margin: 1rem 0;
  }

  textarea {
    height: 100px;
  }

  a {
    text-decoration: none;
  }

  .feedback__title {
    padding-bottom: 1rem;
    h4 {
      font-size: 1.2rem;
    }
  }

  .feedback__ratings {
    ul {
      display: flex;
      justify-content: start;
      margin-bottom: 0;
      padding: 0;
      list-style-type: none;
      li {
        margin-bottom: 0;
        height: 60px;
      }
      li + li {
        margin-left: 1em;
      }
    }
  }

  .contribute-to-page {
    line-height: 60px;
    a {
      display: flex;
      align-items: center;
    }
  }

  .feedback-main {
    background-color: #F4F7F9;
    color: #4a4a4a;
    padding: 2em 1.5em;

    svg {
      width: 60px;
      height: 60px;
      margin-right: 10px;

      &.github {
        width: 20px;
        height: 20px;
      }
    }

    svg[class*="feedback-"] {
      opacity: 0.75;
    }

    input:checked ~ .feedback-smile, .feedback-smile:hover {
      opacity: 1;
      color: #71dbaf;
    }

    input:checked ~ .feedback-weird, .feedback-weird:hover {
      opacity: 1;
      color: #4A4A4A;
    }

    input:checked ~ .feedback-sad, .feedback-sad:hover {
      opacity: 1;
      color: #fe6161;
    }

    svg {
      cursor: pointer;
      color: #4a4a4a;
    }
  }

  .feedback__questions {
    padding: 0 1.5em;
  }
}
