.footer {
  margin-top: -150px;
  padding: 155px 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;
  // wave.svg
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2540 588' fill='%23fff'%3E%3Cellipse cx='1270' cy='420.56' rx='1523.16' ry='379.49'/%3E%3Cellipse cx='1270' cy='384.18' rx='1523.16' ry='379.49' opacity='0.5'/%3E%3C/svg%3E");

  .footer__actions {
    padding-bottom: 45px;
  }

  a:hover {
    color: #2173c4;
  }
}
