.footer {
  margin-top: -150px;
  padding: 155px 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;
  background-image: url('./images/svg/wave.svg');

  .footer__actions {
    padding-bottom: 45px;
  }
}
