/* ------------------------------------------------------------ *\
	Fonts
\* ------------------------------------------------------------ */


@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueW01-45Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueW01-45Light.woff') format('woff'), url('../fonts/HelveticaNeueW01-45Light.ttf')  format('truetype'), url('../fonts/HelveticaNeueW01-45Light.svg#HelveticaNeueW01-45Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
