/* ------------------------------------------------------------ *\
	Helpers
\* ------------------------------------------------------------ */

/*  Clear  */

// .clear { @util clearfix; }

/*  Notext  */

// .notext { @util text-hide; }

/*  Hidden  */

[hidden],
.hidden { display: none !important; }

/*  Alignleft  */

.alignleft { float: left; }

/*  Alignright  */

.alignright { float: right; }

/*  Disabled  */

[disabled],
.disabled { cursor: default; }

/*  Grid  */

.cols { display: flex; flex-flow: row wrap; justify-content: center; }

.col { max-width: 100%; }

.col--1of2 { max-width: 50%; flex: 0 0 50%; }

.col--1of3 { max-width: 33.33%; flex: 0 0 33.33%; }

.col--1of4 { max-width: 25%; flex: 0 0 25%; }

/*  Responsive Helpers  */

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block { display: none !important; }

// @media (max-width: $responsive-xs) {
// 	.hidden-xs { display: none !important; }
// 	.visible-xs-block { display: block !important; }
// 	.visible-xs-inline { display: inline !important; }
// 	.visible-xs-inline-block { display: inline-block !important; }
// }

// @media (min-width: calc(#{$responsive-xs} + 1px)) and (max-width: $responsive-sm) {
// 	.hidden-sm { display: none !important; }
// 	.visible-sm-block { display: block !important; }
// 	.visible-sm-inline { display: inline !important; }
// 	.visible-sm-inline-block { display: inline-block !important; }
// }

// @media (min-width: calc(#{$responsive-sm} + 1px)) and (max-width: $responsive-md) {
// 	.hidden-md { display: none !important; }
// 	.visible-md-block { display: block !important; }
// 	.visible-md-inline { display: inline !important; }
// 	.visible-md-inline-block { display: inline-block !important; }
// }

// @media (min-width: calc(#{$responsive-md} + 1px)) {
// 	.hidden-lg { display: none !important; }
// 	.visible-lg-block { display: block !important; }
// 	.visible-lg-inline { display: inline !important; }
// 	.visible-lg-inline-block { display: inline-block !important; }
// }
