/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

body {
  min-width: 320px;
  background: #fff;
  font-family: $ff-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $base;
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover,
a[href^="tel"] {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: calc(#{$line-height-base}em / 2);
}

h1 {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 13px;
}

h2 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 15px;
}

h6 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

p > a:not([class]) {
  text-decoration: underline;
  color: $blue;
}

p > a:not([class]):hover {
  text-decoration: none;
}

p {
  margin-bottom: 16px;
}

p:last-child {
  margin-bottom: 0;
}

blockquote {
  max-width: 58%;
  background: $grey-l;
  color: $blue;
  padding: 9px 20px;
  font-family: $hn;
  border-radius: 3px;
  margin-top: 21px;
}

ul,
ol,
dl,
hr,
table,
blockquote {
  margin-bottom: #{$line-height-base}em;
}

h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class],
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child {
  margin-bottom: 0;
}


header, footer, aside {
  ul, ol {
    list-style-type: none;
    padding-left: 1rem;
  }
}
