/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header {
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 25px 0;
  }

  .header__links {
    list-style-type: none;
    display: flex;
    align-items: baseline;
    color: #4a4a4a;
    font-weight: 500;

    svg {
      display: inline-block;
      vertical-align: middle;
      width: 185px;
      height: auto;
    }

    a {
      text-decoration: none;
      display: inline-block;
    }

    li {
      padding: 5px 0;
      & + li {
        border-left: 1px solid #d8d8d8;
        margin-left: 22px;
        padding-left: 23px;
      }
    }
  }
}

/* ------------------------------------------------------------ *\
	Nav Header
\* ------------------------------------------------------------ */

.nav-header {
  padding-top: 9px;
  ul {
    display: flex;
    font-weight: 500;

    a {
      text-decoration: none;
      letter-spacing: 0.04em;
      color: #4a4a4a;
      transition: color 0.2s;
    }

    a.active {
      color: #2173c4;
    }

    li {
      & + li {
        margin-left: 70px;
      }
    }
  }
}


@media only screen and (max-width: 600px) {
  .header__inner {
    flex-wrap: wrap;
  }

  .nav-header ul {
    flex-wrap: wrap;

    li {
      display: block;
      width: 100%;
      flex-basis: 100%;
    }

    li a {
      padding: .4em 0;
      font-weight: 400;
      font-size: 1.15em;
    }

    li + li {
      margin-left: 0;
    }
  }
}
