.intro {
	padding: 145px 0 84px;
	font-size: 18px;
	letter-spacing: .007em;
	background-repeat: no-repeat;
  background-position: center 100%;
  background-size: cover;

	h1 {
		color: #21457A;
		letter-spacing: .01em;
		margin-bottom: 33px;
	}

	p {
		padding-left: 17px;
	}

	.intro__content {
    padding: 0 45px;
    text-align: center;
	}
}