.intro {
  padding: 65px 0 85px;
  font-size: 18px;
  letter-spacing: 0.007em;

  h1 {
    color: #21457a;
    letter-spacing: 0.01em;
    margin-bottom: 33px;
  }

  p {
    padding-left: 17px;
  }

  .intro__content {
    padding: 0 45px;
    text-align: center;
  }
}
