/* ------------------------------------------------------------ *\
	Breadcrumbs
\* ------------------------------------------------------------ */

.breadcrumbs { color: $blue; font-size: 14px; font-weight: 400; padding-bottom: 20px; }

.breadcrumbs ul { list-style: none; display: flex; }
.breadcrumbs li:first-child a { text-decoration: underline; }
.breadcrumbs li.current a { color: $grey; }
.breadcrumbs a { text-decoration: none; transition: color .3s; }
.breadcrumbs a:hover { color: $green; }
.breadcrumbs svg { margin: 0 5px 0 4px; font-size: 10px; vertical-align: -0.05em; }
