/* ------------------------------------------------------------ *\
	Features
\* ------------------------------------------------------------ */

.features { display: flex; margin: 0 -15px; flex-wrap: wrap; list-style: none; }

.feature { width: 50%; padding: 15px; }

.feature a { text-decoration: none; display: flex; align-items: flex-start; flex-wrap: wrap; box-shadow: 0 1px 10px rgba(0, 0, 0, .1); padding: 22px 29px 23px; border-radius: 3px; transition: box-shadow .3s; }
.feature a:hover { box-shadow: 0 1px 10px rgba(0, 0, 0, .4); }

.feature .feature__image { width: 46px; text-align: center; margin-right: 30px; padding-top: 8px; }
.feature .feature__content { width: calc(100% - 76px); }
