.search-form {
  position: relative;
}

.search-form .search__field {
  border: 0;
  padding-right: 25px;
  border-bottom: 1px solid #e1e1e1;
  width: 100%;
  padding-bottom: 8px;
  transition: border .3s;
}

.search-form .search__field:focus {
  border-bottom: 1px solid $base;
}

.search-form .search__field::placeholder {
  font-size: 0;
}

.search-form .search__btn {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background-color: transparent;
  color: $grey;
}

.search-form label {
  display: block;
}
