/* ------------------------------------------------------------ *\
Form Elements
\* ------------------------------------------------------------ */

input::placeholder { color: inherit; opacity: 1; }
textarea::placeholder { color: inherit; opacity: 1; }

input:-webkit-autofill { -webkit-text-fill-color: inherit; -webkit-box-shadow: 0 0 0 1000px #fff inset; }
.info-box {
  background-color: #edf5fa;
  padding: 20px;
  line-height: 20px;

  p { margin-bottom: 8px; }
}
.contact-form {

  input, textarea, select {
    border: 1px solid #e1e1e1;
    font-size: 12px;
    padding: 10px;
    width: 100%;
  }

  select {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background-color: white;
  }

  .alert {
    padding-bottom: 20px;
    color: red;
    li {
      list-style: disc;
    }
  }

  .has-danger input, .has-danger textarea, .has-danger select {
    border-color: red;
  }

  button[type="submit"] {
    font-family: inherit;
    font-size: inherit;
    color: white;
    background: 0 #2774bb;
    cursor: pointer;
    padding: 5px 20px;
    display: inline-block;
    letter-spacing: 1px;
    outline: 0;
    position: relative;
    -webkit-transition: all .3s;
    transition: all .3s;
    float: right;
    font-weight: 100;
    margin-right: 3.5%;
  }
}
