.nav {
  font-weight: 400;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// .nav li {
//   margin-left: 53px;
// }

.nav a {
  text-decoration: none;
  transition: color .3s;
}

.nav .current {
  color: $blue;
}

.nav a:hover {
  color: $green;
}
