/* ------------------------------------------------------------ *\
	Color
\* ------------------------------------------------------------ */

.color-green { color: $green; }
.color-yellow { color: $yellow; }
.color-red { color: $red; }
.color-purple { color: $purple; }
.color-grey { color: $grey; }
.color-pale { color: $pale; }
.color-blue { color: $blue; }
