/* ------------------------------------------------------------ *\
	Message
\* ------------------------------------------------------------ */

.message { border-radius: 3px; padding: 8px 19px; margin-top: 22px; }
.message + .message { margin-top: 20px; }
.message svg { margin-right: 8px; }

.message--red { background: rgba(255, 116, 116, .3); }
.message--red svg { color: $red; }

.message--yellow { background: rgba(249, 168, 37, .2); }
.message--yellow svg { color: $yellow; }

.message--blue { background: rgba(2, 119, 189, .2); }
.message--blue svg { color: $blue; }

.message--green { background: rgba(0, 213, 165, .2); }
.message--green svg { color: $green; }
