/* ------------------------------------------------------------ *\
	Section
\* ------------------------------------------------------------ */

.section .section__group { padding-top: 42px; }

.section ul:not([class]) { list-style: none; padding-left: 35px; padding-top: 1px; margin-top: -5px; margin-bottom: -10px; }
.section ul:not([class]) li { margin-bottom: 6px; }

.section .section__group--border { border-bottom: 1px solid #e1e1e1; margin-bottom: -15px; padding-bottom: 37px; }
