/* ------------------------------------------------------------ *\
	Tabs
\* ------------------------------------------------------------ */

.tabs { padding-top: 58px; border-radius: 3px; border-bottom: 1px solid #cce4f2; }

.tabs .tabs__head { background: $grey-l; padding: 31px 49px 16px 40px; border-radius: 3px; border: 1px solid #cce4f2; display: flex; justify-content: space-between; align-items: center; color: $blue; }

.tabs .tabs__head p { color: $blue; font-size: 16px; font-weight: 400; margin-bottom: 17px; }
.tabs .tabs__head a { text-decoration: none; }
.tabs .tabs__head li:hover svg { color: $grey; }
.tabs .tabs__head .tabs__content svg { width: 45px; height: 45px; fill: $blue; }

.tabs .tabs__nav { font-size: 45px; opacity: .8; }

.tabs .tabs__nav input { display: none; }
.tabs .tabs__nav li { display: inline-block; }
.tabs .tabs__nav li + li { margin-left: 7px; }
.tabs.voted .tabs__nav li.current { opacity: 1; }
.tabs.voted .tabs__nav li.current .checkbox--smile svg { fill: $green; }
.tabs.voted .tabs__nav li.current svg { transition: fill .3s; }
.tabs.voted .tabs__nav li.current .checkbox--neutral svg { fill: $blue; }
.tabs.voted .tabs__nav li.current .checkbox--sad svg { fill: $red; }
.tabs.voted .tabs__nav li { opacity: .2; transition: opacity .3s; }

.tabs .tabs__aside svg { font-size: 35px; margin-right: 9px; vertical-align: middle; }
.tabs .tabs__aside a:hover { color: $green; }
.tabs .tabs__aside a { transition: color .3s; }

.tabs .tab { border-right: 1px solid #cce4fe; border-left: 1px solid #cce4fe; padding: 0 31px; overflow: hidden; max-height: 0; transition: max-height .3s, padding .3s; position: relative; }
.tabs .tab.current { max-height: 3000px; padding: 30px 31px 22px; }
.tabs .tab p { margin-bottom: 0; }
.tabs .tab input,
.tabs .tab textarea { border: 1px solid #e1e1e1; border-radius: 3px; width: 100%; margin-top: 13px; margin-bottom: 15px; min-height: 40px; padding: 10px; transition: border .3s; }
.tabs .tab input:focus,
.tabs .tab textarea:focus { border: 1px solid $blue; }
.tabs .tab textarea { height: 92px; }
.tabs .tab input:last-child { margin-bottom: 0; }
.tabs .tab input[type="email"] { width: calc(100% - 143px); }
.tabs .form__btn { position: absolute; right: 31px; bottom: 38px; font-family: $hn; font-weight: 300; color: #fff; background: $blue; padding: 11px; }
.tabs .tab .form__btn { width: 113px; border: 0; transition: background .3s, color .3s; margin-top: 0; }
.tabs .tab .form__btn:hover { background: #cce4fe; color: $blue; }
