/* ------------------------------------------------------------ *\
	Option
\* ------------------------------------------------------------ */

.options {
  .row {
    margin: 0 -8px;
  }

  [class^='col'] {
    padding: 0 8px;
    margin-top: 49px;
  }

  .option {
    border: 1px solid #ebebeb;
    padding: 41px 25px 51px;
    display: flex;
    height: 100%;
    text-decoration: none;

    &:hover {
      border-color: rgba(0, 0, 0, 0.3);
      h4 {
        color: #2173c4;
      }
    }

    .option__image {
      flex: 0 0 80px;
      text-align: center;
    }

    .option__content {
      h4 {
        margin-bottom: 17px;

        a {
          text-decoration: none;
          color: #141414;
        }
      }
    }
  }
}
