/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer { background: $base; color: #666; font-size: 14px; font-weight: 300; margin-top: 60px; }

.footer a { text-decoration: none; transition: color .3s; }
.footer a:hover { color: #fff; }

.footer .footer__content { border-bottom: 1px solid rgba(255, 255, 255, .2); padding-top: 38px; padding-bottom: 70px; }

.footer .footer__nav { display: flex; align-items: flex-start; flex-wrap: wrap; }

.footer .footer__nav > ul { width: 23%; margin-right: 2.65%; }
.footer .footer__nav > ul:last-child { margin-right: 0; }
.footer .footer__nav > ul > li > a { font-size: 16px; color: $blue; }
.footer .footer__nav > ul > li > a:hover { color: #fff; }
.footer .footer__nav li { margin-bottom: 11px; }
.footer .footer__nav .sub-menu { margin-top: 14px; }
.footer .footer__nav .sub-menu li { margin-bottom: 14px; }

.footer .footer__bar a { text-decoration: none; color: #666; }
.footer .footer__bar a:hover { color: #fff; }
.footer .footer__bar .logo { color: $blue; }
.footer .footer__bar .logo:hover { color: $blue; }
.footer .footer__bar .shell { display: flex; justify-content: space-between; align-items: center; padding: 0 25px; }
.footer .footer__bar p { margin-bottom: 0; }
