/* ------------------------------------------------------------ *\
	Shell
\* ------------------------------------------------------------ */

.shell { max-width: calc(#{$shell-max-width} + #{$shell-gutter} * 2); padding-left: #{$shell-gutter}; padding-right: #{$shell-gutter}; margin: auto; }

.shell--fluid { max-width: none; }
