/* ------------------------------------------------------------ *\
	Container
\* ------------------------------------------------------------ */

.container .shell { display: flex; align-items: center; flex-wrap: wrap; justify-content: space-between; align-items: flex-start; }
