@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$font-family-sans-serif: Arial, Helvetica, sans-serif;
$font-family-serif: Times, "Times New Roman", serif;
$ff-base: "Roboto", sans-serif;
$hn: "HelveticaNeue", sans-serif;

$font-size-base: 15px;
$line-height-base: 1.6;

$base: #222;
$grey: #83868c;
$blue: #0277bd;
$blue-d: #2d28ff;
$pale: #099eab;
$purple: #c8a2ff;
$green: #05a682;
$yellow: #f9a825;
$grey-l: #edf5fa;
$red: #fe6161;
