$font-family-sans-serif: Arial, Helvetica, sans-serif;
$font-family-serif: Times, "Times New Roman", serif;
$ff-base: "Roboto", sans-serif;
$hn: "HelveticaNeue", sans-serif;

$font-size-base: 1rem;
$line-height-base: 1.6;

$h1-font-size: $font-size-base * 1.7;
$h2-font-size: $font-size-base * 1.5;
$h3-font-size: $font-size-base * 1.3;
$h4-font-size: $font-size-base * 1.15;
$h5-font-size: $font-size-base * 1.1;
$h6-font-size: $font-size-base;

$base: #222;
$grey: #83868c;
$blue: #0277bd;
$blue-d: #2d28ff;
$blue-l: #EBF5FA;
$blue-ll: #D2EBF5;
$pale: #099eab;
$purple: #c8a2ff;
$green: #05a682;
$yellow: #f9a825;
$grey-l: #edf5fa;
$red: #fe6161;
$mint: #71DBAF;

