/* ------------------------------------------------------------ *\
	Alert
\* ------------------------------------------------------------ */

.alert {
	padding: 1.25em;
	font-size: 14px;
	letter-spacing: .036em;
	line-height: 1.6;
	margin: 1rem 0;
	border-color: transparent;
	border-radius: 4px;

	& + .alert {
		margin-top: 19px;
	}

  p {
    margin-bottom: 0;
  }

	.alert__title {
		display: flex;
    align-items: center;
    margin-right: 1em;
    margin-bottom: 1em;

    svg {
      margin-right: .5em;
    }

		h5 {
      color: inherit;
			margin: 0;
    }
	}

	&-tip {
    background-color: #F4F7F9;
    color: #464a4e;
	}

	&-success, &-notice {
    background-color: rgba(56,212,48,.1);
    color: #155724;
	}

	&-note {
    background-color: #E7F9FF;
    color: #004085;
	}

	&-important, &-alert {
    background-color: #FFF4E3;
    color: #856404;
	}

	&-warning, &-error {
    background-color: #FFDFDE;
    color: #721c24;
  }

  &-concept, &-tutorial {
    .alert__title {
      margin-bottom: 0;
    }

    display: flex;
    align-items: center;
  }
}

.alerts {
	list-style-type: none;
}
