body {
  @apply text-body bg-white antialiased;
}

a {
  color: inherit;
  text-decoration: underline;

  &:hover,
  &[href^='tel'] {
    text-decoration: none;
  }
}

svg {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply leading-tight font-medium;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

@font-face {
  font-family: 'Gotham';
  src: url('./fonts/Gotham-Light.woff2?v=subset') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('./fonts/Gotham-Bold.woff2?v=subset') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('./fonts/Gotham-Book.woff2?v=subset') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('./fonts/Gotham-Medium.woff2?v=subset') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

