---
converter: markdown
metadata:
  title: Custom otp for users, Deploy- speed up translations, other fixes
  description: May 20, 2022
  skip_contribute_button: true
  last_edit: false
slug: release-notes/20-MAY-2022
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* Custom otp for users
* Template stack for partials
* add translations set all
* Admin email notifications mass mutations
* Allow blank bodies for partials
* Or filters for admin queries

<h4 class="release-note release-note__fixed">FIXED</h4>

* Deploy: Speed up translations
* Preserve attribute on form update

