@import 'prismjs/themes/prism.css';
@import 'prismjs/plugins/line-numbers/prism-line-numbers.css';
@import 'prismjs/plugins/command-line/prism-command-line.css';

code {
  @apply text-sm text-pos-darkblue bg-pos-page-bg px-1 py-px;
}

p > code {
  padding: 0.2em 0.4em;
  word-break: break-word;
}

pre[class*="language-"] {
  @aplpy mb-5;
}


code[class*="language-"], pre[class*="language-"] {
  font-size: 12px;
}

pre.raw-output {
  padding: .5em 1em;
  background-color: #f5f2f0;
}

.token.operator {
  background: none;
}

pre.language-diff.line-numbers {
  padding-left: 1em;
}

pre.language-diff .line-numbers-rows {
  display: none;
}