* {
  // margin: 0;
  // padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  font-size: 100.01%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  background: #fefefe;
  font-size: 100%;
}

body,
textarea,
input,
select,
option,
button {
  color: #333;
  font: 15px / 1.5 $font-default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

blockquote,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
ul,
ol,
dl,
p,
table,
pre,
h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
}

*:last-child {
  margin-bottom: 0;
}

ul, ol {
  padding-left: 25px;
}

code {
  background: #ffc;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

pre code {
  display: block;
  background: #fafafa;
  border: 1px solid #ccc;
  padding: 10px;
  overflow-x: scroll;
}
