$sidebar-width: 300px;

main {
  padding: 20px;

  @include bp($desktop-view-bp) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.masthead {
  position: relative;
}

@include bp($desktop-view-bp) {
  .masthead {
    position: fixed;
    left: 0;
    width: $sidebar-width;
    top: 0;
    bottom: 0;
    overflow-y: auto;
  }

  body {
    padding: 0 0 0 $sidebar-width;
  }
}
