$sidebar-width: 300px;

.masthead {
  position: fixed;
  left: 0;
  width: $sidebar-width;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

body {
  padding: 0 0 0 $sidebar-width;
}

main {
  padding: 20px 40px;
}
