
<nav class="breadcrumbs" id="breadcrumbs">
  <ul>
    <li><a href="/">Documentation</a></li>
    {% include 'shared/nav-links' %}

    {% assign slug_parts = page.slug | split: "/" %}
    {% assign new_slug = '' %}
    {% for slug_part in slug_parts %}
      {% assign new_slug = new_slug | append: "/" | append: slug_part %}
      {% for link in navLinks %}
        {% if link.href == new_slug %}
          {% assign link_item = link %}
          {% assign navLinks = link.children %}
        {% endif %}
      {% endfor %}

      <li {% if forloop.last %} class="current" {% endif %}>
        <i class="fa fa-chevron-right"></i>
        {% if forloop.last %}
          <a href="/{{ page.slug }}">{{ page.metadata.title }}</a>
        {% else %}
          {% if link_item == blank %}
            {{ slug_part | capitalize | replace: "_", " " }}
          {% else %}
            <span>{{ link_item.name }}</span>
          {% endif %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
