<footer class="footer">
  <div class="container">
    <div class="footer__content row">
      <nav class="footer__nav col-12">
        <ul>
          <li>
            <a href="https://www.platform-os.com/" target="_blank">
              PlatformOS.com
              {% include 'svg/external-link' %}
            </a>
          </li>

          <li>
            <a href="https://www.platform-os.com/blog" target="_blank">
              Blog
              {% include 'svg/external-link' %}
            </a>
          </li>
        </ul>

        <ul>
          <li>
            <a href="/how-platformos-works">How Platform OS Works</a>
          </li>

          <li>
            <a href="/get-started/quickstart-guide">Quickstart Guide</a>
          </li>
        </ul>

        <ul>
          <li>
            <a href="/community/how-to-contribute">Community</a>
          </li>
        </ul>

        <ul>
          <li>
            <a href="/help">Help</a>
          </li>

          <li>
            <a href="/release-notes">Release Notes</a>
          </li>

          <li>
			  <a href="/contact">Contact</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="footer__bar row justify-content-between">
      <div class="col-auto">
        <a href="#" class="logo logo--invert">
          {% include 'layouts/logo' %}
          Docs
        </a>
      </div>

      <div class="col-auto pt-2">
        <div class="row">
          <div class="col-auto">
            <p>
              <a href="https://www.platform-os.com/customer-terms-of-service">
                Terms &amp; Conditions
                {% include 'svg/external-link' %}
              </a>
            </p>
          </div>
          <div class="col-auto">
            <p>&copy; 2018 - Platform OS</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</footer>
