<footer class="footer">
  <div class="container">
    <div class="footer__content row">
      <nav class="footer__nav col-12">
        <ul>
          <li>
            <a href="#">Quickstart Guide</a>
          </li>

          <li>
            <a href="#">Blog</a>
          </li>
        </ul>

        <ul>
          <li>
            <a href="#">Documentation</a>

            <ul class="sub-menu">
              <li>
                <a href="#">How PlatformOS works</a>
              </li>

              <li>
                <a href="#">API Reference</a>
              </li>
            </ul>
          </li>
        </ul>

        <ul>
          <li>
            <a href="#">Community</a>

            <ul class="sub-menu">
              <li>
                <a href="#">Roadmap</a>
              </li>
            </ul>
          </li>
        </ul>

        <ul>
          <li>
            <a href="#">Changelog</a>
          </li>

          <li>
						<a href="/contact">Contact</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="footer__bar row justify-content-between">
      <div class="col-auto">
        <a href="#" class="logo logo--invert">
          {% include 'layouts/logo' %}
          Docs
        </a>
      </div>

      <div class="col-auto pt-2">
        <div class="row">
          <div class="col-auto">
            <p><a href="#">Terms &amp; Conditions</a></p>
          </div>
          <div class="col-auto">
            <p>&copy; 2018 - PlatformOS</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</footer>
