<header class="header">
  <div class="container">

    <div class="row align-items-center justify-content-center justify-content-md-between">
      <div class="col-12 col-md-auto">
        <a href="/" class="logo">
          {% include 'layouts/logo' %}
          Docs
        </a>
      </div>

      <div class="col-12 col-md-auto">
        <nav class="nav py-3">
          <ul class="pl-0">
            <li class="pl-md-5 current"><a href="#">Documentation</a></li>
            <li class="pl-md-5"><a href="#">Community</a></li>
            <li class="pl-md-5"><a href="#">Blog</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
