<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Platform-OS Docs</title>

  {% include 'layouts/prefetch' %}
  {% include 'layouts/preload' %}
  {% include 'layouts/stylesheets' %}
  {%- include 'layouts/favicon' -%}


</head>
