<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Platform-OS Docs</title>

  {% comment %} Try to minimize FOUT {% endcomment %}
  <script>
    (function() {
      if (sessionStorage.fonts) {
        document.documentElement.classList.add('wf-active');
      }
    })();
  </script>

  {% include 'layouts/prefetch' %}
  {% include 'layouts/preload' %}
  {% include 'layouts/stylesheets' %}
  {% include 'layouts/favicon' %}
</head>
