<header class="header">
  <div class="container">

    <div class="row align-items-center justify-content-between">
      <div class="col-auto">
        <a href="/" class="logo">
          {% include 'layouts/logo' %}
          Docs
        </a>
      </div>

      <div class="col-auto">
        <nav class="nav">
          <ul>
            <li class="current"><a href="#">Documentation</a></li>
            <li><a href="#">Community</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
