{% assign community_slug = 'community/how-to-contribute' %}

<header class="header">
  <div class="container">

    <div class="row align-items-center justify-content-center justify-content-md-between">
      <div class="col-12 col-md-auto">
        <a href="/" class="logo">
          {% include 'layouts/logo' %}
          Docs
        </a>
      </div>

      <div class="col-12 col-md-auto">
        <nav class="nav py-3">
          <ul class="pl-0 mb-0 d-flex align-items-center justify-content-between justify-content-md-center">
            <li class="pl-md-5"><a href="/">Documentation</a></li>
            <li class="pl-md-5 {% if context.page.slug == community_slug %}current{% endif %}"><a href="/{{ community_slug }}">Community</a></li>
            <li class="pl-md-5"><a href="https://www.platform-os.com/blog">Blog</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
