<li>
  <a href="#">Bank Accounts</a>
  <ul class="sub-menu">
    <li><a href="/api-reference/rest-api/bank_accounts_post">POST /api/user/bank_accounts</a></li>
  </ul>
</li>
<li>
  <a href="#">Credit Cards</a>
  <ul class="sub-menu">
    <li><a href="/api-reference/rest-api/credit_cards_post">POST /api/user/credit_cards</a></li>
  </ul>
</li>
<li>
  <a href="#">Customizations</a>
  <ul class="sub-menu">
    <li><a href="/api-reference/rest-api/customizations_post">POST /api/user/customizations</a></li>
    <li><a href="/api-reference/rest-api/customizations_put">PUT /api/user/customizations/1</a></li>
    <li><a href="/api-reference/rest-api/customizations_delete">DELETE /api/customizations/1</a></li>
  </ul>
</li>
<li>
  <a href="#">Relationships</a>
  <ul class="sub-menu">
    <li><a href="/api-reference/rest-api/relationships_post">POST /api/user/relationships</a></li>
    <li><a href="/api-reference/rest-api/relationships_put">PUT /api/user/relationships/1</a></li>
    <li><a href="/api-reference/rest-api/relationships_delete">DELETE /api/relationships/1</a></li>
  </ul>
</li>
<li>
  <a href="#">Relationship Users</a>
  <ul class="sub-menu">
    <li><a href="/api-reference/rest-api/relationship_users_post">POST /api/user/relationship_users</a></li>
    <li><a href="/api-reference/rest-api/relationship_users_put">PUT /api/user/relationship_users/1</a></li>
    <li><a href="/api-reference/rest-api/relationship_users_delete">DELETE /api/relationship_users/1</a></li>
  </ul>
</li>
<li>
  <a href="#">Relationship Transactables</a>
  <ul class="sub-menu">
    <li><a href="/api-reference/rest-api/relationship_transactables_post">POST /api/user/relationship_transactables</a></li>
    <li><a href="/api-reference/rest-api/relationship_transactables_put">PUT /api/user/relationship_transactables/1</a></li>
    <li><a href="/api-reference/rest-api/relationship_transactables_delete">DELETE /api/relationship_transactables/1</a></li>
  </ul>
</li>
<li>
  <a href="#">Sessions</a>
  <ul class="sub-menu">
    <li><a href="/api-reference/rest-api/sessions_post">POST /api/sessions</a></li>
    <li><a href="/api-reference/rest-api/sessions_delete">DELETE /api/sessions</a></li>
  </ul>
</li>
<li>
  <a href="#">Transactables</a>
  <ul class="sub-menu">
    <li><a href="/api-reference/rest-api/transactables_post">POST /api/user/transactables</a></li>
    <li><a href="/api-reference/rest-api/transactables_put">PUT /api/user/transactables/1</a></li>
    <li><a href="/api-reference/rest-api/transactables_delete">DELETE /api/transactables/1</a></li>
  </ul>
</li>
<li>
  <a href="#">Users</a>
  <ul class="sub-menu">
    <li><a href="/api-reference/rest-api/users_post">POST /api/users</a></li>
    <li><a href="/api-reference/rest-api/users_put">PUT /api/users/1</a></li>
  </ul>
</li>
