<div class="sidebar">
  <ul class="widgets">
    <li class="widget widget--search">
      <form action="?" class="search-form" method="get" role="search">
        <label>
          <span class="screen-reader-text hidden">Search for:</span>
          <input type="search" title="Search for:" name="s" value="" placeholder="Search …" class="search__field">
        </label>
        <button type="submit" value="Search" class="search__btn screen-reader-text">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </li><!-- /.widget widget_search -->

    <li class="widget widget--nav">
      <ul>
        <li class="current">
          <a href="/">Documentation</a>
        </li>

        <li>
          <a href="/how-platformos-works">How PlatformOS works</a>

          <ul class="sub-menu">
            <li>
              <a href="/how-platformos-works/about-platform-os">About Platform OS</a>
            </li>
          </ul>
          <ul class="sub-menu">
            <li>
              <a href="/how-platformos-works/platformos-components">PlatformOS Components</a>
            </li>
          </ul>
          <ul class="sub-menu">
            <li>
              <a href="/how-platformos-works/technologies">Technologies</a>
            </li>
          </ul>
          <ul class="sub-menu">
            <li>
              <a href="/how-platformos-works/basic-concepts">Basic Concepts</a>
            </li>
          </ul>
          <ul class="sub-menu">
            <li>
              <a href="/how-platformos-works/glossary">Glossary</a>
            </li>
          </ul>
        </li>


        <li>
          <a href="#">Get Started</a>

          <ul class="sub-menu">
            <li>
              <a href="/get-started/quickstart-guide">Quickstart Guide</a>
            </li>

            <li>
              <a href="#">Setup</a>

              <ul class="sub-menu">
                <li>
                  <a href="/get-started/setup/accessing-partner-portal">Accessing our Partner Portal</a>
                </li>
                <li>
                  <a href="/get-started/setup/setting-up-site">Setting Up a Site on Our Platform </a>
                </li>
                <li>
                  <a href="/get-started/setup/installing-npm-mac">Installing NPM on a Mac</a>
                </li>
                <li>
                  <a href="/get-started/setup/installing-npm-windows">Installing NPM on Windows</a>
                </li>
                <li>
                  <a href="/get-started/setup/installing-marketplace-kit">Installing the Marketplace Kit</a>
                </li>
                <li>
                  <a href="/get-started/setup/updating-marketplace-kit">Updating the Marketplace Kit</a>
                </li>
                <li>
                  <a href="/get-started/setup/creating-required-directory-structure">Creating the Required Directory Structure</a>
                </li>
                <li>
                  <a href="/get-started/setup/deploying-syncing-changes">Deploying and Syncing Changes</a>
                </li>
                <li>
                  <a href="/get-started/setup/development-workflow">Development Workflow</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Pages</a>
              <ul class="sub-menu">
                <li>
                  <a href="/get-started/pages/pages">Pages</a>
                </li>
                <li>
                  <a href="/get-started/pages/metadata">Metadata</a>
                </li>
                <li>
                  <a href="/get-started/pages/layouts">Layouts</a>
                </li>
                <li>
                  <a href="/get-started/pages/creating-page">Creating a Page</a>
                </li>
                <li>
                  <a href="/get-started/pages/creating-layout">Creating a Layout</a>
                </li>
                <li>
                  <a href="/get-started/pages/adding-new-page-custom-url">Adding a New Page at a Custom URL</a>
                </li>
                <li>
                  <a href="/get-started/pages/injecting-dynamic-content-into-layout">Injecting Dynamic Content into a Layout</a>
                </li>
                <li>
                  <a href="/get-started/pages/reusing-code-across-multiple-pages">Reusing Code Across Multiple Pages</a>
                </li>
                <li>
                  <a href="/get-started/pages/assets">Assets</a>
                </li>
                <li>
                  <a href="/get-started/pages/using-static-assets-pages">Using Static Assets on Your Pages</a>
                </li>
                <li>
                  <a href="/get-started/pages/adding-visuals-pages-css">Adding Visuals to Pages: CSS</a>
                </li>
                <li>
                  <a href="/get-started/pages/adding-visuals-pages-liquid">Adding Visuals to Pages: Liquid</a>
                </li>
                <li>
                  <a href="/get-started/pages/adding-visuals-pages-javascript">Adding Visuals to Pages: Javascript</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Users</a>
              <ul class="sub-menu">
                <li>
                  <a href="/get-started/users/users">Users</a>
                </li>
                <li>
                  <a href="/get-started/users/creating-user-profile">Creating a User Profile</a>
                </li>
                <li>
                  <a href="/get-started/users/creating-sign-up-form">Creating a Sign-Up Form</a>
                </li>
                <li>
                  <a href="/get-started/users/embedding-sign-up-form">Embedding a Sign Up Form in a Page</a>
                </li>
                <li>
                  <a href="/get-started/users/signing-in-user-manually">Singing In a User Manually</a>
                </li>
                <li>
                  <a href="/get-started/users/signing-in-user-automatically-after-sign-up">Singing In a User Automatically after Sign Up</a>
                </li>
                <li>
                  <a href="/get-started/users/logging-out-authenticated-user">Logging Out an Authenticated User</a>
                </li>
                <li>
                  <a href="/get-started/users/resetting-password-authenticated-user">Resetting Password of an Authenticated User</a>
                </li>
                <li>
                  <a href="/get-started/users/accessing-authenticated-user-data">Accessing Authenticated User Data</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Notifications</a>
              <ul class="sub-menu">
                <li>
                  <a href="/get-started/notifications/notifications">Notifications</a>
                </li>
                <li>
                  <a href="/get-started/notifications/creating-email-notification">Creating an Email Notification</a>
                </li>
                <li>
                  <a href="/get-started/notifications/using-email-layouts">Using Email Layouts</a>
                </li>
                <li>
                  <a href="/get-started/notifications/creating-sms-notification">Creating an SMS Notification</a>
                </li>
                <li>
                  <a href="/get-started/notifications/creating-api-call-notification">Creating an API Call Notification</a>
                </li>
                <li>
                  <a href="/get-started/notifications/parsing-api-response">Parsing an API Response</a>
                </li>
              </ul>
            </li>

             <li>
              <a href="#">Transactables</a>
              <ul class="sub-menu">
                <li>
                  <a href="/get-started/transactables/transactables">Transactables</a>
                </li>
                <li>
                  <a href="/get-started/transactables/creating-transactable-type">Creating a Transactable Type</a>
                </li>
                <li>
                  <a href="/get-started/transactables/displaying-transactable">Displaying a Transactable</a>
                </li>
                <li>
                  <a href="/get-started/transactables/creating-edit-transactable-page">Creating the Edit Transactable Page</a>
                </li>
                <li>
                  <a href="/get-started/transactables/removing-transactable">Removing a Transactable</a>
                </li>
              </ul>
            </li>

             <li>
              <a href="#">Authorization Policy</a>
              <ul class="sub-menu">
                <li>
                  <a href="/get-started/authorization-policy/authorization-policy">Authorization Policy</a>
                </li>
                <li>
                  <a href="/get-started/authorization-policy/adding-authorization-policy">Adding an Authorization Policy</a>
                </li>
                <li>
                  <a href="/get-started/authorization-policy/associating-authorization-policy-formconfiguration">Associating an Authorization Policy with FormConfiguration</a>
                </li>
                <li>
                  <a href="/get-started/authorization-policy/associating-authorization-policy-page">Associating an Authorization Policy with a Page</a>
                </li>
                <li>
                  <a href="/get-started/authorization-policy/handling-violated-authorization-policy">Handling a Violated Authorization Policy</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Search</a>
              <ul class="sub-menu">
                <li>
                  <a href="/get-started/search/search">Search</a>
                </li>
                <li>
                  <a href="/get-started/search/creating-search-query">Creating a Search Query</a>
                </li>
              </ul>
            </li>

             <li>
              <a href="#">Customizations</a>
              <ul class="sub-menu">
                <li>
                  <a href="/get-started/customizations/building-contact-form-with-customization">Building a Contact Form with Customization</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Partner Portal</a>
              <ul class="sub-menu">
                <li>
                  <a href="/get-started/partner-portal/inviting-new-user-to-partner-portal">Inviting a New User to the Partner Portal</a>
                </li>
                <li>
                  <a href="/get-started/partner-portal/setting-up-user-permissions-partner-portal">Setting Up User Permissions on the Partner Portal</a>
                </li>
                <li>
                <a href="/get-started/partner-portal/creating-multiple-partners">Creating Multiple Partners at Once</a>
                </li>
                <li>
                  <a href="/get-started/partner-portal/updating-partner">Updating a Partner</a>
                </li>
                <li>
                  <a href="/get-started/partner-portal/changing-partner-user">Changing the Partner of a User</a>
                </li>
                <li>
                <a href="/get-started/partner-portal/changing-partner-instance">Changing the Partner of an Instance</a>
                </li>
                <li>
                  <a href="/get-started/partner-portal/updating-instance">Updating an Instance</a>
                </li>
                <li>
                  <a href="/get-started/partner-portal/checking-releases-instance">Checking the Releases of an Instance</a>
                </li>
                <li>
                  <a href="/get-started/partner-portal/downloading-codebase-instance">Downloading the Codebase of an Instance</a>
                </li>
                <li>
                  <a href="/get-started/partner-portal/checking-audit-log">Checking the Audit Log</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

         <li>
          <a href="#">How-To Guides</a>

          <ul class="sub-menu">

          <li>
              <a href="#">Assets</a>
              <ul class="sub-menu">
                <li>
                  <a href="/how-to/assets/uploading-assets-directly-amazons3">Uploading Assets Directly to Amazon S3</a>
                </li>
              </ul>
            </li>


          <li>
              <a href="#">Blog</a>
              <ul class="sub-menu">
                <li>
                  <a href="/how-to/blog/installing-blog-module">Installing the Blog Module</a>
                </li>
                <li>
                  <a href="/how-to/blog/adding-blog-post">Adding a Blog Post</a>
                </li>
                <li>
                  <a href="/how-to/blog/blog-custom-model-types">Blog Custom Model Types</a>
                </li>
                <li>
                  <a href="/how-to/blog/blog-settings-posts">Blog Settings and Posts</a>
                </li>
              </ul>
            </li>

          <li>
              <a href="#">SEO</a>
              <ul class="sub-menu">
                <li>
                  <a href="/how-to/seo/creating-seo-friendly-urls">Creating SEO Friendly URLs</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">APIs</a>
              <ul class="sub-menu">
                <li>
                  <a href="/how-to/apis/creating-items-from-external-api-call">Creating Items from an External API Call</a>
                </li>
                <li>
                  <a href="/how-to/apis/persisting-part-of-third-party-api-response">Persisting Part of a Third-Party API Response</a>
                </li>
              </ul>
            </li>

             <li>
              <a href="#">QA</a>
              <ul class="sub-menu">
                <li>
                  <a href="/how-to/qa/testing">Testing</a>
                </li>
              </ul>
            </li>


          	</ul>
          </li>

        </li>


<li>
          <a href="/api-reference">APIs & Form Configurations</a>

          <ul class="sub-menu">
            <li>
              <a href="/api-reference/rest-api">REST API</a>

              <ul class="sub-menu">
                {% include 'layouts/rest-api-endpoints' %}
              </ul>
            </li>
            <li>
              <a href="/api-reference/graphql">GraphQL API</a>

              <ul class="sub-menu">
                <li>{% include 'generated/graphql-docs/sidebar/index' %}</li>
              </ul>
            </li>
            <li>
              <a href="/api-reference/liquid-filters">Liquid Filters</a>
            </li>
          </ul>
        </li>


        <li>
          <a href="#">Reference</a>

          <ul class="sub-menu">

          <li>
              <a href="#">Custom Attributes</a>
              <ul class="sub-menu">
                <li>
                  <a href="/reference/custom-attributes/custom-attributes">Custom Attributes</a>
                </li>
                <li>
                  <a href="/reference/custom-attributes/user-defined">User-Defined Custom Attributes</a>
                </li>
                <li>
                  <a href="/reference/custom-attributes/custom-addresses">Custom Addresses</a>
                </li>
                <li>
                  <a href="/reference/custom-attributes/custom-attachments">Custom Attachments</a>
                </li>
                <li>
                  <a href="/reference/custom-attributes/custom-images">Custom Images</a>
                </li>
              </ul>
            </li>

       <li>

       <li>
              <a href="#">Custom Model Types</a>
              <ul class="sub-menu">
                <li>
                  <a href="/reference/custom-model-types/custom-model-types">Custom Model Types</a>
                </li>
              </ul>
            </li>

        </li>

           <li>
              <a href="#">Form Configurations</a>
              <ul class="sub-menu">
                <li>
                  <a href="/reference/form-configurations/form-configurations">Form Configurations</a>
                </li>
                <li>
                  <a href="/reference/form-configurations/flash-messages">Flash Messages</a>
                </li>
                <li>
                  <a href="/reference/form-configurations/default-payload">Default Payload</a>
                </li>
              </ul>
            </li>

          <li>
              <a href="#">Search</a>
              <ul class="sub-menu">
                <li>
                  <a href="/reference/search/narrowing-keyword-search">Narrowing Keyword Search</a>
                </li>
                <li>
                  <a href="/reference/search/selecting-fields-available-search">Selecting Fields Available for Search</a>
                </li>
                <li>
                  <a href="/reference/search/keyword-match-type">Keyword Match Type</a>
                </li>
                <li>
                  <a href="/reference/search/distance-units">Distance Units</a>
                </li>
              </ul>
            </li>

        <li>
              <a href="#">Redirects</a>
              <ul class="sub-menu">
                <li>
                  <a href="/reference/pages/redirects">Redirects</a>
                </li>
              </ul>
            </li>
        </li>

         <li>
              <a href="#">Translations</a>
              <ul class="sub-menu">
                <li>
                  <a href="/reference/translations/translations">Translations</a>
                </li>
              </ul>
            </li>
        </li>
      </ul>
    </li><!-- /.widget -->
  </ul><!-- /.widgets -->
</div><!-- /.sidebar -->
