<form action="/search" class="search-form mb-5 mb-md-0" method="get" role="search">
  <label>
    <span class="screen-reader-text hidden">Search for:</span>
    <input type="search" title="Search for:" name="query" value="{{ params.query }}" placeholder="Search …" class="search__field">
  </label>
  <button type="submit" value="Search" class="search__btn">
    <span class="screen-reader-text">Search</span>
    <i class="fa fa-search"></i>
  </button>
</form>

{% include 'shared/nav-links' %}

<ul class="metismenu sidebar-menu">
  {% include 'shared/navigation', links: navLinks %}
</ul>
