{% include 'layouts/breadcrumbs' %}

<h1>{{ page.metadata.title }}</h1>

{% unless page.metadata.exclude_contributors %}
{% comment %} {% include 'layouts/contributors' %} {% endcomment %}
{% endunless %}

{{ content_for_layout }}
