---
converter: markdown
metadata:
  title: Changing the Partner of a User
  description: This guide will help you change the Partner that a User belongs to.
slug: tutorials/partner-portal/users/changing-partner-user
---

This guide will help you change the Partner that a User belongs to.

## Requirements
To follow the steps in this tutorial, you should be able to log in to the Partner Portal, have access to a User and multiple Partners.

* [Accessing the Partner Portal](/get-started/accessing-partner-portal)
* [Inviting a New User to the Partner Portal](/tutorials/partner-portal/users/inviting-new-user-to-partner-portal)

## Steps

Changing the Partner a User belongs to is a two-step process:

<div data-autosteps></div>

### Step 1: Locate User

In the menu on the left, click on `Users`, and select the email address of the User you would like to assign to a different Partner. The information page of the User is displayed.

### Step 2: Change Partner

You can see the Partner the User belongs to under **Partner**. To change the Partner, scroll to `Change Partner`, and select the Partner you would like to assign the User to from the drop-down. Once selected, click on `Change`.

An `[email address] Partner was successfully updated.` message is displayed and the User's information page reloads. You can see that the User now belongs to the Partner you specified.

## Next steps
Congratulations! You have changed the Partner a User belongs to. Now you can learn about updating a Partner's information:

* [Updating a Partner](/tutorials/partner-portal/users/updating-partner)
