---
converter: markdown
metadata:
  title: Deleting a User
  description: This guide will help you delete a user on the Partner Portal.
slug: tutorials/partner-portal/users/deleting-user
searchable: true
---
This guide will help you delete a user on the Partner Portal.

## Requirements
To be able to delete a user on the Partner Portal, you have to have access to the Partner Portal, and the user you would like delete.

* [Accessing the Partner Portal](/get-started/accessing-partner-portal)
* [Inviting a New User to the Partner Portal](/tutorials/partner-portal/users/inviting-new-user-to-partner-portal)

## Steps

Deleting a user is a two-step process:

<div data-autosteps></div>

### Step 1: Locate user

Log in to the [Partner Portal](https://partners.platformos.com). In the menu on the left, click on `Users`. In the [list of users](https://partners.platformos.com/users), select the user by clicking on its email address.

### Step 2: Delete user
On the selected user's page, click on `Delete [email address of user]`. A confirmation message is displayed, click `OK` to proceed.
The user was deleted, the message `User [email address of user] was successfully deleted.` is displayed.

## Next steps
Congratulations! You know how to delete a user on the Partner Portal. Now you can learn about changing the Partner that a user belongs to:

* [Changing the Partner of a User](/tutorials/partner-portal/users/changing-partner-user)
