---
converter: markdown
metadata:
  title: Inviting a New User to the Partner Portal
  description: This guide will help you invite a new user to the Partner Portal, so that the new user can create, manage and configure Instances, and create and manage the permissions of other Partners.
slug: tutorials/partner-portal/users/inviting-new-user-to-partner-portal
---
This guide will help you invite a new user to the Partner Portal, so that the new user &ndash; depending on the permissions you assign to them &ndash; can create, manage and configure Instances, and create and manage the permissions of other Partners.

## Requirements
To be able to invite a new user to the Partner Portal, you have to have access to the Partner Portal.

* [Accessing the Partner Portal](/get-started/accessing-partner-portal)

## Steps

Inviting a new user to the Partner Portal is a two-step process:

<div data-autosteps></div>

### Step 1: Create new Partner (optional)

{% include "alert/note", content: "If you want to invite a new user for a Partner that hasn&apos;t been added to the Partner Portal yet (e.g. adding an employee of a company that doesn&apos;t have a Partner on the Partner Portal), you first have to create a new Partner. If you want to add a user to an already existing Partner (e.g. an employee of a company that has a Partner on the Partner Portal), skip this step." %}

Log in to our [Partner Portal](https://partners.platformos.com). In the menu on the left, click on `Create` and select `Partner` from the drop-down.

Each new Partner you create has to have a Parent Partner. Select the Parent Partner, enter a name, and click on `Create`. The Partner has been created, and the page of the newly created Partner is displayed.

### Step 2: Create new User for the Partner

The new Partner you created has one user: you. So that other people can access the Partner Portal through this Partner, create a new user.

In the menu on the left, click on `Create` and select `User` from the drop-down.

Enter the user's email address, select the Partner it belongs to, and set Partner permissions:

* `None`: can't view Partner
* `Read`: can view, but can't modify Partner
* `Write`: can view and modify Partner

Click `Invite User`. The user will receive an invitation email with instructions on how to access the Partner Portal.

## Next steps
Congratulations! You have invited a new user to the Partner Portal. Now, you can set up the permissions of this new user.

* [Setting Up a User's Partner Permissions](/tutorials/partner-portal/users/setting-up-users-partner-permissions)
