---
converter: markdown
metadata:
  title: New tags and flags, unbranded timeout error pages
  description: April 19, 2021
  skip_contribute_button: true
  last_edit: false
slug: release-notes/19-APRIL-2021
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* Experimental new tag for changing locale via Liquid - `context_rc` (_rc suffix to be eventually removed, indicating the syntax might change)
* New flag in app/config.yml - `slug_exact_match` to improve behavior of the routing
* Experimental new tag `jwe_encode_rc`
* New flag in app/config.yml - skip_elasticsearch to avoid duplicating data in ES if application does not use it

<h4 class="release-note release-note__improved">IMPROVED</h4>

* Make timeout error pages unbranded
