---
converter: markdown
metadata:
  title: Blank external_ids export, AVIF, and other updates
  description: April 6, 2021
  skip_contribute_button: true
  last_edit: false
slug: release-notes/6-APRIL-2021
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* allow blank external_ids export
* add AVIF to possible image format
* allow to access context.constants in background tag
* allow to raise 500 for any filter/GraphQL error via `liquid_raise_mode` in app/config.yml

<h4 class="release-note release-note__fixed">FIXED</h4>

* background workers not refreshing cache properly (partials, translations) 
