---
converter: markdown
metadata:
  title: Better AI Agents support through .md format, New `high_performance_sql_filtering` config flag,
  description: Dec 11, 2025
  skip_contribute_button: true
  last_edit: false
slug: release-notes/11-DEC-25
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* added a new flag to `app/config.yml` - `high_performance_sql_filtering`. If enabled, filtering on properties will use more efficient SQL queries behind the scenes. Default is false to maintain backward compatibility, but enabling it can lead to significant performance improvements for applications that heavily utilize property filtering. The optimization and backwards incompatibility is caused by removing extra casting to text, which in many scenarios is not necessary and prevents a default index on the column from being used.
* added support for `.md` format - if a Page uses `markdown` converter, the content can now be accessible through /:slug.md endpoint instead of a `html` one. The `md` is the preferred format for AI agents that consume content from Pages, as it is easier to parse and process compared to HTML.

<h4 class="release-note release-note__improved">IMPROVED</h4>

* Added `syntax` field to platformOS Liquid Tags that will be used by LSP servers to provide better code completion

<h4 class="release-note release-note__fixed">FIXED</h4>

* Enforce uniqueness validation for Page `slug` attribute in admin_page_* GraphQL mutations.
