---
converter: markdown
metadata:
  title:  Translation caching improved, fixed accept header construction
  description: Mar 11, 2025
  skip_contribute_button: true
  last_edit: false
slug: release-notes/11-MAR-25
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__improved">IMPROVED</h4>

* Improved internal Translations caching mechanism

<h4 class="release-note release-note__fixed">FIXED</h4>

* Fixed wrong "Accept" header construction
