---
converter: markdown
metadata:
  title:  gzip_compress/gzip_decompress filters, fixes for user profiles filtering, consistency improvements for record_delete mutation, data_export_delete mutation
  description: Apr 14, 2025
  skip_contribute_button: true
  last_edit: false
slug: release-notes/14-APR-25
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__improved">IMPROVED</h4>

* Consistency improvements for record_delete mutation

<h4 class="release-note release-note__fixed">FIXED</h4>

* Fixes for user profiles filtering

<h4 class="release-note release-note__new">NEW</h4>

* gzip_compress/gzip_decompress filters
* data_export_delete mutation
