---
converter: markdown
metadata:
  title:  GraphQL queries/mutations improvements
  description: May 17, 2025
  skip_contribute_button: true
  last_edit: false
slug: release-notes/17-MAY-25
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* Allow setting `manually_managed` flag for assets from GraphQL mutations
* `admin_user_schema` query returns the schema of the user defined in app/user.yml

<h4 class="release-note release-note__improved">IMPROVED</h4>

* `records_update_all` mutation can be used to quickly move records from one table to another
* `records_create_rc` accepts `id` argument for record input to create a record with a specific ID

<h4 class="release-note release-note__fixed">FIXED</h4>

* fix edge case scenario of `asset_url` not appending `updated_at` query param
