---
converter: markdown
metadata:
  title:  Instance Clone cross stacks, GraphQL and Liquid enhancements
  description: Feb 18, 2025
  skip_contribute_button: true
  last_edit: false
slug: release-notes/18-FEB-25
---

#### {{ page.metadata.description }}

<!--
<h4 class="release-note release-note__new">NEW</h4>
-->

<h4 class="release-note release-note__improved">IMPROVED</h4>

* Staging email interceptor will now move `cc` and `bcc` recipients to the subject line as well

<h4 class="release-note release-note__fixed">FIXED</h4>

* Do not allow any HTML tag by default when displaying variables using {% raw %}`{{ }}`{% endraw %} - affects websites with the `escape_output_instead_of_sanitize` flag set to `false`. If you are still having this flag disabled, please enable it to for security best practices and developer experience
