---
converter: markdown
metadata:
  title: Performance improvement, fix uploading remote image via the record_update
  description: June 18, 2025
  skip_contribute_button: true
  last_edit: false
slug: release-notes/18-JUN-25
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__improved">IMPROVED</h4>

* general performance improvement for `records` GraphQL queries by optimizing PostgreSQL plan for larger data sets
* `property_boolean` will handle convert `f` and `t` string values to `false` and `true` boolean values

<h4 class="release-note release-note__fixed">FIXED</h4>

* fix uploading remote image via the `record_update` GraphQL mutation
