---
converter: markdown
metadata:
  title:  Various reliability fixes and new features
  description: Aug 27, 2025
  skip_contribute_button: true
  last_edit: false
slug: release-notes/27-AUG-25
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* Explicitly set case sensitivity for starts_with and ends_with queries
* add new `transaction` and `rollback` liquid tags to support explicit database transactions

<!--<h4 class="release-note release-note__improved">IMPROVED</h4>-->

<h4 class="release-note release-note__fixed">FIXED</h4>

* Fixed issue preventing certain instance copies processes from completing successfully.
