---
converter: markdown
metadata:
  title:  Liquid and low-level internal dependencies, record_update fixes
  description: May 31, 2025
  skip_contribute_button: true
  last_edit: false
slug: release-notes/31-MAY-25
---

#### {{ page.metadata.description }}

<!--
<h4 class="release-note release-note__new">NEW</h4>
-->

<h4 class="release-note release-note__improved">IMPROVED</h4>

* Upgrade of the platformOS engine internals to the newest versions (including Rails, Ruby, Liquid and intenral dependencies)
* `record_update` mutation will raise more user friendly error if the record id belongs to a different table that specified via `table` aargument

<h4 class="release-note release-note__fixed">FIXED</h4>

* Fixed `record_update` mutation to properly handle property of type `upload`
