// breakpoint mixin

@mixin bp($width) {
  @media screen and (max-width: #{$width - 1px}) {
    @content;
  }
}

@mixin bpmin($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin bp-range($top, $bottom) {
  @media screen and (max-width: #{$top - 1px}) and (min-width: $bottom) {
    @content;
  }
}

@mixin clear {
  &::after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
  }
}

@mixin sr-only {
  position: absolute;
  left: -999em;
}
