---
converter: markdown
slug: api-reference/liquid/platformos-tags
searchable: true
metadata:
  title: API reference - platformOS Liquid Tags
  skip_contribute_button: true
---

{%- include 'reference/remote-docs-path', file: 'tags.json' -%}
<div data-remote-docs-content="tags" data-remote-docs-url="{{ url }}"></div>
