---
converter: markdown
metadata:
  title: New hcaptcha filter
  description: February 1, 2021
  skip_contribute_button: true
  last_edit: false
slug: release-notes/1-FEBRUARY-2021
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* [hcaptcha](/api-reference/liquid/platformos-filters#hcaptcha) filter

