---
converter: markdown
metadata:
  title: New value_array GraphQL argument for properties, fixes
  description: February 8, 2021
  skip_contribute_button: true
  last_edit: false
slug: release-notes/8-FEBRUARY-2021
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* value_array GraphQL argument for properties (this is to fix https://community.platformos.com/posts/how-do-i-filter-by-empty-arrays-in-graphql-797)

<h4 class="release-note release-note__fixed">FIXED</h4>

* syncing a page with empty contents will keep it empty
* fixed synchronous custom attachment generation