---
converter: markdown
metadata:
  title: New to_csv filter, improved value_upload
  description: March 22, 2021
  skip_contribute_button: true
  last_edit: false
slug: release-notes/22-MARCH-2021
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* added new `to_csv` filter

<h4 class="release-note release-note__improved">IMPROVED</h4>

* `value_upload` GraphQL field - you can now create a file on S3 in the `<table>/<field>/<your path>` location and decide whether it should be public or private (default); equivalent of a deprecated custom_attachment_create mutation 
