---
converter: markdown
metadata:
  title: Specify environment for logs
  description: March 8, 2021
  skip_contribute_button: true
  last_edit: false
slug: release-notes/8-MARCH-2021
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* add `env` to the `{% log %}` tag to specify in which environment(s) the log should be visible
