{% include variables.html %}<!doctype html>
<html lang="en" class="no-js" >
<head>
  {% include head.html %}
<link href="/assets/app.0371a7f4.css" rel="stylesheet"></head>
<body{% if has_sidebar == false %} class="no-sidebar"{% endif %}>

{% include skips.html %}

{% include masthead.html %}

<main id="content">
  {{content}}
</main>

{% include footer.html %}
<script type="text/javascript" src="/assets/vendor.ee3dd75b.js"></script><script type="text/javascript" src="/assets/app.fe1fdde5.js"></script></body>
</html>
