<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
</head>
<body>
{% include topnav.html %}
<!-- Page Content -->
<div class="container">
  <div id="main">
    <!-- Content Row -->
    <div class="row">
        {% assign content_col_size = "col-md-12" %}
        {% unless page.hide_sidebar %}
            <!-- Sidebar Column -->
            <div class="col-md-3" id="tg-sb-sidebar">
                {% include sidebar.html %}
            </div>
            {% assign content_col_size = "col-md-9" %}
        {% endunless %}

        <!-- Content Column -->
        <div class="{{content_col_size}}" id="tg-sb-content">
            {{content}}

            <div class="tags">
                {% if page.tags != null %}
                <b>Tags: </b>
                {% assign projectTags = site.data.tags.allowed-tags %}
                {% for tag in page.tags %}
                {% if projectTags contains tag %}
                <a href="{{ "tag_" | append: tag | append: ".html" }}" class="btn btn-default navbar-btn cursorNorm" role="button">{{page.tagName}}{{tag}}</a>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>


    <!-- /.row -->
</div>
{% include footer.html %}
<!-- /.container -->
</div>
<!-- /#main -->
    </div>
    {% include body_end.html %}

</body>
</html>
