---
converter: markdown
metadata:
  title: New HTML escaping engine, ElasticSearch casting errors handling, fixes
  description: December 07, 2020
  skip_contribute_button: true
  last_edit: false
slug: release-notes/07-DECEMBER-2020
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* New engine to automatically escape HTML when outputing variables. Disabled by default for backwards compatibiilty. See [improve the way we sanitize input](https://github.com/mdyd-dev/platformos-documentation/issues/1312) in Github Issues.

<h4 class="release-note release-note__improved">IMPROVED</h4>

* Error handling for ElasticSearch indexing issues caused by casting errors

<h4 class="release-note release-note__fixed">FIXED</h4>

* Submiting form using GraphQL with spam protection enabled
* Issue with asset copy when `raw_url` is used
