---
converter: markdown
metadata:
  title: new html escaping engine, es casting errors handling, fixes
  description: December 07, 2020
  skip_contribute_button: true
  last_edit: false
slug: release-notes/07-DECEMBER-2020
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* New engine to automatically escape HTML when outputing variables. Disabled by default for backwards compatibiilty. See [improve the way we sanitize input](https://github.com/mdyd-dev/platformos-documentation/issues/1312) in Github Issues.

<h4 class="release-note release-note__improved">IMPROVED</h4>

* error handling for ES indexing issues caused by casting errors

<h4 class="release-note release-note__fixed">FIXED</h4>

* submiting form using graphql with spam protection enabled
* issue with asset copy when raw url is used
