---
converter: markdown
metadata:
  title: hash_merge, improvements
  description: January 25, 2021
  skip_contribute_button: true
  last_edit: false
slug: release-notes/25-JANUARY-2021
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

* new [hash_merge](/api-reference/liquid/platformos-filters#hash_merge) filter

<h4 class="release-note release-note__improved">IMPROVED</h4>

* sorting for the `admin_versions` GraphQL Query

<h4 class="release-note release-note__fixed">FIXED</h4>

* fix filtering by related_records for the `users` GraphQL Query
* fix `whodunnit` for Background jobs for the `admin_versions` GraphQL Query
