<div>
  <table>
    <thead>
      <tr>
        <th>Parameter</th>
        <th>Type</th>
        <th>Description</th>
        <th>Required</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td>
          account_holder_name
        </td>
        <td>
          String
        </td>
        <td>

        </td>
        <td>
          Optional
        </td>
        <td>


        </td>
      </tr>


      <tr>
        <td>
          account_holder_type
        </td>
        <td>
          String
        </td>
        <td>

        </td>
        <td>
          Optional
        </td>
        <td>


        </td>
      </tr>


      <tr>
        <td>
          account_id
        </td>
        <td>
          String
        </td>
        <td>
          Identifier of account from Plaid
        </td>
        <td>
          Optional
        </td>
        <td>


        </td>
      </tr>


      <tr>
        <td>
          country
        </td>
        <td>
          String
        </td>
        <td>

        </td>
        <td>
          Optional
        </td>
        <td>


        </td>
      </tr>


      <tr>
        <td>
          currency
        </td>
        <td>
          String
        </td>
        <td>

        </td>
        <td>
          Optional
        </td>
        <td>


        </td>
      </tr>


      <tr>
        <td>
          payment_method_id
        </td>
        <td>
          Integer
        </td>
        <td>
          Identifier of payment method that Account belongs to
        </td>
        <td>
          Optional
        </td>
        <td>


        </td>
      </tr>


      <tr>
        <td>
          public_token
        </td>
        <td>
          String
        </td>
        <td>
          Token string identifying the account from Plaid
        </td>
        <td>
          Optional
        </td>
        <td>


        </td>
      </tr>


      <tr>
        <td>
          routing_number
        </td>
        <td>
          String
        </td>
        <td>

        </td>
        <td>
          Optional
        </td>
        <td>


        </td>
      </tr>


    </tbody>
  </table>

</div>