/* purgecss start ignore */
@import 'tailwindcss/base';
@import './css/base';
/* purgecss end ignore */

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './css/utils/disabled-hidden';
@import './css/utils/pointer-events';
@import './css/utils/screen-reader-text';

@import './css/layout/container';
@import './css/layout/content';
@import './css/layout/sidebar';

@import './css/components/blockquote';
@import './css/components/breadcrumbs';
@import './css/components/btn';
@import './css/components/deepLinks';
@import './css/components/feedback';
@import './css/components/form-elements';
@import './css/components/form';
@import './css/components/table';

@import './css/pages/release-notes';
@import './css/pages/try-now';

/* purgecss start ignore */
@import './css/overrides/docsearch.css';
@import './css/overrides/syntaxHighlighting';
/* purgecss end ignore */
