@import './css/vendor';

// Required to use
@import './css/_settings';

@import '~bootstrap/scss/tables'; // needed to allow us to @extend .class

@import './css/generic/base';
@import './css/generic/helpers';
@import './css/generic/fontawesome';

@import './css/region/content';
@import './css/region/footer';
@import './css/region/header';
@import './css/region/sidebar';

@import './css/module/custom-alerts';
@import './css/module/contributors';
@import './css/module/breadcrumbs';
@import './css/module/feedback';
@import './css/module/btn';
@import './css/module/code';
@import './css/module/color';
@import './css/module/content-box';
@import './css/module/feature';
@import './css/module/form-elements';
@import './css/module/link';
@import './css/module/logo';
@import './css/module/message';
@import './css/module/nav';
@import './css/module/pagination';
@import './css/module/search';
@import './css/module/sidebar-menu';
@import './css/module/subscribe';
@import './css/module/table';
@import './css/module/toc';
@import './css/module/turbolinks';

@import './css/page/help';
@import './css/page/search';
