// Bootstrap
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/grid';

// DocSearch
@import '~docsearch.js/dist/npm/styles/main';

// Settings
@import './css/variables';
@import './css/reset';
@import './css/base';
@import './css/fonts';

// Utils
@import './css/utils/margin';
@import './css/utils/width';
@import './css/utils/disabled-hidden';
@import './css/utils/screen-reader-text';
@import './css/utils/text-align';
@import './css/utils/pointer-events';

// Layout
@import './css/header';
@import './css/footer';
@import './css/main';
@import './css/sidebar';
@import './css/content';
@import './css/container';
@import './css/contributors';

// Modules
@import './css/btn';
@import './css/form-elements';
@import './css/well';
@import './css/form';
@import './css/list';
@import './css/section';
@import './css/table';
@import './css/intro';
@import './css/option';
@import './css/callout';
@import './css/copyright';
@import './css/breadcrumbs';
@import './css/alert';
@import './css/feedback';
@import './css/deepLinks';

// Pages
@import './css/pages/release-notes';
@import './css/pages/try-now';


// Vendor overrides
@import './css/syntaxHighlighting';
@import './css/docsearch';
