{% assign keys = "alert,notice,info,warning,error" | split: ',' %}

{% for key in keys %}
  {% if flash[key] != blank %}

    {% assign bootstrap_key_class = key %}
    {% if key == 'notice' %}
      {% assign bootstrap_key_class = 'success' %}
    {% elsif key == 'error' %}
      {% assign bootstrap_key_class = 'danger' %}
    {% elsif key == 'alert' %}
      {% assign bootstrap_key_class = 'danger' %}
    {% endif %}

    <div class="container flash-messages row">
      <div class="alert alert-{{ bootstrap_key_class }}" data-flash-message data-close-label="{{ 'flash_messages.close_label' | t }}">
        {% comment %}
          <!-- TODO: Implement :) -->
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {% endcomment %}

        {{ flash[key] }}
      </div>
    </div>
  {% endif %}
{% endfor %}
