{%- for link in links -%}
  {%- if link.children != null or link.include_children != null -%}
    <li class="has-submenu">
      <a href="#">{{ link.name }}</a>
      <ul class="sub-menu">
        {%- if link.include_children != null -%}
          {%- include link.include_children -%}
        {%- else -%}
          {% include 'shared/navigation', links: link.children -%}
        {%- endif -%}
      </ul>
    </li>
  {%- else -%}
    <li>
      <a href="{{ link.href }}">{{ link.name }}</a>
    </li>
  {%- endif -%}
{%- endfor -%}
