---
converter: markdown
metadata:
  title: "Adding Visuals to Pages: Liquid"
slug: get-started/pages/adding-visuals-pages-liquid
---
This guide will help you add visuals (images) to your pages using a Liquid page with the format CSS.

## Requirements
To follow the steps in this tutorial, you should be familiar with the required directory structure for your code base, understand the concepts of pages, layouts, and assets, and know how to create a page.

* [Required Directory Structure](/how-platformos-works/platformos-components)
* [Pages](/get-started/pages/pages)
* [Layouts](/get-started/pages/layouts)
* [Assets](/get-started/pages/assets)
* [Creating a Page](/get-started/pages/creating-page)

## Steps

Adding visuals to your pages using Liquid is a three-step process:

1. Prepare an image
2. Create page `logo.css.liquid`
3. Link to the `logo.css.liquid` page in your layout

### Step 1: Prepare an image
Put an image into the `marketplace_builder/assets/images` directory, e.g. logo.svg.

### Step 2: Create page `logo.css.liquid`

Create a page with the format CSS in your `marketplace_builder/pages` directory. To define which format the endpoint will be available in (CSS in this case), place .<format> before the file extension, for example name your file `logo.css.liquid`:

{% raw %}

```liquid
---
slug: logo
---

.logo {
   background-image: url({{ 'images/logo.svg' | asset_url }});
}
```

{% endraw %}

Use the `{{ asset_url }}` filter: it takes a string as an argument, and returns a string representing the URL to this asset served by our CDN.

### Step 3: Link to the `logo.css.liquid` page in your layout

{% raw %}

```liquid
<!doctype html>
<html>
   <head>
      <link rel="stylesheet" href="/logo.css">
   </head>
<body>
   <div class="logo"></div>
</body>
</html>

```

{% endraw %}

Sync or deploy. You should see the image displayed on your page.

## Next steps
Congratulations! You have learned how to add an image to your pages using Liquid. You can also learn about adding visuals to your pages using CSS or Javascript.

* [Adding Visuals to Your Pages: CSS](/get-started/pages/adding-visuals-pages-css)
* [Adding Visuals to Your Pages: Javascript](/get-started/pages/adding-visuals-pages-javascript)

## Questions?

We are always happy to help with any questions you may have. Consult our  [documentation](), [contact support](), or  [connect with our sales team]().
