---
converter: markdown
metadata:
  title: Setting Up a Production Domain Hosted on platformOS
  description: This guide will help you set up a production domain on platformOS.
---

This guide will help you set up a production domain. The production domain is the domain of your production Instance, your live site available to visitors.

## Requirements
To be able to set up a production domain on the Partner Portal, you have to [Create the Domain as a DNS Zone](/developer-guide/partner-portal/domains/dns-setting-up-production-domain) first.

{% include 'alert/note', content: 'We are continuously improving the UX of this functionality, trying to make it as user-friendly as possible. Some changes may apply.' %}

## Steps

<div data-autosteps></div>

### Step 1: Reconfigure your domain

Your domain configuration will be hosted in the DNS Zone and [can be managed](/developer-guide/partner-portal/domains/dns-setting-up-production-domain-records) either through the Partner Portal or through the PP API.

You have to reconfigure your domain in your current domain provider. Change Name Servers to the addresses provided on the View page.

<img loading="lazy" src="{{ 'images/developer-guide/dns/reparking-ns.png' | asset_url }}" alt="Reparking NameServers" />

Please refer to your DNS provider's documentation for more information.

It can take a few minutes for the changes to propagate. You can optionally click on the `diagnostics` link and check if the change has been propagated to the Cloudflare DNS system.
Please note that diagnostics are only for informational purpose and might help diagnose problems. DNS propagation might take up to 24h in the worst case scenario. Usually, it's not longer than 1 hour.

The page will refresh automatically every few minutes. If not, you can force the page to reload by clicking on the `I have changed Name Servers` button.

If propagation went well, you will get a message that your domain is ready. You Instance should be accessible from the domain you just set up from now on.

## Next steps
You can [add DNS records to your domain](/developer-guide/partner-portal/domains/dns-setting-up-production-domain-records) now.
