---
converter: markdown
metadata:
  title: Adding DNS records to a DNS Zone
  description: This guide will help you add DNS Records to your DNS Zone.
---

This guide will help you add DNS Records to your DNS Zone hosted as DNS Zone.

## Requirements
To be able to add DNS records you have to first [create and configure](/developer-guide/partner-portal/domains/setting-up-domains-dns-ssl) the Domain as a DNS Zone.

{% include 'alert/note', content: 'We are continuously improving the UX of this functionality, trying to make it as user-friendly as possible. Some changes may apply.' %}

## Steps

<div data-autosteps></div>

### Step 1: Add new record

Once your domain has been properly configured, the domain View page will display all DNS records created in the Zone.
If you want to add a new record, click on the `Add additional record` button.

### Step 2: Fill in the form

* Type **name** of the record. It should be just a name without the root domain. Leave the field empty if you want a name as the root domain.
* Select **DNS record type**. On right side of the form, the help section should update and provide additional information about the selected type. Follow the instructions.
* Set **TTL** (value in seconds). TTL (Time to Live) is a setting for each DNS record that specifies how long a resolver is supposed to cache (or remember) the DNS query before the query expires and a new one needs to be done. For records that rarely change, such as TXT or MX records, it’s best to keep those somewhere between an hour (3600) and a day (86400).
* Add a value for your record. Refer to the help for possible requirements on formatting.

You can add many records at once.

{% include 'alert/note', content: 'When the process has finished, click on the `Commit DNS changes` button. It will take a few minutes to apply changes to the DNS system. Although DNS propagation might take a bit longer.' %}
