<div class="alert alert-important">
  <span class="alert__title">
    <svg width="16" height="16"><use xlink:href="#important"></use></svg>
    <h5>Important</h5>
  </span>
  <p>{{ content }}</p>
</div>
