<div class="alert alert-tutorial container" role="alert">
  <div class="row align-items-center">
    <div class="col-auto">
      <img src="{{ 'images/svg/path.svg' | asset_url }}" width="30" />
    </div>
    <div class="col">
      <p>{{ content }}</p>
    </div>
  </div>
</div>
