<div class="flex p-6 my-4 border border-pos-divider">
  <span class="pr-5 mr-5 border-r border-pos-divider">
    {%- include 'svg/best-practices', width: '40px' -%}
  </span>

  <p>{{ content }}</p>
</div>
