<div class="flex p-4 my-4 bg-pos-important-bg">
  <div class="pr-4 mr-4 border-r-2 text-pos-important-text border-pos-important-text">
    <svg fill="none" height="32" height="32" viewBox="0 0 22 22">
      <path stroke="#B35C00" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M11 14.8a.3.3 0 100 .6.3.3 0 000-.7v0"/><path stroke="#B35C00" stroke-linecap="round" stroke-width="1.5" d="M11 12.3v-7"/><path stroke="#B35C00" stroke-width="1.5" d="M11 20.4a9.4 9.4 0 100-18.8 9.4 9.4 0 000 18.8z" clip-rule="evenodd"/>
    </svg>
  </div>

  <div>
    <p class="w-full mt-1 text-lg font-semibold text-pos-important-text">Important</p>

    <p>
      {{ content }}
    </p>
  </div>
</div>
