<div class="mt-4 text-right">
  <div class="p-6 inline-block border-top border-pos-divider bg-pos-note-bg">
    <div class="text-pos-note-text no-underline text-left">Read next:</div>
    <a href="{{ url }}" class="pt-1 flex items-center">
      {{ content | html_safe }}

      <svg class="pl-5 ml-5 w-4 box-content border-l border-pos-divider text-pos-blue" viewBox="0 0 24 24" fill="currentColor" class="w-4" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg"><path d="M12.75 23.25a.752.752 0 0 1-.53-1.281l9.22-9.22H.75a.749.749 0 1 1 0-1.499h20.689l-9.22-9.22A.746.746 0 0 1 12.22.97c.141-.142.33-.22.53-.22s.389.078.53.22l10.5 10.5a.74.74 0 0 1 .163.245l.01.026a.73.73 0 0 1 0 .517l-.006.016a.755.755 0 0 1-.168.257L13.28 23.03a.743.743 0 0 1-.53.22z"/></svg>
    </a>
  </div>
</div>
