<div class="alert alert-note">
  <span class="alert__title">
    <svg width="16" height="16" viewBox="0 0 46 46" fill="currentColor">
      <path
        d="M39.26 6.74A23 23 0 1 0 6.74 39.27 23 23 0 0 0 39.26 6.74zM26 33a3 3 0 1 1-6 0V21a3 3 0 1 1 6 0v12zm-3.05-17.13c-1.73 0-2.88-1.22-2.85-2.73-.03-1.59 1.12-2.77 2.88-2.77 1.77 0 2.88 1.18 2.92 2.77 0 1.5-1.15 2.73-2.95 2.73z" />
    </svg>
    <h5>Note</h5>
  </span>
  <p>{{ content }}</p>
</div>