<div class="alert alert-success">
  <span class="alert__title">
    <svg width="16" height="16" viewBox="0 0 612 612" fill="currentColor">
      <path
        d="M306 0C137 0 0 137 0 306s137 306 306 306 306-137 306-306S475 0 306 0zm122.27 199.55s-134.99 235.1-137.32 237.28a19.1 19.1 0 0 1-27.02-.88l-87.44-80.64a19.13 19.13 0 0 1 27.9-26.17l68.43 63.11 122.3-211.84a19.13 19.13 0 0 1 33.15 19.14z" />
    </svg>
    <h5>Success</h5>
  </span>
  <p>{{ content }}</p>
</div>