<div class="flex bg-pos-tip-bg p-4 my-4">
  <div class="text-pos-tip-text pr-4 mr-4 border-r-2 border-pos-tip-text">
    <svg fill="none" height="32" height="32" viewBox="0 0 20 21">
      <path stroke="#8589A0" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M8.8 18.8h2.4"/><path stroke="#8589A0" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15 10a5 5 0 10-6.3 4.8v1.5h2.6v-1.5A5 5 0 0015 10v0z" clip-rule="evenodd"/><path stroke="#8589A0" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M10 2.5V1.2M17.5 8.8h1.3M1.3 10h1.2M15.3 14.7l.9.9M3.8 3.2l.9.9M15.3 4l.9-.8M3.8 15.6l.9-1"/>
    </svg>
  </div>

  <div>
    <p class="text-pos-tip-text text-lg font-semibold w-full mt-1">Tip</p>

    <p>
      {{ content }}
    </p>
  </div>
</div>
