<div class="flex border border-pos-divider p-6">
  <span class="border-r border-pos-divider pr-5 mr-5">
    {%- include 'svg/developer-guide', width: '40px' -%}
  </span>

  <p>{{ content }}</p>
</div>
