---
converter: markdown
metadata:
  description: July 30, 2018
  title: New Liquid tags, deprecated render_form tag
  contributors: false
  skip_contribute_button: true
slug: release-notes/30-JULY-2018
searchable: true
---

#### {{ page.metadata.description }}

<h4 class="release-note release-note__new">NEW</h4>

## include_form tag

New tag allows you to use normal liquid syntax to pass variables. `render_form` tag is now deprecated.

```liquid
{% raw %}
{% render_form edit_user, id: @user.id %}
{% endraw %}
```

now should be written with

```liquid
{% raw %}
{% include_form 'edit_user', id: user.id %}
{% endraw %}
```

{% include 'alert/warning', content: 'You have to quote form name and you do not include "@" when passing variable.' %}

## log tag

Until now you had `log mutation` at your disposal, but it was a lot of work to use for such a simple task.

From now on please use `log tag` to print something to logs.

```liquid
{% raw %}
{% log "hello world" %}
{% log params %}
{% log params, type: 'error' %}
{% endraw %}
```

{% include 'alert/note', content: 'Default type is info.' %}
