---
name: new_feedback
to: documentation@platform-os.com
from: 'PlatformOS <noreply@platform-os.com>'
subject: Documentation - New Feedback
trigger_condition: true
---

<h2>Hello Team!</h2>

<p>New feedback from Documentation site</p>
<table>
  <tr>
    <td>Rate: </td>
    {% assign rate = form.model.customization.properties.rate %}
    <td><b>
      {% if rate == 5 %}Positive{% else rate == 3 %}Neutral{% else %}Neagtive{% endif %}
    </b></td>
  </tr>
  <tr>
    <td>Email: </td>
    <td><b>{{ form.model.customization.properties.email }}</b></td>
  </tr>
  <tr>
    <td>Message: </td>
    <td><b>{{ form.model.customization.properties.message }}</b></td>
  </tr>
  <tr>
    <td>Feedback to: </td>
    {% assign url = "https://" | append: context.location.host | append: form.model.customization.properties.path %}
    <td><b><a href="{{ url }}">{{ url }}</a></b></td>
  </tr>
</table>
