---
name: new_contact_request
to: documentation@platform-os.com
from: 'platformOS <noreply@platform-os.com>'
subject: Documentation - Contact Message
trigger_condition: true
---

<h2>Hello Team!</h2>

<p>New request from Documentation site</p>
<table>
  <tr>
    <td>Email: </td>
    <td><b>{{ form.properties.email }}</b></td>
  </tr>
  <tr>
    <td>Message: </td>
    <td><b>{{ form.properties.message }}</b></td>
  </tr>
</table>
