---
converter: markdown
metadata:
  title: "Adding Visuals to Pages: Liquid"
  description: This guide will help you add visuals (images) to your pages using a Liquid page with the format CSS.
slug: tutorials/assets/adding-visuals-pages-liquid
searchable: true
---
This guide will help you add visuals (images) to your pages using a Liquid page with the format CSS.

## Requirements
To follow the steps in this tutorial, you should be familiar with the required directory structure for your codebase, understand the concepts of pages, layouts, and assets, and know how to create a page.

* [Codebase](/how-platformos-works/platformos-workflow)
* [Pages](/tutorials/pages/pages)
* [Layouts](/tutorials/pages/layouts)
* [Assets](/tutorials/assets/assets)
* [Creating a Page](/tutorials/pages/creating-page)

## Steps

Adding visuals to your pages using Liquid is a three-step process:

<div data-autosteps></div>

### Step 1: Prepare an image
Put an image into the `marketplace_builder/assets/images` directory, e.g. logo.svg.

### Step 2: Create page `logo.css.liquid`

Create a page with the format CSS in your `marketplace_builder/pages` directory. To define which format the endpoint will be available in (CSS in this case), place .<format> before the file extension, for example name your file `logo.css.liquid`:


```yaml
---
slug: logo
---
```
```css
{% raw %}
.logo {
  background-image: url({{ 'images/logo.svg' | asset_url }});
}
{% endraw %}
```


Use the {% raw %}`{{ asset_url }}`{% endraw %} filter: it takes a string as an argument, and returns a string representing the URL to this asset served by our CDN.

### Step 3: Link to the `logo.css.liquid` page in your layout

```html
{% raw %}
<head>
  <link rel="stylesheet" href="/logo.css">
</head>
...
<div class="logo"></div>
{% endraw %}
```


Sync or deploy. You should see the image displayed on your page.

## Next steps
Congratulations! You have learned how to add an image to your pages using Liquid. You can also learn about adding visuals to your pages using CSS or Javascript.

* [Adding Visuals to Your Pages: CSS](/tutorials/assets/adding-visuals-pages-css)
* [Adding Visuals to Your Pages: Javascript](/tutorials/assets/adding-visuals-pages-javascript)

{% include 'shared/questions_section' %}


