---
converter: markdown
metadata:
  title: Change Something on Your Homepage
  description: How to write Hello, World! on your homepage.
---

Locate the `index.liquid` file in your codebase

##### app/views/pages/index.html.liquid

```liquid
{% raw %}
---
slug: /
layout: 1col
metadata:
  desc:
  pagetitle: Home
---

<h1>{{ context.page.metadata.pagetitle }}</h1>
{% endraw %}
```

Open it in a code editor of your choice, and add some text. Don't edit the lines between `---`:

```liquid
{% raw %}
---
slug: /
layout: 1col
metadata:
  desc: My description
  pagetitle: Home
---

<h1>{{ context.page.metadata.pagetitle }}</h1>
Hello, World!
{% endraw %}
```

Save your changes.

<br/>
<br/>

<p class="text-right">
  <a href="/get-started/hello-world/authenticate-environment" class="font-semibold">Next step: Authenticate Your Environment</a>
</p>
