---
converter: markdown
metadata:
  title: Create Your Codebase
  description: How to create your codebase and organize it into the directory structure platformOS uses.    
slug: get-started/hello-world/create-codebase
searchable: true
---

{% include 'alert/tip', content: 'If you go through the Hello, World! onboarding steps when registering on the Partner Portal,  you can download the codebase of your demo Instance instead of creating it with the pos-cli init command.' %} 

In order to correctly communicate with the platformOS engine and API, your codebase should be organized into a specific directory structure. The root directory of your project should contain the app directory. 

You can create the codebase using the pos-cli. Create a new directory for your project, and run the init command:

<pre class="command-line" data-user="user" data-host="host"><code class="language-bash">
pos-cli init
</code></pre>

This command creates the required directories, configuration files, and some example files in the directory you specified.{%- capture content -%}Make sure you invoke this command where you have permissions to create a directory.   
{%- endcapture -%}
{% include 'alert/important', content: content %} 

Once you've installed the required directory structure, locate and explore it – this is how your codebase for your platformOS Instances should be organized. To learn more about the required directories and files, see [platformOS Codebase](/developer-guide/platformos-workflow/codebase).

</br>
</br>
<p align="right"><strong><a href="/get-started/hello-world/change-homepage">Next step: Change Something on Your Homepage</strong></p>

