---
converter: markdown
metadata:
  title: "Create an Instance"
  description: How to create an Instance on the Partner Portal to be able to deploy your site.
slug: get-started/hello-world/create-instance
searchable: true
---

{% include 'alert/tip', content: 'If you go through the Hello, World! onboarding steps when registering on the Partner Portal, you only have to enter a name for your demo Instance, and we create it for you.' %}

To be able to deploy your site, you have to create an **Instance** on the Partner Portal. Instances have a URL, and they represent different development environments, like staging or production. We recommend creating a staging environment for going through the steps in this tutorial.

On the Partner Portal, in the menu on the left under `Create`, select `Instance`, and fill in the form:

| Field  | Description                                                                                     | Example           |
|-------------|-------------------------------------------------------------------------------------------------|-------------------|
| Name        | The name of your Instance                                                                       | HelloWorld        |
| Tags        | Enter up to 5 tags (optional). You can use tags to group your Instances, for example by project or client. | demo, test        |
| Partner     | Select the Partner the Instance will belong to.                                                 | HelloWorldPartner |
| Data Center | Select an endpoint (staging or production).                                                     | STAGING           |

Select the `Staging/Unbilled` Billing Plan that appears, and click on the Create button. We create the Instance, and once it's done (in a couple of minutes), send you an email with a link to your Instance and other useful information.

<br/>
<br/>

<p class="text-right">
  <a href="/get-started/hello-world/install-pos-cli" class="font-semibold">Next step: Install the pos-cli</a>
</p>
