---
converter: markdown
metadata:
  title: Deploy or Sync
  description: How to deploy your changes to your Instance.      
slug: get-started/hello-world/deploy-sync
searchable: true
---

To be able to see your changes on your site, you have to deploy those changes to your Instance.{% capture content %}This step describes two different methods. If this is your first go, we recommend to follow the process described in the "Deploying" section.
{% endcapture %}
{% include 'alert/note', content: content %}

## Deploying

To deploy all changes, run the `deploy` command:

<pre class="command-line" data-user="user" data-host="host"><code class="language-bash">
pos-cli deploy [environment]
</code></pre>

Example:

<pre class="command-line" data-user="user" data-host="host"><code class="language-bash">
pos-cli deploy staging
</code></pre>

A progress indicator shows that the deployment is in progress, and once it finishes, a _"Deploy succeeded after <time>"_ is displayed.

We recommend to first deploy to staging, test, and only then trigger a deployment to production. In practice, deploy creates a zip file that contains all your files, and sends it to the API. It is then processed in the background. We store each zip file, so that you can roll back in case something goes wrong.{% capture content %}Learn more about our recommendations for version control and deployment on platformOS in the <a href="/developer-guide/platformos-workflow/development-workflow">Development Workflow</a> topic.
{% endcapture %}
{% include 'alert/tip', content: content %}

## Syncing

To immediately push changes in your codebase to the environment, run the `sync` command:

<pre class="command-line" data-user="user" data-host="host"><code class="language-bash">
pos-cli sync [environment]
</code></pre>

Example:

<pre class="command-line" data-user="user" data-host="host"><code class="language-bash">
pos-cli sync staging
</code></pre>

Using the sync command feels like working on localhost. It is recommended to use sync only for staging environments, as pushing changes immediately to production can be dangerous. Please note, that unlike deploy, this command will not delete resources when you delete the file.

</br>
After you have deployed your Instance, refresh your site in your browser. The home page has changed to include the text you added.
 
</br>
</br>
<strong>Congratulations, you have finished our Hello, World! guide: You have set up your environment and learned how to change something on your site and deploy it.</strong>



