---
converter: markdown
metadata:
  title: "Prerequisite: Register on the Partner Portal"
  description: How to register to access the Partner Portal, where you can create, manage and configure your sites, and create and manage the permissions of other users.  
slug: get-started/hello-world/register-partner-portal
searchable: true
---

{% include 'alert/important', content: 'You might already have access to the Partner Portal if a registered Partner created an account for you. If you already have a Partner Portal account, please skip this step.' %}

The [Partner Portal](https://partners.platform-os.com/) is an online interface, where you can create, manage and configure your sites (called Instances), and create and manage the permissions of other users (called Partners).

To register on the Partner Portal, go to https://partners.platformos.com/accounts/sign_up, use your GitHub or Google account, or fill in the form:  


| Field   | Description                                             | Example                   |
|--------------|---------------------------------------------------------|---------------------------|
| First Name   | Your first name                                         | John                      |
| Last Name    | Your last name                                          | Smith                     |
| Email        | Your email address                                      | john.smith@helloworld.com |
| Password     | Your password should consist of at least six characters that are a combination of uppercase and lowercase letters, numbers and symbols.                              | Uk9bpBMJ6s                |


Once registered, you will get an email verification. Click on the Accept verification link to activate your account.

</br>
</br>
<p align="right"><strong><a href="/get-started/hello-world/create-instance">Next step: Create an Instance</strong></p>

