name: Build

on:
  push:
    branches: [ master ]

jobs:
  deploy_staging:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
    env:
      MPKIT_URL: ${{ secrets.MPKIT_URL_STAGING }}
      MPKIT_EMAIL: ${{ secrets.MPKIT_EMAIL }}
      MPKIT_TOKEN: ${{ secrets.MPKIT_TOKEN }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '14.x'
      - name: Install npm dependencies
        run: npm ci
      - name: Build assets
        run: npm run build
      - name: Build graphql docs
        run: npm run build:graphql
      - name: Deploy to staging
        run: npx @platformos/pos-cli deploy

  test_staging:
    needs: deploy_staging
    runs-on: ubuntu-latest
    container: platformos/testcafe:latest
    strategy:
      max-parallel: 1
    env:
      MPKIT_URL: ${{ secrets.MPKIT_URL_STAGING }}
    steps:
      - uses: actions/checkout@v1
      - uses: microsoft/playwright-github-action@v1
      - name: Run tests
        run: npx codeceptjs run

  deploy_production:
    needs: test_staging
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
    env:
      MPKIT_URL: ${{ secrets.MPKIT_URL_PRODUCTION }}
      MPKIT_EMAIL: ${{ secrets.MPKIT_EMAIL }}
      MPKIT_TOKEN: ${{ secrets.MPKIT_TOKEN }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '14.x'
      - name: Install npm dependencies
        run: npm ci
      - name: Build assets
        run: npm run build
      - name: Build graphql docs
        run: npm run build:graphql
      - name: Deploy production
        run: npx @platformos/pos-cli deploy

  lighthouse_ci:
    needs: deploy_production
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
    env:
      MPKIT_URL: ${{ secrets.MPKIT_URL_PRODUCTION }}
      LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '14.x'
      - run: npm i -g @lhci/cli
      - run: lhci autorun
