---
converter: markdown
metadata:
  title: REST API
slug: api-reference/rest-api
---

This section provides API Reference Documentation for the platformOS REST API. 

Our API reference documentation includes: 

* Detailed descriptions of calls and parameters
* Example requests with the explanation of different elements
* Example responses with the explanation of different elements
* Detailed descriptions of error codes 

## List of resources

<ul>
  <li><a href="/api-reference/rest-api/customizations">Customizations</a></li>
  <li><a href="/api-reference/rest-api/sessions">Sessions</a></li>
  <li><a href="/api-reference/rest-api/users">Users</a></li>
</ul>
