---
converter: markdown
metadata:
  title: Embedding a Sign Up Form in a Page
slug: get-started/users/embedding-sign-up-form
---

This guide will help you embed a sign up form in a page. 

## Requirements

To follow the steps in this tutorial, you should be familiar with the required directory structure for your code base, and understand the concept of pages. You'll use the sign up forms created in a previous tutorial. 

* [Required Directory Structure](/how-platformos-works/platformos-components)
* [Pages](/get-started/pages/pages)
* [Creating a Sign Up Form](/get-started/users/creating-sign-up-form) (previous tutorial)

## Steps

Embedding a sign up form is a two-step process:

1. Create page
2. Embed form 

### Step 1: Create page 

Create a new page in the  `marketplace_builder/views/pages/developer` directory named `sign-up.liquid`, and another page in the `views/pages/client` directory named `sign-up.liquid`. 

### Step 2: Embed form 

Add `{% render_form 'developer_sign_up' %}` to embed the previously created sign up forms into the sign up pages. 

#### views/pages/developer/sign-up.liquid:

{% raw %}

```liquid
---
slug: developer/sign-up
---
<h1>Create a Developer Account</h1>

{% render_form 'developer_sign_up' %}
```

{% endraw %}

This will display the form you created previously at https://[your-domain]/developer/sign-up. 

#### views/pages/client/sign-up.liquid:

{% raw %}

```liquid
---
slug: client/sign-up
---
<h1>Create a Client Account</h1>

{% render_form 'client_sign_up' %}
```

{% endraw %}


This will display the form you created previously at https://[your-domain]/client/sign-up. 

## Next steps
Congratulations! You know how to embed a sign up form in a page. Now you can learn about signing in a user: 

* [Singing In a User Manually](/get-started/users/signing-in-user-manually)

## Questions?

We are always happy to help with any questions you may have. Consult our  [documentation](), [contact support](), or  [connect with our sales team](). 

