---
converter: markdown
metadata:
  title: Users
slug: get-started/users/users
---

A **User** is an account that any of your users can have. Each user is assumed to have a unique email address. 
 
**User Profiles** are roles in the marketplace. Each User Profile can be associated with any number of Custom Attributes, Categories, and Custom Model Types. 

## The default User Profile

All users are assigned a User Profile named Default. If you don't want to distinguish one type of user from the other, you don't need to create any other user profiles. 

## Sign up forms

**Sign up forms** allow users to sign up by entering their information in a form embedded in a page. 

All forms should be located in the `marketplace_builder/form_configurations` directory.   

{% include "alert/note", content: "Check out our <a href="">API and Form Configurations</a> pages to learn more about sign up forms." %}

## User authentication  

There are a couple of ways to authenticate a user in Platform OS,  the most common being through an email and password pair, which the user provided via a sign up form. 

## Related topics

* [Creating a User Profile]()
* [Creating a Sign-Up Form]()
* [Embedding a Sign-Up Form in a Page]()
* [Singing In a User Manually]()
* [Singing In a User Automatically after Sign Up]()
* [Logging Out an Authenticated User]()
* [Resetting Password of an Authenticated User]()
* [Accessing Authenticated User Data]() 
