{%- include 'layouts/lib/category-helpers' -%}
<!DOCTYPE html>
<html lang="en">
<head>
  {%- include 'layouts/lib/context-variables' -%}
  {%- include 'layouts/head/head' -%}
</head>
<body>
  <div class="wrapper">
    {% include 'layouts/header' %}

    <div class="main">
      <div class="section-search">
        <div class="container">
          <div class="form-search form-search--alt">
            <form action="/" method="get">
              <div class="form__controls w-full sm:w-84">
                <input type="text" name="query" class="form-control search--input" placeholder="Search documentation…" value="{{ context.params.query | default: '' | escape_javascript }}" />

                <div class="search--icon ml-auto sm:ml-0 relative">
                  <svg width="28" height="28"><use xlink:href="#search"></use></svg>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="container flex flex-wrap sm:flex-nowrap">
        {% include 'layouts/content' %}
      </div>
    </div>

    {% include 'layouts/content/callout' %}

    {% include 'layouts/footer' %}
  </div>
  {%- include 'layouts/body/icons' -%}

  {% include 'layouts/body/javascripts_bottom' %}
</body>
</html>
