{%- include 'layouts/lib/category-helpers' -%}
<!DOCTYPE html>
<html lang="en">
<head>
  {%- include 'layouts/lib/context-variables' -%}
  {%- include 'layouts/head/head' -%}
</head>
<body class="antialiased bg-pos-page-bg">
  {% include 'layouts/header' %}
  {% include 'layouts/search-bar' %}
  {% include 'layouts/content' %}

  {% unless context.page.metadata.feedback == false %}
    {% include 'layouts/content/feedback' %}
  {% endunless %}

  {% include 'layouts/content/callout' %}

  {% include 'layouts/footer' %}

  {%- include 'layouts/body/icons' -%}
  {%- include 'layouts/body/javascripts_bottom' -%}
</body>
</html>
