<!DOCTYPE html>
<html lang="en">
  <head>
    {%- render 'layouts/head/head', context: context, page: page -%}
    {% render 'css/fonts' %}
    {% render 'css/app', env: context.environment %}
    {% render 'layouts/lib/category-helpers', context: context -%}
    {% render 'layouts/lib/context-variables' -%}
  </head>
  <body class="antialiased bg-pos-page-bg">
    {% render 'layouts/header', context: context %}
    {% render 'layouts/search-bar' %}
    {% include 'layouts/content', context: context %}

    {% unless context.page.metadata.feedback == false %}
      {% include 'layouts/content/feedback' %}
    {% endunless %}

    {% render 'layouts/content/callout', context: context %}

    {% render 'layouts/footer' %}

    {%- render 'layouts/body/home_icons' -%}
    {%- render 'layouts/body/content_icons' -%}
    {% render 'js/app', env: context.environment %}
    {% yield 'javascripts_conditional' %}
  </body>
</html>

<!-- {{ context.version }} -->
