{%- include 'layouts/lib/category-helpers' -%}
<!DOCTYPE html>
<html lang="en">
<head>
  {%- include 'layouts/lib/context-variables' -%}
  {%- include 'layouts/head/head' -%}
</head>
<body>
  <div class="wrapper">
    {% include 'layouts/header' %}

    <div class="main">
      <div class="section-search">
        <div class="container">
          <div class="form-search form-search--alt">
            <form action="/" method="get">
              <div class="form__controls w-full sm:w-84">
                <input type="text" name="query" class="form-control search--input" placeholder="Search documentation…" value="{{ context.params.query | default: '' | escape_javascript }}" />

                <div class="search--icon ml-auto sm:ml-0 relative">
                  <svg width="28" height="28" viewBox="0 0 24 24" fill="currentColor"><path d="M9.5 3A6.5 6.5 0 0 1 16 9.5c0 1.61-.59 3.09-1.56 4.23l.27.27h.79l5 5-1.5 1.5-5-5v-.79l-.27-.27A6.516 6.516 0 0 1 9.5 16a6.5 6.5 0 1 1 0-13m0 2C7 5 5 7 5 9.5S7 14 9.5 14 14 12 14 9.5 12 5 9.5 5z"></path></svg>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="container flex flex-wrap sm:flex-nowrap">
        {% include 'layouts/content' %}
      </div>
    </div>

    {% include 'layouts/content/callout' %}

    {% include 'layouts/footer' %}
  </div>
  {%- include 'layouts/body/icons' -%}

  {% include 'layouts/body/javascripts_bottom' %}
</body>
</html>
