<div><!--
<h1>
  Class: CustomAddressForm
  
  
  
</h1>
-->

  <table>
    <thead>
      <tr>
        <th>Parameter</th>
        <th>Type</th>
        <th>Description</th>
        <th>Required</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      
        
<tr>
  <td>
    address
  </td>
  <td>
    String
  </td>
  <td>
    
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        
<tr>
  <td>
    city
  </td>
  <td>
    String
  </td>
  <td>
    
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        
<tr>
  <td>
    country
  </td>
  <td>
    String
  </td>
  <td>
    
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        
<tr>
  <td>
    custom_attribute_id
  </td>
  <td>
    Integer
  </td>
  <td>
    
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        
<tr>
  <td>
    formatted_address
  </td>
  <td>
    String
  </td>
  <td>
    
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        
<tr>
  <td>
    id
  </td>
  <td>
    Integer
  </td>
  <td>
    
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        
<tr>
  <td>
    iso_country_code
  </td>
  <td>
    String
  </td>
  <td>
    
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        
<tr>
  <td>
    latitude
  </td>
  <td>
    Float
  </td>
  <td>
    
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        
<tr>
  <td>
    longitude
  </td>
  <td>
    Float
  </td>
  <td>
    
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        
<tr>
  <td>
    postcode
  </td>
  <td>
    String
  </td>
  <td>
    
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        
<tr>
  <td>
    service_radius
  </td>
  <td>
    String
  </td>
  <td>
    
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        
<tr>
  <td>
    state
  </td>
  <td>
    String
  </td>
  <td>
    
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        
<tr>
  <td>
    street
  </td>
  <td>
    String
  </td>
  <td>
    
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        
<tr>
  <td>
    street_number
  </td>
  <td>
    String
  </td>
  <td>
    
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        
<tr>
  <td>
    suburb
  </td>
  <td>
    String
  </td>
  <td>
    
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
    </tbody>
  </table>

</div>
