<div><!--
<h1>
  Class: RelationshipUserForm
  
  
  
</h1>
-->

  <table>
    <thead>
      <tr>
        <th>Parameter</th>
        <th>Type</th>
        <th>Description</th>
        <th>Required</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      
        
<tr>
  <td>
    custom_attachments
  </td>
  <td>
    CustomAttachmentsForm
  </td>
  <td>
    
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        
<tr>
  <td>
    custom_images
  </td>
  <td>
    CustomImagesForm
  </td>
  <td>
    
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        
<tr>
  <td>
    id
  </td>
  <td>
    Integer
  </td>
  <td>
    
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
        
<tr>
  <td>
    relationship_user_type_name
  </td>
  <td>
    String
  </td>
  <td>
    
  </td>
  <td>
    Optional
  </td>
  <td>
    
    
  </td>
</tr>

      
    </tbody>
  </table>

</div>
