---
converter: markdown
metadata:
  title: Integrating Twilio Using API Call Notifications
  description: This guide will help you create a Twilio integration for your platformOS Instance.
---

This guide will help you create a Twilio integration for platformOS using the Partner Portal and SMS Notifications.

## Requirements
To follow this tutorial, you should be familiar with creating SMS call notifications. You also have to have access to the Partner Portal and know how to manage integrations.

* [Creating an SMS Notification](/developer-guide/notifications/creating-sms-notification)
* [Twilio API Reference](https://www.twilio.com/docs/usage/api)
* [Register on the Partner Portal](/get-started/hello-world/register-partner-portal)
* [Managing Integrations](/developer-guide/partner-portal/instances/managing-integrations)

## Steps

Integrating an SMS service with Twilio using SMS Notifications is a three-step process:

<div data-autosteps></div>

### Step 1: Create a Twilio Account using the Partner Portal

As a first step, create a Twilio account that will be associated with your Instance. To do that, open your Instance view in the Partner Portal, and click on the `Integrations` link on top.
At the very bottom of the Integrations page, find the `Enable Twilio` button. Click it, and confirm your choice with the `Enable Twilio Integration` button. The Partner Portal creates a subaccount in the platformOS Twilio account that will be connected to your instance.

At this point, the following notification is displayed: "We're preparing Twilio integration. Refresh the page in a few minutes." It should be ready within a few seconds.

### Step 2: Add SMS Notification to your forms

This process is explained in detail in the [Creating an SMS Notification](/developer-guide/notifications/creating-sms-notification) tutorial.

### Step 3: Billing

Based on the usage recorded in your Twilio account, platformOS will charge you on a monthly basis and the summary of your Twilio costs will be added to your monthly invoice. Please note that we add a 15% commission to all Twilio costs.
