---
converter: markdown
metadata:
  title: Integrating Sendinblue Using API Call Notifications
  description: This guide will help you create a Sendinblue integration for platformOS using API Call Notifications.
---

This guide will help you create a [Sendinblue](https://www.sendinblue.com) integration for platformOS using API Call Notifications.

## Requirements
To follow this tutorial, you should be familiar with creating API Call Notifications. You also have to have access to Sendinblue.

* [Creating an API Call Notification](/developer-guide/notifications/creating-api-call-notification)
* [Sendinblue](https://www.sendinblue.com)

## Steps

Integrating Sendinblue using API Call Notifications is a two-step process:

<div data-autosteps></div>

### Step 1: Create API Call Notification

Create an API Call Notification:

* Go to [sendinblue.com](https://www.sendinblue.com) and sign in. Click your name on the top right and then select the "SMTP & API" link from the drop-down menu. On the next page you can see your v3 API key on top.
* Replace `<< YOUR API_KEY >>` with your Sendinblue API Key.
* Add the payload based on the attributes in your form.

##### app/api_calls/sendinblue_new_host.liquid

```yaml
{% raw %}
---
to: 'https://api.sendinblue.com/v3/contacts'
format: http
request_type: POST
request_headers: >
{
  "Content-Type": "application/json",
  "Api-key": "<< YOUR API_KEY >>",
  "Accept":"application/json"
}
---
{
  "email": "{{ form.email }}",
  "status": "subscribed",
  "attributes": {
    "FIRSTNAME": "{{ form.first_name }}",
    "LASTNAME": "{{ form.last_name }}"
  }
}
{% endraw %}
```

### Step 2: Add API Call Notification to forms

Add the following to the front matter on your form:

```yaml
api_call_notifications:
  - sendinblue_new_host
```

Congratulations! You have created a Sendinblue integration using API Call Notifications.
